<div class="new_plan_section ff_sans_pro">
  <div class="parent_box">
    <div class="nav_header light-color">
      <span>Package</span> » <span>Create New</span>
      <span class="close-slide" (click)="hideThis()">X</span>
    </div>
    <hr>
    <div class="btn-group mb-3">
      <button mat-raised-button class="btn-can" (click)="hideThis()">Cancel</button>
      <button mat-raised-button class="btn-save" type="submit" (click)="doSubmit()">Save</button>
    </div>
    <span class="clearfix"></span>
    <div class="customForm-box">
      <form [formGroup]="customForm">
        <!-----------------1. package basic details --------------->
        <div class="package_info_box">
          <div class="form-row light-color">
            <div class="form-group col-md-3 col-sm-12">
              <label for="package_name">Package Name</label>
              <input type="text" class="form-control" id="package_name" formControlName="package_name">
              <div
                *ngIf="customForm.controls['package_name'].invalid && (customForm.controls['package_name'].dirty || customForm.controls['package_name'].touched)"
                class="alert alert-danger">
                <div *ngIf="customForm.controls['package_name'].errors.required">
                  This field is required !
                </div>
              </div>
            </div>


            <div class="form-group col-md-3">
              <label for="one_month_rate">1 Month Price</label>
              <input type="text" class="form-control" id="one_month_rate" formControlName="one_month_rate">
              <div
                *ngIf="customForm.controls['one_month_rate'].invalid && (customForm.controls['one_month_rate'].dirty || customForm.controls['one_month_rate'].touched)"
                class="alert alert-danger">
                <div *ngIf="customForm.controls['one_month_rate'].errors.required">
                  This field is required !
                </div>
              </div>
            </div>


            <div class="form-group col-md-3">
              <label for="six_month_rate">6 Months Price</label>
              <input type="text" class="form-control" id="six_month_rate" formControlName="six_month_rate">
              <div
                *ngIf="customForm.controls['six_month_rate'].invalid && (customForm.controls['six_month_rate'].dirty || customForm.controls['six_month_rate'].touched)"
                class="alert alert-danger">
                <div *ngIf="customForm.controls['six_month_rate'].errors.required">
                  This field is required !
                </div>
              </div>
            </div>


            <div class="form-group col-md-3">
              <label for="one_year_rate">1 Year Price</label>
              <input type="text" class="form-control" id="one_year_rate" formControlName="one_year_rate">
              <div
                *ngIf="customForm.controls['one_year_rate'].invalid && (customForm.controls['one_year_rate'].dirty || customForm.controls['one_year_rate'].touched)"
                class="alert alert-danger">
                <div *ngIf="customForm.controls['one_year_rate'].errors.required">
                  This field is required !
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-----------------2. referral program section--------------->
        <div class="referral_program_box">
          <div id="referral_tab" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="referral_tab_child">
                <h5 class="card-title mb-0" data-toggle="collapse" data-parent="#referral_tab" href="#tab_one"
                  aria-expanded="true" aria-controls="tab_one">
                  Referral Commission Distribution
                </h5>
              </div>
              <div id="tab_one" class="collapse show" role="tabcard" aria-labelledby="referral_tab_child">
                <div class="card-body py-2 px-2">
                  <!----------- ft_l1= firs time level 1 -------------->
                  <div class="form-row light-color">
                    <div class="form-group col-md-3 mb-0">
                      <label for="package_name" class="mb-0">First time level 1 commission</label>
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="ft_l1_month">
                        <div class="input-group-append">
                          <span class="input-group-text">1 Month</span>
                        </div>
                      </div>

                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="ft_l1_halfY">
                        <div class="input-group-append">
                          <span class="input-group-text">6 Month</span>
                        </div>
                      </div>

                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="ft_l1_fullY">
                        <div class="input-group-append">
                          <span class="input-group-text">1 Year</span>
                        </div>
                      </div>
                    </div>


                    <!------------ ft_l1= firs time level 2 ------------->
                    <div class="form-group col-md-3 mb-0">
                      <label for="package_name" class="mb-0">First time level 2 commission</label>
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="ft_l2_month">
                        <div class="input-group-append">
                          <span class="input-group-text">1 Month</span>
                        </div>
                      </div>


                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="ft_l2_halfY">
                        <div class="input-group-append">
                          <span class="input-group-text">6 Month</span>
                        </div>
                      </div>


                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="ft_l2_fullY">
                        <div class="input-group-append">
                          <span class="input-group-text">1 Year</span>
                        </div>
                      </div>
                    </div>

                    <!-- --------------rc_l1= Recurring level 1 ------------------>
                    <div class="form-group col-md-3 mb-0">
                      <label for="package_name" class="mb-0">Recurring level 1 commission</label>
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="rc_l1_month">
                        <div class="input-group-append">
                          <span class="input-group-text">1 Month</span>
                        </div>
                      </div>


                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="rc_l1_halfY">
                        <div class="input-group-append">
                          <span class="input-group-text">6 Month</span>
                        </div>
                      </div>

                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="rc_l1_fullY">
                        <div class="input-group-append">
                          <span class="input-group-text">1 Year</span>
                        </div>
                      </div>

                    </div>

                    <div class="form-group col-md-3 mb-0">
                      <!-- rc_l1= Recurring level 2  -->
                      <label for="package_name" class="mb-0">Recurring level 2 commission</label>
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="rc_l2_month">
                        <div class="input-group-append">
                          <span class="input-group-text" id="rc2m">1 Month</span>
                        </div>
                      </div>

                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="rc_l2_halfY">
                        <div class="input-group-append">
                          <span class="input-group-text">6 Month</span>
                        </div>
                      </div>

                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="rc_l2_fullY">
                        <div class="input-group-append">
                          <span class="input-group-text">1 Year</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>



        <!----------------- 3. Top features ------------------------->
        <div class="top_features_section">
          <div id="top_features_tab" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="top_features_tab_child">
                <h5 class="card-title mb-0 d-inline" data-toggle="collapse" data-parent="#top_features_tab"
                  href="#tab_two" aria-expanded="true" aria-controls="tab_two">
                  Top Features
                </h5>
                <div class="top_feature_slide">
                  <!-- <mat-slide-toggle formControlName="isFeatured" align="end">
                    <span class="test-left">Is it recommended?</span>
                  </mat-slide-toggle> -->
                </div>


              </div>
              <div id="tab_two" class="collapse show" role="tabcard" aria-labelledby="top_features_tab_child">
                <div class="card-body  py-2 px-2">
                  <p class="light-color">Please add text to show on package</p>
                  <input type="text" class="form-control" formControlName="top_feature1">
                  <input type="text" class="form-control" formControlName="top_feature2">
                  <input type="text" class="form-control" formControlName="top_feature3">
                  <input type="text" class="form-control" formControlName="top_feature4">
                  <input type="text" class="form-control" formControlName="top_feature5">
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-------------- 4. What is included in this package ---------------->
        <div class="package_offer_section">
          <div id="package_offer_tab" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="package_offer_tab_child">
                <h5 class="card-title mb-0" data-toggle="collapse" data-parent="#package_offer_tab" href="#tab_three"
                  aria-expanded="true" aria-controls="tab_three">
                  What’s included in this package?
                </h5>

              </div>
              <div id="tab_three" class="collapse show" role="tabcard" aria-labelledby="package_offer_tab_child">
                <div class="card-body  py-2 px-2">
                  <p class="checkbox_header mb-1">General Modules</p>
                  <div class="form-check form-check-inline mb-2" *ngFor="let item of GeneralCheckList">
                    <label class="form-check-label" for="d{{ item.id }}">
                      <input class="form-check-input" type="checkbox" id="d{{ item.id }}" value="{{ item.value }}"
                        (change)="generalListChange($event)">
                      <span></span>
                      <p class="mb-0 ml-1 d-inline"> {{ item.groupname }}</p>
                    </label>
                  </div>

                  <p class="checkbox_header mb-0">Group Chat</p>
                  <div class="form-row group_list" *ngFor="let item of GroupCategoryList; let i= index;">
                    <div class="form-group col-md-2 mb-2">
                      <span class="checkbox_subHeader">{{ item.payload.val()?.name }}</span>
                    </div>
                    <div class="form-group col-md-10 mb-2">
                      <div class="form-check">
                        <ng-container *ngFor="let subitem of SubCategoryList">
                          <ng-container *ngIf="subitem.value.category == i+1">
                            <label class="form-check-label d-inline" for="d1{{ subitem.value.groupname }}"
                              [ngClass]="{disabledCheck: subitem.value.isPaid == false}">
                              <input class="form-check-input" type="checkbox" id="d1{{ subitem.value.groupname }}"
                                value="{{ subitem.value.groupname }}" [disabled]="subitem.value.isPaid == false"
                                [checked]="subitem.value.isPaid == false"
                                (change)="groupListChange(subitem.value.groupname, subitem.value.category, item.payload.val()?.name, subitem.index)">
                              <span></span>
                              <p class="mb-0 ml-1 d-inline"> {{ subitem.value.groupname  }}</p>
                            </label>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- button color & custom url -->
        <div class="last_section">
          <div class="form-row mt-3">
            <div class="form-group col-md-4">
              <label for="btn_color light-color">Button Color</label>
              <input type="text" #colorCode class="form-control" id="btn_color" formControlName="btn_color"
                [style.background-color]="colorCode.value">
            </div>

            <div class="form-group col-md-8">
              <label for="btn_url light-color">Custon URL</label>
              <input type="text" class="form-control" id="btn_url" formControlName="btn_url">
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>