.mainSection {
  z-index: 9999;
}

.close-slide {
  float: right !important;
  font-weight: 600;
  margin-right: 10px;

}

.close-slide:hover {
  cursor: pointer;
}

// button group
.btn-group {
  float: right;

  button {
    width: 150px;
    height: 40px;
    font-weight: 600;
    border-radius: 0;
  }

  .btn-save {
    background-color: #13A288;
    color: #282B33;
  }

  .btn-can {
    color: #9B9B9B;
    background-color: #373C48;
  }
}

.parent_box {
  padding: 17px 15px;
  background-color: #282B33;
  border-radius: 3px;
}

.customForm-box {
  background-color: #1E2127;
  border-radius: 7px;
  padding: 16px 13px;

}

.nav_header {
  font-size: 24px;
}

hr {
  border-top: 1px solid #373C48;
}

.light-color {
  color: #7592AE
}

.card {
  border: 1px solid #61768D;
  border-radius: 3px;
  background-color: #1e2127;
}

.card-body {
  background-color: #1E2127;
  border-radius: 4px;


  input {
    background-color: #1E2127;
    color: #9B9B9B;
    border: 1px solid #7793B1;
  }
}

.card-header {
  background-color: #373C48;

  h5:hover {
    cursor: pointer;
  }

  .card-title {
    color: #9EAAC2;
    font-size: 18px;
    font-weight: 600;

  }
}

// package details
.package_info_box {
  input {
    background-color: #1E2127;
    color: #9B9B9B;
    border: 1px solid #7793B1;
  }
}



// referral program
.referral_program_box {
  .input-group {
    margin: 10px 0;
  }

  .input-group-text {
    width: 100px;
    justify-content: center;
    background-color: #282B33;
    color: #9B9B9B;
    border: 1px solid #7793B1;
  }
}

// top feature section
.top_features_section {
  margin-top: 15px;

  input {
    margin: 10px 0;
    border: 1px solid #7793B1;

  }

  .top_feature_slide {
    float: right;
    color: #9B9B9B;

    .mat-slide-toggle.mat-checked.mat-slide-toggle-bar {
      background-color: rgba(19, 162, 136, 0.322) !important;
    }

    .mat-slide-toggle.mat-checked.mat-slide-toggle-thumb {
      background-color: #13A288 !important;
    }
  }
}

// package offer
.package_offer_section {
  margin-top: 15px;

  .checkbox_header {
    font-size: 18px;
    color: #9B9B9B;
    font-weight: 600;
  }

  .group_list .col-md-2 {
    margin-right: -50px;
  }

  .checkbox_subHeader {
    color: #9B9B9B;
    font-weight: 600;
  }

  .form-check-label {
    color: #D8D8D8 !important;
    margin: 0 5px;
  }

  label input {
    display: none;
  }

  /* style the artificial checkbox */
  label span {
    height: 16px;
    width: 16px;
    border: 1px solid #13A288;
    border-radius: 3px;
    display: inline-flex;
    position: relative;
  }

  /* style its checked state..with a ticked icon */
  [type=checkbox]:checked+span:before {
    content: '\2713';
    position: absolute;
    top: -5px;
    left: 1px;
    color: #13A288;
  }
}

// last section
.last_section {
  label {
    color: #7592AE;
  }

  input {
    background-color: #1E2127;
    color: #9B9B9B;
    border: 1px solid #7793B1;
  }
}


@media only screen and (max-width: 767px) {
  .top_feature_slide {
    float: none !important;
  }
}

.disabledCheck {
  opacity: 0.2;
}