.mainScanner{
    padding-right: 45px;
}
.page-name{
    color: #bebebe;
    font-size: 28px;
    font-weight: normal;
    line-height: 36px;
    text-align: left;
    font-family: 'IBM Plex Sans';
    padding: 24px;
    padding-left: 0;
}
.ancestor{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    background-color: #282828;
    height: 340px;
    padding: 15px 0;
    margin-top:15px;
}
.ancestor .ancestor-childs:last-child,
.ancestor .ancestor-childs:first-child{
    width: calc(100% / 3 - 40px);
}
.ancestor .ancestor-childs:nth-child(2){
    width: calc(100% / 3);
}
.head1 img{
    width:18.4px;
    height:17.5px;
}
.head2 img{
    width:19.4px;
    height:19.4px;
}
.head3 img{
    width:20px;
    height:20px;
}
.head1, .head2, .head3{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #f3f3f3;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head1 img, .head2 img, .head3 img{
    margin-right: 5px;
}
.s1{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: #f3f3f3;
    padding: 0 15px;
}
.listing div{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: #f3f3f3;
}
.listing{
    height:48px;
    padding: 15px;
    border-bottom: 1px solid #3d3d3d;
}
.content:first-child .listing div, .content:last-child .listing div{
    width: calc(100% / 3)
}
.content:nth-child(2) .listing div{
    width: calc(100% / 4)
}
.listing div:not(:first-child){
    text-align: right;
}
.peak_gains {
    color: #00e073 !important;
}
  .peak_drop {
    color: #f6557c !important;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .mainScanner{
        margin-left: 5% !important;
        padding-right: unset;
    }
}