<div [class.mainScanner]="!commonservice.isMobile">
    <div class="page-name" *ngIf="!commonservice.isMobile" [class.paddalign]="commonservice.isMobile">Market Overview</div>
    <div class="ancestor">
        <div class="ancestor-childs">
            <span class="head1">
                <img class="watchlistStar" src="../../assets/icon/icon-color.svg">
                Watchlist
            </span>
            <div class="content">
                <span class="s1">Price change - 24H</span>
                <div class="ancestor listing" *ngFor="let cn1 of coins1">
                        <div>{{cn1[0]}} - BTC</div>
                        <div>{{cn1[1]}}</div>
                        <div [class]="cn1[3]">{{cn1[2]}} %</div>
                </div>
            </div>
        </div>
        <div class="ancestor-childs">
            <span class="head2">
                <img class="watchlistStar" src="../../assets/icon/pro-icon.png">
                Peak Movers
            </span>
            <div class="content">
                <span class="s1">Highest gains - 24H</span>
                <div class="ancestor listing" *ngFor="let cn2 of coins2">
                        <div>{{cn2[0]}} - BTC</div>
                        <div>{{cn2[1]}}</div>
                        <div class="peak_gains">+ {{cn2[2]}} %</div>
                        <div [ngClass]="checkOval(cn2[3])">{{cn2[3]}}</div>
                </div>
            </div>
        </div>
        <div class="ancestor-childs">
            <span class="head3">
                <img class="watchlistStar" src="../../assets/icon/app-switcher.svg">
                Volume
            </span>
            <div class="content">
                <span class="s1">Daily volume and 24H change</span>
                <div class="ancestor listing" *ngFor="let cn3 of coins3">
                        <div>{{cn3[0]}} - BTC</div>
                        <div>{{cn3[1]}}</div>
                        <div class="peak_gains">+ {{cn3[2]}} %</div>
                </div>
            </div>
        </div>
    </div>
</div>