footer.main-footer {
    height: 50px;
    width: calc(100%);
    line-height: 50px;
    background-color: #2E333D;
    color: #9B9B9B;
    font-size: 15px;
}
.left-section {
    width: calc(100% - 248px);
    display: inline-block;
    margin-left: 24px;
    line-height: 50px;
}
.right-section {
    width: 200px;
    display: inline-block;
    margin-right: 24px;
}

footer.main-footer a {
    color: #2076AE !important;
    cursor: pointer;
    text-decoration: none;
}
footer.main-footer a:hover{
    text-decoration: none;
}
