<footer class="main-footer" *ngIf="commanService.footerShow">
    <div class="left-section">
        Copyright © {{ today | date:'yyyy'}} Trading ABCD. All rights reserved.
    </div>
    <div class="right-section">
        <a href="mailto:support@tradingabcd.com">support@tradingabcd.com</a>
    </div>
</footer>
