<div [className]="commonservice.navPopUp ? 'right-bar' : 'right-bar sidebarOpen'" *ngIf="auth.user$ | async as user">
  <header>
    <div class="navbar">
      <div class="nav-righ">
        <a (click)="commonservice.navShow  = !commonservice.navShow" class='logo'>
          <img src="/assets/icon/close.svg" alt="" *ngIf="commonservice.navShow ">
          <!-- <i class="fa fa-times color-white" aria-hidden="true" ></i> -->
          <img src="/assets/icon/menu-trigger.svg" *ngIf="!commonservice.navShow ">
        </a>
        <a class="pl-3" [routerLink]="['/home']" routerLinkActive="router-link-active">
          <span class="IBM">Trading </span>
          <span class="Name"> Platform</span></a>


      </div>
      
      <div class="nav-left">
        <div class="nav-left-language" *ngIf="auth.canDelete(user)">
          <select class="dropbtn d_binance" (change)="useLanguage($event.target.value)">
            <option value="en" [selected]="language == 'en'">English</option>
            <option value="ar" [selected]="language == 'ar'">عربى</option>
          </select>
        </div>
        <div>


          

          <div class="title1" *ngIf="auth.user$ | async as user">
              <div class="dropdown" *ngIf="!commonservice.isMobile">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <img class="pr-2" src="/assets/icon/shape.svg" alt="">0.81<span class="px-2">BTC</span><i class="fa fa-arrow" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="commonservice.wallet = 'assets'" [routerLink]="['/wallet']" routerLinkActive="router-link-active" >Assets</a>
                    <a class="dropdown-item" (click)="commonservice.wallet = 'positions'" [routerLink]="['/wallet']" routerLinkActive="router-link-active">Positions</a>
                    <a class="dropdown-item" (click)="commonservice.wallet = 'orders'" [routerLink]="['/wallet']" routerLinkActive="router-link-active">Orders</a>
                    <a class="dropdown-item" (click)="commonservice.wallet = 'trade-history'" [routerLink]="['/wallet']" routerLinkActive="router-link-active">Trade history</a>

                  </div>
               </div>




            <span *ngIf="!commonservice.isMobile" [routerLink]="['/subscription']" routerLinkActive="subscription"> <img
                src="/assets/icon/notification@3x.png" alt=""></span>




            <span (click)="nightMode()"> 
              <img *ngIf="night" src="/assets/icon/sun-nightmode.svg" alt="">
              <!-- <img *ngIf="!night" src="/assets/icon/dayMode.png" alt=""> -->
              <img *ngIf="!night" src="/assets/icon/nightMode.png" alt="">

            
            
            </span>




            <span *ngIf="auth.user$ | async as user" [ngClass]="clickPopUp ? 'accountPopShow':''" (click)="clickPopUp = !clickPopUp">
              <img src="/assets/icon/account@3x.png"
                alt=""></span>
            <span *ngIf="!commonservice.isMobile" [routerLink]="['/chat']" routerLinkActive="chat"><img
                src="/assets/icon/app-switcher@3x.png" alt=""></span>

            <div *ngIf="clickPopUp" class="clickPopUp" (mouseWheelDown)='clickPopUp = false' (mouseWheelUp)='clickPopUp = false'>
                <a class="profile_link" >
                <h5 class="buttons" [routerLink]="['/settings']" routerLinkActive="router-link-active" (click)="clickPopUp = false" >My Account
                </h5>
              </a>
              <a class="profile_link" (click)="logOut()">
                <h5 class="buttons">{{'generic.log_out' | translate}}</h5>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>
  <app-leftsidebar></app-leftsidebar>
</div>
