header {
  height: 48px !important;
  background-color: #171717;
  border-bottom: 1px solid #3d3d3d;
  font-family: "IBM Plex Sans";
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;

  .IBM {
    
    
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.1px;
    color: #fff;
  }
  .btn{
      background-color: none;
      border: none;
      color: #bebebe;
      padding-top: 2px;
      font-size: 14px;
  }
  .dropdown-menu{
     
      font-size: 14px;
      background-color: #252525;
      .dropdown-item{
        color:#bebebe;

      }
      :hover{
        font-size: 14px;
        background-color: #252525;
        color:#bebebe;
      }
  }

  .dropdown{
      float: left;
      
  }

  .L1-link {
    font-size: 14px;
    color: #bebebe;
    background: none;
    padding: 0 5px;
    border: none;
  }



  .title1 {
    span {
      color: #bebebe;
      padding: 0px 14px;
    }
  }

  .Name {
    width: 58px;
    height: 18px;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.1px;
    color: #fff;
  }
  .link {
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.16px;
    color: white;
  }
}




.ACon {
  transition: all 0.5s;
  display: flex;
  cursor: pointer;
}
.Profile {
  text-align: center;
}
.ACon .Img {
  cursor: pointer;
  line-height: 32px;
  margin-top: -5px;
  display: block;
  background-color: #d09657;
  border-radius: 100%;
  opacity: 0.746789;
  width: 32px;
  height: 32px;
}
.Img h3 {
  font-family: "IBM Plex Sans";
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  line-height: 35px;
  z-index: 99999;
  margin-bottom: 0;
}
span.name {
  font-family: "IBM Plex Sans";
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
  padding-left: 12px;
  padding-top: 2px;
}

.accountPopShow{
  background: #252525;
    padding: 14px !important;
}


.clickPopUp {
  display: block;
  z-index: 99;
  position: fixed;
  right: 75px;
  top: 48px;
  margin-top: 0;
  background-color: #252525;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
 }
.clickPopUp .buttons {
  background: transprent;
  padding: 14px 40px;
  margin: 0;
  -webkit-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  -moz-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  color: #bebebe;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: normal;
  
}

.clickPopUp.close {
  display: none;
}
.clickPopUp.open {
  display: block;
  }
.clickPopUp .buttons:hover {
  border-left: 3px solid #0062ff;
  color: #f3f3f3 !important;
}
.clickPopUp a {
  text-decoration: none;
}

.logo {
  height: 12px;
  width: 32px;
  padding: 0px 12px 0px 0px;
  display: inline-block;
}

.navbar {
  padding: 10px 15px;
  width: 100%;
  height: 48px;
  z-index: 99999;
}

.navbar img {
  cursor: pointer;
 
}

.profile_link {
  cursor: pointer;
}
/*toggle*/
.toggle {
  height: auto;
  padding-left: 28px;
  transition: all 0.5s;
  width: 100px;
}

.toggle__checkbox {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 25px;
  width: 30px;
  height: 18px;
  opacity: 0.00001;
  margin: 0;
  cursor: pointer;
  pointer-events: none;
}
.toggle__visual {
  display: block;
  width: 33px;
  height: 18px;
  border-radius: 1.5em;
}
.toggle__visual.nightactive:before {
  margin-left: 4px;
  margin-top: 2px;
}
input.toggle__checkbox.checkbox_active + span.toggle__visual {
  background: #ffffff;
}
.toggle__visual:before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-top: 1px;
  width: 15px;
  height: 14px;
  border-radius: 50%;
  background-color: #13a288;
  transition: -webkit-transform 0.125s linear 0s;
  transition: transform 0.125s linear 0s;
  transition: transform 0.125s linear 0s, -webkit-transform 0.125s linear 0s;
}
.toggle__visual.dayactive:before {
  background-color: #fff !important;
  top: 1px;
}
input.toggle__checkbox.checkbox_active + span.toggle__visual.dayactive {
  background: #13a287 !important;
  border: 1px solid #fff;
}
img.moon-nightmode {
  float: right;
  margin-left: 0;
  padding-right: 9px;
  margin-top: -20px;
}
.toggle__checkbox:checked + .toggle__visual.nightactive:before {
  transform: translateX(0.7em);
}
.toggle__checkbox:checked + .toggle__visual.dayactive:before {
  transform: translateX(0.1em);
}
img.sun-nightmode {
  float: left;
  margin-left: -28px;
  margin-top: 0px;
}

.nav-righ {
  margin-top: -4px;
  z-index: 99;
}
.nav-left {
  position: relative;
  display: flex;
}
.btn.dropdown-toggle:after{
  content: '';
  display: none;
}
/*popup css start*/
.popup h2 {
  color: #7592ae;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  margin: 0 0 32px 0;
  padding-bottom: 10px;
  // border-bottom: 1px solid #373c48;
}
.content {
  overflow: auto;
  width: 70%;
  margin: 0 auto;
}



.title1 {
  font-family: "IBM Plex Sans";
  border: none;
 padding: 0 15px;
  // color: #ffffff;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

span {
  img {
    height: 17px;
    width: 17px;
  }
}
.fa-arrow:before{
  content: "\f107";
}
.dropdown{
  position: absolute;
  padding: 11px 7px 7px 7px;
  margin-left: -130px;
  top: -11px;
}
  
.dropdown.show{
  background: #252525;
  .dropdown-toggle{
   border-radius: 0;
    }
  .dropdown-menu.show{
   top: 95%;
    border: 0;
    border-radius: 0;
    width: 173px;
  }
  .dropdown-item{
    padding: 8px 1.0rem;
  }
  .fa-arrow:before{
    content: "\f106";
  }

}


@media only screen and (max-width: 767px) {
 
  .title1{
   .clickPopUp{
    right: 30px !important;
    margin-top: -23px !important;
    z-index: 9999;
  }
}
.nav-righ {padding-left: 24px;}
}

@media only screen and (max-width: 730px) {.nav-righ {padding-left: 20px;}}
@media screen and (max-width: 600px) {
 
    .is_mobile .navbar img {
      margin-top: -5px;
      height: 23px;
      width: 23px;
    }
 
  .logo {
    a {
      height: 12px;
      width: 12px;
    }
  }
}

@media only screen and (max-width: 480px) {.nav-righ {padding-left: 7px;}}