<section id='head' *ngIf="!auth.userLogin">

  <!-- this is for mobile view -->

  <div class='slide' id="{{ shwp ? 'show' : 'hide' }}" *ngIf="commonservice.isMobile">
    <div class="container">
      <div class='py-3'>
        <a [routerLink]="['/pricing']" routerLinkActive="router-link-active"  class='btn btn-block link'>
          Pricing
        </a>
      </div>




      <div class="pb-3">
        <a class="btn Spacer" [routerLink]="['/register']" (click)="shwp=0" routerLinkActive="router-link-active ">
          Get Started
          <i class="fa fa-angle-right float-right"></i>
        </a>
      </div>
      <div py-3>
        <a class=" btn btn-block signInBtn" [routerLink]="['/login']" (click)="shwp=0"
          routerLinkActive="router-link-active">
          Sign in
          <!-- <i class="fa fa-angle-right float-right"></i> -->
        </a>
      </div>
    </div>
  </div>

    <div class="nav py-2" *ngIf="commonservice.isMobile">
      <div class="{{shwp ? 'container-fluid' : 'container'}} ">
        <div class="row">
          <div class="col-md-12 mt-1 text-center">

            <a (click)="shwp=!shwp" class='menu_click' >
              <img src="/assets/icon/close.svg" height=15px class="close" width=15px alt="" *ngIf="shwp">
              <!-- <i class="fa fa-times color-white" aria-hidden="true" ></i> -->
              <img src="/assets/icon/menu-trigger.svg" class="open" height=15px width=15px *ngIf="!shwp">

            </a>
            <a class="center home_click" [routerLink]="['/home']" routerLinkActive="router-link-active"><span class="IBM">Trading
              </span>
              <span class="Name"> Platform</span></a>




          </div>
        </div>
      </div>
    </div>
  


    <!-- for desktop view -->

    <div class="container" *ngIf="!commonservice.isMobile">
      <div class="row py-2">
        <div class="col-lg-2 col-md-3 col-3 ">
          <a class="" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <span class="IBM">Trading </span>
            <span class="Name"> Platform</span></a>
          <span class="br float-right"></span>
        </div>
        <div class="col-lg-2 col-md-2  col-2">
          <a [routerLink]="['/pricing']" routerLinkActive="router-link-active"  class='btn px-2 link1'>
            Pricing
          </a>
        </div>
        <div class="col-lg-5 col-md-2 col-2"></div>
        <div class="col-lg-2 col-md-3 col-3">
          <a class="btn Spacer" [routerLink]="['/register']" routerLinkActive="router-link-active">
            Get Started
            <i class="fa fa-angle-right float-right"></i>
          </a>
        </div>
        <div class="col-lg-1 col-md-2 col-2 px-0">
          <a [routerLink]="['/login']" routerLinkActive="router-link-active" class='btn btn-block signInBtn'>Sign in
          </a>
        </div>

      </div>
    </div>

</section>