section.hide{
  display: none;
}
section.show{
  display: block;
}

#head {
  height: 48px;
  font-family: "IBM Plex Sans";
  font-size: 14px ;
  line-height: 1.29;
  letter-spacing: 0.16px;
  background-color: #171717;
  margin-top: -45px;

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    background-color: #171717;
    border-bottom: 1px solid #3d3d3d;
    z-index: 999999;
    
  }
  .fa {
    padding-top:2px;
  }
  .slide {  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-right: 1px solid #3d3d3d;
    width: 80%;
    height: calc(100% - 48px);
    min-height: calc(100% - 48px);
    position: fixed;
    bottom: 0px;
    z-index: 99999;
    background-color: #171717;
  }
  .menu_click .open{
    position: absolute;
    left: 20px;
    top: 5px;
  }
  .menu_click .close{
    position: absolute;
    left: 20px;
    top: 5px;
  }
  .navbar {
    padding: 8px 0px !important;
  }
 
  .IBM {
      font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #fff;
  }
  .btn{
    font-size: 14px ;
  line-height: 1.29;
  letter-spacing: 0.16px;
  font-weight: normal;
  }

  .Name {
     font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #fff;
  }
  .link {    
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #bebebe;
    text-align: left;
    padding-left: 0;
  }

  .link1 {    
    font-weight: normal;
    color: #bebebe;
    text-align: left;
    padding-left: 0;
    line-height: 0.3 !important;
    }

  .br {
    border-right: 1px solid #3d3d3d;
    height: 20px;
  }

  .Spacer {
    background-color: #0062ff;
    color: white;
    width: 100%;
    height: 32px;
    border-radius: 0px;
    text-align: left;
    vertical-align: center;
  }
  .signInBtn {
    height: 32px;
    border: solid 1px white;
    color: white;
    border-radius: 0px;
    text-align: left;
  }
  #show{
    display: block;
  }
  #hide{
    display: none;
  }
  .color-white{
    color: white;
  }
}

@media only screen and  (max-width: 767px) {
  .mb-center{
    margin-left: -0.5rem;
  }
}