<!--pricetop-->
<div class="fourDropDownFiltersTablet">
    <label class="firstscannersfilter">
        <select class="footSelect" (change)="changeComponent($event.target.value)">
            <option value="1">{{'generic.price_actionPageName' | translate}}</option>
            <option value="2">{{'generic.rsi_scanner' | translate}}</option>
            <option value="3">{{'generic.volume_scanner' | translate}}</option>
            <option value="5">{{'generic.ma_scanner_forfilter' | translate}}</option>
            <option value="6" [selected]="true">{{'generic.ma_scanner_crossover' | translate}}</option>
        </select>
    </label>
    <label style="margin-right: 5px;">
        <select class="footSelect" (change)="changeType($event.target.value)">
          <option value="Binance" selected>{{'generic.binance' | translate}}</option>
        </select>
      </label>
    <label style="margin-right: 5px;">
      <select class="footSelect" (change)="watchlistPressed()">
        <option value="" [selected]="!isWatchlistActive">{{'generic.show_all' | translate}}</option>
        <option value="" [selected]="isWatchlistActive">{{'generic.watch_list' | translate}}</option>
      </select>
    </label>
    <label style="margin-right: 5px;">
      <select class="footSelect" (change)="changePair($event.target.value)">
        <option value="ALL" [selected]="selectedPair == 'ALL'">
          {{'generic.coin_all' | translate}}</option>
        <option value="USDT" [selected]="selectedPair == 'USDT'">
          {{'generic.coin_USDT' | translate}}</option>
        <option value="BTC" [selected]="selectedPair == 'BTC'">
          {{'generic.coin_btc' | translate}}</option>
        <option value="ETH" [selected]="selectedPair == 'ETH'">
          {{'generic.coin_ETH' | translate}}</option>
      </select>
    </label>
  </div>
<div class="price-top">
  <div class="left">
    <label>
      <select class="dropbtn d_binance binanceBTN">
        <option value="Binance" selected>{{'generic.binance' | translate}}</option>
      </select>
    </label>
  </div>
  <div class="right">
    <button class="allAssetBtn borderLeftRadius" [class.bgGray]="isWatchlistActive"
      (click)="watchlistPressedAll()">{{'generic.show_all' | translate}}</button>

    <button class="allAssetBtn borderRightRadius" style="margin-right: 25px;" [class.bgGray]="!isWatchlistActive"
      (click)="watchlistPressedStar()">
      <img class="watchlistStar" src="../../assets/images/newicons/watchlist-unfilled.svg">
      {{'generic.watch_list' | translate}}</button>
    <button class="d_usd posl2 borderLeftRadius" style="" [class.bgGray]="selectedPair != 'ALL'" (click)="changePair('ALL')">All
      Pairs</button>
    <span *ngIf="selectedPair != 'USDT' && selectedPair != 'ALL'" class="myyseparator">|</span>
    <button class="d_usd posl2" [class.bgGray]="selectedPair != 'USDT'" (click)="changePair('USDT')">
      <img class="watchlistStar" src="../../assets/images/newsvg/usdt.svg">
      {{'generic.coin_USDT' | translate}}
    </button>
    <span *ngIf="selectedPair != 'USDT' && selectedPair != 'BTC'" class="myyseparator">|</span>
    <button class="d_usd posl2" [class.bgGray]="selectedPair != 'BTC'" (click)="changePair('BTC')">
      <img class="watchlistStar" src="../../assets/images/newsvg/btc.svg">
      {{'generic.coin_btc' | translate}}
    </button>
    <span *ngIf="selectedPair != 'ETH' && selectedPair != 'BTC'" class="myyseparator">|</span>
    <button class="d_usd borderRightRadius" [class.bgGray]="selectedPair != 'ETH'" (click)="changePair('ETH')">
      <img class="watchlistStar" src="../../assets/images/newsvg/eth.svg">
      {{'generic.coin_ETH' | translate}}
    </button>
  </div>
</div>
<!--middle section-->
<div [className]="this.commonservice.navPopUp ? 'body night_mode' : 'body night_mode sidebarOpen'">
  <div [ngStyle]="customStyle" class="middle-section">
    <!--price section-->
    <div class="priceaction rsiscanner">
      <div class="price sell_fibo">
        <!--pricetop-->
        <div class="price-top m-price-top" style="padding: unset;background-color:#282828 !important">
          <div style="display: flex;justify-content: space-between;">
            <label style="margin-right: 5px;margin: unset !important;position: relative;top: 6px;">
              <select class="dropbtn d_sell mobileDrop" style="background-color: #282828 !important;width: 60px !important;"
                (change)="changeType($event.target.value)">
                <option value="m5" [selected]="maType == 'm5'">{{'generic.m5' | translate}}</option>
                <option value="m15" [selected]="maType == 'm15'">{{'generic.m15' | translate}}</option>
                <option value="m30" [selected]="maType == 'm30'">{{'generic.m30' | translate}}</option>
                <option value="h1" [selected]="maType == 'h1'">{{'generic.h1' | translate}}</option>
                <option value="h4" [selected]="maType == 'h4'">{{'generic.h4' | translate}}</option>
                <option value="h6" [selected]="maType == 'h6'">{{'generic.h6' | translate}}</option>
                <option value="h12" [selected]="maType == 'h12'">{{'generic.h12' | translate}}</option>
                <option value="d1" [selected]="maType == 'd1'">{{'generic.d' | translate}}</option>
              </select>
            </label>
            <span>
              <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
               <i class="fa fa-rotate-right" width="10px"></i>
              </button>
              <span style="cursor: pointer;" (click)="openPopUp($event, infomodel)">
                <img src="../../assets/images/newicons/info.svg">
              </span>
            </span>
          </div>
        </div>
        <div class="page-name" *ngIf="!commonservice.isMobile">
          <div>
            <span>{{'generic.ma_scanner_crossoverPageName' | translate}}</span>
            <p style="font-size:14px;">Track moving averages crossovers</p>
          </div>
          <div>
            <span class="timeFrame">
              <img src="../../assets/images/newicons/timeframe.svg">
            </span>
            <label style="margin-right: 5px;">
              <select class="dropbtn d_sell" (change)="changeType($event.target.value)">
                <option value="m5" [selected]="maType == 'm5'">{{'generic.m5' | translate}}</option>
                <option value="m15" [selected]="maType == 'm15'">{{'generic.m15' | translate}}</option>
                <option value="m30" [selected]="maType == 'm30'">{{'generic.m30' | translate}}</option>
                <option value="h1" [selected]="maType == 'h1'">{{'generic.h1' | translate}}</option>
                <option value="h4" [selected]="maType == 'h4'">{{'generic.h4' | translate}}</option>
                <option value="h6" [selected]="maType == 'h6'">{{'generic.h6' | translate}}</option>
                <option value="h12" [selected]="maType == 'h12'">{{'generic.h12' | translate}}</option>
                <option value="d1" [selected]="maType == 'd1'">{{'generic.d' | translate}}</option>
              </select>
            </label>
            <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
             <i class="fa fa-rotate-right" width="10px"></i>
            </button>
            <span style="margin: 0 10px;cursor: pointer;" (click)="openPopUp($event, infomodel)">
              <img src="../../assets/images/newicons/info.svg">
            </span>
          </div>
        </div>
        <!--dropdown menu-->
        <div id="table-scroll" class="table-scroll table-responsive">
          <div class="table-wrap">
            <table class="main-table table mobiletable">
              <thead class="resthead" style="color:#fff">
                <tr>
                  <th class="borderRight fixed-side" scope="col" style="width: 100px;">
                    <span class="sorting" *ngIf="orderByField === 'n'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('n')">{{'generic.asset_pair' | translate}}</span>
                  </th>

                  <th *ngFor="let data of tdata">
                    <span class="sortingDown" *ngIf="orderByField == [maType+'.'+data[0]]"></span>
                    <span style="cursor: pointer;" (click)="secondLevelSort(data[0])">{{'ma_scanner_crossover.'+data[1] | translate}}</span>
                  </th>

                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'mk'"></span>
                    <span style="cursor: pointer;"
                      (click)="sortByField('mk')">{{'generic.market_cap' | translate}}</span>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="maStats.length == 0 && showWatchlistError == true">
                <tr>
                  <td colspan="14" style="text-align: center;">
                    <div style="color:#fff;padding-top: 40px;">
                      <img src="assets/images/newicons/empty-watchlist.svg" alt=""><br>
                      <div class="noWatchlistFound">
                        <span>You have no assets on the watchlist.</span> <br>
                        <span>Create your watchlist using the <img class="noWatchlistStar" src="../../assets/images/newicons/watchlist-unfilled.svg" alt=""> icon</span><br>
                        <span>to track assets you are interested in.</span> <br>
                      </div>
                      <span (click)="watchlistPressedAll()" class="goToAllAssets">Go back to the all assets</span>
                    </div>
                  </td>
                </tr>
                <tr style="height:20px;" *ngFor="let item of [].constructor(10); let i = index"></tr>
              </tbody>
              <tbody *ngIf="maStats.length == 0 && showWatchlistError == false">
                  <tr *ngFor="let item of [].constructor(20); let i = index">
                      <td *ngFor="let tditem of [].constructor(14); let tdi = index">
                        <p class="animated-background" [ngClass]="checkClass(tdi)"></p>
                      </td>
                  </tr>
              </tbody>
              <tbody style="color:#fff">
                <tr
                  *ngFor="let item of maStats | orderBy: orderByField: reverseSort | filterby: selectedPair; let i = index">
                  <td class="borderRight fixed-side" [class.isFixedNeedPadding]="!commonservice.isMobile">
                    <div class="coin" style="padding-left: unset !important;">
                      <img *ngIf="!commonservice.isMobile" class="pair-icons" src="assets/images/newsvg/{{item.i}}.svg">
                      <span class="popup-btn fixstarmcross fixstarmcrossleft" *ngIf="commonservice.isMobile && isWatched(item.n)" (click)="addToWatchlistmcross(item.n)">
                          <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-filled.svg">
                    </span>
                    <span class="popup-btn fixstarmcross fixstarmcrossleft" *ngIf="commonservice.isMobile && !isWatched(item.n)" (click)="addToWatchlistmcross(item.n)">
                          <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-unfilled.svg">
                    </span>
                      <span *ngIf="!commonservice.isMobile">{{item.n}}</span>
                      <span style="font-size:12px;" *ngIf="commonservice.isMobile">{{item.n}}</span>
                    </div>
                  </td>

                  <td *ngFor="let data of tdata" [ngSwitch]="maType">
                    <span *ngSwitchCase="'m5'"
                      [ngClass]="maClass(item.m5&&item.m5[data[0]])">{{item.m5&&item.m5[data[0]] | number:'1.0-2'}}</span>
                    <span *ngSwitchCase="'m15'"
                      [ngClass]="maClass(item.m15&&item.m15[data[0]])">{{item.m15&&item.m15[data[0]] | number:'1.0-2'}}</span>
                    <span *ngSwitchCase="'m30'"
                      [ngClass]="maClass(item.m30&&item.m30[data[0]])">{{item.m30&&item.m30[data[0]] | number:'1.0-2'}}</span>
                    <span *ngSwitchCase="'h1'"
                      [ngClass]="maClass(item.h1&&item.h1[data[0]])">{{item.h1&&item.h1[data[0]] | number:'1.0-2'}}</span>
                    <span *ngSwitchCase="'h4'"
                      [ngClass]="maClass(item.h4&&item.h4[data[0]])">{{item.h4&&item.h4[data[0]] | number:'1.0-2'}}</span>
                    <span *ngSwitchCase="'h6'"
                      [ngClass]="maClass(item.h6&&item.h6[data[0]])">{{item.h6&&item.h6[data[0]] | number:'1.0-2'}}</span>
                    <span *ngSwitchCase="'h12'"
                      [ngClass]="maClass(item.h12&&item.h12[data[0]])">{{item.h12&&item.h12[data[0]] | number:'1.0-2'}}</span>
                    <span *ngSwitchCase="'d1'"
                      [ngClass]="maClass(item.d1&&item.d1[data[0]])">{{item.d1&&item.d1[data[0]] | number:'1.0-2'}}</span>
                  </td>

                  <td class="">{{item.mk / 1000000 | number:'1.0-0'}} m</td>
                  <td class="popup-btn fixstar fixstarmcross" *ngIf="isWatched(item.n)"
                    [class.isAllow]="commonservice.isMobile" (click)="addToWatchlistmcross(item.n)">
                    <div class="dropbtn morebtn star">
                      <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-filled.svg">
                    </div>
                  </td>
                  <td class="popup-btn fixstar fixstarmcross" *ngIf="!isWatched(item.n)"
                    [class.isAllow]="commonservice.isMobile" (click)="addToWatchlistmcross(item.n)">
                    <div class="dropbtn morebtn star">
                      <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-unfilled.svg">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="fixedfooterfilters" *ngIf="commonservice.isMobile">
            <label style="margin-right: 5px;">
              <select class="footSelect" (change)="watchlistPressed()">
                <option value="" [selected]="!isWatchlistActive">{{'generic.show_all' | translate}}</option>
                <option value="" [selected]="isWatchlistActive">{{'generic.watch_list' | translate}}</option>
              </select>
            </label>
            <label style="margin-right: 5px;">
              <select class="footSelect" (change)="changePair($event.target.value)">
                <option value="ALL" [selected]="selectedPair == 'ALL'">
                  {{'generic.coin_all' | translate}}</option>
                <option value="USDT" [selected]="selectedPair == 'USDT'">
                  {{'generic.coin_USDT' | translate}}</option>
                <option value="BTC" [selected]="selectedPair == 'BTC'">
                  {{'generic.coin_btc' | translate}}</option>
                <option value="ETH" [selected]="selectedPair == 'ETH'">
                  {{'generic.coin_ETH' | translate}}</option>
              </select>
            </label>
            <label style="margin-right: 5px;">
              <select class="footSelect" (change)="changeType($event.target.value)">
                <option value="Binance" selected>{{'generic.binance' | translate}}</option>
              </select>
            </label>
          </div>
        <!--data seaction-->
      </div>
    </div>
    <!-- <app-footer [className]="commonservice.isMobile ? 'is_mobile' : 'is_desktop'"></app-footer> -->
    <!--end-->
  </div>
</div>

<ng-template #infomodel let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="spaceBW pltbr10">
      <span style="font-size: 20px;">Legend</span>
      <span class="closespan" (click)="c()" aria-hidden="true">&times;</span>
    </div>
    <app-scanner></app-scanner>
  </div>
</ng-template>