<!--middle section-->
<div class="fourDropDownFiltersTablet">
        <label class="firstscannersfilter">
            <select class="footSelect" (change)="changeComponent($event.target.value)">
                <option value="1">{{'generic.price_actionPageName' | translate}}</option>
                <option value="2" [selected]="true">{{'generic.rsi_scanner' | translate}}</option>
                <option value="3">{{'generic.volume_scanner' | translate}}</option>
                <option value="5">{{'generic.ma_scanner_forfilter' | translate}}</option>
                <option value="6">{{'generic.ma_scanner_crossover' | translate}}</option>
            </select>
        </label>
        <label style="margin-right: 5px;">
            <select class="footSelect" (change)="changeType($event.target.value)">
              <option value="Binance" selected>{{'generic.binance' | translate}}</option>
            </select>
          </label>
        <label style="margin-right: 5px;">
          <select class="footSelect" (change)="watchlistPressed()">
            <option value="" [selected]="!isWatchlistActive">{{'generic.show_all' | translate}}</option>
            <option value="" [selected]="isWatchlistActive">{{'generic.watch_list' | translate}}</option>
          </select>
        </label>
        <label style="margin-right: 5px;">
          <select class="footSelect" (change)="changePair($event.target.value)">
            <option value="ALL" [selected]="selectedPair == 'ALL'">
              {{'generic.coin_all' | translate}}</option>
            <option value="USDT" [selected]="selectedPair == 'USDT'">
              {{'generic.coin_USDT' | translate}}</option>
            <option value="BTC" [selected]="selectedPair == 'BTC'">
              {{'generic.coin_btc' | translate}}</option>
            <option value="ETH" [selected]="selectedPair == 'ETH'">
              {{'generic.coin_ETH' | translate}}</option>
          </select>
        </label>
      </div>
<!--pricetop-->
<div class="price-top">
    <div class="left">
        <label>
            <select class="dropbtn d_binance binanceBTN">
                <option value="Binance" selected>{{'generic.binance' | translate}}</option>
            </select>
        </label>
    </div>
    <div class="right">
        <button class="allAssetBtn borderLeftRadius" [class.bgGray]="isWatchlistActive"
            (click)="watchlistPressedAll()">{{'generic.show_all' | translate}}</button>

        <button class="allAssetBtn borderRightRadius" style="margin-right: 25px;" [class.bgGray]="!isWatchlistActive"
            (click)="watchlistPressedStar()">
            <img class="watchlistStar" src="../../assets/images/newicons/watchlist-unfilled.svg">
            {{'generic.watch_list' | translate}}</button>
        <div class="info" id="myBtn">
        </div>

        <button class="d_usd posl2 borderLeftRadius" style="" [class.bgGray]="selectedPair != 'ALL'" (click)="changePair('ALL')">All
            Pairs</button>
        <span *ngIf="selectedPair != 'USDT' && selectedPair != 'ALL'" class="myyseparator">|</span>
        <button class="d_usd posl2" [class.bgGray]="selectedPair != 'USDT'" (click)="changePair('USDT')">
            <img class="watchlistStar" src="../../assets/images/newsvg/usdt.svg">
            {{'generic.coin_USDT' | translate}}
        </button>
        <span *ngIf="selectedPair != 'USDT' && selectedPair != 'BTC'" class="myyseparator">|</span>
        <button class="d_usd posl2" [class.bgGray]="selectedPair != 'BTC'" (click)="changePair('BTC')">
            <img class="watchlistStar" src="../../assets/images/newsvg/btc.svg">
            {{'generic.coin_btc' | translate}}
        </button>
        <span *ngIf="selectedPair != 'ETH' && selectedPair != 'BTC'" class="myyseparator">|</span>
        <button class="d_usd borderRightRadius" [class.bgGray]="selectedPair != 'ETH'" (click)="changePair('ETH')">
            <img class="watchlistStar" src="../../assets/images/newsvg/eth.svg">
            {{'generic.coin_ETH' | translate}}
        </button>
    </div>
</div>
<div [className]="this.commonservice.navPopUp ? 'body night_mode' : 'body night_mode sidebarOpen'">
    <div [ngStyle]="customStyle" class="middle-section">
        <!--price section-->
        <div class="priceaction rsiscanner">
            <div class="price sell_fibo">
                <!--pricetop-->
                <div class="price-top m-price-top" style="padding: unset;background-color:#282828 !important">
                    <div style="display: flex;justify-content: space-between;">
                        <label style="margin-right: 5px;margin: unset !important;position: relative;top: 6px;">
                            <select class="dropbtn d_sell" style="background-color: #282828 !important;width: 115px !important;"
                                (change)="changeType($event.target.value)">
                                <option value="rsi7" [selected]="rsiType == 'rsi7'">
                                    {{'rsi_scanner.rsi7' | translate}}</option>
                                <option value="rsi14" [selected]="rsiType == 'rsi14'">
                                    {{'rsi_scanner.rsi14' | translate}}</option>
                            </select>
                        </label>
                        <span>
                            <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
                               <i class="fa fa-rotate-right" width="10px"></i>
                            </button>
                            <span style="cursor: pointer;" (click)="openPopUp($event, infomodel)">
                                <img src="../../assets/images/newicons/info.svg">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="page-name" *ngIf="!commonservice.isMobile">
                    <div>
                        <span>{{'generic.rsi_scanner' | translate}}</span>
                        <p style="font-size:14px;">Find overbought and oversold assets</p>
                    </div>
                    <div>
                        <span class="gainLossGraph">
                            <img src="../../assets/images/newicons/table-settings.svg">
                        </span>
                        <label style="margin-right: 5px;">
                            <select class="dropbtn d_sell" (change)="changeType($event.target.value)">
                                <option value="rsi7" [selected]="rsiType == 'rsi7'">
                                    {{'rsi_scanner.rsi7' | translate}}</option>
                                <option value="rsi14" [selected]="rsiType == 'rsi14'">
                                    {{'rsi_scanner.rsi14' | translate}}</option>
                            </select>
                        </label>
                        <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
                           <i class="fa fa-rotate-right" width="10px"></i>
                        </button>
                        <span style="margin: 0 10px;cursor: pointer;" (click)="openPopUp($event, infomodel)">
                            <img src="../../assets/images/newicons/info.svg">
                        </span>
                    </div>
                </div>


                <div id="table-scroll" class="table-scroll table-responsive">
                    <div class="table-wrap">
                        <table class="main-table table mobiletable">
                            <thead class="resthead" style="color:#fff">
                                <tr>
                                    <th [class.borderRight]="commonservice.isMobile" class="fixed-side" scope="col" style="width: 100px;">
                                        <span class="sorting" *ngIf="orderByField === 'n'"></span>
                                        <span style="cursor: pointer;"
                                            (click)="sortByField('n')">{{'generic.asset_pair' | translate}}</span>
                                    </th>
                                    <th class="priceHideShow usd_price text-right">
                                        <span class="sortingDown" *ngIf="orderByField === 'cp'"></span>
                                        <span style="cursor: pointer;"
                                            (click)="sortByField('cp')">{{'generic.price' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi5m']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi5m')">{{'generic.m5' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi15m']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi15m')">{{'generic.m15' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi30m']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi30m')">{{'generic.m30' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi1h']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi1h')">{{'generic.h1' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi4h']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi4h')">{{'generic.h4' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi6h']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi6h')">{{'generic.h6' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi12h']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi12h')">{{'generic.h12' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == [rsiType+'.rsi1d']"></span>
                                        <span style="cursor: pointer;"
                                            (click)="secondLevelSort('rsi1d')">{{'generic.d' | translate}}</span>
                                    </th>
                                    <!-- <th class="volume">
                                        <span class="sortingDown" *ngIf="orderByField === 'v'"></span>
                                        <span style="cursor: pointer;"
                                            (click)="sortByField('v')">{{'generic.volume' | translate}}</span>
                                    </th> -->
                                    <th class="text-right">
                                        <span class="sortingDown" *ngIf="orderByField === 'pm'"></span>
                                        <span style="cursor: pointer;"
                                            (click)="sortByField('pm')">{{'rsi_scanner.d3_move' | translate}}</span>
                                    </th>
                                    <th class="text-right">
                                        <span class="sortingDown" *ngIf="orderByField === 'fm'"></span>
                                        <span style="cursor: pointer;"
                                            (click)="sortByField('fm')">{{'generic.live_fibo' | translate}}</span>
                                    </th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody *ngIf="rsiStats.length == 0 && showWatchlistError == true">
                                <tr>
                                  <td colspan="13" style="text-align: center;">
                                    <div style="color:#fff;padding-top: 40px;">
                                      <img src="assets/images/newicons/empty-watchlist.svg" alt=""><br>
                                      <div class="noWatchlistFound">
                                        <span>You have no assets on the watchlist.</span> <br>
                                        <span>Create your watchlist using the <img class="noWatchlistStar" src="../../assets/images/newicons/watchlist-unfilled.svg" alt=""> icon</span><br>
                                        <span>to track assets you are interested in.</span> <br>
                                      </div>
                                      <span (click)="watchlistPressedAll()" class="goToAllAssets">Go back to the all assets</span>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            <tbody *ngIf="rsiStats.length == 0 && showWatchlistError == false">
                                    <tr *ngFor="let item of [].constructor(20); let i = index">
                                        <td *ngFor="let tditem of [].constructor(13); let tdi = index">
                                          <p class="animated-background" [ngClass]="checkClass(tdi)"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            <tbody *ngIf="rsiStats.length > 0" style="color:#fff">
                                <tr
                                    *ngFor="let item of rsiStats | orderBy: orderByField: reverseSort | filterby: selectedPair; let i = index">
                                    <td [class.borderRight]="commonservice.isMobile" class="fixed-side">
                                        <div class="coin" style="padding-left: unset !important;">
                                            <img *ngIf="!commonservice.isMobile" class="pair-icons" src="assets/images/newsvg/{{item.i}}.svg">
                                            <span class="popup-btn fixstarmlvl fixstarrsi" *ngIf="commonservice.isMobile && isWatched(item.n)" (click)="addToWatchlistrsi(item.n)">
                                                    <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-filled.svg">
                                              </span>
                                              <span class="popup-btn fixstarmlvl fixstarrsi" *ngIf="commonservice.isMobile && !isWatched(item.n)" (click)="addToWatchlistrsi(item.n)">
                                                    <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-unfilled.svg">
                                              </span>
                                            <span *ngIf="!commonservice.isMobile">{{item.n}}</span>
                                            <span style="font-size:12px;"
                                                *ngIf="commonservice.isMobile">{{item.n}}</span>
                                        </div>
                                    <span class="priceBelow" *ngIf="item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</span>
                                    <span class="priceBelow" *ngIf="!item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</span>
                                    </td>
                                    <td class="priceHideShow usd_price text-right" *ngIf="item.cp.toString().includes('e')">
                                        {{item.cp | number:'1.0-8'}}</td>
                                    <td class="priceHideShow usd_price text-right" *ngIf="!item.cp.toString().includes('e')">{{item.cp}}</td>
                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi5m)">{{item.rsi7.rsi5m | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi5m)">{{item.rsi14.rsi5m | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi15m)">{{item.rsi7.rsi15m | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi15m)">{{item.rsi14.rsi15m | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi30m)">{{item.rsi7.rsi30m | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi30m)">{{item.rsi14.rsi30m | number:'1.0-2'}}</span>
                                    </td>

                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi1h)">{{item.rsi7.rsi1h | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi1h)">{{item.rsi14.rsi1h | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi4h)">{{item.rsi7.rsi4h | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi4h)">{{item.rsi14.rsi4h | number:'1.0-2'}}</span>
                                    </td>

                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi6h)">{{item.rsi7.rsi6h | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi6h)">{{item.rsi14.rsi6h | number:'1.0-2'}}</span>
                                    </td>

                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi12h)">{{item.rsi7.rsi12h | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi12h)">{{item.rsi14.rsi12h | number:'1.0-2'}}</span>
                                    </td>

                                    <td class="" *ngIf="rsiType == 'rsi7'"><span
                                            [ngClass]="rsiClass(item.rsi7.rsi1d)">{{item.rsi7.rsi1d | number:'1.0-2'}}</span>
                                    </td>
                                    <td class="" *ngIf="rsiType == 'rsi14'"><span
                                            [ngClass]="rsiClass(item.rsi14.rsi1d)">{{item.rsi14.rsi1d | number:'1.0-2'}}</span>
                                    </td>
                                    <!-- <td class="volume">{{item.v | number:'1.0-0'}}</td> -->
                                    <td class="text-right">
                                        <span [ngClass]="peakMoveClass(item.pm)">{{item.pm | number:'1.0-2'}}%</span>
                                    </td>
                                    <td class="popup">
                                        <span [ngClass]="checkOval(item.fm)">{{item.fm | number:'1.0-2'}}%</span>
                                    </td>
                                    <td>
                                            <div class="dropdown popup-btn" *ngIf="isWatched(item.n)"
                                            (click)="addToWatchlistrsi(item.n)">
                                            <div class="dropbtn star">
                                                <img src="../../assets/images/newicons/watchlist-filled.svg">
                                            </div>
                                        </div>

                                        <div class="dropdown popup-btn" *ngIf="!isWatched(item.n)"
                                            (click)="addToWatchlistrsi(item.n)">
                                            <div class="dropbtn star">
                                                <img src="../../assets/images/newicons/watchlist-unfilled.svg">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--dropdown menu-->
                <div class="fixedfooterfilters" *ngIf="commonservice.isMobile">
                    <label style="margin-right: 5px;">
                        <select class="footSelect" (change)="watchlistPressed()">
                            <option value="" [selected]="!isWatchlistActive">{{'generic.show_all' | translate}}</option>
                            <option value="" [selected]="isWatchlistActive">{{'generic.watch_list' | translate}}
                            </option>
                        </select>
                    </label>
                    <label style="margin-right: 5px;">
                        <select class="footSelect" (change)="changePair($event.target.value)">
                            <option value="ALL" [selected]="selectedPair == 'ALL'">
                                {{'generic.coin_all' | translate}}</option>
                            <option value="USDT" [selected]="selectedPair == 'USDT'">
                                {{'generic.coin_USDT' | translate}}</option>
                            <option value="BTC" [selected]="selectedPair == 'BTC'">
                                {{'generic.coin_btc' | translate}}</option>
                            <option value="ETH" [selected]="selectedPair == 'ETH'">
                                {{'generic.coin_ETH' | translate}}</option>
                        </select>
                    </label>
                    <label style="margin-right: 5px;">
                        <select class="footSelect" (change)="changeType($event.target.value)">
                            <option value="Binance" selected>{{'generic.binance' | translate}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <!-- <app-footer [className]="commonservice.isMobile ? 'is_mobile' : 'is_desktop'"></app-footer> -->
        <!--end-->
    </div>
</div>
<ng-template #infomodel let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="spaceBW pltbr10">
            <span style="font-size: 20px;">Legend</span>
            <span class="closespan" (click)="c()" aria-hidden="true">&times;</span>
        </div>
        <app-scanner></app-scanner>
    </div>
</ng-template>