<div class="spaceBW pltbr10">
    <div style="width:46%;">
        <!------------------------ first left div ------------------------------>
        <!-- Trend Scanner -->
        <div class="blocks">
        <div [innerHTML]="getHead('Trend Scanner')"></div>
        <div [innerHTML]="getHtmlData('oval.svg','Sideways / No trend data',true)"></div>
        <div [innerHTML]="getHtmlData('triangle-copy-5.svg','Sideways with bearish tone',true)"></div>
        <div [innerHTML]="getHtmlData('triangle-copy-2.svg','Strong downtrend',true)"></div>
        <div [innerHTML]="getHtmlData('triangle-copy-4.svg','Sideways with bullish tone',true)"></div>
        <div [innerHTML]="getHtmlData('triangle-copy-3.svg','Strong uptrend',true)"></div>
        </div>
        <!-- RSI scanner -->
        <div class="blocks">
        <div [innerHTML]="getHead('RSI Scanner')"></div>
        <div [innerHTML]="getHtmlData('RSI','Relative strength index',false)"></div>
        <div [innerHTML]="getHtmlData('<p class=uptrendGreen>18.22</p>','RSI Oversold. Depending on the settings eihter under 30 or 15',false)"></div>
        <div [innerHTML]="getHtmlData('<p class=downtrend_grad_red>78.22</p>','RSI Overbought. Depending on the settings eihter above 70 or 85',false)"></div>
        <div [innerHTML]="getHtmlData('3D Move','Peak move in the last 72 hours on either side (gain or loss)',false)"></div>
        </div>

        <!-- Moving Average Crossovers -->
        <div class="blocks">
        <div [innerHTML]="getHead('Fibonacci Distance Tracker')"></div>
        <div [innerHTML]="getHtmlData('Fib %','Fibonacci Retracement level distance from current price',false)"></div>
        <div [innerHTML]="getHtmlData('Daily 10/20 MA Cross','Shows the last time when the 10/20 MAs crossed on the daily timeframe; <span class=uptrend_green_text>+</span> indicates the upside cross, while <span class=downtrend_red_text>-</span> indicates downside cross.',false)"></div>
        </div>

        <!-- Fibonacci Distance Tracker -->
        <div class="blocks">
        <div [innerHTML]="getHead('Moving Average Crossovers')"></div>
        <div [innerHTML]="getHtmlData('7/26 MA','Current price distance from the price since the MAs crossed',false)"></div>
        <div [innerHTML]="getHtmlData('7/26 Cross','Last time MAs crossed on the selected timeframe.<br><br><b>Example</b><br>Selected timeframe:4H<br>7/26 Cross:<span class=downtrend_red_text> -8</span><br><br>This means that the MAs crossed to the downside on the 4H timeframe 8 candles (32 hours) ago',false)"></div>
        </div>

    </div>
    <div style="width:46%;">
        <!------------------------ first right div ------------------------------>
        
        
        <!-- Trend Scanner Fibonacci Levels -->
        <div class="blocks">
        <div [innerHTML]="getHead('Trend Scanner Fibonacci Levels')"></div>
        <div [innerHTML]="getHtmlData('Max. Gain','Maximum gain from bottom to top in selected timeframe',false)"></div>
        <div [innerHTML]="getHtmlData('Max. Loss','Maximum loss from bottom to top in selected timeframe',false)"></div>
        <div [innerHTML]="getHtmlData('Fib. level','Fibonacci Retracement level from the gain or loss',false)"></div>
        <div [innerHTML]="getHtmlData('<p class=fib_382__grad_teal>38.2%</p>','Fibonacci level between 23.6% and 50%',false)"></div>
        <div [innerHTML]="getHtmlData('<p class=fib_618_grad_pink>61.8%</p>','Fibonacci level between 50% and 78.6%',false)"></div>
        </div>

        <!-- Volume Scanner -->
        <div class="blocks">
        <div [innerHTML]="getHead('Volume Scanner')"></div>
        <div [innerHTML]="getHtmlData('Liq. index','Liquidity index. Daily volume traded on the exchange / market cap',false)"></div>
        <div [innerHTML]="getHtmlData('1D x/-','Last 24 hours real time volume change in percentage versus 24 hour prior to that',false)"></div>
        <div [innerHTML]="getHtmlData('3D x/-','Last 24 hours real time volume change in percentage versus an average daily volume for prior for 3 days',false)"></div>
        <div [innerHTML]="getHtmlData('7D x/-','Last 24 hours real time volume change in percentage versus an average daily volume for prior for 7 days',false)"></div>
        <div [innerHTML]="getHtmlData('3D Move','Peak move in the last 72 hours on either side (gain or loss)',false)"></div>
        </div>
        
        <!-- Volume Scanner -->
        <div class="blocks">
        <div [innerHTML]="getHead('Moving Average Distance Tracker')"></div>
        <div [innerHTML]="getHtmlData('EMA 7','EMA 7 distance from current price',false)"></div>
        <div [innerHTML]="getHtmlData('7 Cross','Last time price candle crossed the MA on the selected timeframe.<br><br><b>Example</b><br>Selected timeframe:4H<br>7 Cross: <span class=uptrend_green_text>+8</span><br><br>This means that the price crossed the EMA 7 to the upside on the 4H timeframe 8 candles (32 hours) ago',false)"></div>
        <div [innerHTML]="getHtmlData('Trend','Trend on the selected timeframe',false)"></div>
        <div [innerHTML]="getHtmlData('Trend Strength','Trend strength on the selected timeframe',false)"></div>
        </div>
    </div>
</div>