<div class="form-body without-side">
  <div class="website-logo">
    <a href="index.html">
      <div class="logo">
        <img class="logo-size" src="./assets/images/logo.svg" alt="">

      </div>
    </a>
  </div>
  <div class="row">
    <div class="img-holder">
      <div class="bg"></div>
    </div>
    <div class="form-holder">
      <div class="form-content">
        <button id="submit" type="submit" class="ibtn" (click)="openEnglish()">Go to English Website</button>
        <button id="submit" type="submit" class="ibtn" (click)="openArabic()">اذهب الى العربية</button>
      </div>
    </div>
  </div>
</div>