<section id='chat' [ngClass]="commonservice.navShow ? 'chat' : 'chat1'">
  <div class="container parent">
    <div class="row">


      <div *ngIf="commonservice.isMobile || commonservice.isTablet" class="Rectangle-Copy-6 position-sticky">
        <a (click)="visible = !visible"> <span *ngIf="selectedGroup"
            class="header-title">{{ selectedGroup?.groupname }}</span>
          <span class='px-2'>
            <i _ngcontent-c6="" *ngIf="!visible" aria-hidden="true" class="fa fa-angle-down" for="catTitle"></i>
            <i _ngcontent-c6="" *ngIf="visible" aria-hidden="true" class="fa fa-angle-up" for="catTitle"></i>
          </span>
          <!-- <span class='float-right'><img src="/assets/icon/chevron-down.svg"></span> -->
        </a>
      </div>





      <div *ngIf="visible" [className]="(commonservice.isMobile || commonservice.isTablet) ? 'col-xs-12 col-sm-12 bg chat-slide' : 'col-md-3 bg chat-slide'">
        <span *ngIf="!commonservice.isMobile && !commonservice.isTablet" class="chat py-3">Chat</span>

       


        <div *ngFor="let categorydata of CategoryList; let i = index" id='catTitle' [className]="(i==0) ? 'first Sub-menu' : 'Sub-menu'">
          <div class="chat-menu" (click)="openClose(categorydata.key)">
            <span>{{ categorydata.name }} </span>
            
            <span *ngIf="checkCatUnread(categorydata)" class="count"></span>
            <div *ngIf="isOpen(categorydata.key)"  class="plus">
              <i class="fa fa-angle-up" for='catTitle' aria-hidden="true"></i>
            </div>
            <div *ngIf="!isOpen(categorydata.key)"  class="plus">
              <i class="fa fa-angle-down" for='catTitle' aria-hidden="true"></i>
            </div>

          </div>       

          <diV [className]="isOpen(categorydata.key) ? 'groupsection groupopen' : 'groupsection groupclose'">
            <div *ngFor="let groupData of categorydata.groups"
              [className]="isSelected(groupData) ? 'detail-section gSelected' : 'detail-section'"
              (click)="selectGroup(groupData)">

              <div class="name"><span *ngIf="checkUnread(groupData)" class="count"></span> {{ groupData.groupname }}
              </div>
              <div class="time">{{ groupData.lasttimestamp | date:'shortTime' }}</div>
            </div>
          </diV>


        </div>

      </div>

      <div [ngClass]="(commonservice.isMobile || commonservice.isTablet) ? 'col-sm-12 bg col-xs-12': 'col-sm-9 col-md-9 col-xs-12 bg m-mainchat'" *ngIf="(!visible && commonservice.isMobile) || (!commonservice.isMobile)">
        <div class="mobile_chat" [className]="isChatOpen ? 'mobile_chat is_chat_open' : 'mobile_chat'">
          <div>
           
            <div *ngIf="!commonservice.isMobile && !commonservice.isTablet" class="header-section">

              <div *ngIf="selectedGroup" class="header-title">{{ selectedGroup.groupname }}</div>
              <div class="header-popup-img"></div>
            </div>
          
            <div class="msg-flow">
              <span *ngIf="moveTobuttom" (click)="scrollToBottom()" class="move_to_bottom">
                
              </span>
              
              <div *ngIf="groupMessages.length > 0" #scroller id="chatmain" class="chat-main" detect-scroll
                (onScroll)="handleScroll($event)" [bottomOffset]="1" [topOffset]="1">
                <div class="text-center chat_loader" *ngIf="isChatLoader">
                  <img class="rotateRefresh" src="assets/icon/loader-dark.png" width="20" height="20">
                  <span class='loaging' style="position: relative;top: 2px;left: 5px;"> Loading Messages...</span>
                </div>
                <div class="chat-date-time">&nbsp;</div>
                <div *ngFor="let message of groupMessages" [attr.id]="'message_section' + message.key"
                  [className]="isMyMessage(message.sentby) ? ' chat-recevie-section' : 'chat-recevie-section'">
                  <div [className]="isMyMessage(message.sentby) ? 'receive-user ' : 'receive-user'">
                    <div  class="img-with-name">

                      <div class="receiver-img">
                        <div class="ACon">
                          <div class="Profile">
                           <div *ngIf="!isMyMessage(message.sentby)" [ngStyle]="{'background-color': message.color}" class="Img">

                              <h3 >{{ message.initial }}</h3>
                              
                            </div>
                            <div  *ngIf='isMyMessage(message.sentby)' [ngStyle]="{'background-color': '#0062ff'}" class="Img">
                              <h3 >Y</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                     <div [ngStyle]="{'color': message.color}" class="rece-name">
                       <span *ngIf="!isMyMessage(message.sentby)"> {{ message.username }} </span>
                       <span *ngIf="isMyMessage(message.sentby)" [ngStyle]="{'color': '#0062ff'}"> You </span>
                      <span class="msg-time" *ngIf="message.timestamp">{{ message.timestamp  | fbTimeFormat:"chat" }}</span>
                      
                      <span   (click)="reply(message)" *ngIf="selectedGroupInfo.length > 0 && selectedGroupInfo[0].isPublic" class="hisreply" [className]="commonservice.isMobile ? 'hisreply' : 'hisreply hide_reply'"><a>
                          <img *ngIf="userService.night" src="../../assets/icon/rep.png" height="20" width="18" />
                          <img *ngIf="!userService.night" src="../../assets/icon/rep1.png" height="20" width="18" />

                        </a>
                      </span>
                    </div>
                    </div>
                    <div *ngIf="!message.is_image"
                      [className]="isMyMessage(message.sentby) ? 'send-user rece-user' : 'send-user rece-user'">                    
                      <p *ngIf="!message.isReply" [innerHTML]="linkify(message.message) | nl2br"
                        dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'"
                        [class.messageAlign]="('dir' | translate) === 'rtl'"></p>

                      <!-- <div class="chat-details">
                        <div *ngIf="message.isReply"
                          [className]="message.isReplyOfMsgImg ? 'reply-msg-section haveimage' : 'reply-msg-section'">                         
                          <div *ngIf="!message.isReplyOfMsgImg" class="reply-msg"><span class="reply_name">{{ message.repliedMsgUsrName }}</span>{{ message.repliedMsgUsrMsg }}</div>
                          <div *ngIf="message.isReplyOfMsgImg"
                            [ngStyle]="{'background-image':'url('+message.repliedMsgUsrMsg+')'}"
                            class="send-user rece-user image-message forYouReplied"></div>


                          
                        </div>
                        <p *ngIf="message.isReply" [innerHTML]="linkify(message.message) | nl2br"></p>
                      
                      </div> -->

                      <div class="chat-details">
                          <div class="reply-msg-section-p">
                          <div *ngIf="message.isReply"
                          [className]="message.isReplyOfMsgImg ? 'reply-msg-section haveimage' : 'reply-msg-section'">
                          <div *ngIf="!message.isReplyOfMsgImg" class="reply-msg"><span class="reply_name">{{ message.repliedMsgUsrName }}</span>{{ message.repliedMsgUsrMsg }}</div>
                          <div *ngIf="message.isReplyOfMsgImg"
                          [ngStyle]="{'background-image':'url('+message.repliedMsgUsrMsg+')'}"
                          class="send-user rece-user image-message forYouReplied"></div>
                          <div *ngIf="message.isReplyOfMsgImg" class="reply-msg"><span class="reply_name">{{ message.repliedMsgUsrName }}</span>Photo</div>
                          </div>
                          </div>
                          <p *ngIf="message.isReply" [innerHTML]="linkify(message.message) | nl2br"></p>
                          </div>




                    </div>
                    <div *ngIf="message.is_image && !message.is_dummyimage" class="send-user rece-user">
                      
                      <div (click)="imagepopup($event, imagepopupModal, message.message)"
                        [ngStyle]="{'background-image':'url('+message.message+')'}"
                        [className]="isMyMessage(message.sentby) ? ' image-message forYou' : ' image-message imageMsgForHim'">
                      </div>
                    </div>

                    <div *ngIf="message.is_image && message.is_dummyimage"
                      [ngStyle]="{'background-image':'url('+message.message+')'}"
                      [className]="isMyMessage(message.sentby) ? 'send-user rece-user image-message' : 'send-user rece-user image-message'">
                      <span class="pre_loader">
                        <img src="../../assets/images/rolling.gif" class="image_upload" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="groupMessages.length == 0 && !loader" id="chatmain" class="chat-main">
                <div class="no-chat-messages">{{'chat.no_messages' | translate}}</div>
              </div>
              <div *ngIf="groupMessages.length == 0 && loader" id="chatmain" class="chat-main" style="display: table;width: 100%;">
                <div class="col-lg-12 col-md-12 col-xs-12 text-center" style="position:relative;display:table-cell;vertical-align:middle;">
                  <p><img class="rotateRefresh" src="assets/icon/loading-large.png" height="70" width="70"></p>
                  <span class='loaging'> Loading Messages...</span>
                </div>
              </div>
            </div>


            <div *ngIf="replyTempActive" id="reply_popup" class="sendReplyBack reply_popup">
              <span class="closePop" (click)="colseReply()">
                <img *ngIf="userService.night" src="../../assets/icon/close.png">
                <img *ngIf="!userService.night" src="../../assets/icon/close1.png">

              </span>
              <div [ngStyle]="{'color': '#bebebe'}" *ngIf="!tempReplyDetail[0].is_image" class="reply-name">
                {{ tempReplyDetail[0].username }}
              </div>
             
              <div *ngIf="!tempReplyDetail[0].is_image" class="reply-msg">{{ tempReplyDetail[0].message }} </div>
              <div *ngIf="tempReplyDetail[0].is_image"
                [ngStyle]="{'background-image':'url('+tempReplyDetail[0].message+')'}" class="reply-msg image-message imageReply">
              </div>
            </div>

            <div [className]="isEmojes ? 'mts-emoji-picker active' : 'mts-emoji-picker inactive'">
              <emoji-mart [isNative]="native" [set]="set" title="Pick your emoji…" (emojiSelect)="addEmoji($event)"
                emoji="point_up"></emoji-mart>
            </div>

            <div *ngIf="selectedGroupInfo.length > 0 && selectedGroupInfo[0].isPublic || isAdmin" class="container type-msg"
              [class.arabic]="('dir' | translate) === 'rtl'">

             
              <div class="chat_footer_read">
                <span class="upload-image-span" [class.arabic]="('dir' | translate) === 'rtl'">
                  <input (change)="detectFiles($event)" id="im" type="file" accept="image/*">
                  <label for="im">
                      <i class="fa fa-picture-o" aria-hidden="true"></i>
                   
                  </label>
                </span>
                <span class="smile-face-span" (click)="emojiPickerOpen()"
                  [class.arabic]="('dir' | translate) === 'rtl'">
                 
                  <i class="fa fa-smile-o" aria-hidden="true"></i>
                
                </span>
                <textarea class="next-textarea form_control" [(ngModel)]="message" (keydown)="handleSubmit($event)"
                  type="text" name="search" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'"
                  [class.arabictextarea]="('dir' | translate) === 'rtl'" rows=1
                  placeholder="{{'chat.type_message' | translate}}">
              </textarea>

                <button [disabled]="!message" (click)="send()"  [ngClass]="(message) ? 'attach': 'attach disabled'" class="attach"
                  [class.arabic]="('dir' | translate) === 'rtl'">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                </button>

              </div>
            </div>




            <div *ngIf="selectedGroupInfo.length > 0 && !selectedGroupInfo[0].isPublic && !isAdmin" class="container type-msg "
              [class.arabic]="('dir' | translate) === 'rtl'">

              <div class="chat-footer read_only_chat">
                  <span class="locked_icon">
                    <img *ngIf="userService.night" src="../../assets/images/lock.svg" />
                    <img  *ngIf="!userService.night" src="../../assets/icon/lock.png" />
                  </span>
                  <span class="locked_text">Channel is read-only</span>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<ng-template #imagepopupModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close" (click)="c()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="full-img">
       <!-- <button type="button" class="close" aria-label="Close" (click)="c()"></button> -->
      <img [src]="popupImagae" />
    </div>
  </div>
</ng-template>
