#chat.chat1 {
  width: 95%;
  margin-left: 4%;
}
#chat.chat {
  width: 78%;
  margin-left: 20%;
}
header {
  background: #13a288;
  height: 50px;
  position: relative;
  width: 100%;
}
.logo {
  padding: 0px 0 0px 32px;
  background: rgba(0, 0, 0, 0.16);
}
.logo img {
  height: 50px;
}
.ACon {
  position: absolute;
  right: 0;
  padding-right: 35px;
  top: 9px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Profile {
  text-align: center;
}
.ACon .Img {
  cursor: pointer;
  line-height: 32px;
  display: block;
  background-color: #d09657;
  border-radius: 100%;
  opacity: 0.746789;
  align-items: center;
  width: 32px;
  height: 32px;
}
.Img h3 {
  font-family: "IBM Plex Sans";
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  line-height: 34px;
  z-index: 99999;
  margin-bottom: 0;
}
span.name {
  font-family: "IBM Plex Sans";
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
  padding-left: 12px;
  padding-top: 2px;
}
aside.main-sidebar {
  background-color: #13a288;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11111;
}
section.sidebar {
  overflow-y: auto;
  background-color: #282b33;
  width: 100%;
  display: flex;
  height: calc(100vh - 50px);
}
.user-panel {
  overflow: hidden;
  border-bottom: 1px solid #373c48;
  padding: 15px 0;
  width: 100%;
  height: 85px;
}
.Img1 {
  cursor: pointer;
  line-height: 50px;
  display: flex;
  align-items: center;
  background-color: #d09657;
  border-radius: 100%;
  opacity: 0.746789;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.Img1 h3 {
  font-family: "IBM Plex Sans";
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  padding-left: 10px;
  margin-bottom: 0;
}
span.name1 {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;
}
span.name1 {
  width: 70%;
  float: left;
}
.Profile1 {
  width: 30%;
  float: left;
}
.ACon1 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.online {
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  color: #fff;
  font-family: "IBM Plex Sans";
  padding-top: 3px;
}
i.fa.fa-circle.text-success {
  color: #13a288 !important;
  border-radius: 100%;
  opacity: 0.500715;
  width: 7px;
  height: 7px;
  margin-right: 5px;
}
.middle-section {
  background: #373c48;
  overflow: hidden;
  height: 100vh;
}
.page-name {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  text-align: left;
  font-family: "IBM Plex Sans";
  padding: 24px;
}
span.breadcums {
  font-size: 14px;
  font-weight: normal;
  line-height: 29px;
  color: #fff;
  float: right;
  position: relative;
  font-family: "IBM Plex Sans";
  left: 13px;
}
.search-section {
  width: calc(33% - 48px);
  float: left;
  margin-left: 24px;
  margin-right: 24px;
}
.search_box input.form_control {
  width: 100%;
  background: transparent;
  border: 0;
  background-color: #282b33;
  border-radius: 3px;
  padding: 10px 0px 10px 35px;
  background-image: url("../../assets/images/search.svg");
  background-position: 14px 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 46px;
  color: #fff;
}
.search_box {
  margin-bottom: 12px;
}
.premium-section {
  background-color: #282b33;
  border-radius: 3px;
  margin-bottom: 12px;
}
.title {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  font-family: "IBM Plex Sans";
  padding: 12px;
  border-bottom: 1px solid #373c48;
}
.detail-section {
  position: relative;
  padding: 10px 12px;
  padding-left: 40px;
  margin: 0 -15px 0 -15px;
  // border-bottom: 1px solid #373C48;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.name {
  color: #bebebe;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.16px;
  font-family: "IBM Plex Sans";
}
.gSelected .name {
  color: #f3f3f3;
  font-size: 14px;
  // font-weight: bolder;
}
.time {
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 0.11px;
  color: #6f6f6f;
  text-align: right;
  font-family: "IBM Plex Sans";
  position: absolute;
  right: 12px;
}
.you {
  font-size: 16px;
  font-weight: normal;
  color: #9b9b9b;
  font-family: "IBM Plex Sans";
}

.detail-section:hover .time {
  color: #fff;
}

.groupsection {
  transition: all 0s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}
.groupclose {
  transform: scaleY(0);
  height: 0;
}

.groupopen {
  transform: scaleY(1);
}

.groupclose .detail-section {
  padding: 0px;
  border-bottom: 0px;
}

.groupclose .detail-section .name,
.groupclose .detail-section .time {
  font-size: 0;
  line-height: 0px;
}

.groupclose .detail-section span.count {
  height: 0;
}
.hide {
  display: none;
  height: 0px;
}

span.count {
  background-color: #6ba4ff;
  border-radius: 50%;
  color: #bebebe;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.16px;
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-top: 2px;
  margin-right: 5px;
  margin-left: -18px;
}
.chat-section {
  width: calc(67% - 24px);
  background-color: #282b33;
  float: left;
  border-radius: 3px 3px 0 0;
}
.header-section {
  display: flex;
  padding: 18px;
  border-bottom: 1px solid #373c48;
  align-items: center;
  background: #3d3d3d;
  // margin-left: -15px;
  // margin-right: -15px;
  color: #bebebe;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.header-img img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.header-title {
  font-family: "IBM Plex Sans";
  color: #bebebe;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  width: calc(100% - 0px);
}
// .header-popup-img {
//   background: url("../../assets/images/more.svg");
//   background-position: 50%;
//   background-repeat: no-repeat;
//   width: 22px;
//   height: 22px;
//   background-size: contain;
//   cursor: pointer;
// }
.chat-date-time {
  font-family: "IBM Plex Sans";
  padding: 15px 0 0px 0;
  color: #9b9b9b;
  font-size: 0px;
  font-weight: normal;
  line-height: 0px;
  text-align: center;
}
.no-chat-messages {
  font-family: "IBM Plex Sans";
  padding: 0;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: normal;
  line-height: calc(100vh - 237px);
  text-align: center;
  height: calc(100vh - 237px);
}
.chat-send-section {
  // margin-left: 61px;
}
.send-user {
  // background-color: #24ABB0;
  // border-radius: 12px;
  width: 100%;
  // height: auto;
  max-width: calc(100% - 107px);
  margin-bottom: 15px;
  margin-right: 18px;
  display: inline-block;
  overflow: hidden;
  // border-bottom: 1px solid #3d3d3d;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
span.reply {
  padding-left: 12px;
  float: right;
  position: relative;
  bottom: 25px;
}
.send-user p {
  font-family: "IBM Plex Sans";
  margin-bottom: 0;
  // padding: 12px 12px 0 12px;
  padding-bottom: 0;
  color: #f3f3f3;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.16px;
  line-height: 1.43;
  margin-top: 5px;
}

.chat-details {
  text-align: left;
  padding-bottom: 2px;
  position: relative;
}
span.reply a {
  color: #6ba4ff;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  font-family: "IBM Plex Sans";
}
span.msg-time {
  color: #6f6f6f;
  font-size: 12px;
  font-family: "IBM Plex Sans";
  font-weight: normal;
  line-height: 14px;
  text-align: left;
  padding: 0 12px 5px 12px;
}
.user.odd {
  max-width: 100%;
  height: auto;
  margin-right: 18px;
  width: calc(100% - 330px);
  margin-left: 50px;
  margin-bottom: 15px;
}
.user.odd img {
  width: 100%;
  border-radius: 12px;
}
.chat-recevie-section {
  margin-left: 24px;
  margin-right: 24px;
  width: auto;
  max-width: 100%;
  border-bottom: 1px solid #3d3d3d;
  margin-top: 15px;
}
.img-with-name {
  display: flex;
  position: relative;
}
.receiver-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
.receiver-img .ACon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 0px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rece-name {
  color: #09acf8;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: normal;
  // line-height: 14px;
  padding-left: 8px;
  height: 15px;
}
.you {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: normal;
}
.send-user.rece-user {
  // background-color: #373C48;
  max-width: calc(100% - 78px);
  margin-left: 45px;
  margin-top: -15px;
}
.send-user .send-user.rece-user {
  border-bottom: 0;
}
.send-user.rece-user p {
  color: #f3f3f3 !important;
}
.send-user.rece-user .chat-details span.reply a {
  color: #6ba4ff;
}
.send-user.rece-user .chat-details span.msg-time {
  color: #6f6f6f;
}
.type-msg {
  background: #3d3d3d;
  width: 100%;
  line-height: 1;
  padding-top: 10px;
  border-top: 1px solid #8c8c8c;
}
.chat-footer {
  position: relative;
  // min-height: 50px;
  max-height: 100px;
  margin-right: -30px;
  bottom: 0;
}
.next-textarea {
  background: #3d3d3d;
  border: none;
  width: 88%;
  resize: none;
  vertical-align: -webkit-baseline-middle;
  color: #f3f3f3;
  height: 26px;
  padding-top: 2px;
  padding-left: 8px;
  font-size: 14px;
  max-height: 74px;
  // overflow-y:scroll;
  padding-left: 60px;
}

// .type-msg .form_control {
//   height: auto;
//   background: #3d3d3d;
//   line-height: 1.5;
//   border: 0;
//   width: 100%;
//   padding-left: 59px;
//   padding-top: 13px;
//   color: #f3f3f3;
//   font-size: 14px;
//   padding-right: 80px;
//   margin-left: -15px;
// }

.type-msg.arabic .form_control {
  padding-left: 10pc; /*arabic change*/
  padding-right: 0.5pc; /*arabic change*/
}

span.smile {
  position: absolute;
  bottom: 28px;
  left: 15px;
  cursor: pointer;
}

span.smile.arabic {
  left: 113px; /*arabic change*/
  width: 50px;
}

span.clip {
  position: absolute;
  bottom: 20px;
  left: -28px;
  cursor: pointer;
}

span.clip.arabic {
  left: 60px; /*arabic change*/
  width: 50px;
}

span.clip label {
  cursor: pointer;
}

button.attach {
  bottom: 10px !important;
  position: absolute;
  right: 0px !important;
  background: transparent;
  border: none;
  // width: 6%;
  padding: unset;
}

button.attach.arabic {
  left: 17px !important; /*arabic change*/
  right: unset !important;
}

button.attach:disabled {
  opacity: 0.7;
}
.attach img {
  // width: 16px;
  height: 16px;
}
.chat-footer span img {
  // width: 14px;
  height: 14px;
}

.chat-slide {
  height: calc(100vh - 57px);
  position: relative;
  overflow-y: auto;
}

.next-textarea::-webkit-scrollbar,
.chat-slide::-webkit-scrollbar,
.all-listing::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.next-textarea::-webkit-scrollbar-thumb,
.chat-slide::-webkit-scrollbar-thumb,
.all-listing::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  outline: 0;
}
.next-textarea::-webkit-scrollbar-track,
.chat-slide::-webkit-scrollbar-track,
.all-listing::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*chat scroll*/
.chat-main {
  overflow-y: auto;
  height: calc(100vh - 160px);
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
.sidebar {
  float: left;
  height: 100vh;
}
.chat-main::-webkit-scrollbar,
.all-listing::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.chat-main::-webkit-scrollbar-thumb,
.all-listing::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  outline: 0;
}
.chat-main::-webkit-scrollbar-track,
.all-listing::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.all-listing {
  height: calc(100vh - 127px);
  overflow-y: auto;
}
.premium-section:last-child {
  margin-bottom: 0;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}
span.breadcums-icon {
  float: right;
  position: relative;
  right: 130px;
  bottom: 4px;
  height: 18px;
}
.navbar img {
  cursor: pointer;
}
.sidebar.navPopUp.open {
  display: none;
}
.sidebar.navPopUp.close {
  display: block;
  opacity: 1;
  width: 18.3%;
}
.clickPopUp h4 {
  background-color: #24abb0;
  margin: 0;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  padding: 20px;
  border-radius: 4px 4px 0 0px;
}
.clickPopUp {
  display: block;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 50px;
  margin-top: 0;
  border-radius: 20px;
  background-color: #272a32;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
  width: 250px;
}
.clickPopUp .buttons {
  background: transprent;
  padding: 20px;
  margin: 0;
  -webkit-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  -moz-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  color: #9b9b9b;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}
.clickPopUp:after {
  bottom: 100%;
  right: 155px;
  border: solid transparent;
  content: " ";
  height: 0;
  top: -14px;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(231, 76, 60, 0);
  border-bottom-color: #24abb0;
  border-width: 8px;
}
.clickPopUp.close {
  display: none;
}
.clickPopUp.open {
  display: block;
}
.clickPopUp .buttons:hover {
  background: #24abb0;
  border-left: 3px solid #f5a623;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
}
.clickPopUp a {
  text-decoration: none;
}
.minus,
.plus {
  float: right;
  margin-right: 5px;
}
.minus img,
.plus img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.listcontent.close {
  display: none;
}
.listcontent.open {
  display: block;
}
.detail-section.gSelected {
  background-color: #3d3d3d;
  border-left: 4px solid #0062ff;
  padding-left: 36px;
  color: #f3f3f3;
}
.chat-menu {
  margin: 12px 0;
  display: flex;
  line-height: 1;
  flex-direction: row;
  justify-content: space-between;
}
.detail-section.gSelected .time {
  color: #6f6f6f;
}

.detail-section.gSelected span.count {
  display: none;
}

.title.is-open-cat span.count {
  display: none;
}
/*error*/
.error-icon img {
  width: 40px;
  height: auto;
}
.error-icon h2 {
  color: #fff;
  font-size: 20px;
  padding-left: 45px;
  margin-bottom: 0;
  padding-top: 5px;
}
.error-content {
  height: 40px;
}
.error-content p {
  color: #fff;
  font-size: 13px;
  padding-left: 45px;
  padding-top: 6px;
  margin-bottom: 0;
  float: left;
}
button.resend-email {
  margin-bottom: 0;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  float: right;
  margin-right: 10px;
}
.error-icon {
  background-image: url("../../assets/images/error-icon.svg");
  background-repeat: no-repeat;
  background-position: 1% 6px;
  background-size: 24px;
}
.sidebarOpen .email-errormsg {
  width: 78.2% !important;
}

.email-errormsg {
  border: 1px solid #f5a623;
  border-radius: 4px;
  background: #f5a623;
  position: absolute;
  top: 53px;
  width: 96.4%;
}
i.fa.fa-close {
  float: right;
  padding-right: 10px;
  font-size: 15px;
  cursor: pointer;
}
input[type="file"] {
  // visibility: hidden;
  // width: 20px;
  display: none;
}

.loader-image {
  position: absolute;
  top: 0px;
  left: 45%;
  z-index: 111;
}
.move_to_bottom img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
span.move_to_bottom {
  position: absolute;
  bottom: 70px;
  right: 48px;
  z-index: 99;
}
.imageMsgForHim,
.image-message.forYou {
  // margin-left: 45px;
  // margin-top: -20px;
  margin: 15px 0;
}
.forYouReplied {
  margin: unset !important;
  width: 65px !important;
  height: 45px !important;
}
.forYou {
  // margin: unset !important;
}
.imageReply {
  width: 65px;
  height: 45px;
}
.image-message {
  background-size: cover !important;
  float: left;
  width: 356px;
  height: 200px;
  background-position: 50% 50% !important;
  position: relative;
  max-width: 100%;
}
.image-message .chat-details {
  position: absolute;
  right: 0;
  bottom: 0;
}
.send-user.rece-user.image-message .chat-details span.reply a {
  color: #fff;
}
.send-user.rece-user.image-message .chat-details span.msg-time {
  color: #6f6f6f;
}
.chat-send-section .send-user.rece-user {
  margin-top: 0;
  cursor: pointer;
}
.chat-send-section .send-user .image-message {
  background: transparent;
  max-width: 100%;
}
.chat-send-section .send-user {
  background: transparent;
  // margin-left:75px;
}
.myreply {
  // position: absolute;
  // right: 0;
  // top: -3px;
  // cursor: pointer;
}
.receive-user:hover .hide_reply {
  display: inline-block;
}
.receive-user .hide_reply {
  display: none;
}
.hisreply,
.myreply {
  // position: absolute;
  // right: 30px;
  // top: -6px;
  cursor: pointer;
  padding-left: 5px;
}
.hisreply img,
.myreply img {
  height: 20px;
  width: 20px;
  padding-bottom: 3px;
}

.send-user .send-user-message {
  position: relative;
  // background: #24ABB0;
  // border-radius: 12px;
  width: 100%;
  //width: auto;
  height: auto;
  display: inline-block;
  padding-left: unset;
  padding-bottom: 10px;
  // border-bottom: 1px solid  #3d3d3d ;
  // margin-bottom: 5px
}

.reply-msg-section-p{
  width: 100%;
  float: left;
  }


.chat-send-section .send-user.rece-user {
  margin-top: 0;
  cursor: pointer;
  margin-right: 18px;
  margin-left: 0;
  margin-bottom: 0;
}
/*reply msg css*/
.chat-section.is_reply .chat-main {
  height: calc(100vh - 100px);
}
.chat-section.is_reply span.move_to_bottom {
  bottom: 115px;
}
.haveimage .reply-msg-section{
  height: 45px;
}
.reply-msg-section {
  width: 90%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 8px 12px 8px 12px;
  background: #3d3d3d;
  position: relative;
  // min-height: 55px;
  border-left: 4px solid #0062ff;
  border-radius: unset;
}
.haveimage .reply-msg {
  padding: 13px;
  padding-left: 80px;
  }

.sendReplyBack {
  // background: #373C48;
  display: flex;
  padding: 8px 12px 8px 15px;
  position: absolute;
  bottom: 43px !important;
  width: 100%;
  background: #3d3d3d;
  min-height: 40px;
  border-left: 4px solid #0062ff;
  border-radius: unset;
  border-bottom: 2px solid #6f6f6f;
}
.closePop img {
  cursor: pointer;
  height: 10px;
  width: 10px;
}
.closePop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sendReplyBack .reply-name {
  padding-left: 29px;
  padding-right: 5px;
}
.reply-name {
  // color: #09acf8;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: left;
  padding-top: 3px;
}
.reply-msg {
  color: #f3f3f3;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding-top: 0px;
  padding-left: 10px;
  background-repeat: round;
}

.reply_popup .reply-msg {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.chat-details .reply-msg-section {
  // background: #282B33;
  // border-radius: 8px;
  margin: 8px 12px 8px 0px;
}
.chat-details .reply-msg-section .reply-msg {
  text-align: left;
}
.chat-details span.reply {
  cursor: pointer;
}
.reply-msg-section span.close {
  position: absolute;
  left: 12px;
  top: 2px;
  cursor: pointer;
}

.mts-emoji-picker {
  position: fixed;
  bottom: 95px;
  //   right: 24px;
}
.mts-emoji-picker.inactive {
  display: none;
}

.mts-emoji-picker.active {
  display: block;
}

span.pre_loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

img.image_upload {
  margin-top: 25%;
  margin-left: 43%;
}

.image-message {
  cursor: pointer;
}

.reply-msg.image-message {
  width: 106px;
  height: 60px;
  margin-left: 30px;
}

.image-camicon img {
  width: 15px;
  vertical-align: top;
  margin-right: 2px;
}

.image-camicon {
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
}

.reply-msg-section.haveimage {
  padding: 0px;
  line-height: 0px;
}
.m-mainchat {
  padding: 0;
  max-width: 74%;
  margin-left: 10px;
  height: calc(100vh - 56px);
}

.haveimage .reply-name {
  position: absolute;
  z-index: 1;
  left: 5px;
  top: 5px;
  color: #fff;
  padding: 2px 4px;
  // border-radius: 5px;
}

.haveimage .send-user.image-message {
  margin: 0px;
  // border-radius: 6px;
}

.chat-recevie-section .send-user.rece-user p {
  text-align: left;
}

.messageAlign {
  text-align: left !important;
}

.night_mode img.day {
  display: none;
}
.read_only_chat {
  color: gray;
  padding: 16px 0px;
  padding-top: 6px;
  .locked_icon {
    padding: 0 9px;
  }
  .locked_text {
    padding: 0 25px;
  }
}
#chat {
  background-color: #171717;
  color: white;
  min-height: 200px;
  // border-top: 1px solid #6f6f6f;
  height: calc(100vh - 48px);
  .Rectangle-Copy-6 {
    background-color: #3d3d3d;
    padding: 10px 15px;
    width: 100%;
  }
  .bg {
    background-color: #282828;
  }
  .chat {
    font-family: "IBM Plex Sans";
    font-size: 28px;
    line-height: 70px;
    color: #bebebe;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .chat-slide {
    padding: 0;
    .chat {
      padding-left: 15px;
    }
  }
  .Sub-menu {
    display: block;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: 0.16px;
    color: #f3f3f3;
    padding: 15px 15px 0 15px;
    &:nth-child(1) {
      padding-top: 0 !important;
    }
    .fa {
      font-size: 15px;
    }

    .Sub-menu-item {
      font-family: "IBM Plex Sans";
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: 0.16px;
      color: #bebebe;
      padding: 15px 0px 15px 10px;

      .-PM {
        font-family: "IBM Plex Sans";
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.8;
        letter-spacing: 0.11px;
        color: #6f6f6f;
      }
    }
    .Sub-menu-item:hover {
      background-color: #3d3d3d;
      border-left: 4px solid #0062ff;
      margin: 0 -15px 0 -25px;
      padding-left: 25px;
      padding-right: 15px;
    }
  }
  .Sub-menu:nth-child(1) {
    padding-top: 0 !important;
  }
}

#chat {
  .is_mobile {
    /*chat page css */
    .search-section {
      width: calc(100% - 24px) !important;
      margin-left: 12px !important;
      margin-right: 12px !important;
      margin-top: 12px !important;
    }
    .loaging{color:#bebebe}
    
    .mobile_chat {
      display: none !important;
    }
    .mobile_chat.is_chat_open {
      display: block !important;
    }
    .mobile_chat.is_chat_open .chat-main {
      height: calc(100vh - 100px) !important;
    }
    .mobile_chat.is_chat_open .chat-section {
      width: calc(100%) !important;
    }
    .mobile_chat.is_chat_open span.move_to_bottom {
      bottom: 0px !important;
      right: 10px !important;
    }
    .search-section.is_open {
      display: none !important;
    }
    .mobile_chat.is_chat_open .image-message {
      width: 250px !important;
      height: 150px !important;
    }
    .mobile_chat.is_chat_open .chat-recevie-section {
      margin-left: 0 !important;
    }
    .mobile_chat.is_chat_open .send-user {
      margin-right: 10px !important;
    }
    .mobile_chat.is_chat_open .receiver-img .ACon {
      top: -4px !important;
    }
    .mobile_chat.is_chat_open .send-user {
      max-width: calc(100% - 70px) !important;
    }
    .mobile_chat.is_chat_open .header-img {
      display: flex !important;
      z-index: 999999999999;
    }
    .mobile_chat.is_chat_open .header-img img {
      width: 18px !important;
      height: 18px !important;
    }
    .mobile_chat.is_chat_open span.back {
      color: #f2f2f2;
      font-size: 16px;
      font-family: "source_sans_proregular";
      line-height: 17px;
      padding-left: 5px;
    }
    .mobile_chat.is_chat_open .header-title {
      text-align: center;
    }
    .all-listing {
      height: calc(100vh - 150px) !important;
    }
    .mobile_chat.is_chat_open .reply-msg {
      line-height: 20px !important;
      word-break: break-all !important;
    }
    .mobile_chat.is_chat_open .send-user .image-message {
      max-width: calc(100%) !important;
    }
    .body.night_mode.sidebarOpen .search-section {
      width: 360px !important;
    }
    .mts-emoji-picker {
      right: 15px !important;
      z-index: 99;
    }
    .mobile_chat.is_chat_open .header-section {
      padding: 10px 12px !important;
      border-bottom: none !important;
      background: #282b33 !important;
    }
    .mobile_chat.is_chat_open .header-title {
      font-size: 16px !important;
      line-height: 19px !important;
      width: calc(100% - 67px) !important;
    }
    .mobile_chat.is_chat_open .header-popup-img {
      width: 55px !important;
      height: 22px !important;
      background-size: 23px;
    }
    .middle-section.chat-module {
      height: calc(100vh) !important;
    }
    .mobile_chat.is_chat_open .chat-section.is_reply .chat-main {
      height: calc(100vh - 100px) !important;
    }
    .image-popup .modal-dialog {
      max-width: calc(100% - 50px) !important;
    }
    .mobile_chat.is_chat_open .reply-msg.image-message[_ngcontent-c3] {
      width: 45px !important;
      height: 45px !important;
    }
    .chat-send-section .send-user.rece-user.image-message {
      margin-right: 0 !important;
    }
    .rece-name {
      padding-left: 8px !important;
    }
    // .type-msg .form_control {
    //   padding-left: 35px !important;
    // }
    button.attach {
      bottom: 15px !important;
      right: 45px !important;
    }
    span.clip {
      left: -10px;
    }
    .cloosePop {
      float: left;
    }
    .image-popup button.close {
      right: 7px !important;
      top: 7px !important;
    }
    .modal-dialog {
      height: 100% !important;
    }
    .changepw-popup button.close {
      right: 12px !important;
      top: 14px !important;
    }
    .content {
      width: 90% !important;
    }
    .changepw-popup .modal-content {
      padding: 0px !important;
      width: auto !important;
      height: 100% !important;
      top: 0% !important;
    }
    .changepw-popup .modal-dialog {
      margin: 0px !important ;
    }
    /*stciky chat header mobile*/
    .chat-section .header-section {
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 42px;
    }
    .type-msg {
      position: fixed;
      bottom: 0;
      z-index: 999;
      opacity: 1;
    }
    .chat-footer {
      z-index: 999;
    }
  }
}

.chat-recevie-section a.messages_link,
.chat-recevie-section a.messages_link:hover {
  color: #33bbff;
}

.chat-send-section a.messages_link,
.chat-send-section a.messages_link:hover {
  color: #f2f2f2;
}
.day-mode .middle-section.chat-module {
  background: #f2f2f2 !important;
}
.day-mode .chat-section {
  background-color: #ffffff !important;
}

.day-mode .name {
  color: #282b33 !important;
}
.day-mode .time {
  color: #6f6f6f !important;
}

.day-mode .header-title {
  color: #282b33 !important;
}
.day-mode .premium-section .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.day-mode .detail-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.day-mode .header-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.day-mode .detail-section.gSelected .time {
  color: #6f6f6f !important;
}

.day-mode .detail-section.gSelected .name {
  color: #282b33 !important;
}
.day-mode .detail-section.gSelected .time {
  color: #6f6f6f !important;
}

.day-mode .send-user.rece-user {
  background-color: #f2f2f2 !important;
}

.day-mode
  .receive-user
  .send-user.rece-user.image-message
  .chat-details
  span.reply
  a {
  color: #fff !important;
  opacity: 1 !important;
}
.day-mode .chat-recevie-section .receive-user .send-user.rece-user p {
  color: #282b33 !important;
}
.day-mode .chat-details .reply-msg-section {
  background: #fff !important;
}
.day-mode .reply-msg {
  color: #282b33 !important;
}
.day-mode .type-msg .form_control {
  background: #fff !important;
  border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
  color: #9d9d9d !important;
}
.day-mode .send-user .send-user-message {
  background: #def4ff !important;
}
.day-mode span.msg-time {
  color: #6f6f6f !important;
  opacity: 0.7 !important;
}
.day-mode span.reply a {
  color: #282b33 !important;
  opacity: 0.7 !important;
}
.day-mode .send-user .send-user.rece-user .chat-details span.reply a {
  color: #01bf86 !important;
}
.day-mode
  .send-user
  .send-user.rece-user.image-message
  .chat-details
  span.reply
  a {
  color: #fff !important;
  opacity: 1 !important;
}
.day-mode .send-user.rece-user .chat-details span.msg-time {
  color: #9b9b9b !important;
}
.day-mode
  .send-user
  .send-user.rece-user.image-message
  .chat-details
  span.msg-time {
  color: #6f6f6f !important;
  opacity: 1 !important;
}
.day-mode
  .receive-user
  .send-user.rece-user.image-message
  .chat-details
  span.msg-time {
  color: #6f6f6f !important;
  opacity: 1 !important;
}
.day-mode .image-popup button.close {
  color: #282b33;
}
.day-mode .image-popup.modal {
  background: #f2f2f2;
}
.day-mode .mobile_chat.is_chat_open .header-section {
  background: #fff !important;
}
.day-mode .mobile_chat.is_chat_open span.back {
  color: #282b33 !important;
}
.day-mode img.day {
  display: block !important;
}
.day-mode img.night {
  display: none !important;
}
.day-mode .chat-send-section a.messages_link,
.day-mode .chat-send-section a.messages_link:hover {
  color: #13a288;
}
.day-mode .reply-msg-section {
  background: #f2f2f2 !important;
}
.day-mode .image-camicon {
  color: #282b33 !important;
}
.day-mode .image-camicon img.day {
  display: inline-block !important;
}
.selfimagetime {
  padding: unset !important;
}
.replyWithImg {
  right: 35px;
}
// #chat .Sub-menu {
//   padding-left:0;
// }
a.messages_link {
  color: #0062ff !important;
}
.fa.fa-rocket,
.fa-smile-o,
.fa-picture-o {
  color: #f3f3f3;
}
.disabled .fa.fa-rocket {
  color: #6f6f6f;
}
.chat_loader {
  font-size: 12px;
  color: #bebebe;
  font-family: "IBM Plex Sans";
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  .mobile_chat {
    height: calc(100vh - 100px);
  }
  #chat.chat[_ngcontent-c6] {
    width: 78%;
    margin-left: 24%;
  }
  #chat .bg {
    padding: unset;
  }
  #chat .Sub-menu {
    &:nth-child(1) {
      padding-top: 15px !important;
    }
  }
  .msg-flow {
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }
  #chat .chat-slide {
    height: calc(100vh - 110px);
    overflow-y: scroll;
  }
  #chat.chat1 {
    overflow: hidden;
  }
  #chat .type-msg {
    position: fixed;
    bottom: 0;
    z-index: 999;
    opacity: 1;
  }
  #chat .chat-main {
    // height: 100vh !important;
  }
}
@media screen and (max-width: 736px) {
  .chat-main {
    margin: 0;
    // height: 100vh !important;
  }
  // .msg-flow {
  //   height: calc(100vh - 140px);
  //   overflow-y: scroll;
  // }
}

@media screen and (max-width: 600px) {
  // .msg-flow {
  //   height: 100vh;
  //   overflow-y: scroll;
  // }
  .chat-slide {
    margin-top: 0px;
  }
  .send-user p {
    font-size: 12px;
  }
  .reply-msg {
    font-size: 12px;
  }
  .chat-recevie-section {
    margin-left: 10px;
  }
  #chat.chat1 {
    width: unset;
    margin: unset;
  }

  #chat .chat-slide {
    padding: 0;
  }
  .send-user {
    max-width: calc(100% - 86px);
  }
  // .type-msg .form_control {
  //   margin-left: 0px;
  //   padding-left: 45px;
  //   background-color: #3d3d3d;
  // }
  .chat-footer {
    margin: 0px;
  }

  .chat-slide {
    // height: calc(100vh - 110px);
  }
  .chat-main {
    height: calc(100vh - 130px);
  }

  span.clip {
    left: -13px;
  }

  span.smile {
    left: 28px;
  }
  .chat-send-section .send-user {
    margin-left: 56px;
  }
}
.parent {
  padding-top: 8px;
}
.chat_footer_read {
  padding: 3px 0;
  position: relative;
}
.msg-flow {
  // height: unset;
  // height: calc(100vh - 105px);
}
.smile-face-span img,
.upload-image-span img {
  height: 15px;
  width: 15px;
  margin-top: 2px;
}
.smile-face-span,
.upload-image-span {
  display: -webkit-inline-box;
  width: 25px;
  padding-left: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  left: 2px;
}
span.smile-face-span {
  left: 30px;
  bottom: 10px;
}
.chat-slide::-webkit-scrollbar,
.chat-main::-webkit-scrollbar {
  width: 0 !important;
}
.chat-slide,
.chat-main {
  overflow: -moz-scrollbars-none;
}
.chat-slide,
.chat-main {
  -ms-overflow-style: none;
}
.reply_name {
  padding: 15px;
  padding-left: 0;
  color: #bebebe;
}
@media screen and (min-width: 1024px) {
  #chat {
    // display: nones;
    #catTitle.Sub-menu.first {
      padding-top: 0px !important;
    }
  }
}
