#login {
  background-color: #171717;
  color: white;
  padding-bottom: 40px; 
  .form {
    width: 70%;
    margin: 0 auto;
    padding: 80px 0 0;
    background: url(/assets/images/background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    .l-form {
      background-color: #282828;
      padding: 16px 16px;
      width: 288px;
      margin: 0 auto;
      .Sign-in-to-your-acco {
        font-family: "IBM Plex Sans";
        font-size: 16px;
      }
      .success {
        background: white;
        border-left: 3px solid green;
        height: 48px;
      }

      label {
        font-family: "IBM Plex Sans";
        font-size: 12px;
        color: #bebebe;
        line-height: 1.33;
        letter-spacing: 0.32px;
      }

      input {
        margin: 0px 0px 10px 0px;
        font-size: 13px;
        border: none;
        border-bottom: 1px solid #bebebe;
        border-radius: 0%;
        background-color: #3d3d3d !important;
        color: white;
        height: 40px;
      }

      .show {
        font-family: "IBM Plex Sans";
        font-size: 12px;
        color: #6f6f6f;
        line-height: 1.33;
        letter-spacing: 0.32px;
        padding-right: 0 !important;
      }
      .Item-text {
        font-family: "IBM Plex Sans";
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.16px;
      }
      .login {
        background-color: #0062ff;
        color: white;
        font-family: "IBM Plex Sans";
        font-size: 14px;
        border-radius: 0px;
        text-align: left;
        vertical-align: center;
        .fa {
          padding-top: 2px;
        }
      }
    }
  }
  .loader 
  {
    img{
      float: right;
      padding-top:4px;
    }
  }
  .page-links {
    margin: 0 auto;
    width: 288px;
    padding:16px;
    a {
      font-family: "IBM Plex Sans";
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 0.16px;
      color: #6ba4ff;
      margin: 15px 0px !important;
    }
  }
}
.error {
  background: white;
  border-left: 3px solid #da1e28;
  margin-top: -64px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 24px;
  line-height: 23px;
  padding: 0 6px;
  .ln-height{
    line-height: 21px;
    padding: 11px 0!important;
  }
  .msg {
    font-family: "IBM Plex Sans";
    color: black;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    font-weight: 600;
  }
  .float-left{
    line-height: 14px;
    margin-left: 5px
  }
  .float-right{
    line-height: 14px;
    margin-right: 10px
  }
}
.success {
  background: white;
  border-left: 3px solid #198038;
  margin-top: -64px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 24px;
  line-height: 23px;
  padding: 0 6px;
  .ln-height{
    line-height: 21px;
    padding: 11px 0!important;
  }
  .msg {
    font-family: "IBM Plex Sans";
    color: black;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    font-weight: 600;
  }
 
  .float-left{
    line-height: 14px;
    margin-left: 5px
  }
  .float-right{
    line-height: 14px;
    margin-right: 5px
  }
}
@-webkit-keyframes autofill {
  to {
      color: #fff;
      background:#3d3d3d;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
@media only screen and (max-width: 1024px) {
  #login {
    .form {
      width: 100%;
      // padding: 0;
      // margin: 0 auto;
    }
    padding-bottom:30px;
    // .error {
    //   line-height: 1 !important;
  
    //   .msg {
    //     padding-left: 7%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
    // .success {
    //   line-height: 1 !important;
  
    //   .msg {
    //     padding-left: 7%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
  }
}

@media only screen and (max-width: 767px) {
  #login {
    // .form {
    //   width: 288px;
    //   padding: 0;
    //   margin: 0 auto;
    // }
    // .error {
    //   line-height: 1 !important;

    //   .msg {
    //     padding-left: 5%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
    // .success {
    //   line-height: 1 !important;

    //   .msg {
    //     padding-left: 5%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
  }
}

@media only screen and (max-width: 600px) {
  #login {
    // .form {
    //   width: 288px;
    //   padding: 0;
    //   margin: 0 auto;
    // }
    // .error {
    //   line-height: 1 !important;

    //   .msg {
    //     padding-left: 5%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
    // .success {
    //   line-height: 1 !important;

    //   .msg {
    //     padding-left: 5%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
  }
}

@media only screen and (max-width: 480px) {
  #login {
    // .form {
    //   width: 288px;
    //   padding-top: 40px;
    //   margin: 0 auto;
    // }
    // .error {
    //   line-height: 1 !important;

    //   .msg {
    //     padding-left: 3%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
    // .success {
    //   line-height: 1 !important;

    //   .msg {
    //     padding-left: 3%;
    //     padding-top: 2px;
    //   }
    //   .float-left {
    //     margin-left: 5px;
    //   }
    //   .float-right {
    //     margin-right: 5px;
    //   }
    // }
  }
}
@media only screen and (max-width: 360px){
  #login {
    // .form {
    //   width: 288px;
    //   padding-top: 40px;
    //   margin: 0 auto;
    // }
  }
}
