

<section id='login' class="setFooter">
    <div class="container">

    <div class="form">
        <div class="l-form">
                
            <div class="error" *ngIf="loginerror" >
                <div class="py-2 ln-height">
                <img src="../../assets/images/error.svg" height=20px width=20px class='float-left'>
                <span class="msg" > {{ errorMessage }}</span>
                    <span (click)="loginerror=!loginerror" class=" float-right"> <i class="fa fa-times"></i></span> 
                </div>
            </div>  
            <div class="success" *ngIf="loginsuccess">
                <div class="py-2 ln-height">
                <img src="../../assets/images/success-filled-green.svg" height=20px width=20px class='float-left'>
                <span class="msg" > {{errorMessage}} </span>
                    <span (click)="loginsuccess=!loginsuccess" class=" float-right"><i class="fa fa-times"></i></span> 
                </div>
            </div> 
        <span class='Sign-in-to-your-acco'>{{'login.logintoaccount' | translate}}</span>
        <!-- <p>{{'generic.app_description' | translate}}</p> -->
        
        <form [formGroup]="loginForm" novalidate id="loginform" (ngSubmit)="tryLogin(loginForm.value)" >

            <label for="email" class='pt-3'>Email</label>
            <input class="form-control" type="email" id='email' formControlName="email" required name="email" required>

            <label for="password" class='pt-3'>Password</label> 
            <a class='btn float-right show pt-3' (click)="shwp=!shwp">{{ shwp ? 'Hide' : 'Show' }}</a>
            <input class="form-control" id='password' type="{{ shwp ? 'text' : 'password' }}" formControlName="password" required  name="password"  required>
            <div class='py-3'>

                <label class="cnt">Keep me signed in on this device
                    <input type='checkbox'>
                    <span class="checkmark"></span> 
                
                </label>
            </div>
           
            <button id="submit" *ngIf="!loginProcess" type="submit" class="btn login btn-block">{{'login.login' | translate}} <i class="fa fa-angle-right float-right"></i></button>
            <button id="submit" *ngIf="loginProcess"  type="submit" class="btn login btn-block loader">{{'login.processing' | translate}} <img class="rotateRefresh" src="assets/icon/loader-dark.png" width="15"> </button>
                
            
        </form>

        <!-- <div class="page-links">
                <a routerLink="/forgotpassword">{{'forgotpassword.forgotpassword' | translate}}?</a><BR>
            <a routerLink="/register">{{'register.registernewaccount' | translate}}</a>
        </div> -->
    </div>
    <div class="page-links">
            <a routerLink="/forgotpassword">{{'forgotpassword.forgotpassword' | translate}}?</a><BR>
        <a routerLink="/register">{{'forget.registernewaccount' | translate}}</a>
    </div>
</div>
</div>

</section>
