#foot {
  background-color: #171717;
  border-top: 1px solid #6f6f6f;

  
  .row {
    
    .IBM {
      
      font-family: 'IBM Plex Sans';
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: 0.1px;
      color: #fff;
         }
         .Name {
          font-family: 'IBM Plex Sans';
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 0.1px;
          font-weight: 600;
          color: #fff;
        }
         .copy {
          font-family: 'IBM Plex Sans';
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 0.1px;
          color: #6f6f6f;
        }
  
    .Have-a-quetsion-Con {
      font-family: 'IBM Plex Sans';
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.16px;
      text-align: center;
      color: #bebebe;
      & .link {
        color: #6ba4ff;
      }
    }
    .twt {
      color: white;
      height: 20px;
    }
  }
  .order1, .order3{
    line-height: 1;
  }
  
}
@media only screen and (max-width: 568px) {
  .mb-center{
    text-align: center !important;
    .py-2{
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }
  }
  .m-flex{
    display: flex;
  }
  .order1{
    order: 1;
  }
  .order2{
    order: 2;
    padding: 15px 0;
  }
  .order3{
    order: 3;
  }
}
