<section id='foot'  *ngIf="commanService.footerShow">

  <div class="container mb-center m-flex">
    <div class='row py-2'>
      <div class='col-sm-4 col-md-4 col-xs-12 order3'>
       <a [routerLink]="['/home']" routerLinkActive="router-link-active" > 
        <span class="IBM">Trading </span>
        <span class="Name"> Platform </span> </a>
        <span class='copy'> &copy; 2019 Market Disruptors</span>


      </div>
      <div class='col-sm-4 col-md-4 col-xs-12 text-center order1'>
        <span class='Have-a-quetsion-Con'>Have a question? <a class='link' [routerLink]="['/contact-us']"
            routerLinkActive="router-link-active"> Contact us </a></span>
      </div>

      <div class='col-sm-4 col-md-4 col-xs-12 text-right mb-center order2'>
        <i class="fa fa-twitter twt" aria-hidden="true"></i>
      </div>

    </div>
  </div>

</section>