<!-- <ngx-loading-bar color="#fff" height="10"></ngx-loading-bar> -->
<app-head *ngIf="layoutComponentShow && commonservice.isheadershow"></app-head>
<!-- <app-leftsidebar *ngIf="layoutComponentShow"  [className]="commonservice.isMobile ? 'is_mobile' : 'is_desktop'"></app-leftsidebar> -->
<app-header *ngIf="layoutComponentShow && commonservice.isheadershow" [className]="commonservice.isMobile ? 'is_mobile' : 'is_desktop'" ></app-header>
<div class='success1' *ngIf="commonservice.workSuccess">
    <div class='p-3'>
        <span> <img class='img1' src="/assets/icon/success-filled-green.png" alt=""></span>
        <span class='px-2 title'> Successfully Updated</span>
        <span class='float-right' (click)="commonservice.workSuccess = false"> <img class='img'
                src="/assets/icon/reply-close.svg" alt=""> </span>
        <div class='px-4 text'>{{commonservice.msg}}</div>
    </div>

</div>

<!-- for error message used commonservice -->
<div class='error1' *ngIf="commonservice.workError">
    <div class='p-3'>
        <span> <img class='img1' src="/assets/icon/alert.svg" alt=""></span>
        <span class='px-2 title'> Something went wrong!</span>
        <span class='float-right' (click)="commonservice.workError = false"> <img class='img'
                src="/assets/icon/reply-close.svg" alt=""> </span>
        <div class='px-4 text'>{{commonservice.msg}}</div>
    </div>

</div>

<router-outlet  [className]="commonservice.isMobile ? 'is_mobile' : 'is_desktop'"></router-outlet>
<app-foot [hidden]="commonservice.getCurrentUrl == '/chat'"></app-foot>
