<section id='forgotpassword' class="setFooter">
    <div class="container">
        <div class="form">
            <div class="f-form">
                    <div class="error" *ngIf="forgeterror">
                        <div class="py-2">
                        <img src="../../assets/images/error.svg" height=20px width=20px class='float-left'>
                        <span class="msg" > Invalid email or password.</span>
                         <span (click)="forgeterror=!forgeterror" class="float-right"><i class="fa fa-times"></i></span> 
                        </div>
                    </div>  
                    <div class="success" *ngIf="forgetsuccess">
                        <div class="py-2">
                        <img src="../../assets/images/success-filled-green.svg" height=20px width=20px class='float-left' >
                        <span class="msg" >  Password reset link sent. </span>
                         <span (click)="forgetsuccess=!forgetsuccess" class="float-right"> <i class="fa fa-times"></i></span> 
                        </div>
                    </div>  
                <div class='Forgot-password pb-1'>Forgot password?</div>
                <div class='To-reset-your-passwo'>To reset your password, enter the email address you signed up with.</div>
                <form [formGroup]="forgetForm" novalidate id="forgetForm" (ngSubmit)="tryForget(forgetForm.value)">
                    <label for="email" class='pb-1 pt-4'>Email</label>
                    <input class="form-control" type="email" formControlName="email" required name="email"
                        id='email' required>
                   
                        <!-- <button id="submit" type="submit" [disabled]="!forgetForm.valid || forgotProcess" [class.loader]="forgotProcess" class="ibtn btn-forget">{{'forgotpassword.send_reset_link' | translate}}</button> -->
                        <button type="submit" id="submit" [disabled]="!forgetForm.valid || forgotProcess" [class.loader]="forgotProcess" class="btn btn-block forgot_btn mt-4">Send reset link<i class="fa fa-angle-right float-right"></i></button>
                </form>
            </div>

            <div class="page-links">
                    <div> <a routerLink="/login">{{'forget.logintoaccount' | translate}}</a></div>
               <div> <a routerLink="/register">{{'forget.registernewaccount' | translate}}</a></div>
            </div>


        </div>
    </div>
</section>








<!-- <div class="form-body without-side">
  <div class="website-logo">
      <a href="index.html">
          <div class="logo">
              <img class="logo-size" src="./assets/images/logo.svg" alt="">
          </div>
      </a>
  </div>
  <div class="row">
      <div class="img-holder">
          <div class="bg"></div>
      </div>
      <div class="form-holder">
          <div class="form-content">
              <div class="form-items" [class.hide-it]="forgotlinksent">
                  <h3>{{'forgotpassword.forgotpassword' | translate}}</h3>
                  <p>{{'forgotpassword.description' | translate}}.</p>
                  <form [formGroup]="forgetForm" novalidate id="forgetForm" (ngSubmit)="tryForget(forgetForm.value)">
                      <input class="form-control" type="email" formControlName="email" required name="email" placeholder="{{'register.email_address' | translate}}" required>
                      <div class="form-button full-width">
                          <button id="submit" type="submit" [disabled]="!forgetForm.valid || forgotProcess" [class.loader]="forgotProcess" class="ibtn btn-forget">{{'forgotpassword.send_reset_link' | translate}}</button>
                      </div>
                  </form>
                  <div class="page-links">
                    <a routerLink="/login">{{'login.logintoaccount' | translate}}</a>
                  </div>
              </div>
              <div class="form-sent" [class.show-it]="forgotlinksent">
                  <div class="tick-holder">
                      <div class="tick-icon"></div>
                  </div>
                  <h3>Password link sent</h3>
                  <p>Please check your inbox {{ forgotemail }}</p>
                  <div class="info-holder">
                      <span>Unsure if that email address was correct? </span> <a>We can help</a>.
                  </div>
                  <div class="page-links">
                    <a routerLink="/login">{{'login.logintoaccount' | translate}}</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div> -->