<div [ngClass]="commonservice.navShow  ? 'scrLeft': 'scrLeft1'" [class.mainScanner]="!commonservice.isMobile" >
    <div class="page-name" *ngIf="!commonservice.isMobile" [class.paddalign]="commonservice.isMobile">Market Scanners</div>
    <div class="hori-buttons" [hidden]="commonservice.isMobile">
        <button [class.active]="activeBtn==1" class="btn" (click)="changeComponent(1, 'generic.price_actionPageName')">Trend
            Scanner</button>
        <button [class.active]="activeBtn==2" class="btn" (click)="changeComponent(2, 'generic.rsi_scanner')">RSI
            Scanner</button>
        <button [class.active]="activeBtn==3" class="btn" (click)="changeComponent(3, 'generic.volume_scanner')">Volume
            Scanner</button>
        <!-- <button [class.active]="activeBtn==4" class="btn" (click)="changeComponent(4, 'generic.fibo_scanner')">Fib.
            Distance Tracker</button> -->
        <button [class.active]="activeBtn==5" class="btn" (click)="changeComponent(5, 'generic.ma_scanner')">MA Distance
            Tracker</button>
        <button [class.active]="activeBtn==6" class="btn"
            (click)="changeComponent(6, 'generic.ma_scanner_crossover')">MA Crossover</button>
    </div>
    <label [hidden]="!commonservice.isMobile" class="dropselectlabel">
        <select class="dropselect" (change)="changeComponent($event.target.value)">
            <option value="1" [selected]="activeBtn == 1">{{'generic.price_actionPageName' | translate}}</option>
            <option value="2" [selected]="activeBtn == 2">{{'generic.rsi_scanner' | translate}}</option>
            <option value="3" [selected]="activeBtn == 3">{{'generic.volume_scanner' | translate}}</option>
            <option value="5" [selected]="activeBtn == 5">{{'generic.ma_scanner' | translate}}</option>
            <option value="6" [selected]="activeBtn == 6">{{'generic.ma_scanner_crossover' | translate}}</option>
        </select>
    </label>
    <app-priceaction (setPageIdForParent)="updateValue($event)" *ngIf="activeBtn==1"></app-priceaction>
    <app-rsiscanner (setPageIdForParent)="updateValue($event)" [customStyle]="style1" *ngIf="activeBtn==2"></app-rsiscanner>
    <app-volumescanner (setPageIdForParent)="updateValue($event)" [customStyle]="style1" *ngIf="activeBtn==3"></app-volumescanner>
    <!-- <app-fibolevels [customStyle]="style1" *ngIf="activeBtn==4"></app-fibolevels> -->
    <app-malevels (setPageIdForParent)="updateValue($event)" [customStyle]="style1" *ngIf="activeBtn==5"></app-malevels>
    <app-macrossover (setPageIdForParent)="updateValue($event)" [customStyle]="style1" *ngIf="activeBtn==6"></app-macrossover>
</div>