.mainScanner{
    padding-right: 45px;
}
.hori-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.paddalign{
    text-align: center !important;
    padding-left: 24px !important;
}
.hori-buttons .btn{
    margin-right: 1px;
    border-radius: unset;
    background: transparent;
    border: unset;
    border-bottom: 2px solid #6f6f6f;
    width: calc(100% / 2);
    color: #bebebe;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
}
.btn.focus, .btn:focus {
    box-shadow: unset;
}
.btn.active, .btn:active{
    border-bottom-color: #6ea6ff !important;
    color: #f3f3f3 !important;
    font-weight: 600;
}
.page-name{
    color: #bebebe;
    font-size: 28px;
    font-weight: normal;
    line-height: 36px;
    text-align: left;
    font-family: 'IBM Plex Sans';
    padding: 24px;
    padding-left: 0;
}
.middle-section{
    padding-top: 50px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.dropselectlabel{
    width: 100%;
    margin: unset !important; 
}
.dropselect{
    background-color: #282828 !important;
    color: #fff !important;
    background: url('../../assets/images/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: 96% 60%;
    background-size: 11px;
    border: unset;
    border-bottom: 1px solid #6f6f6f;
    padding: 0 5px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding-left: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .mainScanner{
        margin-left: 5% !important;
        padding-right: unset;
    }
}