<!--pricetop-->
<div class="fourDropDownFiltersTablet">
        <label class="firstscannersfilter">
            <select class="footSelect" (change)="changeComponent($event.target.value)">
                <option value="1">{{'generic.price_actionPageName' | translate}}</option>
                <option value="2">{{'generic.rsi_scanner' | translate}}</option>
                <option value="3" [selected]="true">{{'generic.volume_scanner' | translate}}</option>
                <option value="5">{{'generic.ma_scanner_forfilter' | translate}}</option>
                <option value="6">{{'generic.ma_scanner_crossover' | translate}}</option>
            </select>
        </label>
        <label style="margin-right: 5px;">
            <select class="footSelect" (change)="changeType($event.target.value)">
              <option value="Binance" selected>{{'generic.binance' | translate}}</option>
            </select>
          </label>
        <label style="margin-right: 5px;">
          <select class="footSelect" (change)="watchlistPressed()">
            <option value="" [selected]="!isWatchlistActive">{{'generic.show_all' | translate}}</option>
            <option value="" [selected]="isWatchlistActive">{{'generic.watch_list' | translate}}</option>
          </select>
        </label>
        <label style="margin-right: 5px;">
          <select class="footSelect" (change)="changePair($event.target.value)">
            <option value="ALL" [selected]="selectedPair == 'ALL'">
              {{'generic.coin_all' | translate}}</option>
            <option value="USDT" [selected]="selectedPair == 'USDT'">
              {{'generic.coin_USDT' | translate}}</option>
            <option value="BTC" [selected]="selectedPair == 'BTC'">
              {{'generic.coin_btc' | translate}}</option>
            <option value="ETH" [selected]="selectedPair == 'ETH'">
              {{'generic.coin_ETH' | translate}}</option>
          </select>
        </label>
      </div>
<div class="price-top">
    <div class="left">
        <label>
            <select class="dropbtn d_binance binanceBTN">
                <option value="Binance" selected>{{'generic.binance' | translate}}</option>
            </select>
        </label>
    </div>
    <div class="right">
        <button class="allAssetBtn borderLeftRadius" [class.bgGray]="isWatchlistActive"
            (click)="watchlistPressedAll()">{{'generic.show_all' | translate}}</button>

        <button class="allAssetBtn borderRightRadius" style="margin-right: 25px;" [class.bgGray]="!isWatchlistActive"
            (click)="watchlistPressedStar()">
            <img class="watchlistStar" src="../../assets/images/newicons/watchlist-unfilled.svg">
            {{'generic.watch_list' | translate}}</button>
        <div class="info" id="myBtn">
        </div>

        <button class="d_usd posl2 borderLeftRadius" style="" [class.bgGray]="selectedPair != 'ALL'" (click)="changePair('ALL')">All
            Pairs</button>
        <span *ngIf="selectedPair != 'USDT' && selectedPair != 'ALL'" class="myyseparator">|</span>
        <button class="d_usd posl2" [class.bgGray]="selectedPair != 'USDT'" (click)="changePair('USDT')">
            <img class="watchlistStar" src="../../assets/images/newsvg/usdt.svg">
            {{'generic.coin_USDT' | translate}}
        </button>
        <span *ngIf="selectedPair != 'USDT' && selectedPair != 'BTC'" class="myyseparator">|</span>
        <button class="d_usd posl2" [class.bgGray]="selectedPair != 'BTC'" (click)="changePair('BTC')">
            <img class="watchlistStar" src="../../assets/images/newsvg/btc.svg">
            {{'generic.coin_btc' | translate}}
        </button>
        <span *ngIf="selectedPair != 'ETH' && selectedPair != 'BTC'" class="myyseparator">|</span>
        <button class="d_usd borderRightRadius" [class.bgGray]="selectedPair != 'ETH'" (click)="changePair('ETH')">
            <img class="watchlistStar" src="../../assets/images/newsvg/eth.svg">
            {{'generic.coin_ETH' | translate}}
        </button>
    </div>
</div>
<!--middle section-->
<div [className]="this.commonservice.navPopUp ? 'body night_mode' : 'body night_mode sidebarOpen'">
    <div [ngStyle]="customStyle" class="middle-section">
        <!--mobile toggle-->

        <!--price section-->
        <div class="priceaction volume-scanner">
            <div class="price sell_fibo">

                <!--mobile top dropdown menu-->
                <div class="price-top m-price-top" style="padding: unset;background-color:#282828 !important">
                    <div style="display: flex;justify-content: space-between;">
                        <!-- <label style="margin-right: 5px;margin: unset !important;position: relative;top: 6px;">
                            <select class="dropbtn d_sell mobileDrop" style="background-color: #282828 !important;"
                                (change)="changeType($event.target.value)">
                                <option value="m5" [selected]="maType == 'm5'">{{'generic.m5' | translate}}</option>
                                <option value="m15" [selected]="maType == 'm15'">{{'generic.m15' | translate}}</option>
                                <option value="m30" [selected]="maType == 'm30'">{{'generic.m30' | translate}}</option>
                                <option value="h1" [selected]="maType == 'h1'">{{'generic.h1' | translate}}</option>
                                <option value="h4" [selected]="maType == 'h4'">{{'generic.h4' | translate}}</option>
                                <option value="h6" [selected]="maType == 'h6'">{{'generic.h6' | translate}}</option>
                                <option value="h12" [selected]="maType == 'h12'">{{'generic.h12' | translate}}</option>
                                <option value="d1" [selected]="maType == 'd1'">{{'generic.d' | translate}}</option>
                            </select>
                        </label> -->
                        <span>
                            <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
                               <i class="fa fa-rotate-right" width="10px"></i>
                            </button>
                            <span style="cursor: pointer;" (click)="openPopUp($event, infomodel)">
                                <img src="../../assets/images/newicons/info.svg">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="page-name" *ngIf="!commonservice.isMobile">
                    <div>
                        <span>{{'generic.volume_scanner' | translate}}</span>
                        <p style="font-size:14px;">Find assets with high liquidity</p>
                    </div>
                    <div>
                        <!-- <label style="margin-right: 5px;">
                            <select class="dropbtn d_sell" (change)="changeType($event.target.value)">
                                <option value="m5" [selected]="maType == 'm5'">{{'generic.m5' | translate}}</option>
                                <option value="m15" [selected]="maType == 'm15'">{{'generic.m15' | translate}}</option>
                                <option value="m30" [selected]="maType == 'm30'">{{'generic.m30' | translate}}</option>
                                <option value="h1" [selected]="maType == 'h1'">{{'generic.h1' | translate}}</option>
                                <option value="h4" [selected]="maType == 'h4'">{{'generic.h4' | translate}}</option>
                                <option value="h6" [selected]="maType == 'h6'">{{'generic.h6' | translate}}</option>
                                <option value="h12" [selected]="maType == 'h12'">{{'generic.h12' | translate}}</option>
                                <option value="d1" [selected]="maType == 'd1'">{{'generic.d' | translate}}</option>
                            </select>
                        </label> -->
                        <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
                           <i class="fa fa-rotate-right" width="10px"></i>
                        </button>
                        <span style="margin: 0 10px;cursor: pointer;" (click)="openPopUp($event, infomodel)">
                            <img src="../../assets/images/newicons/info.svg">
                        </span>
                    </div>
                </div>



                <!-- price
                volume
                marketCap
                LiqIndex
                24H
                d3
                D7
                D1Move
                LiveFibo -->




                <!--dropdown menu-->
                <div id="table-scroll" class="table-scroll table-responsive">
                    <div class="table-wrap">
                        <table class="main-table table mobiletable">
                            <thead class="resthead" style="color:#fff">
                                <tr>
                                    <th [class.borderRight]="commonservice.isMobile" class="fixed-side" scope="col" style="width: 100px;">
                                        <span class="sorting" *ngIf="orderByField === 'n'"></span>
                                        <span style="cursor: pointer;"
                                            (click)="sortByField('n')">{{'generic.asset_pair' | translate}}</span>
                                    </th>
                                    <th class="priceHideShow">
                                        <span class="sortingDown"*ngIf="orderByField == 'cp'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('cp')">{{'generic.price' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'mc'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('mc')">{{'generic.market_cap' | translate}}</span> 
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'v'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('v')">{{'generic.volume' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'mv'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('mv')">{{'volume_scanner.liq_index' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'd1'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('d1')">{{'volume_scanner.24h' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'd3'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('d3')">{{'volume_scanner.D3' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'd7'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('d7')">{{'volume_scanner.D7' | translate}}</span>
                                    </th>
                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'pm'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('pm')">{{'volume_scanner.d1_move' | translate}}</span>
                                    </th>

                                    <th>
                                        <span class="sortingDown" *ngIf="orderByField == 'fm'"></span>
                                        <span class="" style="cursor: pointer;" (click)="sortByField('fm')">{{'generic.live_fibo' | translate}}</span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="volumeStats.length == 0 && showWatchlistError == true">
                                <tr>
                                  <td colspan="12" style="text-align: center;">
                                    <div style="color:#fff;padding-top: 40px;">
                                      <img src="assets/images/newicons/empty-watchlist.svg" alt=""><br>
                                      <div class="noWatchlistFound">
                                        <span>You have no assets on the watchlist.</span> <br>
                                        <span>Create your watchlist using the <img class="noWatchlistStar" src="../../assets/images/newicons/watchlist-unfilled.svg" alt=""> icon</span><br>
                                        <span>to track assets you are interested in.</span> <br>
                                      </div>
                                      <span (click)="watchlistPressedAll()" class="goToAllAssets">Go back to the all assets</span>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            <tbody *ngIf="volumeStats.length == 0 && showWatchlistError == false">
                                    <tr *ngFor="let item of [].constructor(20); let i = index">
                                        <td *ngFor="let tditem of [].constructor(10); let tdi = index">
                                          <p class="animated-background" [ngClass]="checkClass(tdi)"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            <tbody *ngIf="volumeStats.length > 0" style="color:#fff">
                                <tr
                                    *ngFor="let item of volumeStats | orderBy: orderByField: reverseSort | filterby: selectedPair; let i = index">
                                    <td [class.borderRight]="commonservice.isMobile" class="fixed-side">
                                        <div class="coin" style="padding-left: unset !important;">
                                            <img *ngIf="!commonservice.isMobile" class="pair-icons" src="assets/images/newsvg/{{item.i}}.svg">
                                            <span class="popup-btn fixstarmlvl fixstarvol" *ngIf="commonservice.isMobile && isWatched(item.n)" (click)="addToWatchlistvolu(item.n)">
                                                    <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-filled.svg">
                                              </span>
                                              <span class="popup-btn fixstarmlvl fixstarvol" *ngIf="commonservice.isMobile && !isWatched(item.n)" (click)="addToWatchlistvolu(item.n)">
                                                    <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-unfilled.svg">
                                              </span>
                                            <span *ngIf="!commonservice.isMobile">{{item.n}}</span>
                                            <span style="font-size:12px;"
                                                *ngIf="commonservice.isMobile">{{item.n}}</span>
                                        </div>
                                        <span class="priceBelow" *ngIf="item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</span>
                                        <span class="priceBelow" *ngIf="!item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</span>
                                    </td>

                                    <td class="priceHideShow" [ngSwitch]="maType">
                                        <span
                                            *ngIf="item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</span>
                                        <span *ngIf="!item.cp.toString().includes('e')">{{item.cp}}</span>
                                    </td>
                                    <td class="" [ngSwitch]="maType">
                                        <span>{{item.mc / 1000000 | number:'1.0-0'}} m</span>
                                    </td>
                                    <td class="" [ngSwitch]="maType">
                                        <span>{{item.v | number:'1.0-0'}}</span>
                                    </td>
                                    <td class="" [ngSwitch]="maType">
                                        <span>{{item.mv | number:'1.0-2'}}%</span>
                                    </td>
                                    <td class="" [ngSwitch]="maType">
                                        <span [ngClass]="volumeClass(item.d1)">{{item.d1}}%</span>
                                    </td>
                                    <td class="" [ngSwitch]="maType">
                                        <span [ngClass]="volumeClass(item.pm)">{{item.pm}}%</span>
                                    </td>
                                    <td class="" [ngSwitch]="maType">
                                        <span [ngClass]="volumeClass(item.d7)">{{item.d7}}%</span>
                                    </td>
                                    <td class="" [ngSwitch]="maType">
                                        <span [ngClass]="peakMoveClass(item.pm)">{{item.pm | number:'1.0-2'}}%</span>
                                    </td>
                                    <td class="fixstarmlvl" [ngSwitch]="maType">
                                        <div class="live_fibo popup">
                                            <span [ngClass]="checkOval(item.fm)">{{item.fm | number:'1.0-2'}}%</span>
                                        </div>
                                    </td>
                                    <td>
                                            <div class="dropdown popup-btn" *ngIf="isWatched(item.n)"
                                            (click)="addToWatchlistvolu(item.n)">
                                            <div class="dropbtn star">
                                                <img [attr.id]="item.n"
                                                    src="../../assets/images/newicons/watchlist-filled.svg">
                                            </div>
                                        </div>

                                        <div class="dropdown popup-btn" *ngIf="!isWatched(item.n)"
                                            (click)="addToWatchlistvolu(item.n)">
                                            <div class="dropbtn star">
                                                <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-unfilled.svg">
                                            </div>
                                        </div>
                                    </td>

                                    <!-- <td class="popup-btn fixstar fixstarmlvl" *ngIf="isWatched(item.n)"
                                        [class.isAllow]="commonservice.isMobile" (click)="addToWatchlistmlvl(item.n)">
                                        <div class="dropbtn morebtn star">
                                            <img [attr.id]="item.n"
                                                src="../../assets/images/newicons/watchlist-filled.svg">
                                        </div>
                                    </td>
                                    <td class="popup-btn fixstar fixstarmlvl" *ngIf="!isWatched(item.n)"
                                        [class.isAllow]="commonservice.isMobile" (click)="addToWatchlistmlvl(item.n)">
                                        <div class="dropbtn morebtn star">
                                            <img [attr.id]="item.n" src="../../assets/images/blank_star.svg">
                                        </div>
                                    </td> -->
                                    <!--mobile content-->
                                    <td class="m_cont-data4" *ngIf="item.isExpanded">
                                        <div class="trend-view">
                                            <div class="list">+ {{'generic.add_to_watchlist' | translate}}</div>
                                            <div class="trend">
                                                <span>{{'generic.volume' | translate}}</span><span>{{item.v | number:'1.0-0'}}</span>
                                            </div>
                                            <div class="trend"><span>{{'rsi_scanner.d3_move' | translate}}</span><span
                                                    [ngClass]="peakMoveClass(item.pm)">{{item.pm | number:'1.0-2'}}%</span>
                                            </div>
                                            <div class="trend">
                                                <span>{{'generic.price_action' | translate}}</span><span>{{item.fm | number:'1.0-2'}}%</span>
                                            </div>
                                            <button class="trendbtn">{{'generic.trade_now' | translate}}</button>
                                        </div>
                                    </td>
                                    <!--mobile containt-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="display:none;" class="price-menu">
                    <div class="cont-data">
                        <div class="class1">
                            <span class="sorting" *ngIf="orderByField === 'n'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('n')">{{'generic.coin_pair' | translate}}</span>
                        </div>
                    </div>

                    <div
                        [className]="VolumeFiboVal == 'Volume' || !commonservice.isMobile ? 'cont-data3 fibotext' : 'cont-data3'">
                        <div *ngIf="!commonservice.isMobile" class="class1 usd_price"><span class="sorting"
                                *ngIf="orderByField === 'cp'"></span><span style="cursor: pointer;"
                                (click)="sortByField(orderByField='cp')">{{'generic.price' | translate}}</span>
                        </div>
                        <div *ngIf="VolumeFiboVal == 'Volume' || !commonservice.isMobile" class="class1 volume"><span
                                class="sorting" *ngIf="orderByField === 'v'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('v')">{{'generic.volume' | translate}}</span>
                        </div>
                        <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile" class="class1 market">
                            <span class="sorting" *ngIf="orderByField === 'mc'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('mc')">{{'generic.market_cap' | translate}}</span>
                        </div>
                        <div *ngIf="!commonservice.isMobile" class="class1 liq_index">
                            <span class="sorting" *ngIf="orderByField === 'mv'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('mv')">{{'volume_scanner.liq_index' | translate}}</span>
                        </div>


                        <div *ngIf="VolumeFiboVal == 'Volume' || !commonservice.isMobile" class="class1 h24">
                            <span class="sorting" *ngIf="orderByField === 'd1'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('d1')">{{'volume_scanner.24h' | translate}}</span>
                        </div>
                        <div *ngIf="!commonservice.isMobile " class="class1 d3">
                            <span class="sorting" *ngIf="orderByField === 'd3'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('d3')">{{'volume_scanner.D3' | translate}}</span>
                        </div>
                        <div *ngIf="VolumeFiboVal == 'Volume' && commonservice.isMobile " class="class1 h24">
                            <span class="sorting" *ngIf="orderByField === 'pm'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('pm')">{{'volume_scanner.d1_move' | translate}}</span>
                        </div>
                        <div *ngIf="!commonservice.isMobile" class="class1 d7">
                            <span class="sorting" *ngIf="orderByField === 'd7'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('d7')">{{'volume_scanner.D7' | translate}}</span>
                        </div>
                    </div>
                    <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile" class="cont-data2">
                        <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile" class="class1 h24">
                            <span class="sorting" *ngIf="orderByField === 'pm'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('pm')">{{'volume_scanner.d1_move' | translate}}</span>
                        </div>
                        <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile" class="class1 livefibo">
                            <span class="sorting" *ngIf="orderByField === 'fm'"></span>
                            <span style="cursor: pointer;"
                                (click)="sortByField('fm')">{{'generic.live_fibo' | translate}}</span>
                        </div>
                    </div>
                </div>
                <!--data seaction-->
                <div style="display:none;" class="data-section">
                    <div *ngFor="let item of volumeStats | orderBy: orderByField: reverseSort | filterby: selectedPair; let i = index"
                        class="price-cont">
                        <div class="cont-data">
                            <div class="class1 coin" (click)="mobileClick(item)">
                                <span id="{{'mobile_dd_' + i}}" class="m_coin_drop">
                                    <i class="fa fa-angle-down"></i>
                                </span><img src="assets/images/coins/{{item.i}}.png">
                                <span *ngIf="!commonservice.isMobile">{{item.n}}</span>
                                <span *ngIf="commonservice.isMobile"
                                    [ngClass]="{'name-small': (item.n.length >= 7)}">{{item.n}}</span>
                            </div>
                        </div>

                        <div
                            [className]="VolumeFiboVal == 'Volume' || !commonservice.isMobile ? 'cont-data3 fibotext' : 'cont-data3'">
                            <div class="class1 usd_price"
                                *ngIf="!commonservice.isMobile && item.cp.toString().includes('e')">
                                {{item.cp | number:'1.0-8'}}
                            </div>
                            <div class="class1 usd_price"
                                *ngIf="!commonservice.isMobile && !item.cp.toString().includes('e')">{{item.cp}}</div>

                            <div *ngIf="VolumeFiboVal == 'Volume' || !commonservice.isMobile" class="class1 volume">
                                {{item.v | number:'1.0-0'}}</div>
                            <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile" class="class1 market">
                                {{item.mc / 1000000 | number:'1.0-0'}} m</div>
                            <div *ngIf="!commonservice.isMobile" class="class1 liq_index">
                                {{item.mv | number:'1.0-2'}}%</div>
                            <div *ngIf="VolumeFiboVal == 'Volume' || !commonservice.isMobile" class="class1 h24"
                                [ngClass]="volumeClass(item.d1)">
                                {{item.d1}}%</div>
                            <div *ngIf="VolumeFiboVal == 'Volume' || !commonservice.isMobile" class="class1 d3"
                                [ngClass]="volumeClass(item.pm)">{{item.pm}}%
                            </div>
                            <div *ngIf="!commonservice.isMobile" class="class1 d7" [ngClass]="volumeClass(item.d7)">
                                {{item.d7}}%</div>

                        </div>
                        <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile" class="cont-data2">
                            <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile" class="class1 d1"
                                [ngClass]="peakMoveClass(item.pm)">{{item.pm | number:'1.0-2'}}%</div>
                            <div *ngIf="VolumeFiboVal == 'Fibo' || !commonservice.isMobile"
                                class="class1 live_fibo popup"><span><span>{{item.fm | number:'1.0-2'}}%</span></span>
                                <div class="dropdown popup-btn" *ngIf="isWatched(item.n)"
                                    (click)="addToWatchlistvolu(item.n)">
                                    <div class="dropbtn morebtn star">
                                        <img src="../../assets/images/star.svg">
                                    </div>
                                </div>

                                <div class="dropdown popup-btn" *ngIf="!isWatched(item.n)"
                                    (click)="addToWatchlistvolu(item.n)">
                                    <div class="dropbtn morebtn star">
                                        <img src="../../assets/images/blank_star.svg">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--mobile content-->
                        <div class="m_cont-data4" *ngIf="item.isExpanded">
                            <div class="trend-view" *ngIf="VolumeFiboVal == 'Volume'">
                                <div class="list">+ {{'generic.add_to_watchlist' | translate}}</div>
                                <div class="trend">
                                    <span>{{'generic.price' | translate}}</span>
                                    <span *ngIf="item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</span>
                                    <span *ngIf="!item.cp.toString().includes('e')">{{item.cp}}</span>
                                </div>
                                <div class="trend"><span>{{'generic.volume' | translate}}</span>
                                    <span>{{item.v | number:'1.0-0'}}</span>
                                </div>
                                <div class="trend"><span>{{'generic.market_cap' | translate}}</span>
                                    <span>{{item.mc / 1000000 | number:'1.0-0'}} m</span>
                                </div>
                                <div class="trend"><span>D7</span><span>-34%</span></div>
                                <div class="trend"><span>{{'volume_scanner.d1_move' | translate}}</span>
                                    <span [ngClass]="volumeClass(item.pm)">{{item.pm | number:'1.0-2'}}%</span>
                                </div>
                                <div class="trend">
                                    <span>{{'generic.live_fibo' | translate}}</span><span>{{item.fm | number:'1.0-2'}}%</span>
                                </div>
                                <button class="trendbtn">{{'generic.trade_now' | translate}}</button>
                            </div>
                            <div class="fibo-view" *ngIf="VolumeFiboVal == 'Fibo'">
                                <div class="list">+ {{'generic.add_to_watchlist' | translate}}</div>
                                <div class="fibo">
                                    <span>{{'generic.price' | translate}}</span>
                                    <span *ngIf="item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</span>
                                    <span *ngIf="!item.cp.toString().includes('e')">{{item.cp}}</span>
                                </div>
                                <div class="fibo">
                                    <span>{{'generic.volume' | translate}}</span>
                                    <span>{{item.v | number:'1.0-0'}}</span>
                                </div>
                                <div class="fibo">
                                    <span>{{'volume_scanner.liq_index' | translate}}</span><span>{{item.mv | number:'1.0-2'}}%</span>
                                </div>
                                <div class="fibo">
                                    <span>{{'volume_scanner.24h' | translate}}</span><span
                                        [ngClass]="volumeClass(item.d1)">{{item.d1}}%</span>
                                </div>
                                <div class="fibo">
                                    <span>{{'volume_scanner.D3' | translate}}</span><span
                                        [ngClass]="volumeClass(item.d3)">{{item.d3}}%</span>
                                </div>
                                <div class="fibo">
                                    <span>{{'volume_scanner.D7' | translate}}</span><span
                                        [ngClass]="volumeClass(item.d7)">{{item.d7}}%</span>
                                </div>
                                <button class="trendbtn">{{'generic.trade_now' | translate}}</button>
                            </div>
                        </div>
                        <!--mobile containt-->

                    </div>
                </div>
                <div class="fixedfooterfilters" *ngIf="commonservice.isMobile">
                    <label style="margin-right: 5px;">
                        <select class="footSelect" (change)="watchlistPressed()">
                            <option value="" [selected]="isWatchlistActive">{{'generic.show_all' | translate}}</option>
                            <option value="" [selected]="!isWatchlistActive">{{'generic.watch_list' | translate}}
                            </option>
                        </select>
                    </label>
                    <label style="margin-right: 5px;">
                        <select class="footSelect" (change)="changePair($event.target.value)">
                            <option value="ALL" [selected]="selectedPair == 'ALL'">
                                {{'generic.coin_all' | translate}}</option>
                            <option value="USDT" [selected]="selectedPair == 'USDT'">
                                {{'generic.coin_USDT' | translate}}</option>
                            <option value="BTC" [selected]="selectedPair == 'BTC'">
                                {{'generic.coin_btc' | translate}}</option>
                            <option value="ETH" [selected]="selectedPair == 'ETH'">
                                {{'generic.coin_ETH' | translate}}</option>
                        </select>
                    </label>
                    <label style="margin-right: 5px;">
                        <select class="footSelect" (change)="changeType($event.target.value)">
                            <option value="Binance" selected>{{'generic.binance' | translate}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <!-- <app-footer [className]="commonservice.isMobile ? 'is_mobile' : 'is_desktop'"></app-footer> -->
        <!--end-->
    </div>
</div>
<ng-template #infomodel let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="spaceBW pltbr10">
            <span style="font-size: 20px;">Legend</span>
            <span class="closespan" (click)="c()" aria-hidden="true">&times;</span>
        </div>
        <app-scanner></app-scanner>
    </div>
</ng-template>