header {
  background: #13a288;
  height: 50px;
  position: relative;
  width: 100%;
}
.logo {
  padding: 0px 0 0px 32px;
  background: rgba(0, 0, 0, 0.16);
}
.logo img {
  height: 50px;
}
.ACon {
  position: absolute;
  right: 0;
  padding-right: 35px;
  top: 9px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Profile {
  text-align: center;
}
.ACon .Img {
  cursor: pointer;
  line-height: 32px;
  display: block;
  background-color: #d09657;
  border-radius: 100%;
  opacity: 0.746789;
  align-items: center;
  width: 32px;
  height: 32px;
}
.Img h3 {
  font-family: "IBM Plex Sans";
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  line-height: 32px;
  z-index: 99999;
  margin-bottom: 0;
}
span.name {
  font-family: "IBM Plex Sans";
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
  padding-left: 12px;
  padding-top: 2px;
}
aside.main-sidebar {
  background-color: #13a288;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11111;
}
section.sidebar {
  overflow-y: auto;
  background-color: #282b33;
  width: 100%;
  display: flex;
  height: calc(100vh - 50px);
}
.user-panel {
  overflow: hidden;
  border-bottom: 1px solid #373c48;
  padding: 15px 0;
  width: 100%;
  height: 85px;
}
.Img1 {
  cursor: pointer;
  line-height: 50px;
  display: flex;
  align-items: center;
  background-color: #d09657;
  border-radius: 100%;
  opacity: 0.746789;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.Img1 h3 {
  font-family: "IBM Plex Sans";
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  padding-left: 10px;
  margin-bottom: 0;
}
span.name1 {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;
}
span.name1 {
  width: 70%;
  float: left;
}
.Profile1 {
  width: 30%;
  float: left;
}
.ACon1 {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.middle-section {
  background: #282828;
  overflow-y: auto;
  height: calc(100vh - 50px);
}
.page-name {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  font-family: "IBM Plex Sans";
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-name p, .coin span{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color:#bebebe;
  position: relative;
  // top: 1.5px;
}
span.breadcums {
  font-size: 14px;
  font-weight: normal;
  line-height: 29px;
  color: #fff;
  float: right;
  font-family: "IBM Plex Sans";
}
.header-section {
  display: flex;
  padding: 10px 0px 10px 18px;
  border-bottom: 1px solid #373c48;
  align-items: center;
}
.header-img img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.header-title {
  font-family: "IBM Plex Sans";
  padding-left: 16px;
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  width: calc(88% - 9px);
}
.header-popup-img {
  background: url("../../assets/images/more.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-size: contain;
  cursor: pointer;
}
.online {
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  color: #fff;
  font-family: "IBM Plex Sans";
  padding-top: 3px;
}
i.fa.fa-circle.text-success {
  color: #13a288 !important;
  border-radius: 100%;
  opacity: 0.500715;
  width: 7px;
  height: 7px;
  margin-right: 5px;
}
/*chat scroll*/
.chat-main {
  overflow-y: auto;
  height: calc(100vh - 272px);
}
.sidebar {
  float: left;
  height: 100vh;
}
.chat-main::-webkit-scrollbar,
.all-listing::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.chat-main::-webkit-scrollbar-thumb,
.all-listing::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 0;
}
.chat-main::-webkit-scrollbar-track,
.all-listing::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.all-listing {
  height: calc(100vh - 177px);
  overflow-y: scroll;
}
.premium-section:last-child {
  margin-bottom: 0;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}
span.breadcums-icon {
  position: relative;
  right: 12px;
  bottom: 4px;
}
.left-breadcum {
  float: right;
}
.right label:last-child {
  margin-right: 0 !important;
}
.navbar img {
  cursor: pointer;
}
.sidebar.navPopUp.open {
  display: none;
}
.sidebar.navPopUp.close {
  display: block;
  opacity: 1;
  width: 18.3%;
}
.clickPopUp h4 {
  background-color: #24abb0;
  margin: 0;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  padding: 20px;
  border-radius: 4px 4px 0 0px;
}
.clickPopUp {
  display: block;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 50px;
  margin-top: 0;
  border-radius: 20px;
  background-color: #272a32;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
  width: 250px;
}
.clickPopUp .buttons {
  background: transprent;
  padding: 20px;
  margin: 0;
  -webkit-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  -moz-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  color: #9b9b9b;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}
.clickPopUp:after {
  bottom: 100%;
  right: 155px;
  border: solid transparent;
  content: " ";
  height: 0;
  top: -14px;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(231, 76, 60, 0);
  border-bottom-color: #24abb0;
  border-width: 8px;
}
.clickPopUp.close {
  display: none;
}
.clickPopUp.open {
  display: block;
}
.clickPopUp .buttons:hover {
  background: #24abb0;
  border-left: 3px solid #f5a623;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
}
.clickPopUp a {
  text-decoration: none;
}
.minus,
.plus {
  float: right;
}
.minus img,
.plus img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.listcontent.close {
  display: none;
}
.listcontent.open {
  display: block;
}
/*price section css start*/
.price-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  clear: unset;
  margin-bottom: 10px;
  // padding: 0 15px;
}
.priceaction {
  clear: both;
  /* overflow: hidden; */
  // padding: 0 24px 24px;
}

.vscanner .side {
  width: 15%;
  float: left;
  padding-top: 44px;
}

.side_mobile {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-bottom: 10px;
}

.price-top .left .dropbtn {
  width: 100px;
  padding: 0 10px;
}

.buy_fibo .price-cont .cont-data3 .class1.peak_drop {
  color: #3c9b4e;
  text-align: right;
}

.left h3 {
  float: left;
  margin: 0 15px 0 0;
  color: #0472d3;
  font-family: "IBM Plex Sans";
  font-size: 23px;
  font-weight: normal;
  line-height: 29px;
  text-align: left;
  letter-spacing: 1.5px;
}

.dropbtn {
  background-color: #f2f2f2;
  border-radius: 2px;
  height: 32px;
  color: #282b33;
  font-family: "source_sans_proregular";
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-align: left;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn,
.dropbtn:hover {
  color: #0472d3;
}

.price-menu {
  clear: both;
  overflow: hidden;
  background: #f7f8f9;
  display: flex;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.class1,
.class2 {
  float: left;
  line-height: 46px;
}

.class1 {
  width: 46%;
  text-align: right;
  font-family: "IBM Plex Sans";
  color: #282b33;
  font-size: 16px;
}
.class1.txt_pink.live_fibo.popup {
  margin-left: 17px;
}
.class1.livefibo {
  text-align: center;
}
.dropbtn.morebtn.star {
  padding-left: 7px;
}

.price-menu .class1:first-child {
  text-align: center;
}

.class2 {
  width: 4.25%;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  color: #282b33;
}

.price-cont .class1 {
  font-family: "IBM Plex Sans";
  text-transform: uppercase;
}

.price-cont .cont-data3 .class1 {
  font-family: "IBM Plex Sans" !important;
  font-size: 15px !important;
}
.price-cont .cont-data2 .class1 {
  font-family: "IBM Plex Sans" !important;
  font-size: 15px !important;
}

.price-cont .class1,
.price-cont .class2 {
  line-height: 32px;
}

.price-cont .class2 span {
  width: calc(100% - 8px);
  height: 32px;
  display: block;
  margin: 0 auto;
}

.price-menu .cont-data3 .class1:first-child,
.price-cont .cont-data3 .class1:first-child {
  text-align: right;
  width: calc(18% - 10px);
  padding-right: 0px;
}
.class1.volume {
  width: 15% !important;
}
.class1.market {
  width: 16% !important;
}

.price-cont {
  clear: both;
  margin: 8px 0;
  height: 32px;
  display: flex;
}

/* .price-cont .cont-data,.price-cont .cont-data2,.price-cont .cont-data3{
    overflow: hidden;
    display: inline;
}    */
.price-cont .cont-data,
.price-menu .cont-data {
  display: block;
  width: calc(14% - 4px);
  float: left;
}

.price-cont .cont-data .class1,
.price-menu .cont-data .class1 {
  width: 100%;
}

.price-cont .cont-data2,
.price-menu .cont-data2 {
  width: 22%;
  float: left;
}
.cont-data2 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.price-cont .cont-data2 .class2,
.price-menu .cont-data2 .class2 {
  width: 18%;
}

.price-cont .cont-data3,
.price-menu .cont-data3 {
  display: block;
  float: left;
  width: calc(65% - 4px);
}

.price-cont .cont-data3 .class1,
.price-menu .cont-data3 .class1 {
  width: 13%;
}

.price-cont .class1 img {
  width: 32px;
  vertical-align: middle;
  height: 32px;
  margin-right: 8px;
}

.price-cont .cont-data .class1:first-child {
  text-align: left;
  color: #0472d3;
}

.price-cont .cont-data3 .class1.peak_drop {
  color: #01bf86;
  text-align: right;
}

.price-cont .class1.popup .dropdown.popup-btn .dropdown-content {
  position: absolute;
  right: 0;
  width: 190px;
  left: auto;
  background: #fff;
  top: 25px;
}

.price-cont .class1.popup .dropdown.popup-btn a {
  padding: 3px 15px;
  font-size: 13px;
  line-height: 20px;
  text-transform: capitalize;
}

.price-cont .cont-data {
  background-color: #f7f8f9;
  height: 32px;
}

.price-cont .class1.popup {
  position: relative;
}

.class1.popup span {
  font-size: 15px;
  margin-right: 0;
}

.dropdown.popup-btn button.dropbtn {
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  top: -8px;
  right: 4px;
}

.price-cont .dropdown.popup-btn button.dropbtn {
  position: relative;
  top: -1px;
  right: 0px;
}

.price-cont .dropdown.popup-btn button.dropbtn img {
  width: 19px;
  vertical-align: middle;
}

.bgGray {
  background-color: #282828 !important;
  color: #bebebe;
  // border-bottom: 1px solid #6f6f6f;
}
select.dropbtn.d_sell {
    padding: 0 15px;
    width: 150px;
    width: 50px;
    color: #fff !important;
    background-color: #373c48 !important;
    border-bottom: 2px solid #6f6f6f;
    border-radius: unset;
    padding: 0 5px;
}

select.dropbtn.d_fibo {
  width: 125px;
  padding: 0 15px;
}

select.dropbtn.d_usd {
  padding: 0 25px 0 10px;
  background-color: #282828 !important;
  color: #fff;
  border-bottom: 1px solid #6f6f6f;
}
.price-cont .class1.popup {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.price-cont .cont-data3,
.price-cont .cont-data2 {
  background: #f7f8f9;
}
.cont-data {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.price-cont .cont-data3 .class1.usd_price {
  color: #282b33;
  font-size: 16px;
  font-weight: normal;
}
label {
  margin-bottom: 0;
}

.price-cont .cont-data3 .class1.volume {
  color: #282b33;
  text-align: right;
}

button.dropbtn.d_next {
  padding: 0 15px;
  margin-left: 4px;
}

.price-cont .cont-data3 .class1.market_cap {
  color: #282b33;
  font-size: 15px;
  text-align: right;
}

.price-menu .cont-data3 .class1:last-child {
  text-align: right;
}
.cont-data2 .class1.h24 {
  text-align: right !important;
}

.price-top .right .info a {
  display: block;
  width: 100%;
  height: 100%;
}

.price-top .right .info a img {
  max-width: 100%;
}

/*.price-top label:after {
    content: "";
    background: url(../img/tradingroom/down.svg) no-repeat;
    font-size: 11px;
    color: #000;
    right: 12px;
    top: 14px;
    width: 10px;
    height: 5px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}*/
.showbtn {
  margin: 0 15px 0 1px;
}
.price-top label {
  position: relative;
  display: inline-block;
}
button.dropbtn.d_watch:hover {
  color: #000;
}
button.dropbtn.bgGray:hover {
  color: #fff;
}
button.dropbtn.d_watch {
  margin-left: 4px;
  border-bottom: 1px solid #6f6f6f;
}

select.dropbtn.d_binance {
  margin-right: 4px;
  margin-left: 0;
  background-color: #282828 !important;
  color: #fff;
  border-bottom: 1px solid #6f6f6f;
}
.add1 {
  width: calc(100% - 32px);
  height: 250px;
  width: 350px;
  /*background: #ddd;*/
  margin-left: 32px;
}

.vscanner .add1,
.vscanner .add1 img.add_image_2 {
  /* height: 600px; */
  width: 350px;
}

.rsi_scanner .add2 {
  height: 385px;
  background: transparent !important;
}

.add2 {
  width: calc(100% - 32px);
  height: 380px;
  width: 350px;
  /*background: #ddd;*/
  margin: 18px 0 0 32px;
}

.m_price-top {
  display: none;
}

.m_price-top {
  overflow: hidden;
  padding: 0px 8px;
  margin-bottom: 10px;
}

.tab-slidernav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.tab-slidertabs {
  display: block;
  float: left;
  margin: 0;
  list-style: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background: #f2f2f2;
  border-radius: 30px;
  height: 32px;
  width: 100%;
  border: 2px solid #ffffff;
}

.tab-slidertrigger.active {
  color: #fff;
}

.tab-slidertrigger {
  padding: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  float: left;
  text-align: center;
  height: 32px;
  line-height: 34px;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  color: #9b9b9b;
}

.tab-slidertabs:after {
  content: "";
  width: 50%;
  background: #0472d3;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}

.tab-slidertabs.slide:after {
  left: 50%;
}

.m_cont-data4 {
  display: none;
}

.price-cont .cont-data .class1.coin span.m_coin_drop {
  margin: 3px 5px;
  width: 21px;
  height: 21px;
  display: none;
  text-align: center;
  line-height: 21px;
  background: #e5e5e5;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold !important;
}

.m_cont-data4.open {
  /* display: block; */
  float: left;
  width: 100%;
}

.m_cont-data4.open .trend-view,
.vscanner .m_cont-data4.open .fibo-view {
  background: #f5faff;
  padding: 10px;
  margin: 7px 0;
  font-size: 14px;
  font-family: "IBM Plex Sans";
}

.class1.popup span.fibo_col {
  margin-right: 0;
}

.m_cont-data4.open .trend-view .list,
.vscanner .m_cont-data4.open .fibo-view .list {
  text-align: right;
  color: #282b33;
  margin-bottom: 5px;
}

.m_cont-data4.open .trend-view .trend,
.vscanner .m_cont-data4.open .fibo-view .fibo {
  padding: 7px 0;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
}

.m_cont-data4.open .trend-view .trend span,
.vscanner .m_cont-data4.open .fibo-view .fibo span {
  color: #282b33;
  line-height: 17px;
}

.m_cont-data4.open .trend-view .trend:nth-child(3) span:last-child,
.rsi_scanner .m_cont-data4.open .trend-view .trend:nth-child(3) span:last-child {
  color: #119b4f;
}

.night_mode.rsi_scanner .m_cont-data4.open .trend-view .trend:nth-child(4) span:last-child {
  color: #ffffff;
}

.rsi_scanner .m_cont-data4.open .trend-view .trend:nth-child(4) span:last-child,
.rsi_scanner .m_cont-data4.open .trend-view .trend:nth-child(2) span:last-child {
  color: #282b33;
}

.price.sell_fibo .m_cont-data4.open .trend-view .trend:nth-child(4) span:last-child {
  color: #eb2436;
}

.vscanner .m_cont-data4.open .trend-view .trend:nth-child(2) span:last-child {
  color: #282b33;
}

.m_cont-data4.open .trend-view .trend:nth-child(2) span:last-child {
  color: #0472d3;
}
.highs_lows .m_cont-data4.open .trend-view .trend:nth-child(2) span:last-child {
  color: #282b33;
}
.m_cont-data4.open .trend-view button.trendbtn {
  width: 100%;
  margin: 10px 0 0;
  height: 32px;
  background: #f5a623;
  border: none;
  font-size: 14px;
  font-weight: normal;
  font-family: "IBM Plex Sans";
}

.m_cont-data4.open .fibo-view button.trendbtn {
  width: 100%;
  margin: 10px 0 0;
  height: 32px;
  background: #f5a623;
  border: none;
  font-size: 14px;
  font-weight: normal;
  font-family: "IBM Plex Sans";
}

.price-cont.fiboview .m_cont-data4 .fibo-view {
  background: #f5faff;
  padding: 10px;
  margin: 7px 0;
  font-size: 14px;
  font-family: "IBM Plex Sans";
  overflow: hidden;
}

.price-cont.fiboview .m_cont-data4 .fibo-view .right {
  float: left;
  width: 30%;
}

.price-cont.fiboview .m_cont-data4 .fibo-view .right button {
  height: 49px;
  background: #f5a623;
  border: 3px solid #ffd796;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  font-family: "IBM Plex Sans";
}

.price-cont.fiboview .m_cont-data4 .fibo-view .left {
  float: right;
  width: 70%;
}

.price-cont.fiboview .m_cont-data4 .fibo-view .cont-data2.fibo_data {
  display: block;
  width: 100%;
}

button.dropbtn.d_next img {
  vertical-align: middle;
  max-width: 100%;
  margin-left: 3px;
}

input.toggle__checkbox.checkbox_active + span.toggle__visual {
  background: #f5a623;
}

img.info-night {
  display: none;
}

img.paath-night {
  display: none;
}

img.paath {
  display: block;
}

/*.price-cont .dropdown.popup-btn button.dropbtn {
    background: url(../img/tradingroom/more.svg) no-repeat;
    font-size: 11px;
    color: #000;
    right: 12px;
    top: 0px;
    width: 22px;
    height: 32px;
    background-position: center;
}*/

.rsi_scanner .price-cont .dropdown.popup-btn button.dropbtn {
  right: -8px;
}

.m_top_drop {
  display: none;
}

.vscanner .price-cont .cont-data3 .class1.txt_green,
.highs_lows .price-cont .cont-data3 .class1.up_txt {
  color: #01bf86;
}
.txt_green {
  color: #00e073 !important;
}
.txt_green::before {
  content: "+";
}
.vscanner .price-cont .cont-data3 .class1.txt_pink,
.highs_lows .price-cont .cont-data3 .class1.down_txt {
  color: #e00572;
}

.txt_pink {
  color: #f6557c !important;
}

.vscanner .price-cont .cont-data2 .class1.txt_green {
  color: #01bf86;
}

.vscanner .price-cont .cont-data2 .class1.txt_pink {
  color: #e00572;
}

.green {
  background: #80dfc2;
}

.dgreen {
  background: #01bf86;
}

.gray {
  background: linear-gradient(45deg, rgba(168, 168, 168, 1) 0%, rgba(204, 204, 204, 1) 100%);
}

.red {
  background: #e00572;
}

.pink {
  background: #fab4d7;
}
/*dhara css start*/
.right .info {
  position: relative;
}
.right .info {
  float: left;
  width: 31.5px;
  border-radius: 50%;
  height: 31.5px;
  text-align: center;
  margin-right: 8px;
  cursor: pointer;
}
.right label {
  margin-right: 4px;
  margin-left: 4px;
}
.dropbtn.morebtn img {
  width: 18px;
  height: 18px;
  margin-right: 0;
  margin-top: 6px;
}
.dropbtn.morebtn.star img {
  width: 18px;
  height: 18px;
  margin-right: 0;
  margin-top: 6px;
}

.middle-section::-webkit-scrollbar {
  width: 5px;
}
.middle-section::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 0;
}
.middle-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
select.dropbtn.d_binance,
select.dropbtn.d_fibo,
select.dropbtn.d_sell,
select.dropbtn.d_usd {
  background: url("../../assets/images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93% 60%;
  background-size: 14px 14px;
}
.class1 label,
.class2 label {
  margin-bottom: 0;
}
/*night mode css start*/
/*night mode*/
.body.night_mode header {
  background: #282b33;
}

.body.night_mode .logo a,
.body.night_mode #cssmenu > ul > li > a {
  color: #fff;
}

.body.night_mode #cssmenu > ul > li.active > a {
  color: #f5a623;
}

.body.night_mode img.sun-nightmode,
.body.night_mode img.moon-nightmode {
  display: block;
}

.body.night_mode img.sun,
.body.night_mode img.moon {
  display: none;
}

.body.night_mode .nav2 {
  background-color: #373c48;
  box-shadow: 0 1px 1px 0 #1d1f24;
}

.body.night_mode ul.sub-menu li {
  border-right: 1px solid #1d1f24;
}

.body.night_mode ul.sub-menu li a,
.body.night_mode .left h3 {
  color: #fff;
}

.body.night_mode .sub-menu li.active a {
  color: #f5a623;
}

// .body.night_mode {
//   background: #373c48;
// }

.body.night_mode .dropbtn {
  background-color: #282828 !important;
  color: #fff;
}

.body.night_mode .dropdown:hover .dropbtn,
.body.night_mode .dropbtn:hover {
  color: #f5a623;
}

.body.night_mode img.info-night {
  display: block;
}

.body.night_mode img.info-day {
  display: none;
}

/*.body.night_mode .price-top label:after {
        content: "";
        background: url(../img/tradingroom/down-night.svg) no-repeat;
    }*/

.body.night_mode .class1,
.body.night_mode .class2 {
  color: #ffffff;
}

.body.night_mode .price-menu,
.body.night_mode .price-cont .cont-data,
.body.night_mode .price-cont .cont-data3,
.body.night_mode .price-cont .cont-data2 {
  background: #282828;
}

.body.night_mode .price-cont .cont-data3 .class1.usd_price {
  color: #fff;
}

.body.night_mode .price-cont .cont-data .class1:first-child {
  color: #fff;
}

.body.night_mode .price-cont .cont-data3 .class1.volume,
.body.night_mode .price-cont .cont-data3 .class1.market_cap {
  color: #fff;
}

.body.night_mode .m_price-top .tab-slidernav ul.tab-slidertabs {
  background: #373c48;
  border: 2px solid#f5a623;
}

.body.night_mode .price-cont.fiboview .m_cont-data4 .fibo-view .fibo-data {
  border-bottom: 1px solid #222329;
  color: #fff;
}

.body.night_mode .price-cont.fiboview .m_cont-data4 .fibo-view {
  background: #282b33;
}

.body.night_mode .m_cont-data4.open .trend-view,
.vscanner.night_mode .m_cont-data4.open .fibo-view {
  background: #282b33;
}

.body.night_mode .m_cont-data4.open .trend-view .list,
.vscanner.night_mode .m_cont-data4.open .fibo-view .list {
  color: #ffffff;
}

.body.night_mode .m_cont-data4.open .trend-view .trend,
.vscanner.night_mode .m_cont-data4.open .fibo-view .fibo {
  border-bottom: 1px solid #222329;
}

.body.night_mode .m_cont-data4.open .trend-view .trend span,
.vscanner.night_mode .m_cont-data4.open .fibo-view .fibo span {
  color: #fff;
}

.body.night_mode .m_cont-data4.open .trend-view .trend:nth-child(2) span:last-child {
  color: #ffffff;
}
body.highs_lows .add1,
body.highs_lows .add2 {
  background: #d8d8d8;
}

.body.night_mode img.paath-night {
  display: block;
  display: inline-block;
}

.body.night_mode img.path-day {
  display: none;
}

/*.body.night_mode .price-cont .dropdown.popup-btn button.dropbtn {
        background-image: url(../img/tradingroom/more-night.svg);
    }*/

.body.night_mode ul.sub-menu li:last-child {
  border: 0;
}

/*night mode*/
.m_cont-data4.open .trend-view .trend span.star_img {
  width: 35%;
  text-align: right;
}
/*volume scanner*/

.vscanner .side_left,
.vscanner .side_right {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  z-index: 100;
}

.vscanner div#price_block {
  padding-top: 135px;
}

.vscanner .price {
  width: calc(100% - 192px);
  float: left;
}

.vscanner .price-cont .cont-data,
.vscanner .price-menu .cont-data {
  width: calc(15% - 4px);
}

.vscanner .price-cont {
  background: #f7f8f9;
  border-radius: 16px;
}

.night_mode.vscanner .price-cont {
  background: #282b33;
}

.vscanner .price-cont .cont-data3,
.vscanner .price-menu .cont-data3 {
  width: calc(85% - 4px);
}

.vscanner .price-cont .class1.popup {
  display: block;
}

.vscanner .price-cont .class1.popup span {
  margin-right: 0;
  margin-left: 20px;
  float: left;
}

.vscanner .class1.popup .dropdown {
  float: right;
  height: 32px;
  width: 10px;
}

.vscanner .price-cont .cont-data2,
.vscanner .price-menu .cont-data2 {
  display: none;
}

.vscanner .price-menu .cont-data3 .class1.usd_price,
.vscanner .price-cont .cont-data3 .class1.usd_price,
.vscanner .price-menu .cont-data3 .class1.volume,
.vscanner .price-cont .cont-data3 .class1.volume,
.vscanner .price-menu .cont-data3 .class1.market,
.vscanner .price-cont .cont-data3 .class1.market {
  width: 10%;
}

.vscanner .price-menu .cont-data3 .class1.liq_index,
.vscanner .price-cont .cont-data3 .class1.liq_index {
  width: 10%;
}

.vscanner .price-menu .cont-data3 .class1.h24,
.vscanner .price-cont .cont-data3 .class1.h24,
.vscanner .price-menu .cont-data3 .class1.d3,
.vscanner .price-cont .cont-data3 .class1.d3,
.vscanner .price-menu .cont-data3 .class1.d7,
.vscanner .price-cont .cont-data3 .class1.d7 {
  width: 13%;
}

.vscanner .price-menu .cont-data3 .class1.live_fibo,
.vscanner .price-cont .cont-data3 .class1.live_fibo {
  width: calc(12% - 15px);
  margin-right: 15px;
}

.vscanner .price-cont .dropdown.popup-btn button.dropbtn {
  right: 0;
}

.vscanner .price-cont .cont-data3 .class1,
.vscanner .price-menu .cont-data3 .class1 {
  width: 9%;
  padding: 0;
  text-align: right;
}

.vscanner .price-menu .cont-data3 .class1.volume,
.vscanner .price-cont .cont-data3 .class1.volume {
  width: 9%;
  padding-right: 1%;
}
/*volume scanner*/
/*mobile toggle css*/
.switch {
  position: relative;
  height: 32px;
  width: 70%;
  border-radius: 30px;
  border: 2px solid #f5a623;
  background: #373c48;
  font-weight: normal;
  text-align: center;
  display: block;
  margin: 10px auto;
}
.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  z-index: 2;
  font-weight: normal;
  margin-bottom: 0;
  width: 50%;
  color: #9b9b9b;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  text-align: center;
  line-height: 28px;
}
.switch-input:checked + .switch-label {
  color: #fff;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 123px;
}
.switch-blue .switch-selection {
  background-color: #f5a623;
}
.switch-selection {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: block;
  width: 50%;
  height: 28px;
  border-radius: 30px;
  transition: all 0.15s ease-out;
}
.mobile-toggle .night-mode {
  width: 30%;
  float: left;
}

.price-top.m-price-top {
  display: none;
}
.watchlistbtn {
  position: relative;
  top: -1px;
  margin: 0 15px 0 1px;
}
.watchlistStar {
  width: 15px;
  height: 14px;
  position: relative;
  bottom: 2px;
  right: 2px;
}
.refreshBtn {
  background-color: #3d3d3d;
  padding: unset;
  border: unset;
  background: #282828;
}
.rotateRefresh {
  -webkit-animation: rotation 0.4s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.clone td.borderRight.fixed-side {
  padding: 9px 10px !important;
}

.table-scroll th:not(:first-child), .table-scroll td:not(:first-child){
    text-align: right;
}
.table td {
  border-top: 1px solid #3d3d3d;
  height: 50px;
  vertical-align: middle;
}
.table th {
  background-color: #3d3d3d;
}
.fixstarmlvl{
  top: 0;
  right: 1px;
  margin-right: 10px;
}
