<!-- <div class="text-input__loading">
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
    <div class="text-input__loading"></div>
</div> -->



<div class="fourDropDownFiltersTablet">
  <label class="firstscannersfilter">
    <select class="footSelect" (change)="changeComponent($event.target.value)">
      <option value="1" [selected]="true">{{'generic.price_actionPageName' | translate}}</option>
      <option value="2">{{'generic.rsi_scanner' | translate}}</option>
      <option value="3">{{'generic.volume_scanner' | translate}}</option>
      <option value="5">{{'generic.ma_scanner_forfilter' | translate}}</option>
      <option value="6">{{'generic.ma_scanner_crossover' | translate}}</option>
    </select>
  </label>
  <label style="margin-right: 5px;">
    <select class="footSelect" (change)="changeType($event.target.value)">
      <option value="Binance" selected>{{'generic.binance' | translate}}</option>
    </select>
  </label>
  <label style="margin-right: 5px;">
    <select class="footSelect" (change)="watchlistPressed()">
      <option value="" [selected]="!isWatchlistActive">{{'generic.show_all' | translate}}</option>
      <option value="" [selected]="isWatchlistActive">{{'generic.watch_list' | translate}}</option>
    </select>
  </label>
  <label style="margin-right: 5px;">
    <select class="footSelect" (change)="changePair($event.target.value)">
      <option value="ALL" [selected]="selectedPair == 'ALL'">
        {{'generic.coin_all' | translate}}</option>
      <option value="USDT" [selected]="selectedPair == 'USDT'">
        {{'generic.coin_USDT' | translate}}</option>
      <option value="BTC" [selected]="selectedPair == 'BTC'">
        {{'generic.coin_btc' | translate}}</option>
      <option value="ETH" [selected]="selectedPair == 'ETH'">
        {{'generic.coin_ETH' | translate}}</option>
    </select>
  </label>
</div>
<div class="price-top">
  <div class="">
    <label>
      <select style="padding: 0 10px;" class="dropbtn d_binance binanceBTN">
        <option value="Binance" selected>{{'generic.binance' | translate}}</option>
      </select>
    </label>
  </div>
  <div class="second">
    <button class="borderLeftRadius allAssetBtn" [class.bgGray]="isWatchlistActive"
      (click)="watchlistPressedAll()">{{'generic.show_all' | translate}}</button>

    <button class="borderRightRadius allAssetBtn" style="margin-right: 25px;" [class.bgGray]="!isWatchlistActive"
      (click)="watchlistPressedStar()">
      <img class="watchlistStar" src="../../assets/images/newicons/watchlist-unfilled.svg">
      {{'generic.watch_list' | translate}}</button>
    <div class="info" id="myBtn">
    </div>

    <button class="d_usd posl2 borderLeftRadius" style="" [class.bgGray]="selectedPair != 'ALL'"
      (click)="changePair('ALL')">All
      Pairs</button>
    <span *ngIf="selectedPair != 'USDT' && selectedPair != 'ALL'" class="myyseparator">|</span>
    <button class="d_usd posl2" [class.bgGray]="selectedPair != 'USDT'" (click)="changePair('USDT')">
      <img class="watchlistStar" src="../../assets/images/newsvg/usdt.svg">
      {{'generic.coin_USDT' | translate}}
    </button>
    <span *ngIf="selectedPair != 'USDT' && selectedPair != 'BTC'" class="myyseparator">|</span>
    <button class="d_usd posl2" [class.bgGray]="selectedPair != 'BTC'" (click)="changePair('BTC')">
      <img class="watchlistStar" src="../../assets/images/newsvg/btc.svg">
      {{'generic.coin_btc' | translate}}
    </button>
    <span *ngIf="selectedPair != 'ETH' && selectedPair != 'BTC'" class="myyseparator">|</span>
    <button class="d_usd borderRightRadius" [class.bgGray]="selectedPair != 'ETH'" (click)="changePair('ETH')">
      <img class="watchlistStar" src="../../assets/images/newsvg/eth.svg">
      {{'generic.coin_ETH' | translate}}
    </button>
  </div>
</div>
<!--middle section-->
<div [className]="this.commonservice.navPopUp ? 'body night_mode' : 'body night_mode sidebarOpen'">
  <div class="middle-section">

    <div class="m-price-top" *ngIf="commonservice.isMobile">
      <div style="display: flex;justify-content: space-between;">
        <div>
          <label style="margin-right: 5px;margin: unset !important;position: relative;top: 6px;">
            <select class="dropbtn d_sell mobileDrop" style="background-color: #282828 !important;"
              (change)="changeFibo($event.target.value)">
              <option value="sell_fibo" [selected]="fibo == 'sell_fibo'">{{'priceaction.down_move' | translate}}
              </option>
              <option value="buy_fibo" [selected]="fibo == 'buy_fibo'">{{'priceaction.up_move' | translate}}</option>
            </select>
          </label>
          <label class="mobile2ndfilter">
            <select class="dropbtn d_fibo" (change)="changeType($event.target.value)">
              <option value="H6" [selected]="type == 'H6'">{{'priceaction.h6' | translate}}</option>
              <option value="H12" [selected]="type == 'H12'">{{'priceaction.h12' | translate}}</option>
              <option value="D1" [selected]="type == 'D1'">{{'priceaction.d1' | translate}}</option>
              <option value="D2" [selected]="type == 'D2'">{{'priceaction.d2' | translate}}</option>
              <option value="D3" [selected]="type == 'D3'">{{'priceaction.d3' | translate}}</option>
              <option value="D7" [selected]="type == 'D7'">{{'priceaction.d7' | translate}}</option>
              <option value="D15" [selected]="type == 'D15'">{{'priceaction.d15' | translate}}</option>
              <option value="D30" [selected]="type == 'D30'">{{'priceaction.d30' | translate}}</option>
              <option value="D100" [selected]="type == 'D100'">{{'priceaction.d100' | translate}}</option>
              <option value="D200" [selected]="type == 'D200'">{{'priceaction.d200' | translate}}</option>
              <option value="D500" [selected]="type == 'D500'">{{'priceaction.d500' | translate}}</option>
            </select>
          </label>
        </div>
        <span>
          <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
           <i class="fa fa-rotate-right" width="10px"></i>
          </button>
          <span style="cursor: pointer;" (click)="openPopUp($event, infomodel)">
            <img src="../../assets/images/newicons/info.svg">
          </span>
        </span>
      </div>
    </div>

    <div class="page-name" *ngIf="!commonservice.isMobile">
      <div>
        <span>{{'generic.price_actionPageName' | translate}}</span>
        <p style="font-size:14px;">Find trending assets and quick movers</p>
      </div>
      <div>
        <span class="gainLossGraph">
          <img src="../../assets/images/newicons/gain-loss-select.svg">
        </span>
        <label>
          <select class="dropbtn d_sell" (change)="changeFibo($event.target.value)">
            <option value="sell_fibo" [selected]="fibo == 'sell_fibo'">{{'priceaction.down_move' | translate}}</option>
            <option value="buy_fibo" [selected]="fibo == 'buy_fibo'">{{'priceaction.up_move' | translate}}</option>
          </select>
        </label>
        <span class="timeFrame">
          <img src="../../assets/images/newicons/timeframe.svg">
        </span>
        <label style="margin-right: 10px;">
          <select class="dropbtn d_fibo" (change)="changeType($event.target.value)">
            <option value="H6" [selected]="type == 'H6'">{{'priceaction.h6' | translate}}</option>
            <option value="H12" [selected]="type == 'H12'">{{'priceaction.h12' | translate}}</option>
            <option value="D1" [selected]="type == 'D1'">{{'priceaction.d1' | translate}}</option>
            <option value="D2" [selected]="type == 'D2'">{{'priceaction.d2' | translate}}</option>
            <option value="D3" [selected]="type == 'D3'">{{'priceaction.d3' | translate}}</option>
            <option value="D7" [selected]="type == 'D7'">{{'priceaction.d7' | translate}}</option>
            <option value="D15" [selected]="type == 'D15'">{{'priceaction.d15' | translate}}</option>
            <option value="D30" [selected]="type == 'D30'">{{'priceaction.d30' | translate}}</option>
            <option value="D100" [selected]="type == 'D100'">{{'priceaction.d100' | translate}}</option>
            <option value="D200" [selected]="type == 'D200'">{{'priceaction.d200' | translate}}</option>
            <option value="D500" [selected]="type == 'D500'">{{'priceaction.d500' | translate}}</option>
          </select>
        </label>
        <button [class.rotateRefresh]="isRefreshing" class="refreshBtn" (click)="refreshFilters()">
         <i class="fa fa-rotate-right" width="10px"></i>
        </button>
        <span style="margin: 0 10px;cursor: pointer;" (click)="openPopUp($event, infomodel)">
          <img src="../../assets/images/newicons/info.svg">
        </span>
      </div>
    </div>
    <!--price section-->
    <div class="priceaction mobile-content">
      <div class="price sell_fibo">
        <!--mobile price top-->
        <!--pricetop-->
        <div id="table-scroll" class="table-scroll table-responsive">
          <div class="table-wrap">
            <table class="main-table table mobiletable">
              <thead class="resthead" style="color:#fff">
                <tr>
                  <th [class.borderRight]="commonservice.isMobile" class="fixed-side" scope="col" style="width: 100px;">
                    <span class="sorting" *ngIf="orderByField === 'n'"></span>
                    <span style="cursor: pointer;"
                      (click)="sortByField('n')">{{'generic.asset_pair' | translate}}</span>
                  </th>
                  <th class="text-right">
                    <span class="sortingDown" *ngIf="orderByField === 'cp'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('cp')">{{'generic.price' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sm5'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sm5')">{{'generic.m5' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sm15'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sm15')">{{'generic.m15' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sm30'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sm30')">{{'generic.m30' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sh1'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sh1')">{{'generic.h1' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sh4'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sh4')">{{'generic.h4' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sh6'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sh6')">{{'generic.h6' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sh12'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sh12')">{{'generic.h12' | translate}}</span>
                  </th>
                  <th>
                    <span class="sortingDown" *ngIf="orderByField === 'sd1'"></span>
                    <span style="cursor: pointer;" (click)="sortByField('sd1')">{{'generic.d' | translate}}</span>
                  </th>
                  <!-- <th>
                        <span class="sorting"
                        *ngIf="orderByField === 'peakStats.h6.v' || orderByField === 'peakStats.h12.v' || orderByField === 'peakStats.d1.v' || orderByField === 'peakStats.d2.v' || orderByField === 'peakStats.d3.v' || orderByField === 'peakStats.d7.v' || orderByField === 'peakStats.d15.v' || orderByField === 'peakStats.d30.v' || orderByField === 'peakStats.d100.v' || orderByField === 'peakStats.d200.v' || orderByField === 'peakStats.d500.v'"></span>
                      <span style="cursor: pointer;"(click)="secondLevelSort('sortByVol')">{{'generic.volume' | translate}}</span>
                    </th> -->
                  <!-- <th>
                        <span class="sorting" *ngIf="orderByField === 'mc'"></span>
                        <span style="cursor: pointer;"(click)="sortByField('mc')">{{'generic.market_cap' | translate}}</span>
                    </th> -->

                  <th class="text-right">
                    <span class="sortingDown"
                      *ngIf="orderByField === 'peakStats.h6.pg' || orderByField === 'peakStats.h12.pg' || orderByField === 'peakStats.d1.pg' || orderByField === 'peakStats.d2.pg' || orderByField === 'peakStats.d3.pg' || orderByField === 'peakStats.d7.pg' || orderByField === 'peakStats.d15.pg' || orderByField === 'peakStats.d30.pg' || orderByField === 'peakStats.d100.pg' || orderByField === 'peakStats.d200.pg' || orderByField === 'peakStats.d500.pg'"></span>
                    <span class="sortingDown"
                      *ngIf="orderByField === 'peakStats.h6.pl' || orderByField === 'peakStats.h12.pl' || orderByField === 'peakStats.d1.pl' || orderByField === 'peakStats.d2.pl' || orderByField === 'peakStats.d3.pl' || orderByField === 'peakStats.d7.pl' || orderByField === 'peakStats.d15.pl' || orderByField === 'peakStats.d30.pl' || orderByField === 'peakStats.d100.pl' || orderByField === 'peakStats.d200.pl' || orderByField === 'peakStats.d500.pl'"></span>
                    <span style="cursor: pointer;" *ngIf="fibo == 'buy_fibo'"
                      (click)="secondLevelSort('sortByPg')">{{'priceaction.peak_gains' | translate}}</span>
                    <span style="cursor: pointer;" *ngIf="fibo == 'sell_fibo'"
                      (click)="secondLevelSort('sortByPl')">{{'priceaction.peak_drop' | translate}}</span>
                  </th>
                  <th class="text-right">
                    <span class="sortingDown"
                      *ngIf="orderByField === 'peakStats.h6.llcmp' || orderByField === 'peakStats.h12.llcmp' || orderByField === 'peakStats.d1.llcmp' || orderByField === 'peakStats.d2.llcmp' || orderByField === 'peakStats.d3.llcmp' || orderByField === 'peakStats.d7.llcmp' || orderByField === 'peakStats.d15.llcmp' || orderByField === 'peakStats.d30.llcmp' || orderByField === 'peakStats.d100.llcmp' || orderByField === 'peakStats.d200.llcmp' || orderByField === 'peakStats.d500.llcmp'"></span>
                    <span class="sortingDown"
                      *ngIf="orderByField === 'peakStats.h6.hhcmp' || orderByField === 'peakStats.h12.hhcmp' || orderByField === 'peakStats.d1.hhcmp' || orderByField === 'peakStats.d2.hhcmp' || orderByField === 'peakStats.d3.hhcmp' || orderByField === 'peakStats.d7.hhcmp' || orderByField === 'peakStats.d15.hhcmp' || orderByField === 'peakStats.d30.hhcmp' || orderByField === 'peakStats.d100.hhcmp' || orderByField === 'peakStats.d200.hhcmp' || orderByField === 'peakStats.d500.hhcmp'"></span>
                    <span style="cursor: pointer;" class="fibo_col" *ngIf="fibo == 'sell_fibo'"
                      (click)="secondLevelSort('sortByLowestLow')">{{'generic.live_fibo' | translate}}</span>
                    <span style="cursor: pointer;" class="fibo_col" *ngIf="fibo == 'buy_fibo'"
                      (click)="secondLevelSort('sortByHighestHigh')">{{'generic.live_fibo' | translate}}</span>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="priceActionStats.length == 0 && showWatchlistError == true">
                <tr>
                  <td colspan="12" style="text-align: center;">
                    <div style="color:#fff;padding-top: 40px;">
                      <img src="assets/images/newicons/empty-watchlist.svg" alt=""><br>
                      <div class="noWatchlistFound">
                        <span>You have no assets on the watchlist.</span> <br>
                        <span>Create your watchlist using the <img class="noWatchlistStar"
                            src="../../assets/images/newicons/watchlist-unfilled.svg" alt=""> icon</span><br>
                        <span>to track assets you are interested in.</span> <br>
                      </div>
                      <span (click)="watchlistPressedAll()" class="goToAllAssets">Go back to the all assets</span>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="priceActionStats.length == 0 && showWatchlistError == false">
                <tr *ngFor="let item of [].constructor(20); let i = index">
                  <td *ngFor="let tditem of [].constructor(12); let tdi = index">
                    <p class="animated-background" [ngClass]="checkClass(tdi)"></p>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="priceActionStats.length > 0" style="color:#fff">
                <tr
                  *ngFor="let item of priceActionStats | orderBy: orderByField: reverseSort | filterby: selectedPair; let i = index">
                  <td [class.borderRight]="commonservice.isMobile" class="fixed-side">
                    <div class="coin" style="padding-left: unset !important;">
                      <img *ngIf="!commonservice.isMobile" class="pair-icons" src="assets/images/newsvg/{{item.i}}.svg">
                      <span class="popup-btn fixstarmlvl fixstarprice"
                        *ngIf="commonservice.isMobile && isWatched(item.n)" (click)="addToWatchlistact(item.n)">
                        <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-filled.svg">
                      </span>
                      <span class="popup-btn fixstarmlvl fixstarprice"
                        *ngIf="commonservice.isMobile && !isWatched(item.n)" (click)="addToWatchlistact(item.n)">
                        <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-unfilled.svg">
                      </span>
                      <span *ngIf="!commonservice.isMobile">{{item.n}}</span>
                      <span style="font-size:14px;" *ngIf="commonservice.isMobile">{{item.n}}</span>
                    </div>
                   
                  </td>
                  <td class=" usd_price text-right" *ngIf="item.cp.toString().includes('e')">{{item.cp | number:'1.0-8'}}</td>
                  <td class=" usd_price text-right" *ngIf="!item.cp.toString().includes('e')">{{item.cp}}</td>

                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sm5)]"></td>
                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sm15)]"></td>
                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sm30)]"></td>
                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sh1)]"></td>
                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sh4)]"></td>
                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sh6)]"></td>
                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sh12)]"></td>
                  <td><img class="imgTrends" [src]="'../../assets/images/newicons/'+[nameClass(item.sd1)]"></td>

                  <!-- <td class="volume" *ngIf="type == 'H6'">{{item.peakStats.h6?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'H12'">{{item.peakStats.h12?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D1'">{{item.peakStats.d1?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D2'">{{item.peakStats.d2?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D3'">{{item.peakStats.d3?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D7'">{{item.peakStats.d7?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D15'">{{item.peakStats.d15?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D30'">{{item.peakStats.d30?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D100'">{{item.peakStats.d100?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D200'">{{item.peakStats.d200?.v | number:'1.0-0'}}</td>
                    <td class="volume" *ngIf="type == 'D500'">{{item.peakStats.d500?.v | number:'1.0-0'}}</td>  
                     -->
                  <!-- <td class="market_cap">{{item.mc / 1000000 | number:'1.0-0'}} m</td> -->

                  <td class="peak_gains text-right" *ngIf="type == 'H6' && fibo == 'buy_fibo'">
                    +{{item.peakStats.h6?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'H12' && fibo == 'buy_fibo'">
                    +{{item.peakStats.h12?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D1' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d1?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D2' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d2?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D3' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d3?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D7' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d7?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D15' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d15?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D30' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d30?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D100' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d100?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D200' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d200?.pg}}%</td>
                  <td class="peak_gains text-right" *ngIf="type == 'D500' && fibo == 'buy_fibo'">
                    +{{item.peakStats.d500?.pg}}%</td>

                  <td class="peak_drop text-right" *ngIf="type == 'H6' && fibo == 'sell_fibo'">
                    -{{item.peakStats.h6?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'H12' && fibo == 'sell_fibo'">
                    -{{item.peakStats.h12?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D1' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d1?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D2' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d2?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D3' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d3?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D7' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d7?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D15' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d15?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D30' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d30?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D100' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d100?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D200' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d200?.pl}}%</td>
                  <td class="peak_drop text-right" *ngIf="type == 'D500' && fibo == 'sell_fibo'">
                    -{{item.peakStats.d500?.pl}}%</td>


                  <td class="text-right">
                    <span *ngIf="type == 'H6' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.h6?.llcmp)">{{item.peakStats.h6?.llcmp}}%</span>
                    <span *ngIf="type == 'H12' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.h12?.llcmp)">{{item.peakStats.h12?.llcmp}}%</span>
                    <span *ngIf="type == 'D1' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d1?.llcmp)">{{item.peakStats.d1?.llcmp}}%</span>
                    <span *ngIf="type == 'D2' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d2?.llcmp)">{{item.peakStats.d2?.llcmp}}%</span>
                    <span *ngIf="type == 'D3' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d3?.llcmp)">{{item.peakStats.d3?.llcmp}}%</span>
                    <span *ngIf="type == 'D7' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d7?.llcmp)">{{item.peakStats.d7?.llcmp}}%</span>
                    <span *ngIf="type == 'D15' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d15?.llcmp)">{{item.peakStats.d15?.llcmp}}%</span>
                    <span *ngIf="type == 'D30' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d30?.llcmp)">{{item.peakStats.d30?.llcmp}}%</span>
                    <span *ngIf="type == 'D100' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d100?.llcmp)">{{item.peakStats.d100?.llcmp}}%</span>
                    <span *ngIf="type == 'D200' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d200?.llcmp)">{{item.peakStats.d200?.llcmp}}%</span>
                    <span *ngIf="type == 'D500' && fibo == 'sell_fibo'"
                      [ngClass]="checkOval(item.peakStats.d500?.llcmp)">{{item.peakStats.d500?.llcmp}}%</span>

                    <span *ngIf="type == 'H6' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.h6?.hhcmp)">{{item.peakStats.h6?.hhcmp}}%</span>
                    <span *ngIf="type == 'H12' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.h12?.hhcmp)">{{item.peakStats.h12?.hhcmp}}%</span>
                    <span *ngIf="type == 'D1' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d1?.hhcmp)">{{item.peakStats.d1?.hhcmp}}%</span>
                    <span *ngIf="type == 'D2' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d2?.hhcmp)">{{item.peakStats.d2?.hhcmp}}%</span>
                    <span *ngIf="type == 'D3' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d3?.hhcmp)">{{item.peakStats.d3?.hhcmp}}%</span>
                    <span *ngIf="type == 'D7' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d7?.hhcmp)">{{item.peakStats.d7?.hhcmp}}%</span>
                    <span *ngIf="type == 'D15' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d15?.hhcmp)">{{item.peakStats.d15?.hhcmp}}%</span>
                    <span *ngIf="type == 'D30' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d30?.hhcmp)">{{item.peakStats.d30?.hhcmp}}%</span>
                    <span *ngIf="type == 'D100' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d100?.hhcmp)">{{item.peakStats.d100?.hhcmp}}%</span>
                    <span *ngIf="type == 'D200' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d200?.hhcmp)">{{item.peakStats.d200?.hhcmp}}%</span>
                    <span *ngIf="type == 'D500' && fibo == 'buy_fibo'"
                      [ngClass]="checkOval(item.peakStats.d500?.hhcmp)">{{item.peakStats.d500?.hhcmp}}%</span>
                  </td>
                  <td>
                    <span class="popup-btn fixstarmlvl" *ngIf="isWatched(item.n)" (click)="addToWatchlistact(item.n)">
                      <div class="">
                        <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-filled.svg">
                      </div>
                    </span>

                    <span class="popup-btn fixstarmlvl" *ngIf="!isWatched(item.n)" (click)="addToWatchlistact(item.n)">
                      <div class="">
                        <img [attr.id]="item.n" src="../../assets/images/newicons/watchlist-unfilled.svg">
                      </div>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="fixedfooterfilters" *ngIf="commonservice.isMobile">
          <label style="margin-right: 5px;">
            <select class="footSelect" (change)="watchlistPressed()">
              <option value="" [selected]="!isWatchlistActive">{{'generic.show_all' | translate}}</option>
              <option value="" [selected]="isWatchlistActive">{{'generic.watch_list' | translate}}</option>
            </select>
          </label>
          <label style="margin-right: 5px;">
            <select class="footSelect" (change)="changePair($event.target.value)">
              <option value="ALL" [selected]="selectedPair == 'ALL'">
                {{'generic.coin_all' | translate}}</option>
              <option value="USDT" [selected]="selectedPair == 'USDT'">
                {{'generic.coin_USDT' | translate}}</option>
              <option value="BTC" [selected]="selectedPair == 'BTC'">
                {{'generic.coin_btc' | translate}}</option>
              <option value="ETH" [selected]="selectedPair == 'ETH'">
                {{'generic.coin_ETH' | translate}}</option>
            </select>
          </label>
          <label style="margin-right: 5px;">
            <select class="footSelect" (change)="changeType($event.target.value)">
              <option value="Binance" selected>{{'generic.binance' | translate}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</div>
<ng-template #infomodel let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="spaceBW pltbr10">
      <span style="font-size: 20px;">Legend</span>
      <span class="closespan" (click)="c()" aria-hidden="true">&times;</span>
    </div>
    <app-scanner></app-scanner>
  </div>
</ng-template>