<aside [ngClass]="commonservice.navShow ? 'main-sidebar' : 'main-sidebar1'">
    <section [ngClass]="commonservice.isMobile ? 'sidebar1': 'sideBarfx' " class="sidebar">
        <div class="left-nav-content">
            <div class='row px-0 mx-0 py-3' *ngIf="commonservice.isMobile">
                <div class="col-2 pl-0">
                    <img src="/assets/icon/shape.svg" class="icon-link"
                        (click)="commonservice.navShow  = true">
                </div>
                <div class='col-10' *ngIf="commonservice.navShow ">
                    <span class='Market-scanners' (click)="BTC = !BTC ">0.81 BTC
                        <img class='pl-4' *ngIf="BTC" src="/assets/icon/chevron-down.png" halt="">
                        <img class='pl-4' *ngIf='!BTC' src="/assets/icon/chevron-up.png" alt="">

                    </span>
                    <div *ngIf="!BTC">
                        <a routerLink="/wallet" (click)="assets()">
                            <div class="title1">
                                Assets</div>
                        </a>
                    </div>
                    <div [className]="isActiveMenu('/')" *ngIf="auth.canReadPaid(user) && !BTC ">
                        <a routerLink="/wallet" (click)="positions()">
                            <div class="title1">
                                Positions</div>
                        </a>
                    </div>
                    <div [className]="isActiveMenu('/')" *ngIf="auth.canReadPaid(user) && !BTC ">
                        <a routerLink="/wallet" (click)="orders()">
                            <div class="title1">
                                Orders</div>
                        </a>
                    </div>
                    <div [className]="isActiveMenu('/')" *ngIf="auth.canReadPaid(user) && !BTC ">
                        <a routerLink="/wallet" (click)="tradeHistory()">
                            <div class="title1">
                                Trade history</div>
                        </a>
                    </div>
                </div>
            </div>
            
            
            <div class='row px-0 mx-0  py-3' routerLink="/screenscanners">
                <div class="col-2 pl-0">
                    <img src="/assets/icon/market-scanner@3x.png" class="icon-link">
                </div>
                <div class='col-10' *ngIf="commonservice.navShow " (click)="commonservice.navShow = false">
                    
                        <a routerLink="/screenscanners">
                            <span class='Market-scanners'>
                            Market Scanners
                        </span>
                        </a>
                   
                </div>
            </div>



            <div class='row px-0 mx-0 py-3'>
                <div class="col-2 pl-0">
                    <img src="/assets/icon/trade-management@3x.png" class="icon-link">
                </div>
                <div class='col-10' *ngIf="commonservice.navShow "
                    (click)="commonservice.navShow = false">
                    <span class='Market-scanners'>Trade terminal</span>
                </div>
            </div>
            <div class='row px-0 mx-0 py-3'>
                <div class="col-2 pl-0">
                    <img src="/assets/icon/trade-journal@3x.png" (click)="commonservice.navShow  = true"
                        class="icon-link">
                </div>
                <div class='col-10' *ngIf="commonservice.navShow " (click)="commonservice.navShow = false"
                    [ngClass]="commonservice.navShow ? 'show' : 'hide'">
                    <span class='Market-scanners'>Trading journal</span>
                </div>
            </div>
            <div class='row px-0 mx-0 py-3' routerLink="/chat" *ngIf="auth.canReadPaid(user)">
                <div class="col-2 pl-0">
                    <img src="/assets/icon/community@3x.png" class="icon-link">
                </div>
                <div class='col-10' *ngIf="commonservice.navShow " (click)="commonservice.navShow = false"
                    [ngClass]="commonservice.navShow ? 'show' : 'hide'">
                    <a class='Market-scanners' routerLink="/chat"> {{'generic.chat' | translate}}</a>
                </div>
            </div>
            <div class='row px-0 mx-0 py-3' routerLink="/blog" *ngIf="auth.canReadPaid(user)">
                <div class="col-2 pl-0">
                    <img src="/assets/icon/blog@3x.png" class="icon-link">
                </div>
                <div class='col-10' *ngIf="commonservice.navShow " (click)="commonservice.navShow = false"
                    [ngClass]="commonservice.navShow ? 'show' : 'hide'">
                    <a class='Market-scanners' routerLink="/blog"> {{'generic.blog' | translate}}</a>
                </div>
            </div>
        </div>
    </section>
</aside>