.Market-scanners {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.16px;
  color: #f3f3f3;
  border-right: #3d3d3d;
  max-width: 20%;
  background-color: none;
  font-family: "IBM Plex Sans";
}
section {
  background-color: #171717;
}
.Profile {
  text-align: center;
}
.main-sidebar {
  background-color: #171717;
  width: 100%;
   position: relative;
  z-index: 11111;
 }

.main-sidebar1 {
  background-color: #171717;
  width: 20%;
  position: relative;
  z-index: 11111;
   
}
// active in mobile case
aside.main-sidebar1 .sidebar1 {
  display: none;
}

.sidebar {
  // width: 18%;
  overflow-y: auto;
  // position: fixed;
  //  border-right: 1px solid  #373C48;
}

.sidebar1.sidebar {
  overflow-y: auto;
  width: 73%;  
  max-width: 280px;
  
}


.user-panel {
  overflow: hidden;
  border-bottom: 1px solid #373c48;
  padding: 15px 0;
  width: 100%;
  height: 85px;
}
.Img1 {
  cursor: pointer;
  line-height: 50px;
  display: flex;
  align-items: center;
  background-color: #d09657;
  border-radius: 100%;
  opacity: 0.746789;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
span.name1 {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;
}
span.name1 {
  width: 70%;
  float: left;
}
.Profile1 {
  width: 30%;
  float: left;
}

.middle-section {
  background: #373c48;
  overflow: hidden;
  height: 100vh;
}






.page-name {
  color: #9b9b9b;
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  text-align: left;
  font-family: "IBM Plex Sans";
  padding: 24px;
}
span.breadcums {
  font-size: 14px;
  font-weight: normal;
  line-height: 29px;
  color: #fff;
  float: right;
  position: relative;
  font-family: "IBM Plex Sans";
  left: 13px;
}
.search-section {
  width: calc(33% - 48px);
  float: left;
  margin-left: 24px;
  margin-right: 24px;
}

.search_box {
  margin-bottom: 12px;
}
.premium-section {
  background-color: #282b33;
  border-radius: 3px;
  margin-bottom: 12px;
}
.title {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  font-family: "Lato-Bold";
  padding: 12px;
  border-bottom: 1px solid #373c48;
}
.detail-section {
  position: relative;
  padding: 12px;
  border-bottom: 1px solid #373c48;
  display: flex;
  align-items: center;
}
.name {
  color: #f2f2f2;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  font-family: "IBM Plex Sans";
}
.time {
  color: #9b9b9b;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  text-align: right;
  font-family: "IBM Plex Sans";
  position: absolute;
  right: 12px;
}
span.count {
  background-color: #e00572;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  padding: 0 6px;
  font-weight: normal;
  line-height: 16px;
  font-family: "IBM Plex Sans";
  margin-left: 15px;
}
.chat-section {
  width: calc(67% - 24px);
  background-color: #282b33;
  float: left;
  border-radius: 3px 3px 0 0;
}
.header-section {
  display: flex;
  padding: 10px 0px 10px 18px;
  border-bottom: 1px solid #373c48;
  align-items: center;
}
.header-img img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.header-title {
  font-family: "Lato-Bold";
  padding-left: 16px;
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  width: calc(88% - 9px);
}

.chat-date-time {
  font-family: "Poppins";
  padding: 15px 0 15px 0;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
}
.chat-send-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.send-user {
  background-color: #24abb0;
  border-radius: 12px;
  width: calc(100% - 343px);
  height: auto;
  margin-bottom: 15px;
  margin-right: 18px;
}
.send-user p {
  font-family: "IBM Plex Sans";
  margin-bottom: 0;
  padding: 12px 12px 0 12px;
  padding-bottom: 0;
  color: #282b33;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}
.chat-details {
  text-align: right;
  padding-bottom: 2px;
}
span.reply a {
  color: #282b33;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  font-family: "Poppins";
}
span.msg-time {
  color: #282b33;
  font-size: 12px;
  font-family: "IBM Plex Sans";
  font-weight: normal;
  line-height: 14px;
  text-align: left;
  padding: 0 12px 5px 12px;
}
.user.odd {
  max-width: 100%;
  height: auto;
  margin-right: 18px;
  width: calc(100% - 330px);
  margin-left: 50px;
  margin-bottom: 15px;
}
.user.odd img {
  width: 100%;
  border-radius: 12px;
}
.chat-recevie-section {
  margin-left: 18px;
  width: auto;
  max-width: 100%;
}
.img-with-name {
  display: flex;
}
.receiver-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
.receiver-img .ACon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 0px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rece-name {
  color: #09acf8;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  padding-left: 12px;
}
.send-user.rece-user {
  background-color: #373c48;
  margin-left: 50px;
  margin-top: -15px;
}
.send-user.rece-user p {
  color: #f2f2f2 !important;
}
.send-user.rece-user .chat-details span.reply a {
  color: #01bf86;
}
.send-user.rece-user .chat-details span.msg-time {
  color: #9b9b9b;
}
.type-msg {
  width: 100%;
}
.chat-footer {
  position: relative;
  height: 80px;
}
.type-msg .form_control {
  height: 80px;
  background: rgba(0, 0, 0, 0.25);
  line-height: 80px;
  border: 0;
  width: 100%;
  padding-left: 20px;
  color: #fff;
}
span.smile {
  position: absolute;
  top: 26px;
  right: 130px;
}
span.clip {
  position: absolute;
  top: 26px;
  right: 80px;
}
span.attach {
  position: absolute;
  top: 20px;
  right: 17px;
}
.attach img {
  width: 40px !important;
  height: 40px !important;
}
.chat-footer span img {
  width: 25px;
  height: 25px;
}
/*chat scroll*/
.chat-main {
  overflow-y: auto;
  height: calc(100vh - 272px);
}
.sidebar {
  float: left;
  height: calc(100vh - 48px);

}

.sideBarfx{  
  position: fixed;
  top: 48px;
}



.chat-main::-webkit-scrollbar,
.all-listing::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.chat-main::-webkit-scrollbar-thumb,
.all-listing::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background-color: #13a288;
  outline: 0;
}
.chat-main::-webkit-scrollbar-track,
.all-listing::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.all-listing {
  height: calc(100vh - 177px);
  overflow-y: scroll;
}
.premium-section:last-child {
  margin-bottom: 0;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}
span.breadcums-icon {
  float: right;
  position: relative;
  right: 130px;
  bottom: 4px;
  height: 18px;
}
.navbar img {
  cursor: pointer;
}
.sidebar.navPopUp.open {
  display: none;
}
.sidebar.navPopUp.close {
  display: block;
  opacity: 1;
  width: 18.3%;
}
.clickPopUp h4 {
  background-color: #24abb0;
  margin: 0;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  padding: 20px;
  border-radius: 4px 4px 0 0px;
}
.clickPopUp {
  display: block;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 50px;
  margin-top: 0;
  border-radius: 20px;
  background-color: #272a32;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
  width: 250px;
}
.clickPopUp .buttons {
  background: transprent;
  padding: 20px;
  margin: 0;
  -webkit-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  -moz-transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  transition: cubic-bezier(0.34, 0.43, 0, 1.02) 0.4s;
  color: #9b9b9b;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}
.clickPopUp:after {
  bottom: 100%;
  right: 155px;
  border: solid transparent;
  content: " ";
  height: 0;
  top: -14px;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(231, 76, 60, 0);
  border-bottom-color: #24abb0;
  border-width: 8px;
}
.clickPopUp.close {
  display: none;
}
.clickPopUp.open {
  display: block;
}
.clickPopUp .buttons:hover {
  background: #24abb0;
  border-left: 3px solid #f5a623;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
}
.clickPopUp a {
  text-decoration: none;
}
.minus,
.plus {
  float: right;
}
.minus img,
.plus img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.listcontent.close {
  display: none;
}
.listcontent.open {
  display: block;
}
/*list css*/
.main-nav {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 35px;
  border: none;
  padding-left: 15px;
  color: #9b9b9b;
  background: #282b33;
  cursor: pointer;
  text-shadow: none;
  letter-spacing: 1px;
}
.left-nav-content {
  width: 100%;
}
.price-action {
  position: relative;
}
.title1 {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.16px;
  color: #bebebe;
  padding-left: 1px;
  padding: 5px 0px 5px 20px;
}
.down-arrow {
  position: absolute;
  top: 5px;
  right: 12px;
}
.down-arrow img {
  width: 12px;
  height: 12px;
}
.price-action a {
  text-decoration: none;
}
.title1:hover {
  border-left: 4px solid #6aa4ff;
  background-color: #3d3d3d;
  margin-left: -53px;
  margin-right: -5px;
  padding-left: 60px;
}
.left-nav-content .active .title1 {
  border-left: 4px solid #6aa4ff;
  background-color: #3d3d3d;
  margin-left: -53px;
  margin-right: -5px;
  padding-left: 60px;
}
.price-action i.fa {
  padding-right: 10px;
}
.sublist .title1.child-menu {
  padding-left: 40px;
}

span {
  img {
    width: 35px;
    float: right;
    // padding-right: 15px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar {
    position: absolute !important;
    overflow-y: scroll
  }
  .sidebar {
    width: 22%;
    overflow-y: auto;
    // border-right: 1px solid #373c48;
  }
}
@media screen and (max-width: 768px) {
  
  .sidebar {
    width: 27%;
    overflow-y: auto;
    // border-right: 1px solid #373c48;
  }
}
.cursorPointer {
  cursor: pointer;
}

.newiconLink {
  // width: 15px;
  // height: 15px;
 
}
.icon-link {
  width: 15px;
  height: 15px;
  margin-left: 12px;
  
}
a:hover {
  text-decoration: unset;
}
.title2 {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.16px;
  color: #fff;
  padding-left: 1px;
 
}
.main-sidebar {
  .sidebar {
    border-right: 1px solid #373c48;
  }
}