<section id='blog' [ngClass]="commonservice.isMobile?'mobile_blog':desk_blog">
  <div [className]="this.commonservice.navPopUp ? '' : 'sidebarOpen'">
    <div class="middle-section blg">
      <div class="page-name py-2"> <span> Blog</span>

      </div>
      <br>
      <!--detail section-->

      <!-- navigation start -->
      <div class="row col-12 blog_menu"  >
        <div class="col-md-12">
          <div class="row" *ngIf="!commonservice.isMobile">
            <div class="col px-0">
              <div [ngClass]="nav =='All'? 'selected' : 'non-selected' " (click)="applyFilter('All')"> All posts</div>
            </div>
            <div class="col px-0">
              <div [ngClass]="nav == categories[0]?.id ? 'selected' : 'non-selected' "
                (click)="applyFilter(categories[0]?.id)">{{categories[0]?.value}}</div>
            </div>
            <div class="col px-0">
              <div [ngClass]="nav == categories[1]?.id ? 'selected' : 'non-selected' "
                (click)="applyFilter(categories[1]?.id)">{{categories[1]?.value}}</div>
            </div>
         
            <div class="col px-0">
              <div [ngClass]="nav == categories[2]?.id ? 'selected' : 'non-selected' "
                (click)="applyFilter(categories[2]?.id)">{{categories[2]?.value}}</div>
            </div>
            <div class="col px-0 ">
              <div [ngClass]="nav == categories[3]?.id ? 'selected' : 'non-selected' "
                (click)="applyFilter(categories[3]?.id)">{{categories[3]?.value}}</div>
            </div>
          </div>
          <div class="row mobile_blog_menu" *ngIf="commonservice.isMobile">
            <div class="col-12">       
               <div class="dropdown">
                 <button *ngIf="selectedCategory_length" type="button" class="drop" data-toggle="dropdown" (click)="open = !open">
                     {{selectedCategory.value}}
                   
                   <img *ngIf="!open"  class='up-btn' src="/assets/icon/chevron-down.png" alt="">
                   <img *ngIf='open' class='up-btn' src="/assets/icon/chevron-up.png" alt="">
                 </button>
                 <button *ngIf="!selectedCategory_length" type="button" class="drop" data-toggle="dropdown" (click)="open = !open">
                    All                  
                  <img *ngIf="!open"  class='up-btn' src="/assets/icon/chevron-down.png" alt="">
                  <img *ngIf='open' class='up-btn' src="/assets/icon/chevron-up.png" alt="">
                </button>
                <div class="dropdown-menu show" *ngIf="open">
                  <a  class="dropdown-item" *ngIf="selectedCategory_length" (click)="applyFilter('All')">
                    <span >
                      All
                    </span>  
                  </a>
                    <ng-container *ngFor="let cat of categories">
                    <a *ngIf="(selectedCategory_length && selectedCategory.id!=cat?.id) || !selectedCategory_length" class="dropdown-item"  (click)="applyFilter(cat?.id)" >
                      
                      <span  >
                          {{cat.value | translate}}
                        </span>
                    </a>
                    </ng-container>
                  </div>
               </div>
             </div>
           </div>
        </div>
      </div>






      <!-- navigation closed -->










      <div class="row sm-3 cards">
        <div class="col-md-6 card-panel" [ngClass]="commonservice.isMobile?'mobile_blog':desk_blog" 
          *ngFor="let post of blogList | paginate: { itemsPerPage: 6, currentPage: p, id: 'blogs' }">

          <div class="card-body">



            <div class="pix">
              <img src="{{post.featureimage}}"/>

              <div class="top-right">
                <span style='display: none'></span>

                <span class='crcl' *ngFor="let item of getCategoryName(post.categories)"> {{item}}</span>

              </div>

            </div>
            

            <div class='blog_content' >
            
            <div class="">
                <a class="title" routerLink="/blog-detail" [queryParams]="{ id: post.id }">{{post.title}}</a>
            </div>




            <div class="blog-meta">
              <span class="date">
                  {{ post?.createdOn.toDate() | date: 'd MMMM, y' }}
                  <span><i class="fa fa-circle"></i> {{post?.createdOn.toDate() | timeAgo}}</span>
                  <!-- {{ callme(post?.createdOn.toDate() | date: 'd MMMM, y' ) }} -->
                <!-- <i class="fa fa-circle"></i>
                {{'blog.by_poster' | translate}}  Trading Platform -->
                 <!-- <i class="fa fa-circle"></i> -->
                </span>

            </div>


            <div>
              <!-- <div [innerHTML]="post?.content" class='over' ></div> -->
              <div [innerHTML]="post?.content" ellipsis [ellipsis-content]=innerHTML class='over ellipses'></div>                                            

            </div>

            <div class="read-link"> 
              <a class="more" routerLink="/blog-detail" [queryParams]="{ id: post.id }">{{'blog.read_more' | translate}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>



          <!-- <div class="card-footer border-0">
            <div class="course-footer-descp">
              <span>{{getCategoryName(post.categories)}}</span>

             
            </div>
          </div> -->



          <div class="blog-action-link" *ngIf="(this.authService.user$ | async)?.roles?.admin">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
              <a (click)="editBlog(post)" class="btn btn-secondary btn-square btn-lg" role="button">
                <i class="fa fa-pencil-square-o"></i> {{'blog.edit' | translate}} 
              </a>

              <a (click)="deleteBlog(post)" class="btn btn-secondary btn-square btn-lg" role="button">
                <i class="fa fa-trash"></i> {{'blog.delete' | translate}}
              </a>
            </div>
          </div>

        </div>


        </div>
      </div>


      <div class="blog_pagination col-12"  *ngIf="blogList.length">
        <pagination-controls nextLabel="" previousLabel="" (pageChange)="p = $event" id="blogs"></pagination-controls>
      </div>
      <!-- <div class="bottom-line" *ngIf="blogList.length">
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" (click)="prevPage()" [disabled]="disable_prev || !(pagination_clicked_count>0)" ><i class="fa fa-arrow-left"></i></button>
              <button type="button" class="btn btn-secondary active">{{pagination_clicked_count+1}}</button>
              <button type="button" (click)="nextPage()"   [disabled]="disable_next" class="btn btn-secondary"><i class="fa fa-arrow-right"></i></button>
            </div>
      </div> -->
      
    </div>
  </div>
</section>