$lines-to-show: 3;
$line-height: 1.5;
$font-size: 16px;
#blog {
  width: 80%;
  margin: 0 auto;
  font-family: "IBM Plex Sans";
  color: #bebebe;
  font-size: 14px;

  .ellipses {
    display: block !important; /* Fallback for non-webkit */
    width: 100%;
    padding-left: 0px;
    max-width: 500px;
    min-width: 100px;
    word-wrap: break-word;
    max-height: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-top: 24px;
    font-size: 15px;
    color: white;
    cursor: auto;
    white-space: pre-wrap;
}

  .middle-section {
    background: #171717;
    .page-name {
      font-size: 28px;
    }
    .blog_menu {
      padding: 0;
      margin: 0;
    }
    .selected {
      border-bottom: 2px solid #6ea6ff;
      margin-right: 1px;
      padding: 12px 48px 10px 16px;
      color: #f3f3f3;
      font-weight: 600;
      cursor: pointer;
      min-height: 28px;
    }
    .non-selected {
      border-bottom: 2px solid #6f6f6f;
      margin-right: 1px;
      padding: 12px 48px 10px 16px;
      cursor: pointer;
      min-height: 28px;
    }
    .cards {
      margin-top: 49px;
    }
    .desk_blog.card-panel:nth-of-type(odd) {
      padding-left: 0;
    }
    .desk_blog.card-panel:nth-of-type(even) {
      padding-right: 0;
    }
    .card-panel {
      margin-bottom: 30px;
    }
    .dropdown {
      width: 100%;
      .drop {
        width: 100%;
        background-color: #282828;
        border: none;
        color: #f3f3f3;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        height: 40px;
        border-bottom: 1px solid #6f6f6f;
        text-align: left;
        padding-left: 15px;

        .up-btn {
          width: 15px;
          float: right;
          margin-top: 7px;
          margin-right: 15px;
        }
      }
      .dropdown-menu.show {
        background: #282828;
        width: 100%;
        border-radius: 0px;
      }
      .dropdown-item {
        color: #f3f3f3;
        font-size: 14px;
      }
    }
    .card-body {
      background-color: #282828;
      padding: 0;
      // margin-top: 49px;
      .pix {
        overflow: hidden;
        height: 217px;
        position: relative;
        img {
          width: 100%;
        }
        .top-right {
          position: absolute;
          top: 16px;
          right: 16px;
          max-width: 85%;
          .crcl {
            padding: 1px 10px 2px 10px;
            margin-left: 4px;
            background-image: linear-gradient(
              255deg,
              #408bfc,
              rgba(32, 213, 210, 0.6)
            );
            color: #fff;
            border-radius: 15px;
            display: inline-block;
            float: right;
            margin-bottom: 8px;
          }
        }
      }
      .blog_content {
        padding: 16px;
        .blog-meta {
          margin-top: 4px;
        }
        .over {
          // display: block; /* Fallback for non-webkit */
          // display: -webkit-box;
          height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
          margin-top: 16px;
          font-size: $font-size;
          line-height: $line-height;
          -webkit-line-clamp: $lines-to-show;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
      img {
        width: 100%;
        overflow: hidden;
      }
      .title {
        color: #f3f3f3;
        font-size: 20px;
      }
      .date {
        font-size: 12px;
        .fa {
          font-size: 7px;
          padding: 1px 10px;
        }
      }
      .more {
        color: #6ea6ff;
        padding-right: 5px;
        .fa {
          position: absolute;
          padding: 4px 8px;
          font-size: 15px;
        }
      }
    }
    .bottom-line {
      width: 50%;
    }
  }
}
@media screen and (max-width: 1024px) {
  #blog {
    width: 88%;
  }
  #blog .middle-section .non-selected {
    padding: 12px 5px 10px 16px;
  }
}
#blog.mobile_blog {
  width: 100%;
  margin-left: 0;
  .middle-section {
    .card-body {
      .blog_content {
        padding: 16px 19px;
      }
    }
  }
  .page-name {
    text-align: center;
    padding-top: 16px;
  }
  .mobile_blog_menu {
    .col-12 {
      padding: 0 19px;
    }
  }
}

.read-link {
  margin-top: 24px;
  margin-bottom: 8px;
}
