.middle-section {
    background: #373C48;
    overflow-y: auto;
    height: calc(100vh - 50px);
}
.middle-section::-webkit-scrollbar{
    width: 5px;
}
.middle-section::-webkit-scrollbar-thumb{
    background-color: #13a288;
    outline: 0;
}
.middle-section::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.blog-dl-desc-section {
  color: #fff;
}
.page-name {
    color: #9B9B9B;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    text-align: left;
    font-family: 'Lato-Regular';
    padding: 24px;
}
.left-breadcum {
    float: right;
}
span.breadcums-icon {
    position: relative;
    right: 12px;
    bottom: 4px;
}
span.breadcums {
    font-size: 14px;
    font-weight: normal;
    line-height: 29px;
    color: #fff;
    float: right;
    font-family: 'Lato-Regular';
}
/*blog detail css*/
.blog-detail {
    clear: both;
    padding: 0 24px 24px;
}
/* .blog-dl-img {
    background: url('../../assets/images/blog.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
} */
.blog-dl-title {
    padding-top: 24px;
    color: #F2F2F2;
    font-family: 'source_sans_prosemibold';
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding-bottom: 18px;
}
.blog-dl-cate-time {
    width: 100%;
    display: inline-block;
    padding-bottom: 22px;
}
.blog-dl-cate {
    display: inline-block;
    color: #01BF86;
    font-family: 'source_sans_proregular';
    font-weight: normal;
    line-height: 19px;
    text-align: left;
    font-size: 16px;
    margin-right: 25px;
}
.blog-dl-time {
    display: inline-block;
    color: #F2F2F2;
    font-family: 'source_sans_proregular';
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    text-align: left;
}
.blog-dl-desc-section p {
    color: #F2F2F2;
    font-family: 'source_sans_proregular';
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}
.blog-dl-desc-section h4 {
    color: #F2F2F2;
    font-family: 'source_sans_prosemibold';
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
}
.blog-dl-img img,.blog-dl-desc-img img{
    width:100%;
    height:auto;
}
.blog-dl-desc-img {
    padding-top: 8px;
    padding-bottom: 24px;
}
/* .blog-dl-desc-img {
    background: url('../../assets/images/blog.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 566px;
    background-position: center;
    margin-top: 24px;
    margin-bottom: 24px;
} */
/*related post*/
.related_post_section {
    padding-top: 75px;
}
.related_post_section h2 {
    color: #F2F2F2;
    font-family: 'source_sans_prosemibold';
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 24px;
}
.post-img {
    background-image: url('../../assets/images/blog.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 195px;
    background-position: center;
}
.col-md-4.post {
    padding: 0;
    margin-right: 22px;
    float: left;
    flex: 0 0 31.8%;
    max-width: 31.8%;
}

.post-title {
    padding-top: 8px;
    color: #F2F2F2;
    font-family: 'source_sans_prosemibold';
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical !important;
    text-overflow: ellipsis;
}
.post-cate-time {
    width: 100%;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
}
.cate {
    display: inline-block;
    color: #01BF86;
    font-family: 'source_sans_proregular';
    font-weight: normal;
    line-height: 19px;
    text-align: left;
    font-size: 16px;
    margin-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: sub;
}
.time {
    display: inline-block;
    color: #F2F2F2;
    font-family: 'source_sans_proregular';
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    text-align: left;
}
.col-md-4.post:nth-child(3n+4) {
    margin-right: 0;
}
