<div [className]="this.commonservice.navPopUp ? 'body night_mode' : 'body night_mode sidebarOpen'">
  <div class="middle-section blog-de">
    <div class="page-name mobile-title" *ngIf="!commonservice.isMobile">Blog Details
      <div class="left-breadcum">
        <span class="breadcums-icon"><img src="../../assets/images/breadcums.svg"></span>
        <span class="breadcums">Home &nbsp;&nbsp;&nbsp;&nbsp;> &nbsp;&nbsp;&nbsp;&nbsp;Blog Details</span>
      </div>
    </div>
    <!--detail section-->
    <div *ngIf="blogDetaisl" class="blog-detail">
      <div class="blog-dl-img"><img [src]="BlogImageUrl+blogDetaisl.image"></div>
      <div class="blog-dl-title">{{ blogDetaisl.title }}</div>
      <div class="blog-dl-cate-time">
        <div class="blog-dl-cate">{{ blogDetaisl.blog_name }}</div>
        <div class="blog-dl-time">{{ blogDetaisl.createdDate | date:"MMM d, y" }}</div>
      </div>
      <div class="blog-dl-desc-section" [innerHTML]="blogDetaisl.description | safeHtml">description</div>
      <div *ngIf="relatedBlogs" class="related_post_section">
        <h2>Related Posts</h2>

        <div *ngFor="let blog of relatedBlogs" (click)="goDetaiil(blog)" class="col-md-4 post">
          <div [ngStyle]="{'background-image':'url('+BlogImageUrl+blog.image+')'}" class="post-img"></div>
          <div class="post-title">{{ blog.title }}</div>
          <div class="post-cate-time">
            <div class="cate">{{ blog.blogname }}</div>
            <div class="time">{{ blog.createdDate | date:"MMM d, y" }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>