// for bg color
.bg-gray { background-color: #171717;}


.middle-section .refreshBtn .fa{color: #bebebe !important; margin-right: 10px; margin-left: 10px; width: 14px; height: 14px; font-size: 14px; font-weight: 200;}

#credit-card , #paypal , #crypto {.selected, .non-selected{font-size: 14px !important; text-align: left;}}


    // for scaner 
    .scrLeft{ padding-left: 200px !important; }
    .scrLeft1{ padding-left: 50px !important; }

.is_mobile{
    .scrLeft{ padding-left: 0 !important; }
    .scrLeft1{ padding-left: 0 !important; }

}

// for background screen :disabled 
.bg-disabled{
    overflow: hidden;
   }
// for home 
.is_mobile #home{ margin-left: 0px !important;}




/* You can add global styles to this file, and also import other style files */
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-black-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-black-webfont.woff") format("woff");
 font-weight: 900;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-bold-webfont.woff") format("woff");
 font-weight: 700;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-extrabold-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-extrabold-webfont.woff") format("woff");
 font-weight: 800;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-extralight-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-extralight-webfont.woff") format("woff");
 font-weight: 200;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-light-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-light-webfont.woff") format("woff");
 font-weight: 300;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-medium-webfont.woff") format("woff");
 font-weight: 500;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-regular-webfont.woff") format("woff");
 font-weight: 400;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-semibold-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-semibold-webfont.woff") format("woff");
 font-weight: 600;
 font-style: normal;
}
@font-face {
 font-family: "poppins";
 src: url("./assets/fonts/poppins-thin-webfont.woff2") format("woff2"),
 url("./assets/fonts/poppins-thin-webfont.woff") format("woff");
 font-weight: 100;
 font-style: normal;
}
@font-face {
 font-family: "Poppins-Regular";
 src: url("./assets/fonts/Poppins-Regular.eot"); /* IE9 Compat Modes */
 src: url("./assets/fonts/Poppins-Regular.eot?#iefix")
 format("embedded-opentype"),
 /* IE6-IE8 */ url("./assets/fonts/Poppins-Regular.woff2") format("woff2"),
 /* Super Modern Browsers */ url("./assets/fonts/Poppins-Regular.woff")
 format("woff"),
 /* Pretty Modern Browsers */ url("./assets/fonts/Poppins-Regular.ttf")
 format("truetype"),
 /* Safari, Android, iOS */
 url("./assets/fonts/Poppins-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
}
body {
 font-family: "IBM Plex Sans" !important;
 background-color: #171717;
 padding-top: 48px;
}
/*===Lato font start*/
@font-face {
 font-family: "Lato-Black";
 src: url("./assets/fonts/Lato-Black.eot"); /* IE9 Compat Modes */
 src: url("./assets/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"),
 /* IE6-IE8 */ url("./assets/fonts/Lato-Black.woff2") format("woff2"),
 /* Super Modern Browsers */ url("./assets/fonts/Lato-Black.woff")
 format("woff"),
 /* Pretty Modern Browsers */ url("./assets/fonts/Lato-Black.ttf")
 format("truetype"),
 /* Safari, Android, iOS */ url("./assets/fonts/Lato-Black.svg#svgFontName")
 format("svg"); /* Legacy iOS */
}

@font-face {
 font-family: "Lato-Bold";
 src: url("./assets/fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
 src: url("./assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
 /* IE6-IE8 */ url("./assets/fonts/Lato-Bold.woff2") format("woff2"),
 /* Super Modern Browsers */ url("./assets/fonts/Lato-Bold.woff")
 format("woff"),
 /* Pretty Modern Browsers */ url("./assets/fonts/Lato-Bold.ttf")
 format("truetype"),
 /* Safari, Android, iOS */ url("./assets/fonts/Lato-Bold.svg#svgFontName")
 format("svg"); /* Legacy iOS */
}
@font-face {
 font-family: "Lato-Medium";
 src: url("./assets/fonts/Lato-Medium.eot"); /* IE9 Compat Modes */
 src: url("./assets/fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"),
 /* IE6-IE8 */ url("./assets/fonts/Lato-Medium.woff2") format("woff2"),
 /* Super Modern Browsers */ url("./assets/fonts/Lato-Medium.woff")
 format("woff"),
 /* Pretty Modern Browsers */ url("./assets/fonts/Lato-Medium.ttf")
 format("truetype"),
 /* Safari, Android, iOS */ url("./assets/fonts/Lato-Medium.svg#svgFontName")
 format("svg"); /* Legacy iOS */
}
@font-face {
 font-family: "Lato-Regular";
 src: url("./assets/fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
 src: url("./assets/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
 /* IE6-IE8 */ url("./assets/fonts/Lato-Regular.woff2") format("woff2"),
 /* Super Modern Browsers */ url("./assets/fonts/Lato-Regular.woff")
 format("woff"),
 /* Pretty Modern Browsers */ url("./assets/fonts/Lato-Regular.ttf")
 format("truetype"),
 /* Safari, Android, iOS */
 url("./assets/fonts/Lato-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
}

/*=========PT Sans font =======*/
@font-face {
 font-family: "pt_sans_regular";
 src: url("./assets/fonts/ptc55f.woff2") format("woff2"),
 url("./assets/fonts/ptc55f.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "pt_sans";
 src: url("./assets/fonts/ptn57f.woff2") format("woff2"),
 url("./assets/fonts/ptn57f.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: "pt_sansregular";
 src: url("./assets/fonts/pts55f.woff2") format("woff2"),
 url("./assets/fonts/pts55f.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: "source_sans_proregular";
 src: url("./assets/fonts/sourcesanspro-regular.woff2") format("woff2"),
 url("./assets/fonts/sourcesanspro-regular.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "source_sans_prosemibold";
 src: url("./assets/fonts/sourcesanspro-semibold.woff2") format("woff2"),
 url("./assets/fonts/sourcesanspro-semibold.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: "pt_sans_narrowbold";
 src: url("./assets/fonts/ptn77f.woff2") format("woff2"),
 url("./assets/fonts/ptn77f.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}

/*========font awasome font css start==========*/
@font-face {
 font-family: "FontAwesome";
 src: url("./assets/fonts/fontawesome-webfont.eot?v=4.7.0");
 src: url("./assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
 format("embedded-opentype"),
 url("./assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
 url("./assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
 url("./assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
 url("./assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
 format("svg");
 font-weight: normal;
 font-style: normal;
}
.fa {
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
 font-size: 1.33333333em;
 line-height: 0.75em;
 vertical-align: -15%;
}
.fa-2x {
 font-size: 2em;
}
.fa-3x {
 font-size: 3em;
}
.fa-4x {
 font-size: 4em;
}
.fa-5x {
 font-size: 5em;
}
.fa-fw {
 width: 1.28571429em;
 text-align: center;
}
.fa-ul {
 padding-left: 0;
 margin-left: 2.14285714em;
 list-style-type: none;
}
.fa-ul > li {
 position: relative;
}
.fa-li {
 position: absolute;
 left: -2.14285714em;
 width: 2.14285714em;
 top: 0.14285714em;
 text-align: center;
}
.fa-li.fa-lg {
 left: -1.85714286em;
}
.fa-border {
 padding: 0.2em 0.25em 0.15em;
 border: solid 0.08em #eeeeee;
 border-radius: 0.1em;
}
.fa-pull-left {
 float: left;
}
.fa-pull-right {
 float: right;
}
.fa.fa-pull-left {
 margin-right: 0.3em;
}
.fa.fa-pull-right {
 margin-left: 0.3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
 float: right;
}
.pull-left {
 float: left;
}
.fa.pull-left {
 margin-right: 0.3em;
}
.fa.pull-right {
 margin-left: 0.3em;
}
.fa-spin {
 -webkit-animation: fa-spin 2s infinite linear;
 animation: fa-spin 2s infinite linear;
}
.fa-pulse {
 -webkit-animation: fa-spin 1s infinite steps(8);
 animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
 }
 100% {
 -webkit-transform: rotate(359deg);
 transform: rotate(359deg);
 }
}
@keyframes fa-spin {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
 }
 100% {
 -webkit-transform: rotate(359deg);
 transform: rotate(359deg);
 }
}
.fa-rotate-90 {
 -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
 -webkit-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 transform: rotate(90deg);
}
.fa-rotate-180 {
 -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
 -webkit-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 transform: rotate(180deg);
}
.fa-rotate-270 {
 -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
 -webkit-transform: rotate(270deg);
 -ms-transform: rotate(270deg);
 transform: rotate(270deg);
}
.fa-flip-horizontal {
 -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
 -webkit-transform: scale(-1, 1);
 -ms-transform: scale(-1, 1);
 transform: scale(-1, 1);
}
.fa-flip-vertical {
 -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
 -webkit-transform: scale(1, -1);
 -ms-transform: scale(1, -1);
 transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
 filter: none;
}
.fa-stack {
 position: relative;
 display: inline-block;
 width: 2em;
 height: 2em;
 line-height: 2em;
 vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
 position: absolute;
 left: 0;
 width: 100%;
 text-align: center;
}
.fa-stack-1x {
 line-height: inherit;
}
.fa-stack-2x {
 font-size: 2em;
}
.fa-inverse {
 color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 readers do not read off random characters that represent icons */
.fa-glass:before {
 content: "\f000";
}
.fa-music:before {
 content: "\f001";
}
.fa-search:before {
 content: "\f002";
}
.fa-envelope-o:before {
 content: "\f003";
}
.fa-heart:before {
 content: "\f004";
}
.fa-star:before {
 content: "\f005";
}
.fa-star-o:before {
 content: "\f006";
}
.fa-user:before {
 content: "\f007";
}
.fa-film:before {
 content: "\f008";
}
.fa-th-large:before {
 content: "\f009";
}
.fa-th:before {
 content: "\f00a";
}
.fa-th-list:before {
 content: "\f00b";
}
.fa-check:before {
 content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
 content: "\f00d";
}
.fa-search-plus:before {
 content: "\f00e";
}
.fa-search-minus:before {
 content: "\f010";
}
.fa-power-off:before {
 content: "\f011";
}
.fa-signal:before {
 content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
 content: "\f013";
}
.fa-trash-o:before {
 content: "\f014";
}
.fa-home:before {
 content: "\f015";
}
.fa-file-o:before {
 content: "\f016";
}
.fa-clock-o:before {
 content: "\f017";
}
.fa-road:before {
 content: "\f018";
}
.fa-download:before {
 content: "\f019";
}
.fa-arrow-circle-o-down:before {
 content: "\f01a";
}
.fa-arrow-circle-o-up:before {
 content: "\f01b";
}
.fa-inbox:before {
 content: "\f01c";
}
.fa-play-circle-o:before {
 content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
 content: "\f01e";
}
.fa-refresh:before {
 content: "\f021";
}
.fa-list-alt:before {
 content: "\f022";
}
.fa-lock:before {
 content: "\f023";
}
.fa-flag:before {
 content: "\f024";
}
.fa-headphones:before {
 content: "\f025";
}
.fa-volume-off:before {
 content: "\f026";
}
.fa-volume-down:before {
 content: "\f027";
}
.fa-volume-up:before {
 content: "\f028";
}
.fa-qrcode:before {
 content: "\f029";
}
.fa-barcode:before {
 content: "\f02a";
}
.fa-tag:before {
 content: "\f02b";
}
.fa-tags:before {
 content: "\f02c";
}
.fa-book:before {
 content: "\f02d";
}
.fa-bookmark:before {
 content: "\f02e";
}
.fa-print:before {
 content: "\f02f";
}
.fa-camera:before {
 content: "\f030";
}
.fa-font:before {
 content: "\f031";
}
.fa-bold:before {
 content: "\f032";
}
.fa-italic:before {
 content: "\f033";
}
.fa-text-height:before {
 content: "\f034";
}
.fa-text-width:before {
 content: "\f035";
}
.fa-align-left:before {
 content: "\f036";
}
.fa-align-center:before {
 content: "\f037";
}
.fa-align-right:before {
 content: "\f038";
}
.fa-align-justify:before {
 content: "\f039";
}
.fa-list:before {
 content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
 content: "\f03b";
}
.fa-indent:before {
 content: "\f03c";
}
.fa-video-camera:before {
 content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
 content: "\f03e";
}
.fa-pencil:before {
 content: "\f040";
}
.fa-map-marker:before {
 content: "\f041";
}
.fa-adjust:before {
 content: "\f042";
}
.fa-tint:before {
 content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
 content: "\f044";
}
.fa-share-square-o:before {
 content: "\f045";
}
.fa-check-square-o:before {
 content: "\f046";
}
.fa-arrows:before {
 content: "\f047";
}
.fa-step-backward:before {
 content: "\f048";
}
.fa-fast-backward:before {
 content: "\f049";
}
.fa-backward:before {
 content: "\f04a";
}
.fa-play:before {
 content: "\f04b";
}
.fa-pause:before {
 content: "\f04c";
}
.fa-stop:before {
 content: "\f04d";
}
.fa-forward:before {
 content: "\f04e";
}
.fa-fast-forward:before {
 content: "\f050";
}
.fa-step-forward:before {
 content: "\f051";
}
.fa-eject:before {
 content: "\f052";
}
.fa-chevron-left:before {
 content: "\f053";
}
.fa-chevron-right:before {
 content: "\f054";
}
.fa-plus-circle:before {
 content: "\f055";
}
.fa-minus-circle:before {
 content: "\f056";
}
.fa-times-circle:before {
 content: "\f057";
}
.fa-check-circle:before {
 content: "\f058";
}
.fa-question-circle:before {
 content: "\f059";
}
.fa-info-circle:before {
 content: "\f05a";
}
.fa-crosshairs:before {
 content: "\f05b";
}
.fa-times-circle-o:before {
 content: "\f05c";
}
.fa-check-circle-o:before {
 content: "\f05d";
}
.fa-ban:before {
 content: "\f05e";
}
.fa-arrow-left:before {
 content: "\f060";
}
.fa-arrow-right:before {
 content: "\f061";
}
.fa-arrow-up:before {
 content: "\f062";
}
.fa-arrow-down:before {
 content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
 content: "\f064";
}
.fa-expand:before {
 content: "\f065";
}
.fa-compress:before {
 content: "\f066";
}
.fa-plus:before {
 content: "\f067";
}
.fa-minus:before {
 content: "\f068";
}
.fa-asterisk:before {
 content: "\f069";
}
.fa-exclamation-circle:before {
 content: "\f06a";
}
.fa-gift:before {
 content: "\f06b";
}
.fa-leaf:before {
 content: "\f06c";
}
.fa-fire:before {
 content: "\f06d";
}
.fa-eye:before {
 content: "\f06e";
}
.fa-eye-slash:before {
 content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
 content: "\f071";
}
.fa-plane:before {
 content: "\f072";
}
.fa-calendar:before {
 content: "\f073";
}
.fa-random:before {
 content: "\f074";
}
.fa-comment:before {
 content: "\f075";
}
.fa-magnet:before {
 content: "\f076";
}
.fa-chevron-up:before {
 content: "\f077";
}
.fa-chevron-down:before {
 content: "\f078";
}
.fa-retweet:before {
 content: "\f079";
}
.fa-shopping-cart:before {
 content: "\f07a";
}
.fa-folder:before {
 content: "\f07b";
}
.fa-folder-open:before {
 content: "\f07c";
}
.fa-arrows-v:before {
 content: "\f07d";
}
.fa-arrows-h:before {
 content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
 content: "\f080";
}
.fa-twitter-square:before {
 content: "\f081";
}
.fa-facebook-square:before {
 content: "\f082";
}
.fa-camera-retro:before {
 content: "\f083";
}
.fa-key:before {
 content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
 content: "\f085";
}
.fa-comments:before {
 content: "\f086";
}
.fa-thumbs-o-up:before {
 content: "\f087";
}
.fa-thumbs-o-down:before {
 content: "\f088";
}
.fa-star-half:before {
 content: "\f089";
}
.fa-heart-o:before {
 content: "\f08a";
}
.fa-sign-out:before {
 content: "\f08b";
}
.fa-linkedin-square:before {
 content: "\f08c";
}
.fa-thumb-tack:before {
 content: "\f08d";
}
.fa-external-link:before {
 content: "\f08e";
}
.fa-sign-in:before {
 content: "\f090";
}
.fa-trophy:before {
 content: "\f091";
}
.fa-github-square:before {
 content: "\f092";
}
.fa-upload:before {
 content: "\f093";
}
.fa-lemon-o:before {
 content: "\f094";
}
.fa-phone:before {
 content: "\f095";
}
.fa-square-o:before {
 content: "\f096";
}
.fa-bookmark-o:before {
 content: "\f097";
}
.fa-phone-square:before {
 content: "\f098";
}
.fa-twitter:before {
 content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
 content: "\f09a";
}
.fa-github:before {
 content: "\f09b";
}
.fa-unlock:before {
 content: "\f09c";
}
.fa-credit-card:before {
 content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
 content: "\f09e";
}
.fa-hdd-o:before {
 content: "\f0a0";
}
.fa-bullhorn:before {
 content: "\f0a1";
}
.fa-bell:before {
 content: "\f0f3";
}
.fa-certificate:before {
 content: "\f0a3";
}
.fa-hand-o-right:before {
 content: "\f0a4";
}
.fa-hand-o-left:before {
 content: "\f0a5";
}
.fa-hand-o-up:before {
 content: "\f0a6";
}
.fa-hand-o-down:before {
 content: "\f0a7";
}
.fa-arrow-circle-left:before {
 content: "\f0a8";
}
.fa-arrow-circle-right:before {
 content: "\f0a9";
}
.fa-arrow-circle-up:before {
 content: "\f0aa";
}
.fa-arrow-circle-down:before {
 content: "\f0ab";
}
.fa-globe:before {
 content: "\f0ac";
}
.fa-wrench:before {
 content: "\f0ad";
}
.fa-tasks:before {
 content: "\f0ae";
}
.fa-filter:before {
 content: "\f0b0";
}
.fa-briefcase:before {
 content: "\f0b1";
}
.fa-arrows-alt:before {
 content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
 content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
 content: "\f0c1";
}
.fa-cloud:before {
 content: "\f0c2";
}
.fa-flask:before {
 content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
 content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
 content: "\f0c5";
}
.fa-paperclip:before {
 content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
 content: "\f0c7";
}
.fa-square:before {
 content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
 content: "\f0c9";
}
.fa-list-ul:before {
 content: "\f0ca";
}
.fa-list-ol:before {
 content: "\f0cb";
}
.fa-strikethrough:before {
 content: "\f0cc";
}
.fa-underline:before {
 content: "\f0cd";
}
.fa-table:before {
 content: "\f0ce";
}
.fa-magic:before {
 content: "\f0d0";
}
.fa-truck:before {
 content: "\f0d1";
}
.fa-pinterest:before {
 content: "\f0d2";
}
.fa-pinterest-square:before {
 content: "\f0d3";
}
.fa-google-plus-square:before {
 content: "\f0d4";
}
.fa-google-plus:before {
 content: "\f0d5";
}
.fa-money:before {
 content: "\f0d6";
}
.fa-caret-down:before {
 content: "\f0d7";
}
.fa-caret-up:before {
 content: "\f0d8";
}
.fa-caret-left:before {
 content: "\f0d9";
}
.fa-caret-right:before {
 content: "\f0da";
}
.fa-columns:before {
 content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
 content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
 content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
 content: "\f0de";
}
.fa-envelope:before {
 content: "\f0e0";
}
.fa-linkedin:before {
 content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
 content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
 content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
 content: "\f0e4";
}
.fa-comment-o:before {
 content: "\f0e5";
}
.fa-comments-o:before {
 content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
 content: "\f0e7";
}
.fa-sitemap:before {
 content: "\f0e8";
}
.fa-umbrella:before {
 content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
 content: "\f0ea";
}
.fa-lightbulb-o:before {
 content: "\f0eb";
}
.fa-exchange:before {
 content: "\f0ec";
}
.fa-cloud-download:before {
 content: "\f0ed";
}
.fa-cloud-upload:before {
 content: "\f0ee";
}
.fa-user-md:before {
 content: "\f0f0";
}
.fa-stethoscope:before {
 content: "\f0f1";
}
.fa-suitcase:before {
 content: "\f0f2";
}
.fa-bell-o:before {
 content: "\f0a2";
}
.fa-coffee:before {
 content: "\f0f4";
}
.fa-cutlery:before {
 content: "\f0f5";
}
.fa-file-text-o:before {
 content: "\f0f6";
}
.fa-building-o:before {
 content: "\f0f7";
}
.fa-hospital-o:before {
 content: "\f0f8";
}
.fa-ambulance:before {
 content: "\f0f9";
}
.fa-medkit:before {
 content: "\f0fa";
}
.fa-fighter-jet:before {
 content: "\f0fb";
}
.fa-beer:before {
 content: "\f0fc";
}
.fa-h-square:before {
 content: "\f0fd";
}
.fa-plus-square:before {
 content: "\f0fe";
}
.fa-angle-double-left:before {
 content: "\f100";
}
.fa-angle-double-right:before {
 content: "\f101";
}
.fa-angle-double-up:before {
 content: "\f102";
}
.fa-angle-double-down:before {
 content: "\f103";
}
.fa-angle-left:before {
 content: "\f104";
}
.fa-angle-right:before {
 content: "\f105";
}
.fa-angle-up:before {
 content: "\f106";
}
.fa-angle-down:before {
 content: "\f107";
}
.fa-desktop:before {
 content: "\f108";
}
.fa-laptop:before {
 content: "\f109";
}
.fa-tablet:before {
 content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
 content: "\f10b";
}
.fa-circle-o:before {
 content: "\f10c";
}
.fa-quote-left:before {
 content: "\f10d";
}
.fa-quote-right:before {
 content: "\f10e";
}
.fa-spinner:before {
 content: "\f110";
}
.fa-circle:before {
 content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
 content: "\f112";
}
.fa-github-alt:before {
 content: "\f113";
}
.fa-folder-o:before {
 content: "\f114";
}
.fa-folder-open-o:before {
 content: "\f115";
}
.fa-smile-o:before {
 content: "\f118";
}
.fa-frown-o:before {
 content: "\f119";
}
.fa-meh-o:before {
 content: "\f11a";
}
.fa-gamepad:before {
 content: "\f11b";
}
.fa-keyboard-o:before {
 content: "\f11c";
}
.fa-flag-o:before {
 content: "\f11d";
}
.fa-flag-checkered:before {
 content: "\f11e";
}
.fa-terminal:before {
 content: "\f120";
}
.fa-code:before {
 content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
 content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
 content: "\f123";
}
.fa-location-arrow:before {
 content: "\f124";
}
.fa-crop:before {
 content: "\f125";
}
.fa-code-fork:before {
 content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
 content: "\f127";
}
.fa-question:before {
 content: "\f128";
}
.fa-info:before {
 content: "\f129";
}
.fa-exclamation:before {
 content: "\f12a";
}
.fa-superscript:before {
 content: "\f12b";
}
.fa-subscript:before {
 content: "\f12c";
}
.fa-eraser:before {
 content: "\f12d";
}
.fa-puzzle-piece:before {
 content: "\f12e";
}
.fa-microphone:before {
 content: "\f130";
}
.fa-microphone-slash:before {
 content: "\f131";
}
.fa-shield:before {
 content: "\f132";
}
.fa-calendar-o:before {
 content: "\f133";
}
.fa-fire-extinguisher:before {
 content: "\f134";
}
.fa-rocket:before {
 content: "\f135";
}
.fa-maxcdn:before {
 content: "\f136";
}
.fa-chevron-circle-left:before {
 content: "\f137";
}
.fa-chevron-circle-right:before {
 content: "\f138";
}
.fa-chevron-circle-up:before {
 content: "\f139";
}
.fa-chevron-circle-down:before {
 content: "\f13a";
}
.fa-html5:before {
 content: "\f13b";
}
.fa-css3:before {
 content: "\f13c";
}
.fa-anchor:before {
 content: "\f13d";
}
.fa-unlock-alt:before {
 content: "\f13e";
}
.fa-bullseye:before {
 content: "\f140";
}
.fa-ellipsis-h:before {
 content: "\f141";
}
.fa-ellipsis-v:before {
 content: "\f142";
}
.fa-rss-square:before {
 content: "\f143";
}
.fa-play-circle:before {
 content: "\f144";
}
.fa-ticket:before {
 content: "\f145";
}
.fa-minus-square:before {
 content: "\f146";
}
.fa-minus-square-o:before {
 content: "\f147";
}
.fa-level-up:before {
 content: "\f148";
}
.fa-level-down:before {
 content: "\f149";
}
.fa-check-square:before {
 content: "\f14a";
}
.fa-pencil-square:before {
 content: "\f14b";
}
.fa-external-link-square:before {
 content: "\f14c";
}
.fa-share-square:before {
 content: "\f14d";
}
.fa-compass:before {
 content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
 content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
 content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
 content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
 content: "\f153";
}
.fa-gbp:before {
 content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
 content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
 content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
 content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
 content: "\f158";
}
.fa-won:before,
.fa-krw:before {
 content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
 content: "\f15a";
}
.fa-file:before {
 content: "\f15b";
}
.fa-file-text:before {
 content: "\f15c";
}
.fa-sort-alpha-asc:before {
 content: "\f15d";
}
.fa-sort-alpha-desc:before {
 content: "\f15e";
}
.fa-sort-amount-asc:before {
 content: "\f160";
}
.fa-sort-amount-desc:before {
 content: "\f161";
}
.fa-sort-numeric-asc:before {
 content: "\f162";
}
.fa-sort-numeric-desc:before {
 content: "\f163";
}
.fa-thumbs-up:before {
 content: "\f164";
}
.fa-thumbs-down:before {
 content: "\f165";
}
.fa-youtube-square:before {
 content: "\f166";
}
.fa-youtube:before {
 content: "\f167";
}
.fa-xing:before {
 content: "\f168";
}
.fa-xing-square:before {
 content: "\f169";
}
.fa-youtube-play:before {
 content: "\f16a";
}
.fa-dropbox:before {
 content: "\f16b";
}
.fa-stack-overflow:before {
 content: "\f16c";
}
.fa-instagram:before {
 content: "\f16d";
}
.fa-flickr:before {
 content: "\f16e";
}
.fa-adn:before {
 content: "\f170";
}
.fa-bitbucket:before {
 content: "\f171";
}
.fa-bitbucket-square:before {
 content: "\f172";
}
.fa-tumblr:before {
 content: "\f173";
}
.fa-tumblr-square:before {
 content: "\f174";
}
.fa-long-arrow-down:before {
 content: "\f175";
}
.fa-long-arrow-up:before {
 content: "\f176";
}
.fa-long-arrow-left:before {
 content: "\f177";
}
.fa-long-arrow-right:before {
 content: "\f178";
}
.fa-apple:before {
 content: "\f179";
}
.fa-windows:before {
 content: "\f17a";
}
.fa-android:before {
 content: "\f17b";
}
.fa-linux:before {
 content: "\f17c";
}
.fa-dribbble:before {
 content: "\f17d";
}
.fa-skype:before {
 content: "\f17e";
}
.fa-foursquare:before {
 content: "\f180";
}
.fa-trello:before {
 content: "\f181";
}
.fa-female:before {
 content: "\f182";
}
.fa-male:before {
 content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
 content: "\f184";
}
.fa-sun-o:before {
 content: "\f185";
}
.fa-moon-o:before {
 content: "\f186";
}
.fa-archive:before {
 content: "\f187";
}
.fa-bug:before {
 content: "\f188";
}
.fa-vk:before {
 content: "\f189";
}
.fa-weibo:before {
 content: "\f18a";
}
.fa-renren:before {
 content: "\f18b";
}
.fa-pagelines:before {
 content: "\f18c";
}
.fa-stack-exchange:before {
 content: "\f18d";
}
.fa-arrow-circle-o-right:before {
 content: "\f18e";
}
.fa-arrow-circle-o-left:before {
 content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
 content: "\f191";
}
.fa-dot-circle-o:before {
 content: "\f192";
}
.fa-wheelchair:before {
 content: "\f193";
}
.fa-vimeo-square:before {
 content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
 content: "\f195";
}
.fa-plus-square-o:before {
 content: "\f196";
}
.fa-space-shuttle:before {
 content: "\f197";
}
.fa-slack:before {
 content: "\f198";
}
.fa-envelope-square:before {
 content: "\f199";
}
.fa-wordpress:before {
 content: "\f19a";
}
.fa-openid:before {
 content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
 content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
 content: "\f19d";
}
.fa-yahoo:before {
 content: "\f19e";
}
.fa-google:before {
 content: "\f1a0";
}
.fa-reddit:before {
 content: "\f1a1";
}
.fa-reddit-square:before {
 content: "\f1a2";
}
.fa-stumbleupon-circle:before {
 content: "\f1a3";
}
.fa-stumbleupon:before {
 content: "\f1a4";
}
.fa-delicious:before {
 content: "\f1a5";
}
.fa-digg:before {
 content: "\f1a6";
}
.fa-pied-piper-pp:before {
 content: "\f1a7";
}
.fa-pied-piper-alt:before {
 content: "\f1a8";
}
.fa-drupal:before {
 content: "\f1a9";
}
.fa-joomla:before {
 content: "\f1aa";
}
.fa-language:before {
 content: "\f1ab";
}
.fa-fax:before {
 content: "\f1ac";
}
.fa-building:before {
 content: "\f1ad";
}
.fa-child:before {
 content: "\f1ae";
}
.fa-paw:before {
 content: "\f1b0";
}
.fa-spoon:before {
 content: "\f1b1";
}
.fa-cube:before {
 content: "\f1b2";
}
.fa-cubes:before {
 content: "\f1b3";
}
.fa-behance:before {
 content: "\f1b4";
}
.fa-behance-square:before {
 content: "\f1b5";
}
.fa-steam:before {
 content: "\f1b6";
}
.fa-steam-square:before {
 content: "\f1b7";
}
.fa-recycle:before {
 content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
 content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
 content: "\f1ba";
}
.fa-tree:before {
 content: "\f1bb";
}
.fa-spotify:before {
 content: "\f1bc";
}
.fa-deviantart:before {
 content: "\f1bd";
}
.fa-soundcloud:before {
 content: "\f1be";
}
.fa-database:before {
 content: "\f1c0";
}
.fa-file-pdf-o:before {
 content: "\f1c1";
}
.fa-file-word-o:before {
 content: "\f1c2";
}
.fa-file-excel-o:before {
 content: "\f1c3";
}
.fa-file-powerpoint-o:before {
 content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
 content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
 content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
 content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
 content: "\f1c8";
}
.fa-file-code-o:before {
 content: "\f1c9";
}
.fa-vine:before {
 content: "\f1ca";
}
.fa-codepen:before {
 content: "\f1cb";
}
.fa-jsfiddle:before {
 content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
 content: "\f1cd";
}
.fa-circle-o-notch:before {
 content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
 content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
 content: "\f1d1";
}
.fa-git-square:before {
 content: "\f1d2";
}
.fa-git:before {
 content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
 content: "\f1d4";
}
.fa-tencent-weibo:before {
 content: "\f1d5";
}
.fa-qq:before {
 content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
 content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
 content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
 content: "\f1d9";
}
.fa-history:before {
 content: "\f1da";
}
.fa-circle-thin:before {
 content: "\f1db";
}
.fa-header:before {
 content: "\f1dc";
}
.fa-paragraph:before {
 content: "\f1dd";
}
.fa-sliders:before {
 content: "\f1de";
}
.fa-share-alt:before {
 content: "\f1e0";
}
.fa-share-alt-square:before {
 content: "\f1e1";
}
.fa-bomb:before {
 content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
 content: "\f1e3";
}
.fa-tty:before {
 content: "\f1e4";
}
.fa-binoculars:before {
 content: "\f1e5";
}
.fa-plug:before {
 content: "\f1e6";
}
.fa-slideshare:before {
 content: "\f1e7";
}
.fa-twitch:before {
 content: "\f1e8";
}
.fa-yelp:before {
 content: "\f1e9";
}
.fa-newspaper-o:before {
 content: "\f1ea";
}
.fa-wifi:before {
 content: "\f1eb";
}
.fa-calculator:before {
 content: "\f1ec";
}
.fa-paypal:before {
 content: "\f1ed";
}
.fa-google-wallet:before {
 content: "\f1ee";
}
.fa-cc-visa:before {
 content: "\f1f0";
}
.fa-cc-mastercard:before {
 content: "\f1f1";
}
.fa-cc-discover:before {
 content: "\f1f2";
}
.fa-cc-amex:before {
 content: "\f1f3";
}
.fa-cc-paypal:before {
 content: "\f1f4";
}
.fa-cc-stripe:before {
 content: "\f1f5";
}
.fa-bell-slash:before {
 content: "\f1f6";
}
.fa-bell-slash-o:before {
 content: "\f1f7";
}
.fa-trash:before {
 content: "\f1f8";
}
.fa-copyright:before {
 content: "\f1f9";
}
.fa-at:before {
 content: "\f1fa";
}
.fa-eyedropper:before {
 content: "\f1fb";
}
.fa-paint-brush:before {
 content: "\f1fc";
}
.fa-birthday-cake:before {
 content: "\f1fd";
}
.fa-area-chart:before {
 content: "\f1fe";
}
.fa-pie-chart:before {
 content: "\f200";
}
.fa-line-chart:before {
 content: "\f201";
}
.fa-lastfm:before {
 content: "\f202";
}
.fa-lastfm-square:before {
 content: "\f203";
}
.fa-toggle-off:before {
 content: "\f204";
}
.fa-toggle-on:before {
 content: "\f205";
}
.fa-bicycle:before {
 content: "\f206";
}
.fa-bus:before {
 content: "\f207";
}
.fa-ioxhost:before {
 content: "\f208";
}
.fa-angellist:before {
 content: "\f209";
}
.fa-cc:before {
 content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
 content: "\f20b";
}
.fa-meanpath:before {
 content: "\f20c";
}
.fa-buysellads:before {
 content: "\f20d";
}
.fa-connectdevelop:before {
 content: "\f20e";
}
.fa-dashcube:before {
 content: "\f210";
}
.fa-forumbee:before {
 content: "\f211";
}
.fa-leanpub:before {
 content: "\f212";
}
.fa-sellsy:before {
 content: "\f213";
}
.fa-shirtsinbulk:before {
 content: "\f214";
}
.fa-simplybuilt:before {
 content: "\f215";
}
.fa-skyatlas:before {
 content: "\f216";
}
.fa-cart-plus:before {
 content: "\f217";
}
.fa-cart-arrow-down:before {
 content: "\f218";
}
.fa-diamond:before {
 content: "\f219";
}
.fa-ship:before {
 content: "\f21a";
}
.fa-user-secret:before {
 content: "\f21b";
}
.fa-motorcycle:before {
 content: "\f21c";
}
.fa-street-view:before {
 content: "\f21d";
}
.fa-heartbeat:before {
 content: "\f21e";
}
.fa-venus:before {
 content: "\f221";
}
.fa-mars:before {
 content: "\f222";
}
.fa-mercury:before {
 content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
 content: "\f224";
}
.fa-transgender-alt:before {
 content: "\f225";
}
.fa-venus-double:before {
 content: "\f226";
}
.fa-mars-double:before {
 content: "\f227";
}
.fa-venus-mars:before {
 content: "\f228";
}
.fa-mars-stroke:before {
 content: "\f229";
}
.fa-mars-stroke-v:before {
 content: "\f22a";
}
.fa-mars-stroke-h:before {
 content: "\f22b";
}
.fa-neuter:before {
 content: "\f22c";
}
.fa-genderless:before {
 content: "\f22d";
}
.fa-facebook-official:before {
 content: "\f230";
}
.fa-pinterest-p:before {
 content: "\f231";
}
.fa-whatsapp:before {
 content: "\f232";
}
.fa-server:before {
 content: "\f233";
}
.fa-user-plus:before {
 content: "\f234";
}
.fa-user-times:before {
 content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
 content: "\f236";
}
.fa-viacoin:before {
 content: "\f237";
}
.fa-train:before {
 content: "\f238";
}
.fa-subway:before {
 content: "\f239";
}
.fa-medium:before {
 content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
 content: "\f23b";
}
.fa-optin-monster:before {
 content: "\f23c";
}
.fa-opencart:before {
 content: "\f23d";
}
.fa-expeditedssl:before {
 content: "\f23e";
}
.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
 content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
 content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
 content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
 content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
 content: "\f244";
}
.fa-mouse-pointer:before {
 content: "\f245";
}
.fa-i-cursor:before {
 content: "\f246";
}
.fa-object-group:before {
 content: "\f247";
}
.fa-object-ungroup:before {
 content: "\f248";
}
.fa-sticky-note:before {
 content: "\f249";
}
.fa-sticky-note-o:before {
 content: "\f24a";
}
.fa-cc-jcb:before {
 content: "\f24b";
}
.fa-cc-diners-club:before {
 content: "\f24c";
}
.fa-clone:before {
 content: "\f24d";
}
.fa-balance-scale:before {
 content: "\f24e";
}
.fa-hourglass-o:before {
 content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
 content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
 content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
 content: "\f253";
}
.fa-hourglass:before {
 content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
 content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
 content: "\f256";
}
.fa-hand-scissors-o:before {
 content: "\f257";
}
.fa-hand-lizard-o:before {
 content: "\f258";
}
.fa-hand-spock-o:before {
 content: "\f259";
}
.fa-hand-pointer-o:before {
 content: "\f25a";
}
.fa-hand-peace-o:before {
 content: "\f25b";
}
.fa-trademark:before {
 content: "\f25c";
}
.fa-registered:before {
 content: "\f25d";
}
.fa-creative-commons:before {
 content: "\f25e";
}
.fa-gg:before {
 content: "\f260";
}
.fa-gg-circle:before {
 content: "\f261";
}
.fa-tripadvisor:before {
 content: "\f262";
}
.fa-odnoklassniki:before {
 content: "\f263";
}
.fa-odnoklassniki-square:before {
 content: "\f264";
}
.fa-get-pocket:before {
 content: "\f265";
}
.fa-wikipedia-w:before {
 content: "\f266";
}
.fa-safari:before {
 content: "\f267";
}
.fa-chrome:before {
 content: "\f268";
}
.fa-firefox:before {
 content: "\f269";
}
.fa-opera:before {
 content: "\f26a";
}
.fa-internet-explorer:before {
 content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
 content: "\f26c";
}
.fa-contao:before {
 content: "\f26d";
}
.fa-500px:before {
 content: "\f26e";
}
.fa-amazon:before {
 content: "\f270";
}
.fa-calendar-plus-o:before {
 content: "\f271";
}
.fa-calendar-minus-o:before {
 content: "\f272";
}
.fa-calendar-times-o:before {
 content: "\f273";
}
.fa-calendar-check-o:before {
 content: "\f274";
}
.fa-industry:before {
 content: "\f275";
}
.fa-map-pin:before {
 content: "\f276";
}
.fa-map-signs:before {
 content: "\f277";
}
.fa-map-o:before {
 content: "\f278";
}
.fa-map:before {
 content: "\f279";
}
.fa-commenting:before {
 content: "\f27a";
}
.fa-commenting-o:before {
 content: "\f27b";
}
.fa-houzz:before {
 content: "\f27c";
}
.fa-vimeo:before {
 content: "\f27d";
}
.fa-black-tie:before {
 content: "\f27e";
}
.fa-fonticons:before {
 content: "\f280";
}
.fa-reddit-alien:before {
 content: "\f281";
}
.fa-edge:before {
 content: "\f282";
}
.fa-credit-card-alt:before {
 content: "\f283";
}
.fa-codiepie:before {
 content: "\f284";
}
.fa-modx:before {
 content: "\f285";
}
.fa-fort-awesome:before {
 content: "\f286";
}
.fa-usb:before {
 content: "\f287";
}
.fa-product-hunt:before {
 content: "\f288";
}
.fa-mixcloud:before {
 content: "\f289";
}
.fa-scribd:before {
 content: "\f28a";
}
.fa-pause-circle:before {
 content: "\f28b";
}
.fa-pause-circle-o:before {
 content: "\f28c";
}
.fa-stop-circle:before {
 content: "\f28d";
}
.fa-stop-circle-o:before {
 content: "\f28e";
}
.fa-shopping-bag:before {
 content: "\f290";
}
.fa-shopping-basket:before {
 content: "\f291";
}
.fa-hashtag:before {
 content: "\f292";
}
.fa-bluetooth:before {
 content: "\f293";
}
.fa-bluetooth-b:before {
 content: "\f294";
}
.fa-percent:before {
 content: "\f295";
}
.fa-gitlab:before {
 content: "\f296";
}
.fa-wpbeginner:before {
 content: "\f297";
}
.fa-wpforms:before {
 content: "\f298";
}
.fa-envira:before {
 content: "\f299";
}
.fa-universal-access:before {
 content: "\f29a";
}
.fa-wheelchair-alt:before {
 content: "\f29b";
}
.fa-question-circle-o:before {
 content: "\f29c";
}
.fa-blind:before {
 content: "\f29d";
}
.fa-audio-description:before {
 content: "\f29e";
}
.fa-volume-control-phone:before {
 content: "\f2a0";
}
.fa-braille:before {
 content: "\f2a1";
}
.fa-assistive-listening-systems:before {
 content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
 content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
 content: "\f2a4";
}
.fa-glide:before {
 content: "\f2a5";
}
.fa-glide-g:before {
 content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
 content: "\f2a7";
}
.fa-low-vision:before {
 content: "\f2a8";
}
.fa-viadeo:before {
 content: "\f2a9";
}
.fa-viadeo-square:before {
 content: "\f2aa";
}
.fa-snapchat:before {
 content: "\f2ab";
}
.fa-snapchat-ghost:before {
 content: "\f2ac";
}
.fa-snapchat-square:before {
 content: "\f2ad";
}
.fa-pied-piper:before {
 content: "\f2ae";
}
.fa-first-order:before {
 content: "\f2b0";
}
.fa-yoast:before {
 content: "\f2b1";
}
.fa-themeisle:before {
 content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
 content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
 content: "\f2b4";
}
.fa-handshake-o:before {
 content: "\f2b5";
}
.fa-envelope-open:before {
 content: "\f2b6";
}
.fa-envelope-open-o:before {
 content: "\f2b7";
}
.fa-linode:before {
 content: "\f2b8";
}
.fa-address-book:before {
 content: "\f2b9";
}
.fa-address-book-o:before {
 content: "\f2ba";
}
.fa-vcard:before,
.fa-address-card:before {
 content: "\f2bb";
}
.fa-vcard-o:before,
.fa-address-card-o:before {
 content: "\f2bc";
}
.fa-user-circle:before {
 content: "\f2bd";
}
.fa-user-circle-o:before {
 content: "\f2be";
}
.fa-user-o:before {
 content: "\f2c0";
}
.fa-id-badge:before {
 content: "\f2c1";
}
.fa-drivers-license:before,
.fa-id-card:before {
 content: "\f2c2";
}
.fa-drivers-license-o:before,
.fa-id-card-o:before {
 content: "\f2c3";
}
.fa-quora:before {
 content: "\f2c4";
}
.fa-free-code-camp:before {
 content: "\f2c5";
}
.fa-telegram:before {
 content: "\f2c6";
}
.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
 content: "\f2c7";
}
.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
 content: "\f2c8";
}
.fa-thermometer-2:before,
.fa-thermometer-half:before {
 content: "\f2c9";
}
.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
 content: "\f2ca";
}
.fa-thermometer-0:before,
.fa-thermometer-empty:before {
 content: "\f2cb";
}
.fa-shower:before {
 content: "\f2cc";
}
.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
 content: "\f2cd";
}
.fa-podcast:before {
 content: "\f2ce";
}
.fa-window-maximize:before {
 content: "\f2d0";
}
.fa-window-minimize:before {
 content: "\f2d1";
}
.fa-window-restore:before {
 content: "\f2d2";
}
.fa-times-rectangle:before,
.fa-window-close:before {
 content: "\f2d3";
}
.fa-times-rectangle-o:before,
.fa-window-close-o:before {
 content: "\f2d4";
}
.fa-bandcamp:before {
 content: "\f2d5";
}
.fa-grav:before {
 content: "\f2d6";
}
.fa-etsy:before {
 content: "\f2d7";
}
.fa-imdb:before {
 content: "\f2d8";
}
.fa-ravelry:before {
 content: "\f2d9";
}
.fa-eercast:before {
 content: "\f2da";
}
.fa-microchip:before {
 content: "\f2db";
}
.fa-snowflake-o:before {
 content: "\f2dc";
}
.fa-superpowers:before {
 content: "\f2dd";
}
.fa-wpexplorer:before {
 content: "\f2de";
}
.fa-meetup:before {
 content: "\f2e0";
}
.sr-only {
 position: absolute;
 width: 1px;
 height: 1px;
 padding: 0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
 position: static;
 width: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 clip: auto;
}

.close {
 text-shadow: none !important;
}
input.form_control:focus {
 outline: 0;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
 outline: 0 !important;
}
.purchase-popup .modal-content {
 margin: 0 auto;
 background: #282b33;
 border-radius: 5px;
 width: 600px;
 height: 530px;
 top: 10%;
 position: relative;
 // transition: all 5s ease-in-out;
}
.purchase-detail-popup .modal-content {
 margin: 0 auto;
 background: #282b33;
 border-radius: 5px;
 width: 600px;
 height: 565px;
 top: 10%;
 position: relative;
 // transition: all 5s ease-in-out;
}
.purchase-popup .close,
.purchase-detail-popup .close {
 font-size: 2rem;
 color: #7592ae;
 text-shadow: 0;
}
.purchase-popup .close:hover,
.purchase-detail-popup .close:hover {
 color: #7592ae;
 text-decoration: none;
}
.purchase-popup .modal-header,
.purchase-detail-popup .modal-header {
 border-bottom: 1px solid #373c48;
}
.image-popup .modal-content {
 background-color: transparent;
 border: none;
}
.image-popup .modal-header {
 border-bottom: 1px solid transparent;
}
.image-popup button.close {
 color: #fff;
}
.image-popup .modal-dialog {
 max-width: calc(100% - 100px);
 margin: 25px auto;
 max-height: calc(100vh);
}
.image-popup .modal-body {
 padding: 0;
}
.full-img img {
 max-height: calc(100vh - 50px);
 margin: 0 auto;
 display: block;
 max-width: calc(100%);
}
.full-img {
 height: calc(100vh - 50px);
 display: flex;
 align-items: center;
}

/*is mobile css start*/

.is_mobile {
 .blog-image {
 height: 180px !important;
 }

 .blog-dl-desc-section img {
 max-width: 100%;
 height: auto !important;
 }

 .blog-description {
 max-height: 4.8rem !important;
 margin-bottom: 20px;
 }

 .ACon {
 margin-top: 3px !important;
 }
 .navbar {
 padding: 8px 12px !important;
 position: fixed;
 top: 0;
 height: 48px !important;
 background-color: #171717;
 border-bottom: 1px solid #3d3d3d;
 font-family: "IBM Plex Sans";
 z-index: 9999;
 }
 .clickPopUp .buttons {
 font-size: 14px !important;
 }
 .clickPopUp h4 {
 font-size: 14px !important;
 }
 .clickPopUp {
 width: 175px !important;
 right: 4px !important;
 top: 72px !important;
 }
 .clickPopUp:after {
 right: 12px !important;
 }
 .sidebar.navPopUp.close {
 width: 70% !important;
 }
 .Img1 {
 width: 35px !important;
 height: 35px !important;
 }
 .Img1 h3 {
 font-size: 15px !important;
 }

 .Profile1 {
 width: 22% !important;
 float: left;
 }

 span.name1 {
 font-size: 14px !important;
 }
 .title1 {
 font-size: 14px !important;
 }
 header {
 height: 36px !important;
 }
 // .navbar img {
 // width: 23px !important;
 // padding-top: 5px !important;
 // }
 .Img h3 {
 font-size: 12px !important;
 line-height: 24px !important;
 }
 .ACon .Img {
 line-height: 24px !important;
 width: 24px !important;
 height: 24px !important;
 }
 .mobile-logo {
 background: #0d927a !important;
 height: 36px !important;
 text-align: center !important;
 width: 100%;
 }
 .mobile-logo img {
 display: block !important;
 margin: 0 auto !important;
 padding-top: 5px !important;
 width: 102px;
 }
 // section.sidebar {
 // height: calc(100vh) !important;
 // }
 .user-panel {
 height: 73px !important;
 }
 /*.mobile-title,.mobile-content {
 width: 375px;
 }*/
 .price-top.m-price-top {
 background: #282b33 !important;
 overflow: hidden;
 }
 .price-top.m-price-top {
 background: #282b33 !important;
 overflow: hidden;
 padding: 8px;
 padding-top: 0px;
 }
 .priceaction.rsiscanner .night-mode img.info-night {
 margin-top: -3px !important;
 }
 .priceaction {
 padding: 0 8px 5px !important;
 }
 .price-menu .cont-data3 {
 display: none !important;
 }
 .price-cont .cont-data3 {
 display: none !important;
 }
 .price-menu {
 margin-top: 8px !important;
 }
 .price-cont .cont-data,
 .price-menu .cont-data {
 width: calc(37% - 14px) !important;
 }
 .price-cont .cont-data2,
 .price-menu .cont-data2 {
 width: 65% !important;
 }
 .price-cont .class2 span {
 width: calc(100% - 4px) !important;
 height: 24px !important;
 }
 .price-cont .class1,
 .price-cont .class2 {
 line-height: 24px !important;
 }
 .price-cont .cont-data {
 height: 24px !important;
 }
 .price-cont .class1 img {
 width: 24px !important;
 height: 24px !important;
 margin-top: -5px;
 }
 .class1 {
 font-size: 13px !important;
 }
 .price-cont {
 margin: 4px 0 !important;
 height: 24px !important;
 }
 .class2 {
 font-size: 12px !important;
 font-weight: bold !important;
 }
 .price-cont .cont-data .class1.coin span.m_coin_drop {
 width: 18px !important;
 height: 18px !important;
 display: inline-table !important;
 line-height: 18px !important;
 font-size: 15px !important;
 color: #d8d8d8 !important;
 background: #373c48 !important;
 }
 select.dropbtn.usd-select {
 font-size: 13px;
 background: url("assets/images/down-arrow.svg");
 background-repeat: no-repeat;
 background-position: 92% 55%;
 background-size: 10px;
 padding: 5px 16px 5px 5px;
 margin-right: 5px;
 }
 .m_cont-data4 {
 display: block !important;
 }
 .price-cont {
 display: block !important;
 }
 .trend-view {
 float: left;
 width: 100%;
 }
 .fibo-view {
 width: 100%;
 float: left;
 }
 .m_cont-data4 .trend-view,
 .vscanner .m_cont-data4 .fibo-view {
 padding: 10px;
 margin: 7px 0;
 font-size: 14px;
 font-family: "Lato-regular";
 background: #282b33;
 }
 .m_cont-data4 .trend-view .list,
 .vscanner .m_cont-data4 .fibo-view .list {
 text-align: right;
 color: #fff;
 margin-bottom: 5px;
 }
 .m_cont-data4 .trend-view .trend,
 .vscanner .m_cont-data4 .fibo-view .fibo {
 padding: 7px 0;
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid #222329;
 }
 .m_cont-data4 .trend-view .trend span {
 color: #fff;
 line-height: 17px;
 }
 .m_cont-data4 .trend-view button.trendbtn {
 width: 100%;
 margin: 10px 0 0;
 height: 32px;
 background: #f5a623;
 border: none;
 letter-spacing: 1px;
 font-size: 14px;
 font-weight: 600;
 font-family: "Lato-regular";
 }
 .m_cont-data4 .fibo-view {
 padding: 10px;
 margin: 7px 0;
 font-size: 14px;
 font-family: "Poppins-Regular";
 overflow: hidden;
 background: #282b33;
 }
 .m_cont-data4 .fibo-view .right {
 float: left;
 width: 30%;
 }
 .m_cont-data4 .fibo-view .right button {
 height: 49px;
 background: #f5a623;
 border: 3px solid #ffd796;
 border-radius: 3px;
 font-size: 14px;
 font-weight: 700;
 font-family: "Lato-regular";
 }
 .m_cont-data4 .fibo-view .left {
 float: right;
 width: 70%;
 }
 .m_cont-data4 .fibo-view .cont-data2.fibo_data {
 display: block;
 width: 100% !important;
 }
 .m_cont-data4 .fibo-view .fibo-data {
 color: #fff;
 padding: 7px 0;
 border-bottom: 1px solid #d8d8d8;
 display: flex;
 justify-content: space-between;
 clear: both;
 font-family: "Lato-regular";
 }
 .price-cont .class1 img {
 margin-right: 3px !important;
 }
 .price-top.m-price-top {
 display: block !important;
 }
 .price-top {
 display: none !important;
 }

 .middle-section {
 width: 100%;
 overflow-x: hidden;
 }

 .right-bar.sidebarOpen .mobile-logo img {
 display: none !important;
 }
 .right-bar.sidebarOpen .ACon {
 display: none;
 }

 .price-menu {
 top: -1px !important;
 height: 45px !important;
 }
 .clickPopUp .buttons {
 padding: 10px 20px !important;
 }
 .clickPopUp h4 {
 padding: 15px 20px !important;
 }
 .rsiscanner .price-top.m-price-top {
 margin-top: 8px;
 }
 .rsiscanner label#myBtn {
 display: inline-block;
 width: 22px;
 border-radius: 50%;
 clear: both;
 position: relative;
 top: 9px;
 margin: 0 0px 0 15px;
 }
 .rsiscanner label {
 margin-bottom: 0px !important;
 }
 .rsiscanner select.dropbtn.d_binance {
 padding: 5px 40px !important;
 }

 button.dropbtn.d_watch {
 padding: 5px 37px;
 }
 .rsiscanner select.dropbtn.d_sell {
 width: 160px;
 margin-right: 8px;
 }
 .rsiscanner select.dropbtn.d_usd.d_btc {
 padding: 0 35px 0 35px;
 }
 .rsiscanner select.dropbtn.d_usd {
 padding: 0 10px 0 5px;
 font-size: 12px;
 }
 .rsiscanner select.dropbtn.d_usd {
 background-position: 93% 52%;
 background-size: 8px;
 margin-right: 5px;
 }

 .middle-section {
 height: calc(100vh - 71px) !important;
 -webkit-overflow-scrolling: touch;
 }

 .priceaction.rsiscanner .price-cont .cont-data,
 .priceaction.rsiscanner .price-menu .cont-data {
 width: calc(34% - 11px) !important;
 }
 .priceaction.rsiscanner .class1 {
 font-size: 12px !important;
 }
 .priceaction.rsiscanner .price-cont .cont-data2,
 .priceaction.rsiscanner .price-menu .cont-data2 {
 width: 67.7% !important;
 }
 .priceaction.rsiscanner .class2 {
 font-size: 12px !important;
 }
 .priceaction.rsiscanner .m_cont-data4 .trend-view {
 font-size: 12px !important;
 }
 .priceaction.rsiscanner
 .m_cont-data4.trend-view
 .trend:nth-child(3)
 span:last-child,
 .priceaction.rsiscanner
 .m_cont-data4
 .trend-view
 .trend:nth-child(3)
 span:last-child {
 color: #119b4f;
 }
 .priceaction.rsiscanner .price-cont .class1,
 .priceaction.rsiscanner .price-cont .class2 {
 line-height: 21px !important;
 }
 .priceaction.rsiscanner .price-cont .class1 img {
 margin-top: 0px;
 }
 .rsiscanner select.dropbtn.d_sell {
 width: 166px;
 margin-right: 8px;
 }
 .rsiscanner select.dropbtn.d_usd.d_btc {
 padding: 0 50px 0 62px;
 font-size: 16px;
 margin-right: 0;
 }
 .rsiscanner .m_cont-data4 .trend-view button.trendbtn {
 font-size: 12px;
 }
 /*volume scanner*/
 .volume-scanner .fibo-view button.trendbtn {
 width: 100%;
 margin: 10px 0 0;
 height: 32px;
 background: #f5a623;
 border: none;
 font-size: 14px;
 letter-spacing: 1px;
 font-weight: 900;
 font-family: "Lato-regular";
 }
 .volume-scanner .m_cont-data4 .fibo-view {
 padding: 10px;
 margin: 7px 0;
 font-size: 14px;
 font-family: "Lato-regular";
 overflow: hidden;
 background: #282b33;
 color: #fff;
 }
 .volume-scanner .m_cont-data4 .fibo-view .list {
 color: #ffffff;
 text-align: right;
 margin-bottom: 5px;
 }
 .volume-scanner .m_cont-data4 .fibo-view .fibo {
 padding: 7px 0;
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid #222329;
 }
 .volume-scanner .m_top_drop.m-price-top {
 display: block;
 background: #282b33 !important;
 overflow: hidden;
 padding: 3px 10px;
 }
 .volume-scanner .m-price-top .dropbtn {
 background-color: #373c48 !important;
 color: #fff !important;
 }
 .volume-scanner button.dropbtn.d_watch {
 padding: 5px 10px !important;
 }
 .volume-scanner select.dropbtn.d_binance {
 padding: 5px 31px 5px 20px;
 }
 .volume-scanner label#myBtn {
 display: inline-block;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 clear: both;
 position: relative;
 top: 9px;
 margin: 0 8px 0 8px;
 }
 .volume-scanner select.dropbtn.d_usd {
 padding: 0 25px 0 14px;
 }
 .volume-scanner .price-menu .cont-data3 {
 display: block !important;
 }
 .volume-scanner .price-cont .cont-data3 {
 display: block !important;
 }
 .volume-scanner .price-cont .cont-data3,
 .volume-scanner .price-menu .cont-data3 {
 display: block !important;
 float: left !important;
 width: calc(20% - 4px) !important;
 }
 .volume-scanner .price-cont .cont-data2,
 .volume-scanner .price-menu .cont-data2 {
 width: 48% !important;
 height: 24px !important;
 }
 .volume-scanner .class1.market {
 width: 90% !important;
 }
 .volume-scanner .class1.popup span {
 font-size: 12px !important;
 margin-right: 0 !important;
 }
 .volume-scanner .class1 {
 font-size: 12px !important;
 }
 .volume-scanner .price-cont .class1 img {
 width: 24px !important;
 height: 24px !important;
 margin-top: -5px !important;
 }
 .volume-scanner .price-cont .class1,
 .volume-scanner .price-cont .class2 {
 line-height: 24px !important;
 height: 24px !important;
 }
 .volume-scanner .dropbtn.morebtn.star {
 padding-left: 0px;
 height: 24px !important;
 }
 .volume-scanner .dropbtn.morebtn.star img {
 width: 15px !important;
 height: 15px !important;
 margin-right: 0 !important;
 margin-top: 4px !important;
 margin-left: 5px !important;
 }
 .volume-scanner .class1.livefibo {
 text-align: center !important;
 width: 50% !important;
 }
 .volume-scanner .class1.live_fibo.popup {
 margin-left: 7px !important;
 }
 /*fibo */
 .volume-scanner .price-menu .cont-data3.fibotext {
 width: 63% !important;
 }
 .volume-scanner .price-cont .cont-data3.fibotext {
 width: 66.9% !important;
 border-top-right-radius: 16px;
 border-bottom-right-radius: 16px;
 }
 .fibotext .class1.volume {
 width: 32% !important;
 }
 .fibotext .class1.h24 {
 width: 32% !important;
 }
 .fibotext .class1.d3 {
 width: 25% !important;
 }
 .priceaction .price-menu .cont-data3 {
 display: block !important;
 }
 .priceaction .price-cont .cont-data3 {
 display: block !important;
 }
 .priceaction .cont-data3 {
 width: 66% !important;
 }
 .priceaction .class1.peak_drop {
 width: 31% !important;
 }
 .priceaction .class1.peak_gains {
 width: 31% !important;
 }
 .priceaction .class1.usd_price {
 width: 29% !important;
 }
 .priceaction .class1.popup {
 width: 39% !important;
 float: right;
 }
 .priceaction .class1.popup span {
 font-size: 13px !important;
 }
 .priceaction .cont-data3 {
 width: 64.5% !important;
 height: 24px;
 }
 .priceaction .price-cont .cont-data3 .class1:first-child {
 padding-right: 0px !important;
 }
 .priceaction .dropbtn.morebtn.star {
 height: 24px !important;
 border-radius: 16px !important;
 }
 .class1.popup span {
 margin-right: 12px !important;
 }
 .priceaction .dropbtn.morebtn.star img {
 margin-top: 0px !important;
 margin-right: 3px !important;
 }
 .priceaction.rsiscanner .cont-data3 {
 display: none !important;
 }
 .priceaction.rsiscanner .price-cont .cont-data3 {
 display: none !important;
 }

 select.dropbtn.d_usd.desktop_usd {
 display: block !important;
 }
//  label {
//  margin-bottom: 5px !important;
//  }
 img.sun-nightmode {
 margin-top: -5px !important;
 width: 18px !important;
 }
 .priceaction .price-menu .class1:first-child {
 padding-left: 0 !important;
 }
 footer.main-footer {
 width: calc(100%) !important;
 }
 .left-section {
 width: auto !important;
 display: inline-block;
 margin-left: 0 !important;
 line-height: 20px !important;
 vertical-align: middle;
 text-align: center;
 }
 .right-section {
 width: auto !important;
 display: block !important;
 margin-right: 0;
 text-align: center;
 margin: 0 auto;
 line-height: 34px !important;
 height: 35px !important;
 }
 .priceaction .price-menu .cont-data3 .class1:last-child {
 padding-right: 10px !important;
 }
 img.sun-nightmode {
 margin-top: -5px !important;
 width: 18px !important;
 }
 img.moon-nightmode {
 margin-left: 0 !important;
 padding-right: 9px !important;
 margin-right: 4px !important;
 margin-top: -21px !important;
 }
 .priceaction .price-menu .class1:first-child {
 padding-left: 20px !important;
 }
 footer.main-footer {
 width: calc(100%) !important;
 }
 .left-section {
 width: auto !important;
 display: inline-block;
 margin-left: 0 !important;
 line-height: 20px !important;
 vertical-align: middle;
 text-align: center;
 }
 .right-section {
 width: auto !important;
 display: block !important;
 margin-right: 0;
 text-align: center;
 margin: 0 auto;
 line-height: 34px !important;
 height: 35px !important;
 }
 .priceaction .price-menu .cont-data3 .class1:last-child {
 padding-right: 10px !important;
 }
 .priceaction.rsiscanner .price-cont .cont-data2 .class2,
 .priceaction.rsiscanner .price-menu .cont-data2 .class2 {
 width: 20% !important;
 }
 .priceaction .dropbtn.morebtn.star img {
 width: 12px !important;
 height: 12px !important;
 margin-right: 8px !important;
 margin-top: 6px !important;
 margin-top: 3px !important;
 }
 .volume-scanner label#myBtn {
 margin: 0px 8px 0 8px !important;
 }
 .night-mode img.info-night {
 margin-top: -11px !important;
 }
 .price-top.m-price-top label:first-child {
 margin-bottom: 8px !important;
 }
 .priceaction.volume-scanner label {
 margin-bottom: 8px !important;
 }
 .priceaction label {
 margin-bottom: 0px !important;
 }
 .volume-scanner button.dropbtn.d_watch {
 padding: 5px 6px !important;
 }
 .priceaction.volume-scanner label#myBtn {
 top: 10px !important;
 }
 .priceaction label#myBtn {
 top: 5px !important;
 }
 .rsiscanner select.dropbtn.d_usd.d_btc {
 padding: 0 59px 0 51px !important;
 }
 .priceaction .price-top.m-price-top button.dropbtn.d_watch {
 padding: 5px 37px !important;
 }
 .priceaction select.dropbtn.d_usd {
 padding: 0 25px 0 16px !important;
 }
 /*subscription css start*/
 #subscription_block {
 padding: 0 12px 12px !important;
 }
 .subscribtion .period form {
 width: 85% !important;
 }
 .period form label.selected div {
 text-align: center !important;
 }
 .period form label div {
 left: -72px !important;
 text-align: center !important ;
 }
 .sub_data {
 width: calc(100%) !important;
 }
 .subscribtion .period {
 margin: 25px 0 30px 0 !important;
 }
 .subscribtion .package {
 padding: 20px !important;
 }
 .botton.upgrade {
 margin-top: 24px !important;
 }
 #ribbon-container {
 right: 0px !important;
 }
 #ribbon-container span {
 padding: 5px 5px !important;
 }
 #ribbon-container span:after {
 border-top: 17px solid #01bf86 !important;
 }
 .sub_history {
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 }
 .purchase-popup .modal-content {
 width: 100% !important;
 height: auto !important;
 }
 button.option {
 width: 135px !important;
 height: 60px !important;
 }
 button.option.coin,
 button.option.visa {
 background-size: contain !important;
 }
 .purchase-detail-popup .modal-content {
 width: 100% !important;
 height: auto !important;
 }
 .subscribtion .period form > div.halfmonth {
 -webkit-transform: translateX(153px) !important;
 transform: translateX(153px) !important;
 }
 .subscribtion .period form > div.year {
 -webkit-transform: translateX(306px) !important;
 transform: translateX(306px) !important;
 }
 .sidebarOpen .nav-left {
 display: none !important;
 }

 .subscribtion .package {
 min-height: 384px !important;
 }
 .price-cont .cont-data3 .class1 {
 font-size: 13px !important;
 }
 .price-cont .cont-data .class1.coin span.m_coin_drop {
 margin: 1px 3px 0 3px;
 }
 /*algo trades css*/
 .algotrades {
 padding: 8px 8px 8px !important;
 }
 .content-section .col-md-4 {
 flex: 0 0 100% !important;
 max-width: 100% !important;
 }
 .content-section {
 padding-top: 10px !important;
 }

 .price.sell_fibo {
 height: auto !important;
 }
 .algotrades label#myBtn {
 top: 12px !important;
 width: 33px !important;
 margin: 0 0px 0 5px !important;
 }
 .algotrades select.dropbtn.d_binance {
 padding: 5px 40px !important;
 }
 .algotrades select.dropbtn.d_sell {
 width: 166px !important;
 margin-right: 8px !important;
 }
 .algotrades select.dropbtn.d_usd.d_btc {
 padding: 0 59px 0 53px !important;
 }

 /*chat page css */
 .search-section {
 width: calc(100% - 24px) !important;
 margin-left: 12px !important;
 margin-right: 12px !important;
 margin-top: 12px !important;
 }
 // .mobile_chat {
 // display: none !important;
 // }
 .mobile_chat.is_chat_open {
 display: block !important;
 }
 .mobile_chat.is_chat_open .chat-main {
 height: calc(85vh - 50px) !important;
 }
 .mobile_chat.is_chat_open .chat-section {
 width: calc(100%) !important;
 }
 .mobile_chat.is_chat_open span.move_to_bottom {
 bottom: 0px !important;
 right: 10px !important;
 }
 .search-section.is_open {
 display: none !important;
 }
 .mobile_chat.is_chat_open .image-message {
 width: 250px !important;
 height: 150px !important;
 }
 .mobile_chat.is_chat_open .chat-recevie-section {
 margin-left: 0 !important;
 }
 .mobile_chat.is_chat_open .send-user {
 margin-right: 10px !important;
 }
 .mobile_chat.is_chat_open .receiver-img .ACon {
 top: -4px !important;
 }
 .mobile_chat.is_chat_open .send-user {
 max-width: calc(100% - 100px) !important;
 }
 .mobile_chat.is_chat_open .header-img {
 display: flex !important;
 z-index: 999999999999;
 }
 .mobile_chat.is_chat_open .header-img img {
 width: 18px !important;
 height: 18px !important;
 }
 .mobile_chat.is_chat_open span.back {
 color: #f2f2f2;
 font-size: 16px;
 font-family: "source_sans_proregular";
 line-height: 17px;
 padding-left: 5px;
 }
 .mobile_chat.is_chat_open .header-title {
 text-align: center;
 }
 .all-listing {
 height: calc(100vh - 150px) !important;
 }
 .mobile_chat.is_chat_open .reply-msg {
 line-height: 20px !important;
 word-break: break-all !important;
 }
 .mobile_chat.is_chat_open .send-user .image-message {
 max-width: calc(100%) !important;
 }

 .mts-emoji-picker {
 right: 15px !important;
 z-index: 99;
 }
 .mobile_chat.is_chat_open .header-section {
 padding: 10px 12px !important;
 border-bottom: none !important;
 background: #282b33 !important;
 }
 .mobile_chat.is_chat_open .header-title {
 font-size: 16px !important;
 line-height: 19px !important;
 width: calc(100% - 67px) !important;
 }
 .mobile_chat.is_chat_open .header-popup-img {
 width: 55px !important;
 height: 22px !important;
 background-size: 23px;
 }
 .middle-section.chat-module {
 height: calc(100vh) !important;
 }
 .mobile_chat.is_chat_open .chat-section.is_reply .chat-main {
 height: calc(100vh - 100px) !important;
 }
 .image-popup .modal-dialog {
 max-width: calc(100% - 50px) !important;
 }
 .mobile_chat.is_chat_open .reply-msg.image-message[_ngcontent-c3] {
 width: 45px !important;
 height: 45px !important;
 }
 .chat-send-section .send-user.rece-user.image-message {
 margin-right: 0 !important;
 }
 .rece-name {
 padding-left: 8px !important;
 }
 .type-msg .form_control {
 padding-left: 65px !important; /*arabic change*/
 }
 // button.attach {

 // }
 span.clip {
 top: 12px !important;
 right: 60px !important;
 }
 .chat-footer span img {
 width: 20px !important;
 height: 20px !important;
 }
 .attach img {
 width: 32px !important;
 height: 32px !important;
 }
 .image-popup button.close {
 right: 7px !important;
 top: 7px !important;
 }
 .modal-dialog {
 height: 100% !important;
 }
 .changepw-popup button.close {
 right: 12px !important;
 top: 14px !important;
 }
 .content {
 width: 90% !important;
 }
 .changepw-popup .modal-content {
 padding: 0px !important;
 width: auto !important;
 height: 100% !important;
 top: 0% !important;
 }
 .changepw-popup .modal-dialog {
 margin: 0px !important ;
 }
 /*stciky chat header mobile*/
 .chat-section .header-section {
 position: fixed;
 z-index: 999;
 width: 100%;
 height: 42px;
 }
 .type-msg {
 position: fixed;
 bottom: 0;
 z-index: 999;
 opacity: 1;
 }
 .chat-footer {
 z-index: 999;
 }
 /*blog-details*/
 .blog-detail {
 padding: 24px 8px 8px !important;
 }
 .col-md-4.post {
 padding: 0;
 margin-right: 0 !important;
 float: none !important;
 flex: 0 0 100% !important;
 max-width: 100% !important;
 }

 .related_post_section {
 padding-top: 24px !important;
 }
 .blog {
 padding: 8px 8px 8px !important;
 }
 .blog .left {
 padding-bottom: 12px !important;
 padding-top: 12px !important;
 }
 .blog-detail.col-md-6 {
 padding: 0 !important;
 margin-right: 0 !important;
 float: none !important;
 width: 100% !important;
 margin-bottom: 10px !important ;
 }
 .blog .left button.dropbtn {
 padding: 8px 34px !important;
 margin-right: 6px !important;
 margin-bottom: 6px !important;
 }
 .post-title {
 font-size: 18px !important;
 line-height: 22px !important;
 }
 .post-cate-time {
 margin-top: 0 !important;
 margin-bottom: 10px !important;
 }
 .cate {
 font-size: 14px !important;
 }
 .blog-dl-title {
 padding-bottom: 5px !important;
 }
 .blog-dl-cate-time {
 padding-bottom: 10px !important;
 }
 .blog .left button.dropbtn:nth-child(3n + 3) {
 margin-right: 0 !important;
 }
 .blog .left button.dropbtn:nth-child(3n + 5) {
 margin-right: 0 !important;
 }
}

.image-popup.modal {
 z-index: 1111111;
}
.image-popup button.close {
 opacity: 1 !important;
 position: fixed !important;
 right: 40px !important;
 font-size: 35px !important;
}
.image-popup.modal {
 background: #000;
}
.modal-backdrop.fade.show {
 z-index: 105011 !important;
}
.modal {
 z-index: 99999999 !important;
}
.changepw-popup.modal {
 z-index: 99999999 !important;
}
.changepw-popup button.close {
 color: #7592ae;
 font-size: 36px;
 opacity: 1;
 position: absolute;
 right: 0;
 top: 14px;
}
.changepw-popup .modal-content {
 margin: 0 auto;
 padding: 32px;
 background: #282b33;
 border-radius: 5px;
 width: 600px;
 height: 540px;
 top: 10%;
 position: relative;
 transition: all 5s ease-in-out;
}

.chat-recevie-section a.messages_link,
.chat-recevie-section a.messages_link:hover {
 color: #6ba4ff;
}
.close span {
 font-weight: normal;
}
.chat-send-section a.messages_link,
.chat-send-section a.messages_link:hover {
 color: #6ba4ff;
}

a.messages_link:hover {
 opacity: 0.8;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 .class1,
 .class2 {
 font-size: 12px !important;
 }
 .class1.popup {
 width: 20% !important;
 float: right;
 }
 .class1.popup span {
 font-size: 12px !important;
 margin-right: 6px !important;
 }
 .dropbtn.morebtn.star img {
 margin-top: 0px !important;
 }
 .price-cont .cont-data3 .class1:first-child {
 padding-right: 6px !important;
 }
 .price-cont {
 height: 24px !important;
 }
 .price-cont .cont-data {
 height: 24px !important;
 }
 .price-cont .class1,
 .price-cont .class2 {
 line-height: 24px !important;
 }
 .price-cont .class1 img {
 width: 24px !important;
 height: 24px !important;
 }
 .price-cont .class2 span {
 height: 24px !important;
 }
 .dropbtn.morebtn.star {
 height: 24px;
 }
 .sidebar.navPopUp.close {
 width: 30% !important;
 }

 .priceaction.rsiscanner .price-cont .cont-data,
 .priceaction.rsiscanner .price-menu .cont-data {
 width: calc(21% - 4px) !important;
 }
 .priceaction .price-menu .cont-data3 .class1:last-child {
 padding-right: 0 !important;
 }
 .priceaction .price-menu .class1:first-child {
 padding-left: 15px !important;
 }
}
@media screen and (min-width: 360px) and (max-height: 640px) {
 .is_mobile .volume-scanner select.dropbtn.d_usd {
 padding: 0 16px 0 18px;
 }
 .is_mobile .subscribtion .period form > div.halfmonth {
 -webkit-transform: translateX(130px) !important;
 transform: translateX(130px) !important;
 }
 .is_mobile .subscribtion .period form > div.year {
 -webkit-transform: translateX(258px) !important;
 transform: translateX(258px) !important;
 }
}
@media screen and (min-width: 375px) and (max-height: 812px) {
 .switch-input:checked + .switch-label-on ~ .switch-selection {
 left: 129px !important;
 }
 .is_mobile .volume-scanner select.dropbtn.d_usd {
 padding: 0 31px 0 18px;
 }
 .is_mobile .rsiscanner button.dropbtn.d_watch {
 padding: 5px 45px;
 }
 .is_mobile .algotrades button.dropbtn.d_watch {
 padding: 5px 45px;
 }
 .is_mobile .rsiscanner label#myBtn {
 top: 5px !important;
 }
 .is_mobile .rsiscanner select.dropbtn.d_sell {
 width: 181px !important;
 }
 .is_mobile .algotrades select.dropbtn.d_sell {
 width: 181px !important;
 }
 .is_mobile .priceaction .price-top.m-price-top select.dropbtn.d_binance {
 padding: 5px 48px;
 }
 .is_mobile .priceaction select.dropbtn.d_usd {
 padding: 0 27px 0 29px;
 }
 .is_mobile .subscribtion .period form > div.halfmonth {
 -webkit-transform: translateX(136px);
 transform: translateX(136px) !important;
 }
 .is_mobile .subscribtion .period form > div.year {
 -webkit-transform: translateX(272px);
 transform: translateX(272px) !important;
 }
}
@media screen and (min-width: 414px) and (max-height: 736px) {
 .is_mobile .volume-scanner button.dropbtn.d_watch {
 padding: 5px 21px !important;
 }
 .is_mobile .rsiscanner select.dropbtn.d_usd.d_btc {
 padding: 0 67px 0 84px !important;
 }
 .is_mobile .algotrades select.dropbtn.d_usd.d_btc {
 padding: 0 67px 0 84px !important;
 }
 .is_mobile .priceaction label#myBtn {
 top: 9px !important;
 }
 .is_mobile label#myBtn {
 margin: 0 8px 0 8px !important;
 }
 .is_mobile .price-top.m-price-top select.dropbtn.d_binance {
 padding: 5px 30px !important;
 }
 .is_mobile .price-top.m-price-top button.dropbtn.d_watch {
 padding: 5px 13px !important;
 }
 .is_mobile .switch-input:checked + .switch-label-on ~ .switch-selection {
 left: 142px !important;
 }
 .is_mobile
 .priceaction.rsiscanner
 .price-top.m-price-top
 select.dropbtn.d_binance {
 padding: 5px 60px !important;
 }
 .is_mobile .algotrades .price-top.m-price-top select.dropbtn.d_binance {
 padding: 5px 60px !important;
 }
 .is_mobile
 .priceaction.rsiscanner
 .price-top.m-price-top
 button.dropbtn.d_watch {
 padding: 5px 44px !important;
 }
 .is_mobile .algotrades .price-top.m-price-top button.dropbtn.d_watch {
 padding: 5px 44px !important;
 }
 .is_mobile .rsiscanner select.dropbtn.d_sell {
 width: 186px;
 }
 .is_mobile .algotrades select.dropbtn.d_sell {
 width: 186px;
 }

 .is_mobile .volume-scanner .price-cont .cont-data3,
 .is_mobile .volume-scanner .price-menu .cont-data3 {
 width: calc(19.5% - 4px) !important;
 }
 .is_mobile .volume-scanner .price-cont .cont-data3.fibotext {
 width: 65.9% !important;
 border-top-right-radius: 16px;
 border-bottom-right-radius: 16px;
 }
 .is_mobile .volume-scanner select.dropbtn.d_usd {
 padding: 0 32px 0 39px;
 }
 .is_mobile .volume-scanner select.dropbtn.d_binance {
 padding: 5px 34px 5px 34px;
 }
 .is_mobile .priceaction .dropbtn.morebtn.star img {
 margin-right: 10px !important;
 }
 .night-mode img.info-night {
 margin-top: 0px !important;
 }
 .is_mobile .rsiscanner label#myBtn {
 top: 6px !important;
 }
 .is_mobile .priceaction .price-top.m-price-top button.dropbtn.d_watch {
 padding: 5px 52px !important;
 }
 .is_mobile .priceaction .price-top.m-price-top select.dropbtn.d_binance {
 padding: 5px 52px !important;
 }
 .is_mobile .priceaction.volume-scanner select.dropbtn.d_usd {
 padding: 0 37px 0 12px !important;
 }
 .is_mobile .priceaction select.dropbtn.d_usd {
 padding: 0 51px 0 44px !important;
 }
 .is_mobile .subscribtion .period form > div.halfmonth {
 -webkit-transform: translateX(150px) !important;
 transform: translateX(150px) !important;
 }
 .is_mobile .subscribtion .period form > div.year {
 -webkit-transform: translateX(302px) !important;
 transform: translateX(302px) !important;
 }
}
@media screen and (min-width: 375px) and (max-height: 667px) {
 .is_mobile .switch-input:checked + .switch-label-on ~ .switch-selection {
 left: 130px !important;
 }
 .is_mobile .rsiscanner select.dropbtn.d_binance {
 padding: 5px 45px !important;
 }
 .is_mobile .algotrades select.dropbtn.d_binance {
 padding: 5px 45px !important;
 }
 .is_mobile button.dropbtn.d_watch {
 padding: 5px 30px !important;
 }
 .is_mobile .rsiscanner select.dropbtn.d_sell {
 width: 182px !important;
 }
 .is_mobile .algotrades select.dropbtn.d_sell {
 width: 182px !important;
 }
 .is_mobile .volume-scanner select.dropbtn.d_usd {
 padding: 0 25px 0 24px !important;
 }
 .is_mobile .rsiscanner select.dropbtn.d_usd.d_btc {
 padding: 0 50px 0 61px !important;
 }
 .is_mobile .algotrades select.dropbtn.d_usd.d_btc {
 padding: 0 50px 0 61px !important;
 }
 .is_mobile .rsiscanner label#myBtn {
 top: 6px;
 }
 .is_mobile .rsiscanner button.dropbtn.d_watch {
 padding: 5px 40px !important;
 }
 .is_mobile .priceaction .price-top.m-price-top button.dropbtn.d_watch {
 padding: 5px 45px !important;
 }
 .is_mobile .priceaction select.dropbtn.d_usd {
 padding: 0 25px 0 31px !important;
 }
 .is_mobile .priceaction .price-top.m-price-top select.dropbtn.d_binance {
 padding: 5px 40px !important;
 }
 .is_mobile .priceaction select.dropbtn.d_usd {
 padding: 0 46px 0 10px !important;
 }
 .is_mobile .subscribtion .period form > div.halfmonth {
 -webkit-transform: translateX(136px) !important;
 transform: translateX(136px) !important;
 }
 .is_mobile .subscribtion .period form > div.year {
 -webkit-transform: translateX(270px) !important;
 transform: translateX(270px) !important;
 }
 .is_mobile .price-top.m-price-top {
 padding: 10px !important;
 padding-top: 0px !important;
 }
}

span.sorting {
 background: url("assets/images/sort.svg") no-repeat;
 width: 7px;
 height: 15px;
 background-size: 7px;
 display: inline-block;
 background-position: center;
 position: relative;
 top: 1px;
 margin-right: 3px;
 cursor: pointer;
}

.class1.popup span.sorting {
 margin-right: 3px;
}

.name-small {
 font-size: 11px;
}
.setFooter {
 min-height: calc(100vh - 89px);
}
// for change bg color Checkbox
/* The container */
.cnt {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

// for change bg color Checkbox
/* The container */
/* The cnt */
.cnt {
 display: block;
 position: relative;
 padding-left: 25px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
::placeholder {
 color: #6f6f6f !important;
}
.fa.fa-times {
 color: #000 !important;
 font-weight: normal;
 padding-top: 2px;
}
/* Hide the browser's default checkbox */
.cnt input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

/* Create a custom checkbox */
.checkmark {
 position: absolute;
 top: 0px;
 left: 0px;
 height: 15px;
 width: 15px;
 background-color: #282828;
 border: 1px solid white;
 border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.cnt:hover input ~ .checkmark {
 background-color: #282828;
}

/* When the checkbox is checked, add a blue background */
.cnt input:checked ~ .checkmark {
 background-color: white !important;

 border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.cnt input:checked ~ .checkmark:after {
 display: block;
}

/* Style the checkmark/indicator */
.cnt .checkmark:after {
 left: 4px;
 top: 0px;
 width: 5px;
 height: 11px;
 border: 1px solid #282828;
 border-width: 0 2px 2px 0;

 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

.invalid-feedback {
 display: block !important;
 margin-top: 0px !important;
}

.valid-feedback {
 display: block;
}

.alert {
 padding: 5px !important;
 font-size: 15px;
}

.success1 {
 background: white;
 border-left: 3px solid #198038;
 height: 123px;
 width: 280px;
 position: fixed;
 z-index: 9999;
 right: 15px;
 top: 50px;
 -moz-animation: cssAnimation 0s ease-in 5s forwards;
 /* Firefox */
 -webkit-animation: cssAnimation 0s ease-in 5s forwards;
 /* Safari and Chrome */
 -o-animation: cssAnimation 0s ease-in 5s forwards;
 /* Opera */
 animation: cssAnimation 0s ease-in 5s forwards;
 -webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;

 .title {
 font-size: 14px;
 font-weight: 600;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.29;
 letter-spacing: 0.16px;
 color: #171717;
 }
 .img {
 width: 10px;
 height: 10px;
 }
 .img1 {
 width: 15px;
 height: 15px;
 }
 .text {
 font-size: 14px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.29;
 letter-spacing: 0.16px;
 color: #171717;
 }

 @keyframes cssAnimation {
 to {
 width: 0;
 height: 0;
 overflow: hidden;
 }
 }
 @-webkit-keyframes cssAnimation {
 to {
 width: 0;
 height: 0;
 visibility: hidden;
 }
 }
}

.error1 {
 background: white;
 border-left: 3px solid #fb4b53;
 height: 123px;
 width: 280px;
 position: fixed;
 z-index: 9999;
 right: 15px;
 top: 50px;
 -moz-animation: cssAnimation 0s ease-in 5s forwards;
 /* Firefox */
 -webkit-animation: cssAnimation 0s ease-in 5s forwards;
 /* Safari and Chrome */
 -o-animation: cssAnimation 0s ease-in 5s forwards;
 /* Opera */
 animation: cssAnimation 0s ease-in 5s forwards;
 -webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;

 .title {
 font-size: 14px;
 font-weight: 600;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.29;
 letter-spacing: 0.16px;
 color: #171717;
 }
 .img {
 width: 10px;
 height: 10px;
 }
 .img1 {
 width: 15px;
 height: 15px;
 }
 .text {
 font-size: 14px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.29;
 letter-spacing: 0.16px;
 color: #171717;
 }

 @keyframes cssAnimation {
 to {
 width: 0;
 height: 0;
 overflow: hidden;
 }
 }
 @-webkit-keyframes cssAnimation {
 to {
 width: 0;
 height: 0;
 visibility: hidden;
 }
 }
}
:focus {
 outline: none;
}
.btn.focus,
.btn:focus {
 box-shadow: none;
}

@media screen and (max-width: 812px) {
 .is_mobile .type-msg .next-textarea.form_control {
 // padding-left: 18px !important;
 width: 95%;
 }
}

@media screen and (max-width: 600px) {
 .is_mobile .type-msg .next-textarea.form_control {
 // padding-left: 18px !important;
 width: 90%;
 }
 .is_mobile .mobile_chat.is_chat_open .send-user {
 max-width: calc(100% - 90px) !important;
 }
}

@media screen and (max-width: 360px) {
 .is_mobile .type-msg .next-textarea.form_control {
 // padding-left: 18px !important;
 width: 90%;
 }
}

/* ----------- Vikram css ----------- */

.uptrend_green_text {
 color: #00e073;
}
.downtrend_red_text {
 color: #f6557c;
}
.fib_382__grad_teal {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 24px;
 border-radius: 12px;
 background-color: #004548;
 text-align: center;
 font-size: 12px;
}
.fib_618_grad_pink {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 24px;
 border-radius: 12px;
 background-color: #a11950;
 text-align: center;
 font-size: 12px;
}
.downtrend_grad_red {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 24px;
 border-radius: 12px;
 background-color: #d60034;
 text-align: center;
 font-size: 12px;
}
.uptrendGreen {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 24px;
 border-radius: 12px;
 background-color: #00e649;
 color: #000;
 text-align: center;
 font-size: 12px;
}
.blocks {
 margin-bottom: 45px;
}
.pb15 {
 padding-bottom: 15px !important;
}
.pb10 {
 padding-bottom: 10px !important;
}
.fs14 {
 font-size: 14px;
}
.dflex {
 display: flex;
}
.w15per {
 width: 22%;
}
.w80per {
 width: 78%;
}
.colorSpecial {
 color: #bebebe;
}
.border_width {
 border-bottom: 1px solid #6f6f6f;
 // width: 46%;
}
.pltbr10 {
 padding: 10px;
}
.pltbr20 {
 padding: 20px;
}
.pltbr25 {
 padding: 25px;
}
.pb5 {
 padding-bottom: 5px !important;
}
.plr10 {
 padding: 7px 10px;
}
.plr20 {
 padding: 0 20px;
}
.plr25 {
 padding: 0 25px;
}
.showpopup .spaceBW {
 display: flex;
 justify-content: space-between;
}
.showpopup .closespan {
 font-size: 20px;
 position: relative;
 bottom: 5px;
 cursor: pointer;
}
.hide {
 display: none;
}
.showpopup .modal-content {
 background-color: transparent;
 border: none;
}
.showpopup .modal-header {
 border-bottom: 1px solid transparent;
}
.showpopup button.close {
 color: #fff;
}
.showpopup .modal-dialog {
 max-width: 70%;
 margin: 25px auto;
 // max-height: calc(100vh);
 color: #f3f3f3;
 background-color: #282828;
}
.showpopup .modal-body {
 padding: 0;
}
.showpopup.modal {
 z-index: 1111111;
}
.showpopup button.close {
 opacity: 1 !important;
 position: fixed !important;
 right: 40px !important;
 font-size: 35px !important;
}
.showpopup.modal {
 background: rgba(0, 0, 0, 0.7);
}
button.dropbtn.d_usd:hover {
 color: black;
}
.pair-icons {
 width: 12px;
 height: 16px;
 margin-right: 10px;
}
.d_usd {
 text-align: center !important;
 width: 93px;
 height: 40px;
 border: unset;
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 0.16px;
 color: #171717;
 // display: inline-flex;
 // flex-direction: row;
 // justify-content: space-between;
}
.class1 {
 text-align: left !important;
 padding-left: 12px !important;
}
.myyseparator {
 background: #282828;
 vertical-align: middle;
 position: relative;
 left: 2px;
 font-size: 17px;
 padding: 9px 0px 9px 0;
 color: #6f6f6f;
 border-radius: unset;
}
.posl2 {
 position: relative;
 left: 2px;
}

.binanceBTN {
 width: 160px !important;
 height: 40px !important;
 background-color: #282828 !important;
 font-size: 14px !important;
 line-height: 18px !important;
 letter-spacing: 0.16px !important;
 color: #171717;
}
.allAssetBtn {
 width: 126px;
 height: 40px;
 background-color: #f3f3f3;
 text-align: left;
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 0.16px;
 padding-left: 16px;
 border: unset;
 color: #171717;
}
.headd {
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 0.16px;
}
.mobileDrop {
 width: 72px !important;
 height: 24px !important;
 line-height: 16px !important;
 font-size: 14px !important;
 letter-spacing: 0.16px !important;
 margin: unset !important;
}
.fixedfooterfilters label {
 width: calc(100% / 3);
 margin: unset !important;
}
.fixedfooterfilters label .footSelect option {
 font-size: 12px;
}
.fixedfooterfilters label .footSelect {
 width: 100%;
 height: 40px;
 background: url("./assets/icon/chevron-up.png");
 background-repeat: no-repeat;
 background-position: 86% 50%;
 background-size: 11px;
 color: #fff;
 border: unset;
 line-height: 16px !important;
 font-size: 14px !important;
 letter-spacing: 0.16px !important;
 background-color: #282828;
 padding-left: 12px;
}
.fixedfooterfilters {
 position: fixed;
 bottom: 0;
 left: 0;
 border-top: 1px solid #6f6f6f;
 width: 100%;
 background-color: #282828;
 height: 40px;
}
.resthead tr {
 // display: flex;
}
.w120 {
 // width:120px !important;
}
.resthead tr th {
 // display: flex;
 // width: 80px;
 border: unset;
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 0.16px;
 color: #f3f3f3;
}
.mobilefibo span {
 width: 32px;
 height: 32px;
 display: block;
 margin: 0 auto;
}
.mobiletable {
 width: 1440px;
}
.table-scroll {
 position: relative;
 // max-width:600px;
 margin: auto;
 overflow: hidden;
}
.table-wrap {
 width: 100%;
 overflow: auto;
}
.table-scroll table {
 width: 100%;
 margin: auto;
 border-collapse: separate;
 border-spacing: 0;
}
.table-scroll th,
.table-scroll td {
 padding: 5px 10px;
 // border:1px solid #fff;
 // background:#fff;
 white-space: nowrap;
 vertical-align: top;
 color: #bebebe;
}
.table-scroll td {
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 0.16px;
}
@media screen and (max-width: 1024px) {
 .table-scroll td,
 .coin span {
 font-size: 12px !important;
 }
}
.clone {
 position: absolute;
 top: 0;
 left: 0;
 pointer-events: none;
}
.clone th,
.clone td {
 visibility: hidden;
}
.clone td,
.clone th {
 border-color: transparent;
}
.clone tbody th {
 visibility: visible;
 color: red;
}
.clone .fixed-side {
 // border:1px solid #fff;
 // background:#eee;
 visibility: visible;
 background-color: #282828;
}
.clone thead,
.clone tfoot {
 background: transparent;
}

.borderRight .fixed-side td {
 border: unset !important;
}

.borderRight {
 border-right: 0.1px solid #3d3d3d !important;
 box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}
.borderRight .coin {
 padding-left: unset !important;
}
.borderRight .coin .pair-icons {
 margin: unset;
 margin-right: 10px;
}

.clone .fixstar {
 border-left: 0.1px solid #3d3d3d !important;
 visibility: inherit;
 position: absolute;
 right: -1px;
 background: #282828;
 box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
 margin: unset;
 pointer-events: all;
}
.fixstar {
 margin-right: 5px;
}
.table-wrap::-webkit-scrollbar {
 height: 5px;
}
.table-wrap::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px grey;
 border-radius: 10px;
}
.table-wrap::-webkit-scrollbar-thumb {
 background: #fff;
}

.clone tbody tr td:not(:first-child):not(:last-child),
.clone thead tr th:not(:first-child):not(:last-child) {
 display: none;
}
.clone .isAllow {
 display: none;
}

.nullOval {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 24px;
 border-radius: 12px;
 background-color: rgba(255, 2552, 255, 0.1);
 text-align: center;
 font-size: 12px;
 color: #f3f3f3;
}

.fourDropDownFiltersTablet {
 display: none;
}
.fourDropDownFiltersTablet label:not(:first-child) {
 width: calc(100% / 5);
 margin: unset !important;
}
.firstscannersfilter {
 width: calc(100% / 4);
 margin: unset !important;
}
.fourDropDownFiltersTablet label .footSelect option {
 font-size: 12px;
}
.fourDropDownFiltersTablet label .footSelect {
 width: 100%;
 height: 40px;
 background: url("assets/images/down-arrow.svg");
 background-repeat: no-repeat;
 background-position: 86% 50%;
 background-size: 11px;
 color: #fff;
 border: unset;
 line-height: 16px !important;
 font-size: 14px !important;
 letter-spacing: 0.16px !important;
 background-color: #282828;
 padding-left: 12px;
}
.fourDropDownFiltersTablet {
 border-top: 1px solid #6f6f6f;
 width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
 .price-top,
 .hori-buttons {
 display: none !important;
 }
 .fourDropDownFiltersTablet {
 display: flex !important;
 justify-content: space-between;
 padding: 20px;
 }
 .clone .fixstar {
 display: none;
 }
}

@keyframes pulse {
 0% {
 // background-color: rgba(165, 165, 165, 0.1);
 background-color: #353535;
 }
 50% {
 // background-color: rgba(165, 165, 165, 0.3);
 background-color: #353535;
 }
 100% {
 // background-color: rgba(165, 165, 165, 0.1);
 background-color: #353535;
 }
}
.text-input__loading {
 height: 10px;
 margin: 10px;
 animation: pulse 1s infinite ease-in-out;
}
.text-input__loadingq {
 height: 10px;
 margin: 10px;
 animation: pulse 1.1s infinite ease-in-out;
}

.timeline-item {
 background: #fff;
 border: 1px solid;
 border-color: #e5e6e9 #dfe0e4 #d0d1d5;
 border-radius: 3px;
 padding: 12px;

 margin: 0 auto;
 max-width: 472px;
 min-height: 200px;
}

@keyframes placeHolderShimmer {
 0% {
 background-position: -468px 0;
 }
 100% {
 background-position: 468px 0;
 }
}

.animated-background {
 animation-duration: 1.5s;
 animation-fill-mode: forwards;
 animation-iteration-count: infinite;
 animation-name: placeHolderShimmer;
 animation-timing-function: linear;
 background: #353535;
 background: linear-gradient(to right, #353535 8%, #282828 18%, #353535 33%);
 background-size: 800px 104px;
 height: 8px;
 position: relative;
 margin: unset;
}
.longLengthLoader {
 width: 121px;
}
.MediumLengthLoader {
 width: 78px;
}
.smallLengthLoader {
 width: 48px;
}
.rotateRefresh {
 -webkit-animation: rotation 0.5s infinite linear;
}
@-webkit-keyframes rotation {
 from {
 -webkit-transform: rotate(0deg);
 }
 to {
 -webkit-transform: rotate(359deg);
 }
}
.noWatchlistFound {
 padding: 20px;
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 0.16px;
}
.goToAllAssets {
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 0.16px;
 color: #408cdf;
 cursor: pointer;
}
.noWatchlistStar {
 width: 14px;
 height: 14px;
 position: relative;
 bottom: 2px;
}
.borderRightRadius {
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
}
.borderLeftRadius {
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
}
.gradPinkOval {
 background-color: #a11950;
 text-align: center;
 min-width: 70px;
 min-height: 24px;
 max-width: 60px;
 display: flex;
 float: right;
 border-radius: 12px;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 color: #f3f3f3;
}
.gradTealOval {
 background-color: #004548;
 text-align: center;
 min-width: 70px;
 min-height: 24px;
 max-width: 60px;
 display: flex;
 float: right;
 border-radius: 12px;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 color: #f3f3f3;
}
.gradnullOval {
 background-color: #403c3c;
 text-align: center;
 min-width: 70px;
 min-height: 24px;
 max-width: 60px;
 display: flex;
 float: right;
 border-radius: 12px;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 color: #f3f3f3;
}
.timeFrame {
 margin: 0 10px 0 25px;
 position: relative;
 top: 2px;
}
.gainLossGraph {
 margin: 0px 10px;
 position: relative;
 top: 2px;
}
.priceBelow {
 font-size: 10px;
 letter-spacing: 0.27px;
}
@media screen and (max-width: 1024px) {
 .resthead tr th,
 .coin span,
 .table-scroll td {
 font-size: 12px;
 }
 .priceBelow {
 margin-left: 25px;
 }
 .priceHideShow {
 display: none;
 }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
 .priceBelow {
 margin-left: 22px;
 }
}
@media screen and (min-width: 1024px) {
 .priceBelow {
 display: none;
 }
 .priceHideShow {
 display: table-cell;
 }
}

// day mode avtar

ul.ngx-pagination {
    display: inline-block !important;
    background: #282828 !important;  
    padding: 0;
    color: #f3f3f3;
    padding: 14px;
}
ul.ngx-pagination a {
    color: #f3f3f3;
}
ul.ngx-pagination .current{
    background:inherit;
    border: unset;
}
.ngx-pagination a:hover, .ngx-pagination button:hover{
    background: inherit !important;
    text-decoration: none !important;
}
.blog_pagination{
    text-align: center;
    width: 100%;
    margin: 34px 0;
}
ul.ngx-pagination .current span{
    border-bottom:2px solid #0062ff;
}
.ngx-pagination .current {
    padding: 0.1875rem 0.325rem;
}
ul.ngx-pagination .current span {
    border-bottom: 3px solid #0062ff;
    padding: 13px 0px;
}
.pagination-previous,.pagination-next{
    font: normal normal normal 14px/1 FontAwesome;
}
.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
    content: '\f0d9' !important;
}
.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
    content: '\f0da' !important;
}
.ngx-pagination .disabled{
    padding: 0 !important;
}
.ngx-pagination .pagination-previous.disabled{
    padding: 0 !important;
    padding-right: 20px !important; 
}
.ngx-pagination .pagination-next.disabled{
    padding: 0 !important;
    padding-left: 20px !important; 
}
.ngx-pagination .current{
    padding: 0 20px !important;
}
.ngx-pagination a, .ngx-pagination button{
    padding: 0 20px !important;
}
.pagination-previous a{
    padding-left: 0 !important;
}
.pagination-next  a{
    padding-right: 0 !important;
}