<div [className]="this.commonservice.navPopUp ? 'body night_mode' : 'body night_mode sidebarOpen'">
  <div class="middle-section">
    <div class="page-name mobile-title" *ngIf="!commonservice.isMobile">Payment History
      <div class="left-breadcum">
        <span class="breadcums-icon"><img src="../../assets/images/breadcums.svg"></span>
        <span class="breadcums">{{'generic.home' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;>
          &nbsp;&nbsp;&nbsp;&nbsp;Payment History</span>
      </div>
    </div>

    <!---content section-->
    <div id="subscription_block">
      <!--subscribe history desktop-->
      <div class="sub_history" *ngIf="!commonservice.isMobile">
        <div class="res_table">
          <table class="history_data">
            <thead>
              <tr>
                <th>Buyer Email</th>
                <th>{{'subscription.name' | translate}}</th>
                <th>Date</th>
                <th>{{'subscription.transaction' | translate}}</th>
                <th>Duration (months)</th>
                <th>{{'subscription.status_page' | translate}}</th>
                <th>{{'subscription.action' | translate}}</th>
              </tr>
            </thead>
            <tbody *ngFor="let payment of payments | orderBy:'cratedOn': 1">
              <tr>
                <td>{{ payment.BuyerEmail }}</td>
                <td><b>{{payment.packageName}}</b></td>
                <td>{{ payment.cratedOn | date:'medium' }}</td>
                <td>{{ payment.CashAmount | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{payment.duration }}</td>
                <td><a href="{{payment.statusUrl}}" target='_blank'>{{'subscription.live_status' | translate}}</a></td>
                <td *ngIf="payment.Status < 0">{{'subscription.payment_timedout' | translate}}...</td>
                <td *ngIf="payment.Status === 0">{{'subscription.payment_pending' | translate}}...</td>
                <td *ngIf="payment.Status > 0">{{'subscription.payment_confirmed' | translate}}.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--subscribe histroy mobile-->
    </div>
  </div>
</div>