/*breadcum css*/
.middle-section {
  background: #373C48;
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.page-name {
  color: #9B9B9B;
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  text-align: left;
  font-family: 'Lato-Regular';
  padding: 24px;
}

.left-breadcum {
  float: right;
}

span.breadcums-icon {
  position: relative;
  right: 12px;
  bottom: 4px;
}

span.breadcums {
  font-size: 14px;
  font-weight: normal;
  line-height: 29px;
  color: #fff;
  float: right;
  font-family: 'Lato-Regular';
}


/*content*/
.subscribtion {
  position: relative;
}

.new_package_btn {
  position: absolute;
  top: 35px;
  right: 0;
  color: #282B33;
  background-color: #2076AE;
  font-weight: 600;
  width: 230px;
  padding: 5px 0;
}

@media only screen and (max-width: 620px) {

  /* For mobile phones: */
  .new_package_btn {
    margin-top: 50px;
    position: unset;
    top: unset;
    right: unset;
  }
}

.subscribtion .period form>div {
  background: url('../../../assets/images/Group.svg') no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -5px;
  left: -4px;
  bottom: -4px;
  width: 37px;
  height: 37px;
  pointer-events: none;
  transition: transform 0.3s;
  z-index: 999;
}

.subscribtion .period {
  min-height: 100px;
  margin: 25px 0 50px 0;
  text-align: center;
}

#subscription_block {
  padding: 0 24px 24px;
}

.subscribtion .period h2.sub_title {
  color: #f2f2f2;
  font-family: 'source_sans_prosemibold';
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.subscribtion .period form {
  width: 425px;
  text-align: center;
  position: relative;
  border-radius: 2px;
  margin: 0 auto;
}

.period span.back_line {
  position: absolute;
  background: #282B33;
  width: 100%;
  height: 10px;
  display: block;
  top: 8px;
  border-radius: 30px;
}

.period form label.lable_one {
  float: left;
}

.period form label {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  transition: color 0.3s;
  cursor: pointer;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: #282B33;
}

.period form label input {
  visibility: hidden;
}

.period form label.selected div {
  color: #9F9F9F;
  font-family: 'source_sans_prosemibold';
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
}

.period form label div span.disc {
  color: #ED5566;
}

.period form label.lable_three {
  float: right;
}

.period form label div {
  z-index: 5;
  top: 40px;
  left: -59px;
  width: 150px;
  position: absolute;
  text-align: center;
  font-family: 'source_sans_prosemibold';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #9F9F9F;
}

.highnlow .subscribtion .sub_cont {
  clear: both;
  overflow: hidden;
}

.highnlow .subscribtion .sub_data {
  width: calc(50% - 24px);
  margin-right: 24px;
  float: left;
  margin-bottom: 24px;
}

.sub_data {
  width: calc(50% - 24px);
  margin-right: 24px;
  float: left;
  margin-bottom: 24px;
}

.subscribtion .package {
  background-color: #282B33;
  border-radius: 3px;
  min-height: 470px;
  padding: 50px;
  text-align: center;
  position: relative;
}

.sub_title {
  margin-bottom: 18px;
  color: #7592AE;
  font-family: 'source_sans_prosemibold';
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.sub_price {
  color: #F2F2F2;
  font-family: 'source_sans_prosemibold';
  margin-bottom: 18px;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
}

.sub_detail {
  width: 80%;
  margin: 0 auto;
  min-height: 154px;
}

.sub_detail p {
  color: #9B9B9B;
  font-family: 'source_sans_proregular';
  border-bottom: 1px solid #373C48;
  margin-bottom: 18px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
}

.starter .botton.upgrade {
  background: #24ABB0;
}

.botton.upgrade {
  margin-top: 50px;
  border-radius: 5px;
  padding: 14px 0;
  cursor: pointer;
  color: #282B33;
  font-family: 'source_sans_prosemibold';
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.advanced .botton.upgrade {
  background: #2076AE;
}

.pro .botton.upgrade {
  background-color: #D09657;
}

.enterprise .botton.upgrade {
  background: #C75161;
}

#ribbon-container {
  position: absolute;
  top: 15px;
  right: -10px;
  overflow: visible;
}

#ribbon-container span {
  display: block;
  padding: 3px 5px;
  position: relative;
  background: #01BF86;
  overflow: visible;
  margin-left: 29px;
  text-decoration: none;
  color: #282B33;
  font-family: 'source_sans_proregular';
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
}

#ribbon-container span:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  border-top: 13px solid #01BF86;
  border-bottom: 12px solid #01BF86;
  border-right: 0px solid transparent;
  border-left: 15px solid transparent;
}

.sub_history {
  margin-top: 0px;
  margin-bottom: 50px;
  background: #282B33;
  padding: 18px;
}

.sub_history h3.title {
  color: #7592AE;
  font-family: 'source_sans_prosemibold';
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}

.sub_history table.history_data {
  text-align: left;
  border-spacing: 0;
  width: 100%;
}

.sub_history thead th {
  border-bottom: 2px solid #000000;
  padding-bottom: 8px;
  color: #9EAAC2;
  font-family: 'source_sans_prosemibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

.sub_history tbody td {
  padding: 12px 0 8px 0;
  border-bottom: 1px solid #000000;
  color: #9B9B9B;
  font-family: 'source_sans_proregular';
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  text-align: left;
}

.sub_price span {
  color: #ED5566;
  padding-left: 10px;
}

.sub_cont {
  clear: both;
  overflow: hidden;
}

/*first popup css*/
h4.modal-title {
  color: #7592AE;
  font-family: 'source_sans_prosemibold';
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
}

.content p {
  color: #9B9B9B;
  font-family: 'source_sans_proregular';
  font-size: 17px;
  font-weight: normal;
  line-height: 25px;
}

.content h3.deposit {
  text-align: center;
  color: #9B9B9B;
  font-family: 'source_sans_prosemibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 30px;
}

.deposit_option {
  text-align: center;
  margin-bottom: 18px;
}

button.option.coin {
  margin-right: 10px;
}

button.option.coin {
  background: url('../../../assets/images/CoinPaymentsDefault.svg') no-repeat;
  background-position: center;
}

button.option {
  border: 2px solid #24ABB0;
  border-radius: 3px;
  width: 255px;
  height: 75px;
  display: inline-block;
  cursor: pointer;
}

button.option.visa {
  background: url('../../../assets/images/Visa.svg') no-repeat;
  background-position: center;
}

.popup .content .botton.upgrade {
  width: 50%;
  margin: 0 auto;
}

.content .botton.upgrade {
  text-align: center;
  background: #24ABB0;
}

.content .botton.upgrade a {
  color: #000;
  text-decoration: none;
}

.subscribtion .popup .content p {
  color: #9B9B9B;
  font-family: 'source_sans_proregular';
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}

input[type=checkbox] {
  display: none;
}

.content .simple-terms label {
  width: 100%;
  color: #7592AE;
  font-family: 'source_sans_proregular';
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  display: block;
  margin-bottom: 18px;
  padding-left: 35px;
}

.popup .content p.simple-terms {
  position: relative;
  // margin-top: 32px;
}

input[type="checkbox"]+label:before {
  content: '';
  display: block;
  border: 1px solid #24ABB0;
  border-radius: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 2px;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  cursor: pointer;
}

input[type="checkbox"]:checked+label:before {
  width: 10px;
  top: -2px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup .content p.simple-terms a {
  color: #2076ae;
  text-decoration: none;
}

.content .dropbox.close {
  display: none;
}

.content .dropbox.open {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.content .dropbox.open label select.drop_coin {
  width: 100%;
  background: transparent;
  border: 1px solid #24ABB0;
  border-radius: 5px;
  height: 50px;
  color: #9B9B9B;
  font-family: 'source_sans_prosemibold';
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0px 10px;
  margin: 0 0 20px 0;
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
  appearance: menulist-button;
  cursor: pointer;
}

.content .dropbox.open label {
  display: block;
}

/*mobile subscription history*/
.sub_history.mobile hr {
  border-top: 1px solid #000;
}

.sub_history.mobile tbody td {
  border-bottom: none;
}

.sub_history.mobile .res_table .history_data tr th {
  color: #fff;
  font-size: 15px;
  line-height: 19px;
  font-weight: normal;
  font-family: 'source_sans_proregular';
}

.sub_history.mobile tbody td {
  color: #D8D8D8;
  font-family: 'source_sans_proregular';
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
}

.sub_history.mobile {
  padding: 0;
}

.sub_history.mobile .history_data td.price {
  text-align: right !important;
}

.sub_history.mobile h3.title {
  padding: 12px 12px 0 12px;
  margin-bottom: 0 !important;
}

.sub_history.mobile .res_table {
  padding: 0 12px;
}

.res_table.odd {
  background: #373C48;
}

.sub_history.mobile .history_data .enddate {
  text-align: right !important;
}

.sub_data:nth-child(2n) {
  margin-right: 0;
  width: 50%;
}

.detail img.qr_img {
  width: 145px;
  height: 145px;
  display: block;
  margin: 0 auto;
}

.detail .content p.note {
  color: #C75161;
}

.detail .popup .content p a {
  color: #2076AE;
}

.subscribtion .period form>div.halfmonth {
  transform: translateX(200px);
}

.subscribtion .period form>div.year {
  transform: translateX(396px);
}

.sub_price p {
  display: inline-block;
  text-decoration: line-through;
}



// right slider

.container1 {
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  transition: opacity 0.5s ease-in;
  right: 0;
  top: 0;
  // width: 100%;
  width: 900px;
  height: 100%;
  overflow: auto;
  transition: 3s;
  border-radius: 4px;
}

.body-container {
  width: 100%;
  position: relative;
  // left: 1em;
  // top: 1em;
  background: white;
  // height: calc(100% - 18em);
  border-radius: 4px;
  // padding-left: 11px;
  transition: opacity 0.5s ease-in;
  animation-direction: normal;
}

.body-container {
  /* above styles */
  animation: animation-name .3s ease-out forwards;
}

@keyframes animation-name {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


@media only screen and (max-width: 767px) {
  .container1 {
    width: auto;
  }
}

div.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}
