

#home {
  background-color: #171717;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: -50px;

  .crypto {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.32px;
    color: #a4a4a4;
  }
  .mr-lft{
    margin-left: 40px
  }
  
  .row_text{
    vertical-align: center;
    margin-top: 7%;
    z-index: 999;
  }
  .row_form{
    z-index: 999;
  }
  .row_form form{
    padding-top:10px;
  }
  .row_form_input{
    width: 63%;
    padding:0 15px;
  }
  .row_form_btn{
    width: 34%;
    padding:0 15px;
  }
  .odd{
    .row_text{
      padding-right: 10%;
    }
  }
  .p-r-0{
    padding-right: 0px;
  }
  .even{
    .row_text{
      padding-left: 4%;
      padding-right: 4%;
    }
  }
  .p-t-30{
    padding-top:30px;
  }
  .image {
    width: 100%;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: center;
     }

  .image1 {
    width: 142%;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -70px;
    margin-top: -30px;
  }
  .image2{
    width: 140%;
    margin-top: -60px;
    margin-left: -80px;  
  }
  .image3{
    width: 125%;
    margin-left: -35%
  }
  .row_form.last{
    margin-top: 70px;
  }
  .d-mt-50{
    margin-top: 50px;
  }
  input{
    font-size:14px;
  }
  // .image2 {
  //   width: 115%;
  //   z-index: 9;
  //   background-repeat: no-repeat;
  //   background-position: center;
    

  // }
  .flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
    
  }

 

  h1 {
    font-family: "IBM Plex Sans";
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.20;
    letter-spacing: normal;
    padding: 10px 0;
    color: white;
    

    
   
  }
  .text-style-1 {
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size:32px;
  }
  .text-style-11{
    font-weight: bolder;
    display: inline-block;
  }
  .label-text {
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.32px;
    color: #bebebe;
    padding: 10px 0px 0px 0px;
  }
  .sign {
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.16px;
    color: white;
    background-color: #0062ff;
    text-align: left;
    border-radius: 0%;
    height: 40px;
    
  }
  .right {
    padding-left: 10px;
  }
  .email {
    background-color: #282828;
    color: white;
    padding-left: 10px;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    font-family: "IBM Plex Sans";

  }

  .text {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: white;
  }

  .wrapper {
    display: block;
  }

  #sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
  }

  .overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
  }
  /* display .overlay when it has the .active class */
  .overlay.active {
    display: block;
    opacity: 1;
  }

  #dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
  }
  .col-md-5 {
    z-index: 10;
  }
}
@media only screen  and (max-width: 1200px) {
  #home{
    .sign{
      font-size: 12px;
    }
    .image2{
      width: 110%;
    }
  }
}
@media only screen  and (max-width: 1200px) {
  #home{
    .row_text{
      vertical-align: center;
      margin-top: 2%;
    }
    .image,.image1,.image2{
      margin-top: 10px;
    }
    .row_form_input{
      width:60%;
      padding-right: 0;
    }
    .row_form_btn{
      width: 40%;
    }
  }
}

@media only screen and (max-width: 990px) {
  #home{
    .mr-lft{
      margin-left: 0;
    }
    .row_text{
      vertical-align: center;
      margin-top: 0px;
    }
    .p-r-0{
      padding-right: 15px;
    } 
    .row_form_input{
      width:56%;
      padding-right: 0;
    }
    .row_form_btn{
      width: 44%;
    } 
    .row_form.last{
      margin-top: 30px;
    }
  }
  
}
@media only screen and (max-width: 850px) {
  #home{
    padding-top: 20px;
    h1{
      font-size: 35px;
    }
    .p-r-0{
      padding-right: 0;
    }
    .odd .row_text,.row_form_input{
      padding-right: 0;
    }
    .row_form_input{
      width:56%;
    }
    .row_form_btn{
      width: 44%;
    }
    .image,.image1,.image2{
      margin-top: 50px;
    }
    .mr-lft{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
@media only screen and (max-width: 767px) {
  #home{
    padding-top: 0px;
    .p-r-0{
      padding-right: 15px;
    }
    flex {
      display: flex;
      flex-direction: column;
      margin: 0px;
    }
    .p-t-30{
      padding-top: 0px;
    }
    .a {
      order: 2;
    }
    .b {
      order: 1;
    }
    .c {
      order: 3;
    }
    
      .crypto{
        padding-bottom:5px;
      }
      .image1 {
        width: 120%;
        // margin-top: -35%;
      transform: translateX(-50%);
        margin-left: 50%;
      }
      .image,.image2 {
      width:120% ;
        z-index: 9;
        margin-top: 20%;
        transform: translateX(-50%);
          margin-left: 50%;
        }
      .mt-4 {
        margin-top: 5px !important;
      }
      .pt-5 {
        padding-top: 5px !important;
      }
      .py-4 {
        padding: 5px;
      }
      .mt-5 {
        margin-top: 5px !important;
      }
      .row_text{
        vertical-align: center;
        margin-top: 0px;
      }
    }
}
@media only screen and (max-width:736px) {
  .container {
    max-width: 680px;
  }
  #home 
  {
    .p-r-0{
      padding-right: 0px;
    }
    .image1 {
      width: 120%;
      margin-top: -5%;
    transform: translateX(-50%);
      margin-left: 50%;
    }
    .image,.image2 {
      width:90% ;
      z-index: 9;
      margin-top:0px;
      // transform: translateX(-50%);
      // margin-left: 45%;
    }
    .odd .row_text{
      padding-right: 15px;
    }
    .mt-40{
      margin-top: 40px;
    }
   
  }
}

@media only screen and (max-width: 600px) {

  flex {
    display: flex;
    flex-direction: column;
  }
  #home 
  {
    .p-r-0{
      padding-right: 15px;
    }
    .mr-lft{
      margin-left: 0px;
      margin-right: 0px;
    }
    .row_text.m-t-m60{
      margin-top: -60px;
    }
    .row_text{
      vertical-align: center;
      margin-top: 0px;
    }
    .text-style-1{
      font-size: 24px;
    }
    .crypto{
      font-size: 12px;
    }
    .a {
      order: 2;
    }
    .b {
      order: 1;
    }
    .c {
      order: 3;
    }
    .mt-4 {
      margin-top: 5px !important;
    }
    .pt-5 {
      padding-top: 5px !important;
    }
    .py-4 {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .mt-5 {
      margin-top: 5px !important;
    }
  .image1 {
      width: 120%;
      // margin-top: -35%;
    transform: translateX(-50%);
      margin-left: 50%;
    }
    .image,.image2 {
      width:120% ;
      z-index: 9;
      margin-top:-40px;
      transform: translateX(-50%);
      margin-left: 45%;
    }
  }
}

@media only screen and (max-width: 480px) {
  #home {
    .mr-lft{
      margin-left: 0px;
      margin-right: 0px;
    }
    h1 {
      font-size: 28px;
      line-height: 1.29;
    }
    .row_form_input{
      padding-right: 15px;
    }
    .row_form_input,.row_form_btn{
      width: 100%;
      margin-bottom: 7px;
    }
    .row_text{
      vertical-align: center;
      margin-top: 0px;
      padding: 15px;
    }
    .row_text.m-t-m60{
      margin-top: -60px;
    }
    .mt-40{
      margin-top: 40px;
    }
    .image{
      margin-top:-20px;
    }
    .image1{
      width: 300%;
      margin-left: 60%;
    }
    .image,.image2 {
      width:120% ;
      z-index: 9;
      margin-top:-40px;
      transform: translateX(-50%);
      margin-left: 50%;
    }
  }
  .flex {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .a {
    order: 2;
  }
  .b {
    order: 1;
  }
  .c {
    order: 3;
  }
  .mt-4 {
    margin-top: 5px !important;
  }
  .pt-5 {
    padding-top: 5px !important;
  }
  .py-4 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .mt-5 {
    margin-top: 5px !important;
  }
  .crypto {
    width: 70%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.32px;
    color: #a4a4a4;
    padding-bottom: 5px;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 414px) {
  #home {
    .row_text.m-t-m60{
      margin-top: -30px;
    }
    .image.image3{
      width: 240%;
      margin-bottom: -50px;
    }
    .image,.image2{
      margin-top:-25px;
    }
    .ml-2{
      margin-left: 0 !important;
    }
  }
}

@media only screen and (max-width: 360px) {
  #home {
    .mr-lft{
      margin-left: 0px;
      margin-right: 0px;
    }
    .row_text{
      vertical-align: center;
      margin-top: 0px;
      // padding: 5px;
    }
    .row_text.m-t-m60{
      margin-top: -30px;
    }
    h1 {
      font-size: 28px;
      line-height: 1.29;
    }
    .image1 {
      width: 260%;
      margin-top: -35%;
     transform: translateX(-50%);
      // margin-left: 50%;
    } 
  }
  .image,.image2 {
    width:120% ;
      z-index: 9;
       
      transform: translateX(-50%);
        margin-left: 50%;
       }

  .flex {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .a {
    order: 2;
  }
  .b {
    order: 1;
  }
  .c {
    order: 3;
  }
  .mt-4 {
    margin-top: 5px !important;
  }
  .pt-5 {
    padding-top: 5px !important;
  }
  .py-4 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .mt-5 {
    margin-top: 5px !important;
  }

  .crypto {
    width: 70%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.32px;
    color: #a4a4a4;
    
    padding-top: 15px;
  }
  

  
}
@media only screen and (max-width: 360px) {
  #home {

    .image1 {
      width: 260%;
      margin-top: -20%;
     transform: translateX(-50%);
      // margin-left: 50%;
    } 

  }
}