
<section id='home' class="setFooter">
  <div class="container">
    <div class="row py-2 mr-lft odd">
      <div class="col-md-6 col-12 row_form">
        <div class='crypto'>
          CRYPTO MARKET SCANNER. TRADE AUTOMATION. JOURNAL.
        </div>
        <h1 class=''>ALL-IN-ONE <BR>
          PLATFORM FOR YOUR
          <br>
          <span class='text-style-11'> TRADING SYSTEM</span></h1>

        <form [formGroup]="getStartedForm" id="getstartedform" (ngSubmit)="tryGetStartedForm()">
          <div class="row" *ngIf="!commonservice.isMobile">


            <div class="col-12"> <label class='label-text'>GET STARTED NOW</label></div>
            <div class="p-r-0 row_form_input">

              <input type="text" placeholder=" Email address" formControlName="email" class=' email btn-block mb-2'>
              <div>
                <!-- <div *ngIf="formCheck.email.errors.required">*Email is required</div> -->
                <!-- <div *ngIf="formCheck.email.errors.pattern">*Enter valid email</div> -->
              </div>
            </div>
            <div class="row_form_btn">
              <button class='btn btn-block sign' type='submit'>
                {{btnLable}}
                <i class="fa fa-angle-right float-right"></i></button>
            </div>


          </div>
        </form>
      </div>
      <div class="col-md-6 col-12">
        <img src="/assets/images/hero-illustration.png" alt="" class="image1">

      </div>

      <div class="col-md-6 col-12 row_text m-t-m60">

        <form [formGroup]="getStartedForm" id="getstartedform" (ngSubmit)="tryGetStartedForm()">

          <div class="row email-sing" *ngIf="commonservice.isMobile">
            <div class="col-12">
              <label class='label-text'>GET STARTED NOW</label>
            </div>
            <div class="row_form_input col-xs-12 ">
              <input type="text" placeholder=" Email address" formControlName="email" class=' email btn-block mb-2'>
            </div>
            <div class="col-xs-12 row_form_btn">
              <button class='btn btn-block sign' type='submit'>
                {{btnLable}}
                <i class="fa fa-angle-right float-right"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="row pb-2 mr-lft pr-2 flex mt-40 even ">

      <div class="col-md-6 col-12  a">
        <img src="/assets/images/market-scanner.png" alt="" class="image ">

      </div>

      <div class="col-md-6 row_text row_text ">
        <div class='crypto pt-5'>
          SIMPLIFY YOUR WORKFLOW.
        </div>
        <h1 class='text-style-1'>MARKET SCANNER</h1>

        <span class='text'>Identify quality trade setups by scanning thorugh hundreds of coins in a single view. Find
          trending assets and peak movers, check their live Fibonacci levels, Relative Strength Index (RSI) and volume
          across eight timeframes.</span>



      </div>
    </div>

    <div class="row p-t-30 mr-lft mt-40 d-mt-50 odd">

      <div class="col-md-6 col-12 row_text ">
        <div class='crypto pt-3'>
          AUTOMATE YOUR WORKFLOW.
        </div>
        <h1 class='text-style-1'>TRADE AUTOMATION</h1>

        <span class='text'>
          Connect to an exchange and take your trading startegy to the next level with advanced order types and
          automation. Set stop loss and take profit simultaneously or use trailing mechanisms to maximize profit and
          reduce risk.
        </span>


      </div>
      <div class="col-md-6 col-12 ">
        <img src="/assets/images/automation.png" alt="" class="image2 ">

      </div>
    </div>



    <div class="row py-2 pr-2 flex mt-40 mr-lft even">

      <div class="col-md-6 col-12 a">
        <img src="/assets/images/journal.png" alt="" class="image image3" width='110%'>

      </div>

      <div class="col-md-6 col-12 row_text b">
        <div class='crypto pt-5'>
          IMPROVE YOUR STRATEGY.
        </div>
        <h1 class='text-style-1'>TRADING JOURNAL</h1>

        <span class='text'>
          Keep track of your records, recognize patterns and learn from experience. Find setups with high success rate
          and know which ones to avoid. Journal your trades, gather insights and refine your edge to become more
          profitable.
        </span>


      </div>
    </div>







    <div class="row py-2 mr-lft odd " >
      <div class="col-md-6 col-12 row_form last">
        <div class='crypto  mt-4 pt-5'>
          CRYPTO MARKET SCANNER. TRADE AUTOMATION. JOURNAL.
        </div>

        <form [formGroup]="getStartedForm" id="getstartedform" (ngSubmit)="tryGetStartedForm()">
          <div class="row" *ngIf="!commonservice.isMobile">
            <div class="col-12"> <label class='label-text'>GET STARTED NOW</label></div>
            <div class="p-r-0 row_form_input">

              <input type="text" placeholder=" Email address" formControlName="email" class='email btn-block mb-2 pl-2'>
              <div>
                <!-- <div *ngIf="formCheck.email.errors.required">*Email is required</div> -->
                <!-- <div *ngIf="formCheck.email.errors.pattern">*Enter valid email</div> -->
              </div>
            </div>
            <div class="row_form_btn">
              <button class='btn btn-block sign' type='submit'>
                {{btnLable}}
                <i class="fa fa-angle-right float-right"></i></button>
            </div>

          </div>
       
          <div class="row email-sing" *ngIf="commonservice.isMobile">
            <div class="col-12">
              <label class='label-text'>GET STARTED NOW</label>
            </div>
            <div class="row_form_input">
              <input type="text" placeholder=" Email address" formControlName="email" class=' email btn-block mb-2'>
            </div>
            <div class="row_form_btn">
              <button class='btn btn-block sign' type='submit'>
                {{btnLable}}
                <i class="fa fa-angle-right float-right"></i></button>
            </div>
          </div>
        </form>

      </div>
      <div class="col-md-6 col-12 mt-40">
        <img src="/assets/images/undraw-outer-space-drqu.png" alt="" class="image2" >


      </div>
    </div>
  </div>
</section>
