.form-body > .row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}

.website-logo {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 9%;
  left: 0px;
  right: 0;
  bottom: initial;
  text-align: center;
}

.website-logo img {
  width: 100px;
}

.website-logo a {
  display: inline-block;
}

.website-logo .logo {
  display: inline-block;

  background-size: contain;
  background-repeat: no-repeat;
}

.website-logo .logo img {
  width: 150px;
}

.website-logo-inside {
  margin-bottom: 70px;
}

.website-logo-inside img {
  width: 100px;
}

.website-logo-inside a {
  display: inline-block;
}

.website-logo-inside .logo {
  display: inline-block;
  background-image: url("../../assets/images/logo-grp.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.website-logo-inside .logo img {
  width: 100px;
}
.form{
  background:url('/assets/images/background.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
.website-logo-inside .logo img.logo-size {
  opacity: !important;
}

.preview-body {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.preview-body .web-logo {
  margin-bottom: 50px;
}

.preview-body .web-logo img {
  width: 130px;
}

.preview-body .web-title {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  line-height: 35px;
  margin-bottom: 50px;
}

.preview-body .img-link {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 0 5px;
}

.preview-body .img-link img {
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 123, 255, 0.38);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.38);
  -webkit-transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
}

.preview-body .img-link:hover img,
.preview-body .img-link:focus img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 11px 19px rgba(0, 123, 255, 0.18);
  box-shadow: 0 11px 19px rgba(0, 123, 255, 0.18);
}

.img-holder {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  min-height: 625px;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  padding: 60px 60px 0px 60px;
  text-align: center;
  z-index: 999;
}

.img-holder .info-holder {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-holder .info-holder h3 {
  display: inline-block;
  color: #fff;
  text-align: left;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 30px;
  width: 100%;
  max-width: 378px;
  padding-right: 30px;
}

.img-holder .info-holder p {
  display: inline-block;
  color: #fff;
  text-align: left;
  font-size: 19px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 378px;
  padding-right: 30px;
}

.img-holder .info-holder img {
  width: 100%;
  max-width: 378px;
}

.img-holder .bg {
  position: absolute;
  opacity: 0.23;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/img1.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@media (min-height: 700px) {
  .img-holder {
    position: fixed;
  }

  .website-logo {
    position: fixed;
  }
}

.form-holder {
  margin-left: 550px;
  width: 100%;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  top: 50px;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 100%;
}

.form-holder .form-content ::-webkit-input-placeholder {
  color: #526489;
}

.form-holder .form-content :-moz-placeholder {
  color: #526489;
}

.form-holder .form-content ::-moz-placeholder {
  color: #526489;
}

.form-holder .form-content :-ms-input-placeholder {
  color: #526489;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control ::-webkit-input-placeholder {
  color: #526489;
}

.form-control :-moz-placeholder {
  color: #526489;
}

.form-control ::-moz-placeholder {
  color: #526489;
}

.form-control :-ms-input-placeholder {
  color: #526489;
}

.form-content {
  position: relative;
  background-color: #0093ff;
}

.form-content .form-group {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.form-content .form-items {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Poppins";
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
  font-family: "Poppins";
}

.form-content p.form-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.form-content label {
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.form-content .page-links {
 
  margin-bottom: 34px;
  
}

.form-content .page-links a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
  margin-right: 0;
}

.form-content .page-links a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .page-links a.active {
  font-weight: 700;
}

.form-content .page-links a.active:after {
  background-color: #fff;
}

.form-content .page-links a:hover:after,
.form-content .page-links a:focus:after {
  background-color: #fff;
}

.form-content input,
.form-content .dropdown-toggle.btn-default {
  width: 100%;
  padding: 18px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 14px;
  font-family: "Poppins";
}

.form-content input:hover,
.form-content input:focus,
.form-content .dropdown-toggle.btn-default:hover,
.form-content .dropdown-toggle.btn-default:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8d8d8d;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  color: #8d8d8d;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8d8d8d;
}

.form-content input[type="checkbox"],
.form-content input[type="radio"] {
  width: auto;
}

.form-content input[type="checkbox"]:not(:checked),
.form-content input[type="checkbox"]:checked,
.form-content input[type="radio"]:not(:checked),
.form-content input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

.form-content input[type="checkbox"]:not(:checked) + label,
.form-content input[type="checkbox"]:checked + label,
.form-content input[type="radio"]:not(:checked) + label,
.form-content input[type="radio"]:checked + label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  display: inline;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-content input[type="checkbox"]:checked + label,
.form-content input[type="radio"]:checked + label {
  color: #fff;
}

// .form-content input[type="checkbox"]:checked + label:before, .form-content input[type="radio"]:checked + label:before {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 2px;
//     width: 15px;
//     height: 15px;
//     background: #fff;
//     border-radius: 50px;
//     border: 0px solid #fff;
//     -webkit-transition: all 0.3s ease;
//     transition: all 0.3s ease;
// }

// .form-content input[type="checkbox"]:not(:checked) + label:before, .form-content input[type="radio"]:not(:checked) + label:before {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 2px;
//     width: 15px;
//     height: 15px;
//     background: transparent;
//     border-radius: 50px;
//     border: 2px solid #fff;
//     -webkit-transition: all 0.3s ease;
//     transition: all 0.3s ease;
// }

// .form-content input[type="checkbox"]:not(:checked) + label:after, .form-content input[type="radio"]:not(:checked) + label:after {
//     opacity: 0;
//     -webkit-transform: scale(0);
//     -moz-transform: scale(0);
//     -ms-transform: scale(0);
//     transform: scale(0);
// }

// .form-content input[type="checkbox"]:checked + label:after, .form-content input[type="checkbox"]:not(:checked) + label:after {
//     content: '';
//     border: 1px solid #24abb0;
//     font-style: normal;
//     font-weight: 600;
//     position: absolute;
//     top: 3px;
//     left: 3px;
//     font-size: 9px;
//     color: #0093FF;
//     line-height: 14px;
//     -webkit-transition: all 0.2s ease;
//     transition: all 0.2s ease;
// }

// .form-content input[type="checkbox"]:checked + label:before {
//     border-radius: 4px;
// }

// .form-content input[type="checkbox"]:not(:checked) + label:before {
//     border-radius: 4px;
// }

.form-content input[type="radio"]:checked + label:after,
.form-content input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background-color: #0093ff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

// .form-content input[type="checkbox"]:disabled + label, .form-content input[type="radio"]:disabled + label {
//     opacity: 0.6;
// }

// .form-content .custom-options {
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
// }

// .form-content .custom-options input[type="checkbox"], .form-content .custom-options input[type="radio"] {
//     width: auto;
// }

// .form-content .custom-options input[type="checkbox"]:not(:checked), .form-content .custom-options input[type="checkbox"]:checked, .form-content .custom-options input[type="radio"]:not(:checked), .form-content .custom-options input[type="radio"]:checked {
//     position: absolute;
//     left: -9999px;
// }

// .form-content .custom-options input[type="checkbox"]:not(:checked) + label, .form-content .custom-options input[type="checkbox"]:checked + label, .form-content .custom-options input[type="radio"]:not(:checked) + label, .form-content .custom-options input[type="radio"]:checked + label {
//     position: relative;
//     padding-left: 0;
//     cursor: pointer;
//     display: inline;
//     color: #606060;
//     background-color: #F7F7F7;
//     font-size: 13px;
//     font-weight: normal;
//     margin-left: 0;
//     border-radius: 5px;
//     padding: 4px 10px;
//     margin-right: 10px;
//     -webkit-transition: all 0.3s ease;
//     transition: all 0.3s ease;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     flex-grow: 1;
//     text-align: center;
// }

// .form-content .custom-options input[type="checkbox"]:not(:checked) + label:last-child, .form-content .custom-options input[type="checkbox"]:checked + label:last-child, .form-content .custom-options input[type="radio"]:not(:checked) + label:last-child, .form-content .custom-options input[type="radio"]:checked + label:last-child {
//     margin-right: 0;
// }

// .form-content .custom-options input[type="checkbox"]:checked + label, .form-content .custom-options input[type="radio"]:checked + label {
//     color: #fff;
//     background-color: #57D38C;
//     font-weight: normal;
//     -webkit-box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
//     box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
// }

// .form-content .custom-options input[type="checkbox"]:checked + label:before, .form-content .custom-options input[type="radio"]:checked + label:before {
//     display: none;
// }

// .form-content .custom-options input[type="checkbox"]:not(:checked) + label:before, .form-content .custom-options input[type="radio"]:not(:checked) + label:before {
//     display: none;
// }

// .form-content .custom-options input[type="checkbox"]:not(:checked) + label:after, .form-content .custom-options input[type="radio"]:not(:checked) + label:after {
//     display: none;
// }

// .form-content .custom-options input[type="checkbox"]:checked + label:after, .form-content .custom-options input[type="checkbox"]:not(:checked) + label:after {
//     display: none;
// }

.form-content .custom-options input[type="radio"]:checked + label:after,
.form-content .custom-options input[type="radio"]:not(:checked) + label:after {
  display: none;
}

.form-content .form-button {
  margin-top: 20px;
  margin-bottom: 25px;
}

.form-content .form-button .ibtn {
  border-radius: 6px;
  border: 0;
  padding: 6px 28px 3px 28px;
  background-color: #fff;
  color: #29a4ff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button .ibtn:last-child {
  margin-right: 0;
}

.form-content .form-button .ibtn:hover,
.form-content .form-button .ibtn:focus {
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.form-content .form-button a {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  font-family: "Poppins";
}

.form-content .form-button.full-width {
  margin-top: 15px;
}

.form-content .form-button.full-width .ibtn {
  width: 100%;
}

.form-content .btn {
  border-radius: 6px;
  padding: 6px 28px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  border: 0;
}

.form-content .btn.btn-light {
  color: #b0c2d0;
}

.form-content .btn.btn-light:hover,
.form-content .btn.btn-light:focus {
  color: #a0b6c6;
}

.form-content .btn:last-child {
  margin-right: 0;
}

.form-content form {
  margin-bottom: 58px;
}

.form-content .other-links span {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin-right: 20px;
}

.form-content .other-links a {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-right: 10px;
}

.form-content .other-links a:last-child {
  margin-right: 0;
}

.form-content .other-links a i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .other-links a i[class*="fa-twitter"] {
  background-color: #00ed92;
}

.form-content .other-links a i[class*="fa-facebook"] {
  background-color: #3b5998;
}

.form-content .other-links a i[class*="fa-youtube"] {
  background-color: #bb0000;
}

.form-content .other-links a i[class*="fa-google"] {
  background-color: #dd4b39;
}

.form-content .other-links a i[class*="fa-linkedin"] {
  background-color: #007bb6;
}

.form-content .other-links a i[class*="fa-instagram"] {
  background-color: #517fa4;
}

.form-content .other-links a i:hover,
.form-content .other-links a i:focus {
  opacity: 0.8;
}

.form-content.form-sm input,
.form-content.form-sm .dropdown-toggle.btn-default {
  padding: 6px 16px;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-content.form-sm textarea {
  padding: 6px 16px;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-content.form-sm .form-button .ibtn {
  padding: 4px 28px;
}

.form-content.form-sm .btn {
  padding: 4px 28px;
}

.form-content .form-sent {
  position: absolute;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0.7) translateX(200px);
  -moz-transform: scale(0.7) translateX(200px);
  -ms-transform: scale(0.7) translateX(200px);
  transform: scale(0.7) translateX(200px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content .form-sent.show-it {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
}

.form-content .form-sent.show-it .tick-holder .tick-icon {
  -webkit-animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s
    forwards;
  -moz-animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
  -ms-animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
  animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
}

.form-content .form-sent.show-it .tick-holder .tick-icon:before {
  -webkit-animation: tick-anime1 0.2s linear 0.2s forwards;
  -moz-animation: tick-anime1 0.2s linear 0.2s forwards;
  -ms-animation: tick-anime1 0.2s linear 0.2s forwards;
  animation: tick-anime1 0.2s linear 0.2s forwards;
}

.form-content .form-sent.show-it .tick-holder .tick-icon:after {
  -webkit-animation: tick-anime2 0.4s ease 0.4s forwards;
  -moz-animation: tick-anime2 0.4s ease 0.4s forwards;
  -ms-animation: tick-anime2 0.4s ease 0.4s forwards;
  animation: tick-anime2 0.4s ease 0.4s forwards;
}

.form-content .form-sent .tick-holder {
  text-align: center;
  margin-bottom: 12px;
}

.form-content .form-sent .tick-holder .tick-icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: rotate(35deg) scale(2);
  -moz-transform: rotate(35deg) scale(2);
  -ms-transform: rotate(35deg) scale(2);
  transform: rotate(35deg) scale(2);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.form-content .form-sent .tick-holder .tick-icon:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 2px;
  top: 28px;
  left: 14px;
  border-radius: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.form-content .form-sent .tick-holder .tick-icon:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 20px;
  top: 9px;
  left: 22px;
  border-radius: 2px;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.form-content .form-sent h3 {
  text-align: center;
  color: #fff;
}

.form-content .form-sent p {
  text-align: center;
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.form-content .form-sent .info-holder {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-top: 60px;
}

.form-content .form-sent .info-holder span {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  opacity: 0.6;
}

.form-content .form-sent .info-holder a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  opacity: 0.9;
}

.form-content .hide-it {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0.7) translateX(-200px);
  -moz-transform: scale(0.7) translateX(-200px);
  -ms-transform: scale(0.7) translateX(-200px);
  transform: scale(0.7) translateX(-200px);
}

@keyframes tick-anime1 {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes tick-anime2 {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }

  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes tick-anime3 {
  0% {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform: rotate(35deg) scale(2);
    -moz-transform: rotate(35deg) scale(2);
    -ms-transform: rotate(35deg) scale(2);
    transform: rotate(35deg) scale(2);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}

@keyframes c-tick-anime3 {
  0% {
    background-color: rgba(233, 253, 214, 0);
    -webkit-transform: rotate(35deg) scale(2);
    -moz-transform: rotate(35deg) scale(2);
    -ms-transform: rotate(35deg) scale(2);
    transform: rotate(35deg) scale(2);
  }

  100% {
    background-color: #e9fdd6;
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}

.alert {
  position: relative;
  padding: 6px 12px;
  border: 1px solid #000;
  color: #000000;
  font-size: 13px;
  font-weight: 700;
}

.alert a.alert-link,
.alert a {
  font-weight: 700;
  color: #000000;
}

.alert p {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 18px;
}

.alert.alert-primary {
  background-color: #e2f0ff;
  border-color: #3a86d6;
}

.alert.alert-primary hr {
  border-top-color: #3a86d6;
}

.alert.alert-secondary {
  background-color: #f0f0f0;
  border-color: #8e9396;
}

.alert.alert-secondary hr {
  border-top-color: #8e9396;
}

.alert.alert-success {
  background-color: #f7fff0;
  border-color: #8ccb57;
}

.alert.alert-success hr {
  border-top-color: #8ccb57;
}

.alert.alert-danger {
  background-color: #fffafa;
  border-color: #f55050;
}

.alert.alert-danger hr {
  border-top-color: #f55050;
}

.alert.alert-warning {
  background-color: #fff8e1;
  border-color: #f1cb4b;
}

.alert.alert-warning hr {
  border-top-color: #f1cb4b;
}

.alert.alert-info {
  background-color: #dcedf1;
  border-color: #42bfdb;
}

.alert.alert-info hr {
  border-top-color: #42bfdb;
}

.alert.alert-light {
  background-color: #fefefe;
  border-color: #a7a4a4;
}

.alert.alert-light hr {
  border-top-color: #a7a4a4;
}

.alert.alert-dark {
  background-color: #d6d8d9;
  border-color: #525557;
}

.alert.alert-dark hr {
  border-top-color: #525557;
}

.alert.with-icon {
  padding-left: 32px;
}

.alert.with-icon[class*="alert-"]:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  top: 7px;
  left: 7px;
  width: 20px;
  font-size: 12px;
  text-align: center;
}

.alert.with-icon.alert-primary:before {
  content: "\f12a";
  color: #3a86d6;
}

.alert.with-icon.alert-secondary:before {
  content: "\f12a";
  color: #8e9396;
}

.alert.with-icon.alert-success:before {
  content: "\f00c";
  color: #8ccb57;
}

.alert.with-icon.alert-danger:before {
  content: "\f071";
  color: #f55050;
}

.alert.with-icon.alert-warning:before {
  content: "\f06a";
  color: #f1cb4b;
}

.alert.with-icon.alert-info:before {
  content: "\f129";
  color: #42bfdb;
}

.alert.with-icon.alert-light:before {
  content: "\f12a";
  color: #a7a4a4;
}

.alert.with-icon.alert-dark:before {
  content: "\f12a";
  color: #525557;
}

.alert .close {
  color: #727272;
  font-size: 0.9rem;
  padding: 3px;
  outline: none;
}
.alert .close span {
  color: #727272;
}
.form-body.without-side .website-logo-inside .logo {
  background-image: url("../../assets/images/logo-dark.svg");
}

.form-body.without-side .form-holder .form-content ::-webkit-input-placeholder {
  color: #000;
}

.form-body.without-side .form-holder .form-content :-moz-placeholder {
  color: #000;
}

.form-body.without-side .form-holder .form-content ::-moz-placeholder {
  color: #000;
}

.form-body.without-side .form-holder .form-content :-ms-input-placeholder {
  color: #000;
}

.form-body.without-side h3 {
  color: #000;
}

.form-body.without-side p {
  color: #000;
}

.form-body.without-side label {
  color: #000;
}

.form-body.without-side .img-holder {
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

.form-body.without-side .img-holder .info-holder img {
  display: none;
  max-width: 534px;
  -webkit-animation: zoom-in-img 50s linear 0s infinite;
  -moz-animation: zoom-in-img 50s linear 0s infinite;
  -ms-animation: zoom-in-img 50s linear 0s infinite;
  animation: zoom-in-img 50s linear 0s infinite;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.form-body.without-side .form-holder {
  margin-left: 0;
}

.form-body.without-side .form-holder .form-content {
  background-color: transparent;
}

.form-body.without-side .form-content {
  padding: 7%;
  padding-bottom: 0;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

.form-body.without-side .form-content .form-items {
  padding: 35px 30px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
}

.form-body.without-side .form-content .form-items form {
  margin-bottom: 0;
}

.form-body.without-side .form-content .form-items .other-links {
  margin-top: 38px;
  margin-bottom: 30px;
}

.form-body.without-side .form-content .form-items .other-links .text {
  font-size: 13px;
  font-weight: 300;
  color: #000;
  margin-bottom: 15px;
}

.form-body.without-side .form-content .form-items .other-links a {
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  color: #000;
  background-color: #f7f7f7;
}

.form-body.without-side .form-content .form-items .other-links a i {
  width: 18px;
  height: 18px;
  font-size: 9px;
  margin-left: 0;
}

.form-body.without-side .form-content .form-items .page-links {
  margin-bottom: 0;
}

.form-body.without-side .form-content .form-items .page-links a {
  font-weight: 600;
}

.form-body.without-side .form-content .form-items .page-links a:after {
  bottom: -3px;
}

.form-body.without-side .form-content .page-links a {
  color: #000;
}

.form-body.without-side .form-content .page-links a:after {
  background-color: rgba(222, 222, 222, 0.7);
}

.form-body.without-side .form-content .page-links a.active:after {
  background-color: #0092fe;
}

.form-body.without-side .form-content .page-links a:hover:after,
.form-body.without-side .form-content .page-links a:focus:after {
  background-color: #0092fe;
}

.form-body.without-side .form-content input,
.form-body.without-side .form-content .dropdown-toggle.btn-default {
  border: 0;
  background-color: #f7f7f7;
  color: #000000;
}

.form-body.without-side .form-content input:hover,
.form-body.without-side .form-content input:focus,
.form-body.without-side .form-content .dropdown-toggle.btn-default:hover,
.form-body.without-side .form-content .dropdown-toggle.btn-default:focus {
  border: 0;
  background-color: #eaeaea;
  color: #000000;
}

.form-body.without-side .form-content textarea {
  background-color: #f7f7f7;
  border: 0;
  color: #000000;
}

.form-body.without-side .form-content textarea:hover,
.form-body.without-side .form-content textarea:focus {
  border: 0;
  background-color: #eaeaea;
  color: #000000;
}

.form-body.without-side
  .form-content
  input[type="checkbox"]:not(:checked)
  + label,
.form-body.without-side .form-content input[type="checkbox"]:checked + label,
.form-body.without-side .form-content input[type="radio"]:not(:checked) + label,
.form-body.without-side .form-content input[type="radio"]:checked + label {
  color: #000;
}

// .form-body.without-side .form-content input[type="checkbox"]:checked + label, .form-body.without-side .form-content input[type="radio"]:checked + label {
//     width: 10px;
//     top: -2px;
//     left: 5px;
//     border-radius: 0;
//     opacity: 1;
//     border-top-color: transparent;
//     border-left-color: transparent;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
// }

// .form-body.without-side .form-content input[type="checkbox"]:checked + label:before, .form-body.without-side .form-content input[type="radio"]:checked + label:before {
//     background: #000;
//     border: 0px solid #000;
// }

.form-body.without-side
  .form-content
  input[type="checkbox"]:not(:checked)
  + label:before,
.form-body.without-side
  .form-content
  input[type="radio"]:not(:checked)
  + label:before {
  background: transparent;
  border: 2px solid #24abb0;
}

.form-body.without-side
  .form-content
  input[type="checkbox"]:checked
  + label:after,
.form-body.without-side
  .form-content
  input[type="checkbox"]:not(:checked)
  + label:after {
  color: #fff;
}

.form-body.without-side .form-content input[type="radio"]:checked + label:after,
.form-body.without-side
  .form-content
  input[type="radio"]:not(:checked)
  + label:after {
  background-color: #fff;
}

.form-body.without-side
  .form-content
  .custom-options
  input[type="checkbox"]:not(:checked)
  + label,
.form-body.without-side
  .form-content
  .custom-options
  input[type="checkbox"]:checked
  + label,
.form-body.without-side
  .form-content
  .custom-options
  input[type="radio"]:not(:checked)
  + label,
.form-body.without-side
  .form-content
  .custom-options
  input[type="radio"]:checked
  + label {
  color: #606060;
  background-color: #f7f7f7;
}

.form-body.without-side
  .form-content
  .custom-options
  input[type="checkbox"]:checked
  + label,
.form-body.without-side
  .form-content
  .custom-options
  input[type="radio"]:checked
  + label {
  color: #fff;
  background-color: #57d38c;
  -webkit-box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
  box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
}

.form-body.without-side .form-content .form-button {
  margin-bottom: 20px;
}

.form-body.without-side .form-content .form-button .ibtn {
  background-color: #29a4ff;
  color: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-body.without-side .form-content .form-button .ibtn:hover,
.form-body.without-side .form-content .form-button .ibtn:focus {
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.form-body.without-side .form-content .form-button a {
  font-weight: 300;
  color: #000;
}

.form-body.without-side .form-content .form-sent {
  padding: 35px 30px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.form-body.without-side .form-content .form-sent.show-it {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.form-body.without-side .form-content .form-sent .tick-holder .tick-icon {
  -webkit-animation: c-tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s
    forwards;
  -moz-animation: c-tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s
    forwards;
  -ms-animation: c-tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
  animation: c-tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
  background-color: rgba(233, 253, 214, 0);
}

.form-body.without-side
  .form-content
  .form-sent
  .tick-holder
  .tick-icon:before {
  background-color: #8ccb57;
}

.form-body.without-side .form-content .form-sent .tick-holder .tick-icon:after {
  background-color: #8ccb57;
}

.form-body.without-side .form-content .form-sent h3 {
  color: #000;
}

.form-body.without-side .form-content .form-sent p {
  color: #000;
}

.form-body.without-side .form-content .form-sent .info-holder {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.form-body.without-side .form-content .form-sent .info-holder span {
  color: #000;
}

.form-body.without-side .form-content .form-sent .info-holder a {
  color: #000;
}

.form-body.without-side .form-content .hide-it {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.form-body .alert {
  color: #000000;
}

.form-body .alert.alert-primary {
  background-color: #e2f0ff;
  border-color: #3a86d6;
}

.form-body .alert.alert-primary hr {
  border-top-color: #3a86d6;
}

.form-body .alert.alert-secondary {
  background-color: #f0f0f0;
  border-color: #8e9396;
}

.form-body .alert.alert-secondary hr {
  border-top-color: #8e9396;
}

.form-body .alert.alert-success {
  background-color: #f7fff0;
  border-color: #8ccb57;
}

.form-body .alert.alert-success hr {
  border-top-color: #8ccb57;
}

.form-body .alert.alert-danger {
  background-color: #fffafa;
  border-color: #f55050;
}

.form-body .alert.alert-danger hr {
  border-top-color: #f55050;
}

.form-body .alert.alert-warning {
  background-color: #fff8e1;
  border-color: #f1cb4b;
}

.form-body .alert.alert-warning hr {
  border-top-color: #f1cb4b;
}

.form-body .alert.alert-info {
  background-color: #dcedf1;
  border-color: #42bfdb;
}

.form-body .alert.alert-info hr {
  border-top-color: #42bfdb;
}

.form-body .alert.alert-light {
  background-color: #fefefe;
  border-color: #a7a4a4;
}

.form-body .alert.alert-light hr {
  border-top-color: #a7a4a4;
}

.form-body .alert.alert-dark {
  background-color: #d6d8d9;
  border-color: #525557;
}

.form-body .alert.alert-dark hr {
  border-top-color: #525557;
}

.form-body .alert.with-icon.alert-primary:before {
  color: #3a86d6;
}

.form-body .alert.with-icon.alert-secondary:before {
  color: #8e9396;
}

.form-body .alert.with-icon.alert-success:before {
  color: #8ccb57;
}

.form-body .alert.with-icon.alert-danger:before {
  color: #f55050;
}

.form-body .alert.with-icon.alert-warning:before {
  color: #f1cb4b;
}

.form-body .alert.with-icon.alert-info:before {
  color: #42bfdb;
}

.form-body .alert.with-icon.alert-light:before {
  color: #a7a4a4;
}

.form-body .alert.with-icon.alert-dark:before {
  color: #525557;
}

.form-body .alert a.alert-link,
.form-body .alert a {
  color: #000000;
}

.form-body .alert .close {
  color: #727272;
}

.form-body .alert .close span {
  color: #727272;
}

@keyframes zoom-in-img {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* -----------------------------------
    2 - Responsive Styles
------------------------------------*/
@media (max-width: 992px) {
  .img-holder {
    display: none;
  }
  .img-holder {
    min-height: 670px;
  }
  .form-holder {
    margin-left: 0;
  }

  .form-holder .form-content {
    padding: 125px 60px 60px;
  }

  .website-logo {
    margin: 0 auto;
    text-align: center;
    top: 7%;
  }

  .website-logo .logo {
    background-image: url("../../assets/images/logo.svg");
  }

  .form-body.without-side .img-holder {
    display: inline-block;
  }

  .form-body.without-side .website-logo .logo {
    background-image: url("../../assets/images/logo.svg");
  }

  .form-body.without-side .form-holder .form-content {
    padding: 80px 30px 60px;
  }
}
@media (max-width: 385px) {
  .form-content .other-links a {
    font-size: 10px;
    margin-right: 0px;
  }
}
.ibtn:disabled {
  opacity: 0.7;
  box-shadow: none !important;
}
.loader {
  background-image: url("../../assets/images/loader.gif");
  background-repeat: no-repeat;
  background-position: 80px;
  background-size: 28px;
  width: 115px;
  padding-left: 8px !important;
}
.user-name {
  position: relative;
}
span.loaderre {
  position: absolute;
  top: -11px;
  right: -13px;
}
span.error {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 6%;
  cursor: pointer;
}
span.success {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 15%;
  background: #3d3d3d;
  z-index: 999;
}
.error2{
  color: #f34b53;
  font-size:12px;
}
.form-content input {
  font-size: 13px;
  font-weight: 200;
  padding: 9px 20px;
}
.form-control {
  line-height: 1.5;
  height: 40px;
}
::placeholder {
  color: #526489 !important;
}

// input[type=checkbox] {
//   display: none;
// }

// .content .simple-terms label {
//   width: 100%;
//   color: #7592AE;
//   font-family: 'source_sans_proregular';
//   font-size: 16px;
//   font-weight: normal;
//   line-height: 19px;
//   display: block;
//   margin-bottom: 18px;
//   padding-left: 35px;
// }

// .popup .content p.simple-terms {
//   position: relative;
//   // margin-top: 32px;
// }

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  //   border: 1px solid #24ABB0;
  border-radius: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
  //   left: 0;
  //   top: 2px;
  opacity: 0.6;
  
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -2px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#register {
  background-color: #171717;
  color: white;
  padding-bottom:30px;
  .form {
    width: 70%;
    margin: 0 auto;
    padding: 80px 0 0;
    .r-form {
      background-color: #282828;
      padding: 16px;
      width: 288px;
      margin: 0 auto;
      .Create-your-account {
        font-family: "IBM Plex Sans";
        font-size: 16px;
        line-height: 1.38;
        color: #f3f3f3;
      }
      label {
        font-family: "IBM Plex Sans";
        font-size: 12px;
        color: #bebebe;
        line-height: 1.33;
        letter-spacing: 0.32px;
      }
      p{
        margin-bottom:0 !important;
      }
      input {
        margin: 0px 0px 0px 0px;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid #bebebe;
        border-radius: 0%;
        background-color: #3d3d3d;
        color:#fff;
      }
      ::placeholder {
        color: #6f6f6f !important;
      }
      .show {
        font-family: "IBM Plex Sans";
        font-size: 12px;
        color: #6f6f6f;
        line-height: 1.33;
        letter-spacing: 0.32px;
        padding-right:0 !important; 
      }
      .s-button {
        border-radius: 0%;
        background-color: #0062ff;
        height: 48px;
        color: #fff;
        text-align: left;
        margin: 30px 0px 0px;
        font-size: 14px;
      }
      .s-button.disabled {
        background-color:#3d3d3d;
      }
      // .error1 {
      //   color: #fb4b53;
      //   font-size:12px;
      // }
      .err{
        input{
          border:2px solid #fb4b53;
        }
      }
    }

    .login {
      font-family: "IBM Plex Sans";
      font-size: 14px;
      padding: 0 16px;
    }
  }
  .login_link{
    line-height: 23px;
    width: 288px;
    margin: 0 auto;
    a{
    color: #6ba4ff;
    text-decoration: none;
    background-color: transparent;
    font-size: 14px;
    font-family: "IBM Plex Sans";
   
    }
  }
  .TnC{
    width: 90%;
    font-size: 12px;
    font-family: "IBM Plex Sans";
    a{
      color: #6ba4ff;
    text-decoration: none;
    background-color: transparent;
    font-size: 12px;
    font-family: "IBM Plex Sans";
    }
  }
}
.error1 {
  background: white;
  border-left: 3px solid #fb4b53;
  margin-top: -75px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 24px;
  line-height: 23px;
  padding: 0 6px;
  .ln-height{
    line-height: 21px;
    padding: 11px 0!important;
  }
  .msg {
    font-family: "IBM Plex Sans";
    color: black;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    font-weight: 600;
  }
  .float-left{
    line-height: 14px;
    margin-left: 6px;
  }
  .float-right{
    line-height: 14px;
    margin-right: 10px;
  }
}
.success1 {
  background: white;
  border-left: 3px solid #198038;
  margin-top: -75px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 24px;
  line-height: 23px;
  padding: 0 8px;
  .ln-height{
    line-height: 21px;
    padding: 11px 0!important;
  }
  .msg {
    font-family: "IBM Plex Sans";
    color: black;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    font-weight: 600;
  }
  
  .float-left{
    line-height: 14px;
    margin-left: 6px;
  }
  .float-right{
    line-height: 14px;
    margin-right: 10px;
  }
}
@-webkit-keyframes autofill {
  to {
      color: #fff;
      background:#3d3d3d;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
@media only screen  and (max-width: 1280px) {
}

@media only screen  and (max-width: 1024px) {
  #register {
    .form {
      width: 100%;
      // padding: 15% 25%;
    }
  }
}

@media only screen and (max-width: 767px) {
  #register {
    // .form {
    //   width: 100%;
    //   padding: 15% 20%;
    // }
    // .login_link{
    //   padding-left: 10% !important;
    // }
  }
}

@media only screen and (max-width: 600px) {
  #register {
    // .form {
    //   width: 100%;
    //   padding: 15% 15%;
    // }
  }
}

@media only screen and (max-width: 480px) {
  #register {
    // .form {
    //   width: 100%;
    //   padding: 15% 5%;
    // }
  }
}
