<!-- 
                  
                 
                  <form  [formGroup]="registerForm" novalidate id="registerForm" (ngSubmit)="tryRegister(registerForm.value)" >
                     
                      <div class="user-name email">
                        <input class="form-control" type="email" name="email" (blur)="onBlurMethodemail()" formControlName="email" required  placeholder="{{'register.email_address' | translate}}" required>
                        <span *ngIf="emailProcess"  class="loaderre"><img src="../../assets/images/register.gif"></span>
                        <span *ngIf="emailExist"  class="error"><img src="../../assets/images/error.svg"></span>
                        <span *ngIf="emailNotExist"  class="success"><img src="../../assets/images/success.svg"></span>
                      </div>
                      <input class="form-control" type="password" name="password" formControlName="password" required placeholder="{{'register.password' | translate}}" required>
                      
                      
                      
                      <p class="simple-terms" style="padding-top: 10px;">
                            <input type="checkbox" id="box-1" #chkEnable (click)="activateButton()">
                            <label for="box-1"><a (click)="openModal(terms)" style="cursor: pointer;">{{'register.terms_title' | translate}}</a></label>
                        </p>
                      <div class="form-button">
                          <button id="submit" [disabled]="!registerForm.valid || registerProcess || usernameExist || !chkEnable.checked" 
                          type="submit" [class.loader]="registerProcess" class="ibtn">{{'register.register' | translate}}</button>
                      </div>
                  </form>
                  <div class="page-links">
                      <a routerLink="/login">{{'login.logintoaccount' | translate}}</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #terms let-modal>
    <div class="modal-header">
        <h4 class="modal-title" style="color: white">{{'register.terms_title' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="detail">
            <div class="popup">
                <div class="content">
                    <p class="note" style="color: white">{{'register.terms_details' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>  -->





<section id='register' class="setFooter">
    <div class="container">

        <div class="form" >
            <div class="r-form">
                <div class="error1" *ngIf="signuperror" >
                        <div class="py-2 ln-height">
                        <img src="../../assets/images/error.svg" height=20px width=20px class='float-left'>
                        <span class="msg" > {{ errorMessage }}</span>
                            <span (click)="signuperror=!signuperror" class="float-right"><i class="fa fa-times"></i></span> 
                        </div>
                    </div>  
                    <div class="success1" *ngIf="signupsuccess">
                        <div class="py-2 ln-height">
                        <img src="../../assets/images/success-filled-green.svg" height=20px width=20px class='float-left'>
                        <span class="msg" > {{errorMessage}} </span>
                            <span (click)="signupsuccess=!signupsuccess" class=" float-right"> <img src="../../assets/images/reply-close.svg" height=10px width=10px></span> 
                        </div>
                    </div> 
                <span class='Create-your-account'>{{'register.registernewaccount' | translate}}</span>
                <!-- <p>{{'generic.app_description' | translate}}</p> -->
                <form [formGroup]="registerForm" novalidate id="registerForm"
                    (ngSubmit)="tryRegister(registerForm.value)">


                    <label for="username" class=' pt-4'>Username</label>
                    <div class="user-name">
                        <input placeholder="{{'register.username' | translate}}" class="form-control" type="text" name="username" 
                            formControlName="username" required>
                            <!-- <div *ngIf="submitted && formCheck.username.errors" class="invalid-feedback">User Name must have 4 characters</div> -->
                    </div>



                    <label for="email" class=' pt-4'>email</label>
                    <div class="user-name email">
                        <input class="form-control" type="email" placeholder="{{'register.email_address' | translate}}" name="email" (blur)="onBlurMethodemail()"
                            formControlName="email" required>
                        <span *ngIf="emailProcess" class="loaderre"><img src="../../assets/images/register.gif"></span>
                        <span *ngIf="emailExist" class="error"><img src="../../assets/images/error.svg"></span>
                        <span *ngIf="emailNotExist" class="success"><img src="../../assets/images/success.svg"></span>


                    </div>

                    <label for="password" class=' pt-4'>Password</label>
                    <a class='btn float-right show pt-4' (click)="shwp=!shwp">{{ shwp ? 'Hide' : 'Show' }}</a>
                    <div class="user-name pass_word " [ngClass]="{'err': passwordLength==true}">
                        <input placeholder="{{'register.password' | translate}}" class="form-control" type="{{ shwp ? 'text' : 'password' }}" name="password" autofill="off" autocomplete="off"
                            (blur)="onBlurMethodpassword()" formControlName="password" required>
                        <span *ngIf="passwordProcess" class="loaderre"><img
                                src="../../assets/images/register.gif"></span>
                        <span *ngIf="passwordLength" class="error2">Password must be at least 8 characters.</span>
                        <span *ngIf="passwordStrong" class="success" ><img src="../../assets/images/success.svg" width="15"></span>
                        <span *ngIf="passwordLength" class="success"><img src="../../assets/icon/alert.svg"  width="15"></span>
                       
                    </div>

                    <label class="cnt mt-2"><span style='font-size: 14px;'> I have a referral code</span>
                        <input type="checkbox" formControlName="referral" id='referral_code' (click)="showHide()">

                        <span class="checkmark"></span>

                    </label>

                    <div *ngIf="referral" class='pt-2'>
                        <label>Referral code</label>
                        <input class="form-control" type="text" name="referral_code" formControlName="referral_code">
                    </div>
                    <button id="submit"
                        [disabled]="!registerForm.valid || registerProcess || usernameExist"
                        type="submit" [class.disabled]="!registerForm.valid || registerProcess || usernameExist" class="btn btn-block s-button">{{'register.register' | translate}} <i
                            class="fa fa-plus float-right mt-1"></i></button>
                            
                            
                    <p class="simple-terms" style="padding-top: 10px;">


                        <label class='TnC'>  By creating an account you agree to the <a (click)="openModal(terms)"
                                style="cursor: pointer;">Terms of Service</a> and the <a (click)="openModal(terms)"
                                style="cursor: pointer;">Privacy Policy.</a>
                           

                        </label>
                    </p>
                </form>
                
                </div>
                <div class='pt-3'>
                    <div class='col-md-12 login login_link'>Already have an account? <a routerLink="/login">{{'login.logintoaccount' | translate}}</a></div>
                </div>
                </div></div>
    <ng-template #terms let-modal>
        <div class="modal-header">
            <h4 class="modal-title" style="color: white">{{'register.terms_title' | translate}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="detail">
                <div class="popup">
                    <div class="content">
                        <p class="note" style="color: white">{{'register.terms_details' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</section>