<!--pricetop-->
<div class="price-top">
    <div class="left">
      <label>
        <select class="dropbtn d_binance">
          <option value="Binance" selected>{{'generic.binance' | translate}}</option>
        </select>
      </label>
    </div>
    <div class="right">
        <button class="dropbtn d_watch" [class.bgGray]="!isWatchlistActive" (click)="watchlistPressed()">{{'generic.watch_list' | translate}}</button>
        <button class="dropbtn d_watch showbtn" [class.bgGray]="isWatchlistActive" (click)="watchlistPressed()">{{'generic.show_all' | translate}}</button>
      <div class="info" id="myBtn">
        <!-- <div class="tooltip-popup"><span>{{'rsi_scanner.how_to_rsi_scanner' | translate}}</span>
                      </div>
                      <a href="https://www.blog.tradingroom.io/2019/02/rsi-scanner-is-now-live/" target="_blank">
                          <img class="info-day" src="../../assets/images/info.svg" alt=""><img class="info-night"
                              src="../../assets/images/info-night.svg" alt="">
                      </a> -->
      </div>
      <!-- <label>
        <select class="dropbtn d_sell" (change)="changeType($event.target.value)">
          <option value="rsi7" [selected]="fiboType == 'rsi7'">
            {{'rsi_scanner.rsi7' | translate}}</option>
          <option value="rsi14" [selected]="fiboType == 'rsi14'">
            {{'rsi_scanner.rsi14' | translate}}</option>
        </select>
      </label> -->
      <label>
        <select class="dropbtn d_usd" (change)="changePair($event.target.value)">
          <option value="ALL" [selected]="selectedPair == 'ALL'">
            {{'generic.coin_all' | translate}}</option>
          <option value="USDT" [selected]="selectedPair == 'USDT'">
            {{'generic.coin_USDT' | translate}}</option>
          <option value="BTC" [selected]="selectedPair == 'BTC'">
            {{'generic.coin_btc' | translate}}</option>
          <option value="ETH" [selected]="selectedPair == 'ETH'">
            {{'generic.coin_ETH' | translate}}</option>
        </select>
      </label>
    </div>
  </div>
<!--middle section-->
<div [className]="this.commonservice.navPopUp ? 'body night_mode' : 'body night_mode sidebarOpen'">
  <div [ngStyle]="customStyle" class="middle-section">
    <!--price section-->
    <div class="priceaction rsiscanner">
      <div class="price sell_fibo">
        <!--pricetop-->
        <div class="price-top m-price-top">
          <label>
            <select class="dropbtn d_binance">
              <option value="Binance" selected>{{'generic.binance' | translate}}</option>
            </select>
          </label>
          <button class="dropbtn d_watch" (click)="watchlistPressed()"
            *ngIf="!isWatchlistActive">{{'generic.watch_list' | translate}}</button>
          <button class="dropbtn d_watch" (click)="watchlistPressed()"
            *ngIf="isWatchlistActive">{{'generic.show_all' | translate}}</button>
          <label class="info" id="myBtn">
            <!-- <div class="tooltip-popup"><span>Tool Tip content here </span></div> -->
            <a><img class="info-day" src="../../assets/images/info.svg" alt=""><img class="info-night"
                src="../../assets/images/info-night-mobile.svg" alt=""></a>
          </label>
          <!-- <label>
            <select class="dropbtn d_sell" (change)="changeType($event.target.value)">
              <option value="rsi7" [selected]="fiboType == 'rsi7'">
                {{'rsi_scanner.rsi7' | translate}}</option>
              <option value="rsi14" [selected]="fiboType == 'rsi14'">
                {{'rsi_scanner.rsi14' | translate}}</option>
            </select>
          </label> -->
          <label>
            <select class="dropbtn d_usd" (change)="changePair($event.target.value)">
              <option value="ALL" [selected]="selectedPair == 'ALL'">{{'generic.coin_all' | translate}}
              </option>
              <option value="USDT" [selected]="selectedPair == 'USDT'">{{'generic.coin_USDT' | translate}}
              </option>
              <option value="BTC" [selected]="selectedPair == 'BTC'">{{'generic.coin_btc' | translate}}
              </option>
              <option value="ETH" [selected]="selectedPair == 'ETH'">{{'generic.coin_ETH' | translate}}
              </option>
            </select>
          </label>
        </div>
        <!--dropdown menu-->
        <div class="price-menu">
          <div class="cont-data">
            <div class="class1">
              <span class="sorting" *ngIf="orderByField === 'n'"></span>
              <span style="cursor: pointer;" (click)="sortByField('n')">{{'generic.coin_pair' | translate}}</span>
            </div>
          </div>
          <div class="cont-data2">
            <div class="class2" style="cursor: pointer;" *ngIf="!commonservice.isMobile" (click)="sortByField('f0')">
              {{'fibo_scanner.f0' | translate}}</div>
            <div class="class2" style="cursor: pointer;" (click)="sortByField('f2')">
              {{'fibo_scanner.f2' | translate}}</div>
            <div class="class2" style="cursor: pointer;" *ngIf="!commonservice.isMobile"
              (click)="sortByField('f3')">
              {{'fibo_scanner.f3' | translate}}</div>
            <div class="class2" style="cursor: pointer;" *ngIf="!commonservice.isMobile" (click)="sortByField('f5')">
              {{'fibo_scanner.f5' | translate}}</div>
            <div class="class2" style="cursor: pointer;" *ngIf="!commonservice.isMobile"
              (click)="sortByField('f6')">
              {{'fibo_scanner.f6' | translate}}</div>
            <div class="class2" style="cursor: pointer;" *ngIf="!commonservice.isMobile" (click)="sortByField('f7')">
              {{'fibo_scanner.f7' | translate}}</div>
            <div class="class2" style="cursor: pointer;" *ngIf="!commonservice.isMobile"
              (click)="sortByField('f1')">
              {{'fibo_scanner.f1' | translate}}</div>
            <div class="class2" style="cursor: pointer;" *ngIf="!commonservice.isMobile" (click)="sortByField('f16')">
              {{'fibo_scanner.f16' | translate}}</div>
            <div class="class2" *ngIf="commonservice.isMobile">
              <span class="sorting" *ngIf="orderByField === 'ma12'"></span>
              <span style="cursor: pointer;" (click)="sortByField('ma12')">{{'fibo_scanner.ma12' | translate}}</span>
            </div>
            <div class="class2" *ngIf="commonservice.isMobile">
              <span class="sorting" *ngIf="orderByField === 'td'"></span>
              <span style="cursor: pointer;" (click)="sortByField('td')">{{'fibo_scanner.trendduration' | translate}}</span>
            </div>
          </div>
          <div class="cont-data3">
            <div class="class1 usd_price">
              <span class="sorting" *ngIf="orderByField === 'cp'"></span>
              <span style="cursor: pointer;" (click)="sortByField('cp')">{{'generic.price' | translate}}</span>
            </div>
            <div class="class1 volume">
              <span class="sorting" *ngIf="orderByField === 'ma12'"></span>
              <span style="cursor: pointer;" (click)="sortByField('ma12')">{{'fibo_scanner.ma12' | translate}}</span>
            </div>
            <div class="class2">
              <span class="sorting" *ngIf="orderByField === 'td'"></span>
              <span style="cursor: pointer;" (click)="sortByField('td')">{{'fibo_scanner.trendduration' | translate}}</span>
            </div>
            <div class="class1">
              <span class="sorting" *ngIf="orderByField === 'mk'"></span>
              <span style="cursor: pointer;" (click)="sortByField('mk')">{{'generic.market_cap' | translate}}</span>
            </div>
          </div>
        </div>
        <!--data seaction-->
        <div class="data-section rsi_scanner night_mode">
          <!---dataa1-->
          <div
            *ngFor="let item of fiboStats | orderBy: orderByField: reverseSort | filterby: selectedPair; let i = index"
            class="price-cont">
            <div class="cont-data">
              <div class="class1 coin" (click)="mobileClick(item)">
                <span id="{{'mobile_dd_' + i}}" class="m_coin_drop">
                  <i class="fa fa-angle-down"></i>
                </span><img src="assets/images/coins/{{item.i}}.png">
                <span *ngIf="!commonservice.isMobile">{{item.n}}</span>
                <span *ngIf="commonservice.isMobile" [ngClass]="{'name-small': (item.n.length >= 7)}">{{item.n}}</span>
              </div>
            </div>
            <div class="cont-data2">
              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f0)" *ngIf="!commonservice.isMobile"><span>{{item.f0 | number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f2)"><span>{{item.f2| number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f3)" *ngIf="!commonservice.isMobile"><span>{{item.f3 | number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f5)" *ngIf="!commonservice.isMobile"><span>{{item.f5 | number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f6)" *ngIf="!commonservice.isMobile"><span>{{item.f6 | number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f7)" *ngIf="!commonservice.isMobile"><span>{{item.f7 | number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f1)" *ngIf="!commonservice.isMobile"><span>{{item.f1 | number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" [ngClass]="fiboClass(item.f16)" *ngIf="!commonservice.isMobile"><span>{{item.f16 | number:'1.0-0'}}%</span>
              </div>

              <div class="class2 rsi_box" *ngIf="commonservice.isMobile"><span class="fibo-circle-mobile" [ngClass]="nameClass(item.ma12)"></span></div>

              <div class="class2 rsi_box" *ngIf="commonservice.isMobile"><span>{{item.td | number:'1.0-2'}}</span></div>
            </div>
            <div class="cont-data3">
              <div class="class1 usd_price" *ngIf="item.cp.toString().includes('e')">
                {{item.cp | number:'1.0-8'}}
              </div>
              <div class="class1 usd_price" *ngIf="!item.cp.toString().includes('e')">{{item.cp}}</div>
              <div class="class2"><span class="fibo-circle" [ngClass]="nameClass(item.ma12)"></span></div>
              <div class="class2">
                <span>{{item.td | number:'1.0-2'}}</span>
              </div>
              <div class="class1 popup"><span>{{item.mk / 1000000 | number:'1.0-0'}} m</span>
                <div class="dropdown popup-btn" *ngIf="isWatched(item.n)" (click)="addToWatchlist(item.n)">
                  <div class="dropbtn morebtn star">
                    <img src="../../assets/images/star.svg">
                  </div>
                </div>

                <div class="dropdown popup-btn" *ngIf="!isWatched(item.n)" (click)="addToWatchlist(item.n)">
                  <div class="dropbtn morebtn star">
                    <img src="../../assets/images/blank_star.svg">
                  </div>
                </div>
              </div>
            </div>
            <!--mobile content-->
            <div class="m_cont-data4" *ngIf="item.isExpanded">
              <div class="trend-view">
                <div class="list">+ {{'generic.add_to_watchlist' | translate}}</div>
                <div class="trend">
                  <span>{{'generic.volume' | translate}}</span><span>{{item.v | number:'1.0-0'}}</span>
                </div>
                <div class="trend"><span>{{'rsi_scanner.d3_move' | translate}}</span><span>{{item.pm | number:'1.0-2'}}%</span>
                </div>
                <div class="trend">
                  <span>{{'generic.price_action' | translate}}</span><span>{{item.fm | number:'1.0-2'}}%</span>
                </div>
                <button class="trendbtn">{{'generic.trade_now' | translate}}</button>
              </div>
            </div>
            <!--mobile containt-->
          </div>
        </div>
      </div>
    </div>
    <app-footer [className]="commonservice.isMobile ? 'is_mobile' : 'is_desktop'"></app-footer>
    <!--end-->
  </div>
</div>